.se-cal-list-items { max-width: 1086px; width: 100%; } 

.prj-items-result__wrap .result-num-btn-box { padding-bottom: 16px; border-bottom: 2px solid #000; display: flex; align-items: end; justify-content: space-between; } 
.prj-items-result__wrap .list-data { margin-top: 24px; } 
.prj-items-result__wrap .prj-list-card { padding: 24px; border-radius: var(--border-base); border: 1px solid #dadada; background-color: #fff; margin-bottom: 16px; } 
.prj-items-result__wrap .prj-list-card:last-child { margin-bottom: 0; } 
.prj-items-result__wrap .card-el-box { display: flex; justify-content: space-between; } 
.prj-items-result__wrap .el-prj-info__wrap { flex: 1; max-width: 638px; width: 61.4%; } 
.prj-items-result__wrap .el__prj-name { margin-bottom: 8px; } 
.prj-items-result__wrap .el__prj-id { display: block; margin-bottom: 4px; } 
.prj-items-result__wrap .el__creat-update > *,
.prj-items-result__wrap .el__type-name > * { font-size: 14px; color: #555; display: inline-block; } 
.prj-items-result__wrap .el__type-name { color: #1c1c1c; } 
.prj-items-result__wrap .el__creat-update { margin-bottom: 8px; } 
.prj-items-result__wrap .el__creat-update .creat-date { margin-right: 8px; position: relative; } 
.prj-items-result__wrap .el__creat-update .creat-date::after { content: "/"; display: inline-block; position: absolute; right: -8px; top: 0; } 
.prj-items-result__wrap .el__type-name .type { margin-right: 12px; position: relative; } 
.prj-items-result__wrap .el__type-name .product { color: #555; } 
.prj-items-result__wrap .el-copy-btn__wrap { flex-basis: 352px; text-align: right; } 
.prj-items-result__wrap .el-copy-btn__wrap .copy-btn-box { padding: 12px 0; } 
.prj-items-result__wrap .el-copy-btn__wrap .icon-copy { background-image: url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-copy-sm.svg); } 
.prj-items-result__wrap .el-copy-btn__wrap .btn-box { padding-top: 7px; } 
.prj-items-result__wrap .el-copy-btn__wrap .btn-box button { padding: 10px 16px; height: 32px; } 
.prj-items-result__wrap .list-nodata { height: 400px;} 
.prj-items-result__wrap .prev-create { background-color: #f7f7f7; border: 0; } 
.prj-items-result__wrap .btn-block.type2.prev-create .btn-block__txt { color: #757575; } 

/* =============== media query =============== */
@media only screen and (min-width: 769px) and (max-width: 1440px){
 .prj-items-result__wrap .result-num-btn-box { padding-bottom: 1.111vw; } 
 .prj-items-result__wrap .list-data { margin-top: 1.667vw; } 
 .prj-items-result__wrap .prj-list-card { padding: 1.667vw; margin-bottom: 1.111vw; } 
 .prj-items-result__wrap .el-prj-info__wrap { max-width: 44.306vw; } 
 .prj-items-result__wrap .el__prj-name,
 .prj-items-result__wrap .el__creat-update,
 .quote-popup-inner .field-box,
 .quote-popup-inner .after-search .proj-name,
 .quote-popup-inner .select-proj-complete .field-box { margin-bottom: 0.556vw; } 
 .prj-items-result__wrap .el__prj-id { margin-bottom: 0.278vw; } 
 .prj-items-result__wrap .el__creat-update > *,
 .prj-items-result__wrap .el__type-name > * { font-size: 0.972vw; } 
 .prj-items-result__wrap .el__creat-update .creat-date,
 .quote-popup-inner .after-search .create { margin-right: 0.556vw; } 
 .prj-items-result__wrap .el__creat-update .creat-date::after { right: -0.556vw; } 
 .prj-items-result__wrap .el__type-name .type { margin-right: 0.833vw; } 
 .prj-items-result__wrap .el-copy-btn__wrap { flex-basis: 24.444vw; } 
 .prj-items-result__wrap .el-copy-btn__wrap .copy-btn-box { padding: 0.833vw 0; } 
 .prj-items-result__wrap .el-copy-btn__wrap .btn-box { padding-top: 0.486vw; } 
 .prj-items-result__wrap .el-copy-btn__wrap .btn-box button { padding: 0.694vw 1.111vw; height: 2.222vw; } 
 .prj-items-result__wrap .list-nodata { height: 27.778vw; } 

 }

@media only screen and (max-width: 768px){
 .prj-items-result__wrap { padding: 0; padding-bottom: 56px; } 
 .prj-items-result__wrap .result-num-btn-box { align-items: center; padding-bottom: 10px; } 
 .prj-items-result__wrap .result-num-btn-box .btn-block { height: 32px; min-width: unset; padding: 0 16px; } 
 .prj-items-result__wrap .result-num-btn-box .btn-block.md .btn-block__txt { font-size: 12px !important; } 
 .prj-items-result__wrap .list-data { margin-top: 18px; } 
 .prj-items-result__wrap .prj-list-card { padding: 8px 16px; position: relative; } 
 .prj-items-result__wrap .card-el-box { display: block; } 
 .prj-items-result__wrap .el-prj-info__wrap { max-width: unset; width: 100%; } 
 .prj-items-result__wrap .el__prj-name { font-size: 14px !important; margin-bottom: 2px; max-width: calc(100% - 24px); } 
 .prj-items-result__wrap .el__prj-id { font-size: 12px !important; margin-bottom: 2px; } 
 .prj-items-result__wrap .el__creat-update { margin-bottom: 2px; line-height: 18px; } 
 .prj-items-result__wrap .el__creat-update .creat-date,
 .prj-items-result__wrap .el__creat-update .update { line-height: 18px; } 
 .prj-items-result__wrap .date-tit { font-size: 10px !important; } 
 .prj-items-result__wrap .date { font-size: 12px !important; } 
 .prj-items-result__wrap .el__type-name { line-height: 18px; } 
 .prj-items-result__wrap .el__type-name .type { font-size: 12px !important; } 
 .prj-items-result__wrap .el-copy-btn__wrap .copy-btn-box { position: absolute; top: 16px; right: 16px; padding: 0; } 
 .prj-items-result__wrap .el-copy-btn__wrap .copy-btn-box .btn-block { border: unset; padding: unset; height: auto; min-width: unset; } 
 .prj-items-result__wrap
 .el-copy-btn__wrap
 .copy-btn-box
 .btn-block
 .btn-block__icon { width: 24px; height: 24px; } 
 .prj-items-result__wrap .el-copy-btn__wrap .copy-btn-box .btn-block__txt { display: none; } 
 .prj-items-result__wrap .el-copy-btn__wrap .btn-box { padding-top: 12px; text-align: left; } 
 .prj-items-result__wrap .list-nodata { height: 240px; } 
 ::-webkit-scrollbar { width: 8px; height: 8px; background: transparent; } 
 ::-webkit-scrollbar-thumb { background: #8f8f8f; background-clip: padding-box; border: 2px solid transparent; border-radius: 4px; } 
 }
