<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- conponent -->
  <section class="contact-us-box">
    <!-- [F]content  : 3개 이하 -->
    <ul class="list-box">
      <li class="list-box__item">
        <div class="tit-box">
          <!-- 2024-07-24 전화걸기 링크 위치 이동으로 레이아웃 변경 -->
          <div class="tit-box__inner">
            <p class="txt-h6">Call Us</p>
            <p class="txt-p6">
              Monday - Friday : 9:00am - 6:00pm <br>
              Saturday : 9:00am - 4:00pm  <br>
              Closed : Sundays and Bank Holidays
            </p>
          </div>
          <div class="btn-box">
            <a role="button" class="btn-txt" href="tel:+908502010222">
              <span class="btn-txt__txt">
                <em class="pc-txt">Contact us : +90 850 2010 222</em>
                <em class="mo-txt">+90 850 2010 222</em>
              </span>
            </a>
          </div>
        </div>
        <img class="list-box__icon"
          src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-contac-call.svg">
      </li>
      <li class="list-box__item">
        <div class="tit-box">
          <div class="tit-box__inner">
            <p class="txt-h6">Email Us</p>
            <p class="txt-p6">If you have any inquiries, please send us an email.</p>
          </div>
          <div class="btn-box">
            <a role="button" class="btn-block type2 md" href="">
              <span class="btn-block__txt">
                <em class="pc-txt">Send E-mail</em>
                <em class="mo-txt">Send E-mail</em>
              </span>
            </a>
          </div>

        </div>
        <img class="list-box__icon"
          src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-contac-email.svg">
      </li>
      <li class="list-box__item">
        <div class="tit-box">
          <div class="tit-box__inner">
            <p class="txt-h6">Inquiry</p>
            <p class="txt-p6">Our experts will respond within 1-2 days. If you have any inquiries,<br> please feel free
              to write them down.</p>
          </div>
          <div class="btn-box">
            <a role="button" class="btn-block type2 md" href="">
              <span class="btn-block__txt">
                <em class="pc-txt">Inquiry</em>
                <em class="mo-txt">Inquiry</em>
              </span>
            </a>
          </div>
        </div>
        <img class="list-box__icon"
          src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-myinquiry.svg">
      </li>
    </ul>
  </section>
  <!-- //conponent -->


  <hr>


  <!-- conponent  4개 일 경우 -->
  <section class="contact-us-box">
    <!-- [F]content  : 4개 일 경우 .contact-col4 추가-->
    <ul class="list-box  contact-col4">
      <li class="list-box__item">
        <div class="tit-box">
          <div class="tit-box__inner">
            <p class="txt-h6">Call Us</p>
            <p class="txt-p6">
              Monday - Friday : 9:00am - 6:00pm <br>
              Saturday : 9:00am - 4:00pm  <br>
              Closed : Sundays and Bank Holidays
            </p>
          </div>
          <div class="btn-box">
            <a role="button" class="btn-txt" href="tel:+908502010222">
              <span class="btn-txt__txt">
                <em class="pc-txt">Contact us : +90 850 2010 222</em>
                <em class="mo-txt">+90 850 2010 222</em>
              </span>
            </a>
          </div>
        </div>
        <img class="list-box__icon"
          src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-contac-call.svg">
      </li>
      <li class="list-box__item">
        <div class="tit-box">
          <div class="tit-box__inner">
            <p class="txt-h6">Email Us</p>
            <p class="txt-p6">If you have any inquiries, please send us an email.</p>
          </div>
          <div class="btn-box">
            <a role="button" class="btn-block type2 md" href="">
              <span class="btn-block__txt">
                <em class="pc-txt">Send E-mail</em>
                <em class="mo-txt">Send E-mail</em>
              </span>
            </a>
          </div>
        </div>
        <img class="list-box__icon"
          src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-contac-email.svg">
      </li>
      <li class="list-box__item">
        <div class="tit-box">
          <div class="tit-box__inner">
            <p class="txt-h6">Inquiry</p>
            <p class="txt-p6">Our experts will respond within 1-2 days. If you have any inquiries,<br> please feel free
              to write them down.</p>
          </div>
          <div class="btn-box">
            <a role="button" class="btn-block type2 md" href="">
              <span class="btn-block__txt">
                <em class="pc-txt">Inquiry</em>
                <em class="mo-txt">Inquiry</em>
              </span>
            </a>
          </div>
        </div>
        <img class="list-box__icon"
          src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-myinquiry.svg">
      </li>
      <li class="list-box__item">
        <div class="tit-box">
          <div class="tit-box__inner">
            <p class="txt-h6">FAQ</p>
            <p class="txt-p6">For faster support, please check the FAQ for any questions you may have.</p>
          </div>
          <div class="btn-box">
            <a role="button" target="" href="#" class="btn-block type2 md">
              <span class="btn-block__txt">
                <em class="pc-txt">Learn more</em>
                <em class="mo-txt">Learn more</em>
              </span>
            </a>
          </div>
        </div>
        <img class="list-box__icon"
          src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-contac-faq.svg">
      </li>
    </ul>
  </section>
  <!-- //conponent -->



  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
</body>

</html>