<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
   <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
   <!-- End Google Tag Manager -->
</head>

<body>

   <!-- 2025-04-11 요청으로 삽입 //-->
   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) --> 
    
   <div class="space-pt48">

      <!-- component -->
      <!-- Case 01. : title : 38px(주 사용 : page tit) -->
      <!--
         [F] 
         border : .border-b 
         align : left(d), center(.tal-center), right(.tal-right)
      -->
      <section class="cmc-tit-area border-b">

         <!-- 
               [F] Title
               2024-08-19 size 변경 ( txt-h2 삭제 , txt-h4 추가 )
               size       : 38px(.txt-h3)    ,32px(.txt-h4)      , 52px(.txt-52)      
               color      : balck(d)         ,blue(.txt-point2)
               style      : Bold(d)          ,Medium(.txt-fw-m)  , Regular(.txt-fw-r) 
         -->
         <h2 class="txt-h3">
            <span class="pc-txt">What is Samsung DVM Pro 2.0?</span>
            <span class="mo-txt">What is Samsung DVM Pro 2.0?</span>
         </h2>

         <div class="cmc-desc-box">
            <!-- 
                    [F] description
                    text level : p
                    size       : 18px(.txt-p4)  , 22px(.txt-p3)
                    color      : balck(d)          , gray(.txt-gray)
                    style      : Regular(d)        , Bold(.txt-fw-b) 

                    * 텍스트가 없을때 .cmc-desc-box 같이 날려주세요~
                -->
            <div class="txt-p4">
               <p class="pc-txt">Samsung DVM Pro 2.0 is a program designed to facilitate the design of complex system
                  air conditioners more easily and quickly.
                  In version 2.0, users can select and design all system air conditioner products supplied by Samsung
                  Electronics,
                  significantly improving usability with a user-friendly interface.
                  In the Sales program, the distinction between design stages has been eliminated, allowing for more
                  flexible integration of
                  model selection, editing, and system inspection during the design process.
                  With the introduction of Designer Mode, various design functions have been implemented through the
                  development of company CAD programs.
                  It is composed of specialized features for Samsung system air conditioner design, allowing for easier
                  use of the program.
               </p>
               <p class="mo-txt">Samsung DVM Pro 2.0 is a program designed to facilitate the design of complex system
                  air conditioners more easily and quickly.
                  In version 2.0, users can select and design all system air conditioner products supplied by Samsung
                  Electronics,
                  significantly improving usability with a user-friendly interface.
                  In the Sales program, the distinction between design stages has been eliminated, allowing for more
                  flexible integration of
                  model selection, editing, and system inspection during the design process.
                  With the introduction of Designer Mode, various design functions have been implemented through the
                  development of company CAD programs.
                  It is composed of specialized features for Samsung system air conditioner design, allowing for easier
                  use of the program.
               </p>
            </div>
         </div>

         <div class="btn-box">
            <!-- 
               [F] BUTTON
                  type          : basic
                  design        : box
                  class         : .btn-block
                  style         :  white(d)   ,black(.type2),   blue(.type3)
                  size(height)  :  default (.lg)  , medium(.md)  , samll( - )  , xsmall(.sm)  
                  icons         : .icon-window(.icon-window-wh),
                  .icon-download(icon-download-wh),
                  .icon-arrow-right,
                  
                  ----------------------------------------------
                  
                  type          : basic
                  design        : text
                  class         : .btn-txt
                  icons         : .icon-window,
                  .icon-arrow-right,
                  .icon-download
                  size(font)    : bold(d), regular(.sm)  

                  ----------------------------------------------
                  
                  type          : basic
                  design        : text underline
                  class         : .btn-txt-underline
                  icons         : .icon-window,
                  .icon-arrow-right,
                  .icon-download
                  size(font)    : large(d), small bold (.sm), small reqular (.xsm)  

                * 버튼이 없을때 .btn-box 같이 날려주세요~
            -->
            <a role="button" class="btn-block md" href="#" target="_blank">
               <span class="btn-block__txt">
                  <em class="pc-txt">Download Program</em>
                  <em class="mo-txt">Download Program</em>
               </span>
               <i class="btn-block__icon icon-download"></i>
            </a>
         </div>
      </section>
      <!-- //component -->


   </div>
   <div class="space-pt48 space-pb32">

      <!-- Case 02. : center 정렬, title : 32px(주 사용 : sub tit) -->
      <section class="cmc-tit-area tal-center">
         <h2 class="txt-h4">
            <span class="pc-txt">What is Samsung DVM Pro 2.0?</span>
            <span class="mo-txt">What is Samsung DVM Pro 2.0?</span>
         </h2>

         <div class="cmc-desc-box">
            <div class="txt-p4">
               <p class="pc-txt">Samsung DVM Pro 2.0 is a program designed to facilitate the design of complex system
                  air conditioners more easily and quickly.
                  In version 2.0, users can select and design all system air conditioner products supplied by Samsung
                  Electronics,
                  significantly improving usability with a user-friendly interface.
                  In the Sales program, the distinction between design stages has been eliminated, allowing for more
                  flexible integration of
                  model selection, editing, and system inspection during the design process.
                  With the introduction of Designer Mode, various design functions have been implemented through the
                  development of company CAD programs.
                  It is composed of specialized features for Samsung system air conditioner design, allowing for easier
                  use of the program.
               </p>
               <p class="mo-txt">Samsung DVM Pro 2.0 is a program designed to facilitate the design of complex system
                  air conditioners more easily and quickly.
                  In version 2.0, users can select and design all system air conditioner products supplied by Samsung
                  Electronics,
                  significantly improving usability with a user-friendly interface.
                  In the Sales program, the distinction between design stages has been eliminated, allowing for more
                  flexible integration of
                  model selection, editing, and system inspection during the design process.
                  With the introduction of Designer Mode, various design functions have been implemented through the
                  development of company CAD programs.
                  It is composed of specialized features for Samsung system air conditioner design, allowing for easier
                  use of the program.
               </p>
            </div>
         </div>
         <div class="btn-box">
            <a role="button" class="btn-block md" href="#" target="_blank">
               <span class="btn-block__txt">
                  <em class="pc-txt">Download Program</em>
                  <em class="mo-txt">Download Program</em>
               </span>
               <i class="btn-block__icon icon-download"></i>
            </a>
         </div>
      </section>

   </div>
   <div class="space-pt48 space-pb32">

      <!-- Case 03. : right 정렬, title : 52px(주 사용 : main), description color : grey -->
      <section class="cmc-tit-area tal-right">
         <h2 class="txt-52">
            <span class="pc-txt">What is Samsung DVM Pro 2.0?</span>
            <span class="mo-txt">What is Samsung DVM Pro 2.0?</span>
         </h2>

         <div class="cmc-desc-box">
            <div class="txt-p4 txt-gray">
               <p class="pc-txt">Samsung DVM Pro 2.0 is a program designed to facilitate the design of complex system
                  air conditioners more easily and quickly.
                  In version 2.0, users can select and design all system air conditioner products supplied by Samsung
                  Electronics,
                  significantly improving usability with a user-friendly interface.
                  In the Sales program, the distinction between design stages has been eliminated, allowing for more
                  flexible integration of
                  model selection, editing, and system inspection during the design process.
                  With the introduction of Designer Mode, various design functions have been implemented through the
                  development of company CAD programs.
                  It is composed of specialized features for Samsung system air conditioner design, allowing for easier
                  use of the program.
               </p>
               <p class="mo-txt">Samsung DVM Pro 2.0 is a program designed to facilitate the design of complex system
                  air conditioners more easily and quickly.
                  In version 2.0, users can select and design all system air conditioner products supplied by Samsung
                  Electronics,
                  significantly improving usability with a user-friendly interface.
                  In the Sales program, the distinction between design stages has been eliminated, allowing for more
                  flexible integration of
                  model selection, editing, and system inspection during the design process.
                  With the introduction of Designer Mode, various design functions have been implemented through the
                  development of company CAD programs.
                  It is composed of specialized features for Samsung system air conditioner design, allowing for easier
                  use of the program.
               </p>
            </div>
         </div>
         <div class="btn-box">
            <a role="button" class="btn-block md" href="#" target="_blank">
               <span class="btn-block__txt">
                  <em class="pc-txt">Download Program</em>
                  <em class="mo-txt">Download Program</em>
               </span>
               <i class="btn-block__icon icon-download"></i>
            </a>
         </div>
      </section>

   </div>

   <!-- button samplesamplesamplesamplesamplesample-->
   <section class="cmc-tit-area" style="display: none;">

      <div class="btn-box">
         <!-- box size : df , style : df-->
         <a role="button" class="btn-block" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <!-- box size : df , style : .type2 -->
         <a role="button" class="btn-block type2" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <!-- box size : df , style : .type3 -->
         <a role="button" class="btn-block type3" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>

      </div>
      <div class="btn-box">
         <!-- box size : lg(d) , style : df-->
         <a role="button" class="btn-block lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <a role="button" class="btn-block lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-download"></i>
         </a>
         <a role="button" class="btn-block lg" href="#" target="_blank">
            <span class="btn-block__txt">button</span>
            <i class="btn-block__icon icon-window"></i>
         </a>
         <a role="button" class="btn-block lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-arrow-right"></i>
         </a>
      </div>
      <div class="btn-box">
         <!-- box size : df , style : .type2 -->
         <a role="button" class="btn-block type2 lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <a role="button" class="btn-block type2 lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-download-wh"></i>
         </a>
         <a role="button" class="btn-block type2 lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-window-wh"></i>
         </a>
         <a role="button" class="btn-block type2 lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-arrow-right-wh"></i>
         </a>
      </div>
      <div class="btn-box">
         <!-- box size : df , style : .type3 -->
         <a role="button" class="btn-block type3 lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <a role="button" class="btn-block type3 lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-download-wh"></i>
         </a>
         <a role="button" class="btn-block type3 lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-window-wh"></i>
         </a>
         <a role="button" class="btn-block type3 lg" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-arrow-right-wh"></i>
         </a>
      </div>
      <div class="btn-box">
         <!-- box size : lg -->
         <a role="button" class="btn-block" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <a role="button" class="btn-block" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-download"></i>
         </a>
         <a role="button" class="btn-block" href="#" target="_blank">
            <span class="btn-block__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-block__icon icon-window"></i>
         </a>
      </div>
      <div class="btn-box">

         <!-- text type : default -->
         <a role="button" class="btn-txt" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <a role="button" class="btn-txt" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-txt__icon icon-download"></i>
         </a>
         <a role="button" class="btn-txt" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-txt__icon icon-window"></i>
         </a>
         <a role="button" class="btn-txt" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-txt__icon icon-arrow-right"></i>
         </a>

         <!-- text type : size .sm-->
         <a role="button" class="btn-txt sm" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <a role="button" class="btn-txt sm" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-txt__icon icon-download"></i>
         </a>
         <a role="button" class="btn-txt sm" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-txt__icon icon-window"></i>
         </a>
         <a role="button" class="btn-txt sm" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
            <i class="btn-txt__icon icon-arrow-right"></i>
         </a>

         <!-- text underline type -->
         <a role="button" class="btn-txt-underline" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <a role="button" class="btn-txt-underline sm" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>
         <a role="button" class="btn-txt-underline xsm" href="#" target="_blank">
            <span class="btn-txt__txt">
               <em class="pc-txt">button</em>
               <em class="mo-txt">button</em>
            </span>
         </a>

      </div>

   </section>

   <!-- common.js -->
   <script src="/pub-only/js/main-lib.js"></script>
   <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
</body>

</html>