<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <title>Samsung Air Conditioners</title>

  <meta name="title" content="Samsung Air Conditioners">
  <meta name="google-site-verification">
  <meta name="facebook-domain-verification">
  <link rel="canonical" href="https://  ">
  <meta name="keywords" content="Samsung, AC, Air Conditioners, Tools, Samsung Air">
  <meta name="description"
    content="prices & models in Jordan. Stay cool and comfortable with our top-rated ACs. Buy the best air conditioner at Samsung Jordan ...">
  <meta name="date" content="">
  <meta name="sitecode" content=""> <!-- 언어 -->

  <meta name="twitter:card" content="Summary">
  <meta name="twitter:site" content="@Samsung">
  <meta name="twitter:creator" content="@Samsung">
  <meta name="twitter:url" content="https://">
  <meta name="twitter:title" content="Samsung, AC, Air Conditioners, Tools, Samsung Air">
  <meta name="twitter:description"
    content="prices & models in Jordan. Stay cool and comfortable with our top-rated ACs. Buy the best air conditioner at Samsung Jordan ...">
  <meta name="twitter:image" content="">

  <meta property="og:url" content="https:// ">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Samsung">
  <meta property="og:locale" content=""> <!-- 언어_지역 -->
  <meta property="og:title" content="Samsung Air Conditioners">
  <meta property="og:description"
    content="prices & models in Jordan. Stay cool and comfortable with our top-rated ACs. Buy the best air conditioner at Samsung Jordan ...">
  <meta property="og:country-name" content=""> <!-- 나라 -->

  <meta property="name" content="Samsung">
  <meta property="image" content="">
  <meta property="url" content="https://">
  <meta property="description"
    content="prices & models in Jordan. Stay cool and comfortable with our top-rated ACs. Buy the best air conditioner at Samsung Jordan ...">
  <meta property="keywords" content="Samsung, AC, Air Conditioners, Tools, Samsung Air">


  <!-- common -->
  <link rel="stylesheet" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css" />
  <!-- header -->
  <link rel="stylesheet" type="text/css" href="/apps/components/content/gnb/clientlibs/css/main.css" />
  <!-- lnb -->
  <link rel="stylesheet" type="text/css" href="/apps/components/content/lnb/clientlibs/css/main.css" />
  <!-- footer -->
  <link rel="stylesheet" type="text/css" href="/apps/components/content/footer/clientlibs/css/main.css" />

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>
<body>
  
  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <div id="wrap">
    <div class="skip-bar">
      <a href="#container" role="presentation" aria-hidden="true" tabindex="-1">Skip to content</a>
    </div>
    <!-- header -->
    <header class="header-wrap">
      <div class="header-wrap__inner">
        <div class="header-box">
          <div class="header">
            <div class="logo-box">
              <a href="#" target="_self" aria-label="samsung hvac hub">
                <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/hvachub-logo.svg"
                  alt="samsung hvac hub logo">
              </a>
            </div>
            <nav class="header-gnb">

              <div class="mo-sign-menu-box mo-display">
                <button type="button" class="btn-txt mo-display">
                  <span class="btn-txt__txt">Log out</span>
                </button>
                <button type="button" class="btn-txt mo-display">
                  <span class="btn-txt__txt">Sign Up</span>
                </button>
              </div>

              <ul class="gnb-box">
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="product" aria-haspopup="true"
                    aria-expanded="false">ProductProduct</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">Product</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <!-- [F] 메뉴에 lock이 걸릴때 .is-lock / aria-disabled="true" 추가 -->
                          <li class="gnb-2depth is-lock">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="All">All</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="RAC">RAC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="FAC">FAC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="WAC">WAC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="CAC">CAC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="EHS">EHS</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="FJM">FJM</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="DVM">DVM</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Chiller">Chiller</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Ventilation">Ventilation</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Accessory">Accessory</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Controls Systems">Controls
                              Systems</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>

                  </div>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="Project">Project</a>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="Orders" aria-haspopup="true"
                    aria-expanded="false">Orders</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">Orders</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth is-lock">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Order list">Order list</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Invoice list">Invoice
                              list</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Account Balance">Account
                              Balance</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>

                  </div>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="tools" aria-haspopup="true"
                    aria-expanded="false">Tools</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">Tools</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="DVM Pro2.0">DVM Pro2.0</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Seasonal Efficiency">Seasonal
                              Efficiency</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Life Cycle Cost">Life Cycle
                              Cost</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Error Code Finder">Error Code
                              Finder</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>

                  </div>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="library" aria-haspopup="true"
                    aria-expanded="false">Library</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">library</span>
                      <div class="gnb-2depth-box">
                        <p class="gnb-2depth-box__tit">For marketing</p>
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth is-lock">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Catalog">Catalog</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Tech.Video">Tech.Video</a>
                          </li>
                        </ul>
                      </div>
                      <div class="gnb-2depth-box">
                        <p class="gnb-2depth-box__tit">For pre-sales(Spec-in)</p>
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit"
                              aria-label="Technical Data Book">Technical Data Book</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="DWG">DWG</a>
                          </li>
                          <li class="gnb-2depth is-lock">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="BIM">BIM</a>
                          </li>
                        </ul>
                      </div>
                      <div class="gnb-2depth-box">
                        <p class="gnb-2depth-box__tit">For service</p>
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="User Manual">User Manual</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit"
                              aria-label="Installation Manual">Installation Manual</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="CE DoC">CE DoC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Exploded View">Exploded
                              View</a>
                          </li>
                        </ul>
                      </div>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Others">Others</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>

                  </div>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="Support" aria-haspopup="true"
                    aria-expanded="false">Support</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">Support</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit"
                              aria-label="Announcement">Announcement</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit"
                              aria-label="Simulation Request">Simulation Request</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Blog">Blog</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Case Study">Case Study</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="FAQ">FAQ</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>

                  </div>
                </li>

                <li class="gnb-1depth mo-display">
                  <a href="#" target="_self" class="gnb-1depth__tit " aria-label="My Page" aria-haspopup="true"
                    aria-expanded="false">My Page</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">My Page</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Dashboard">Dashboard</a>
                          </li>
                          <li class="gnb-2depth">
                            <span class="gnb-2depth__tit">Account Information</span>
                            <ul class="gnb-3depth-box">
                              <li class="gnb-3depth">
                                <a href="#" target="_self" class="gnb-3depth__tit"
                                  aria-label="Profile Management">Profile Management</a>
                              </li>
                              <li class="gnb-3depth">
                                <span class="gnb-3depth__tit">User Management</span>
                                <ul class="gnb-4depth-box">
                                  <li class="gnb-4depth">
                                    <a href="#" target="_self" class="gnb-4depth__tit" aria-label="Role Setting">Role
                                      Setting</a>
                                  </li>
                                  <li class="gnb-4depth">
                                    <a href="#" target="_self" class="gnb-4depth__tit"
                                      aria-label="Permission Setting">Permission Setting</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Saved Cart">Saved Cart</a>
                          </li>
                          <li class="gnb-2depth">
                            <span class="gnb-2depth__tit">Proposal Setting</span>
                            <ul class="gnb-3depth-box">
                              <li class="gnb-3depth">
                                <a href="#" target="_self" class="gnb-3depth__tit" aria-label="Template">Template</a>
                              </li>
                              <li class="gnb-3depth">
                                <a href="#" target="_self" class="gnb-3depth__tit" aria-label="Offering">Offering</a>
                              </li>
                              <li class="gnb-3depth">
                                <a href="#" target="_self" class="gnb-3depth__tit" aria-label="Margin">Margin</a>
                              </li>
                            </ul>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="My Inquiry">My Inquiry</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="My Favorite">My Favorite</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>

                  </div>
                </li>
              </ul>

              <div class="mo-quick-menu-box mo-display">
                <a role="button" class="btn-txt" href="#" target="">
                  <span class="btn-txt__txt">Buy online</span>
                </a>
                <a role="button" class="btn-txt" href="#" target="">
                  <span class="btn-txt__txt">Training</span>
                  <i class="btn-txt__icon icon-window"></i>
                </a>
              </div>
              <div class="mo-nav-close-box mo-display">
                <button type="button" class="btn-icon icon-mo-nav-close">
                  <span class="txt-blind">close</span>
                </button>
              </div>

            </nav>
            <div class="quick-menu-box">
              <a role="button" class="btn-block type3" href="#" target="">
                <span class="btn-block__txt">Buy online</span>
              </a>
              <a role="button" class="btn-block" href="#" target="">
                <span class="btn-block__txt">Training</span>
                <i class="btn-block__icon icon-window"></i>
              </a>
            </div>
            <div class="utility-menu-box">
              <button type="button" class="btn-icon icon-header-search" aria-haspopup="true" aria-expanded="false">
                <span class="txt-blind">search</span>
              </button>
              <!-- gnb search -->
              <div class="gnb-search-wrap">
                <div class="gnb-search-wrap__inner">
                  <div class="field-box gnb-search-box">
                    <label class="txt-label txt-blind" for="gnb-search">search</label>
                    <div class="input-search-box">
                      <div class="input-search-box__inner">
                        <div class="input-box input-search">
                          <!-- [F] 자동완성 테스트 단어 : auto -->
                          <input type="search" class="input-box__input" id="gnb-search"
                            placeholder="Please enter your search keyword.">
                          <button type="button" class="btn-icon icon-search-delete"><span
                              class="txt-blind">삭제</span></button>
                          <button type="button" class="btn-icon icon-search"><span class="txt-blind">검색</span></button>
                        </div>
                        <div class="search-box__auto" style="display: none;">
                          <ul class="search-box__auto-list">
                            <li class="autoitem"><a href="#" target="_blank"> <span class="txt-point2">A</span>uto
                                text</a> </li>
                            <li class="autoitem"><a href="#" target="_blank"> <span class="txt-point2">A</span>uto
                                text</a> </li>
                            <li class="autoitem"><a href="#" target="_blank"> <span class="txt-point2">A</span>uto
                                text</a> </li>
                          </ul>
                        </div>

                        <!-- no-result -->
                        <div class="list-nodata">
                          <p class="txt-p5">There are no related search keywords.</p>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn-icon icon-close gnb-sh-close" aria-label="close">
                      <span class="txt-blind">close</span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- //gnb search -->
              <div class="mycart-box">
                <a role="button" class="btn-icon icon-cart" href="#">
                  <span class="txt-blind">cart</span>
                </a>
                <div class="mycart-box__count"><span>1000</span></div>
              </div>
              <div class="user-info-box">
                <button type="button" class="btn-icon icon-user" aria-haspopup="true" aria-expanded="false" index>
                  <!-- [F] 로그인시 class 추가 .on -->
                  <a href="#">
                    <span class="txt-blind">user</span>
                  </a>
                </button>
                <div class="user-info__inner">
                  <ul class="user-info__menu">
                    <li> <a href="#" aria-label="Log out">Sign in</a> </li>
                    <li> <a href="#" aria-label="Dashboard">Dashboard</a> </li>
                    <li> <a href="#" aria-label="Saved Cart">Saved Cart</a> </li>
                    <li> <a href="#" aria-label="My Inquiry">My Inquiry</a> </li>
                    <li> <a href="#" aria-label="My Favorites">My Favorites</a> </li>
                  </ul>
                </div>
              </div>

              <button type="button" class="btn-icon icon-hamburger mo-display">
                <span class="txt-blind">menu open</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="header-dim"></div>
    </header>
    <!-- //header -->
    <!-- breadcrumb -->
    <div class="breadcrumb">
      <div class="breadcrumb__inner">
        <ol>
          <li class="txt-arrow"><a href="#" target="">Home</a> </li>
          <li class="txt-arrow"><a href="#" target="">1depth</a> </li>
          <li class="txt-arrow"><a href="#" target="">2depth</a> </li>
          <li class="txt-arrow is-current-page">3depth</li>
        </ol>
      </div>
    </div>
    <!-- //breadcrumb -->
    <!-- container -->
    <div id="container" role="main">
      <div class="container__inner">
        <!-- [F] LNB 메뉴를 가질때 태그 노출. / LNB 메뉴가 없을 때 태그 삭제. -->
        <div id="lnb-wrap" class="lnb">
          <ul class="lnb__inner">
            <li class="item-2depth">
              <a href="#">Dashboard</a>
            </li>
            <li class="item-2depth">
              <a href="#">Account Information</a>
              <ul class="item-3depth__wrap">
                <li class="txt-p4 item-3depth">
                  <a href="#" target="" aria-label="profile management">Profile Management</a>
                </li>
                <li class="txt-p4 item-3depth">
                  <a href="#" target="" aria-label="user management">User management</a>
                  <ul class="item-4depth__wrap">
                    <li class="txt-p6 item-4depth">
                      <a href="#" target="" aria-label="role setting">Role Setting</a>
                    </li>
                    <li class="txt-p6 item-4depth">
                      <a href="#" target="" aria-label="permission setting">Permission setting</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="item-2depth">
              <a href="#">Saved Cart</a>
            </li>
            <li class="item-2depth">
              <a href="#">Proposal setting</a>
              <ul class="item-3depth__wrap">
                <li class="txt-p4 item-3depth"><a href="#">Template</a></li>
                <li class="txt-p4 item-3depth"><a href="#">Offering</a></li>
                <li class="txt-p4 item-3depth"><a href="#">Margin</a></li>
              </ul>
            </li>
            <li class="item-2depth">
              <a href="#">My Inquiry</a>
            </li>
            <li class="item-2depth">
              <a href="#">My Favorite</a>
            </li>
          </ul>
        </div>
        <!-- //[F] LNB 메뉴-->
        <div class="container">
          <div class="space-pt120 space-pb64">
            <!-- component -->
            <div style="width: 100%; height: 150px; background: blue">
              <!-- 
                                .space-pt0   {padding-top: 0;}
                                .space-pt24  {padding-top: 24px;}
                                .space-pt40  {padding-top: 40px;}
                                .space-pt48  {padding-top: 48px;}
                                .space-pt58  {padding-top: 58px;}
                                .space-pt64  {padding-top: 64px;}
                                .space-pt70  {padding-top: 70px;}
                                .space-pt80  {padding-top: 80px;}
                                .space-pt120 {padding-top: 120px;}
                                .space-pb0   {padding-bottom: 0;}
                                .space-pb24  {padding-bottom: 24px;}
                                .space-pb40  {padding-bottom: 40px;}
                                .space-pb48  {padding-bottom: 48px;}
                                .space-pb58  {padding-bottom: 58px;}
                                .space-pb64  {padding-bottom: 64px;}
                                .space-pb70  {padding-bottom: 70px;}
                                .space-pb80  {padding-bottom: 80px;}
                                .space-pb120 {padding-bottom: 120px;}
                                .space-mt0   {margin-top: 0;}
                                .space-mt24  {margin-top: 24px;}
                                .space-mt40  {margin-top: 40px;}
                                .space-mt48  {margin-top: 48px;}
                                .space-mt58  {margin-top: 58px;}
                                .space-mt64  {margin-top: 64px;}
                                .space-mt70  {margin-top: 70px;}
                                .space-mt80  {margin-top: 80px;}
                                .space-mt120 {margin-top: 120px;}
                                .space-mb0   {margin-bottom: 0;}
                                .space-mb24  {margin-bottom: 24px;}
                                .space-mb40  {margin-bottom: 40px;}
                                .space-mb48  {margin-bottom: 48px;}
                                .space-mb58  {margin-bottom: 58px;}
                                .space-mb64  {margin-bottom: 64px;}
                                .space-mb70  {margin-bottom: 70px;}
                                .space-mb80  {margin-bottom: 80px;}
                                .space-mb120 {margin-bottom: 120px;}
                            -->
            </div>
            <!-- component -->
          </div>
          <div class="space-pt64 space-pb64">
            <!-- component -->
            <div style="width: 100%; height: 150px; background: red"></div>
            <!-- component -->
          </div>
          <div class="space-pt64 space-pb64">
            <!-- component -->
            <div style="width: 100%; height: 150px; background: yellow"></div>
            <!-- component -->
          </div>
          <div class="space-pt64 space-pb80">
            <!-- component -->
            <div style="width: 100%; height: 150px; background: green"></div>
            <!-- component -->
          </div>

        </div>
      </div>
    </div>
    <!-- container -->
    <!-- footer -->
    <footer class="footer-wrap">
      <div class="footer-content__inner">
          <ul class="footer-sitemap__inner">
              <li class="sitemap__item">
                  <b class="sitemap-tit is-lock"> <a href="#"  target="_self" aria-label="products">products</a> </b>
                  <div class="sitemap__item-inner">
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="All">All</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="RAC">RAC</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="FAC">FAC</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="WAC">WAC</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="PAC">PAC</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="CAC">CAC</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="EHS">EHS</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="FJM">FJM</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="DVM">DVM</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Chiller">Chiller</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Ventilation">Ventilation</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Accessary">Accessary</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Controls Systems">Controls Systems</a> </li>
                      </ul>
                  </div>
              </li>
              <!-- 2024-06-14 class 추가 : .single-item / Project - Buy online 같은 level로 분리-->
              <li class="sitemap__item single-item">
                  <b class="sitemap-tit"> <a href="#" target="_self" aria-label="project">Project</a></b>
              </li>
              <li class="sitemap__item single-item">
                  <b class="sitemap-tit"> <a href="#" target="_self" aria-label="Buy online">Buy online</a></b>
              </li>
              <li class="sitemap__item">
                  <b class="sitemap-tit"><a href="#" target="_self" aria-label="tools">Tools</a></b>
                  <div class="sitemap__item-inner">
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="DVM Pro2">DVM Pro2</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Seasonal Efficiency">Seasonal Efficiency</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Life Cycle Cost">Life Cycle Cost</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Error code Finder">Error code Finder</a> </li>
                      </ul>
                  </div>
              </li>
              <li class="sitemap__item">
                  <b class="sitemap-tit"> <a href="#" target="_self" aria-label="library">Library</a></b>
                  <div class="sitemap__item-inner">
                      <p class="sitemap-list__tit">For marketing</p>
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Catalog">Catalog</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Tech.Video">Tech.Video</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Case Study">Case Study</a> </li>
                      </ul>
                  </div>
                  <div class="sitemap__item-inner">
                      <p class="sitemap-list__tit">For pre-sales(Spec-in)</p>
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item is-lock"> <a href="#" target="_self" aria-label="Technical Data Book">Technical Data Book</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="DWG">DWG</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="BIM">BIM</a> </li>
                      </ul> 
                  </div>
                  <div class="sitemap__item-inner">
                      <p class="sitemap-list__tit">For service</p>
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Manuals">User Manuals</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Manuals">Installation Manual</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Manuals">CE Doc</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Exploded View">Exploded View</a> </li>
                      </ul>
                  </div>
                  <!-- 2024-06-20 Others 분리 -->
                  <div class="sitemap__item-inner">
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item is-lock"> <a href="#" target="_self" aria-label="Others">Others</a> </li>
                      </ul>
                  </div>
              </li>
              <li class="sitemap__item">
                  <b class="sitemap-tit"><a href="#" target="_self" aria-label="support">Support</a></b>
                  <div class="sitemap__item-inner">
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Announcement">Announcement</a> </li>
                          <!-- 2024-06-14 메뉴명 변경으로 AI 아이콘 삭제 -->
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Blog">Blog</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Simulation Request">Simulation Request</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="FAQ">FAQ</a> </li>
                      </ul>
                  </div>
              </li>
              <!-- 2024-06-14 class 추가 : .single-item -->
              <!-- 2024-06-20 My page 세부 메뉴 추가 -->
              <li class="sitemap__item single-item ">
                  <b class="sitemap-tit"><a href="#" target="_self" aria-label="my page">My page</a></b>
                  <div class="sitemap__item-inner">
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Dashboard">Dashboard</a> </li>
                      </ul>
                  </div>
                  <!-- 2024-06-20  -->
                  <div class="sitemap__item-inner">
                      <p class="sitemap-list__tit">Account Information</p>
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Profile Management">Profile Management</a> </li>
                          <li class="sitemap-list__item">
                              <p class="site-inner__tit">User Management</p>
                              <ul class="site-inner">
                                  <li class="site-inner__item"> <a href="#" target="_self" aria-label="Role Setting">Role Setting</a> </li>
                                  <li class="site-inner__item"> <a href="#" target="_self" aria-label="Permission Setting">Permission Setting</a> </li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="sitemap__item-inner">
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Saved Cart">Saved Cart</a> </li>
                      </ul>
                  </div>
                  <div class="sitemap__item-inner">
                      <p class="sitemap-list__tit">Proposal Setting</p>
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Template">Template</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Offering">Offering</a> </li>
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="Margin">Margin</a> </li>
                      </ul>
                  </div>
                  <div class="sitemap__item-inner">
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="My Inquiry">My Inquiry</a> </li>
                      </ul>
                  </div>
                  <div class="sitemap__item-inner">
                      <ul class="sitemap-list">
                          <li class="sitemap-list__item"> <a href="#" target="_self" aria-label="My Favorites">My Favorites</a> </li>
                      </ul>
                  </div>
              </li>
              <!-- //2024-06-20 -->

              <!-- 2024-06-14 my page 내에서 분리, 같은 level로 변경 / class 추가 : .single-item -->
              <li class="sitemap__item single-item">
                  <b class="sitemap-tit">
                      <a href="#" target="_self" aria-label="Training">
                          Training
                          <i class="icon-block icon-window-lg"></i>
                      </a>
                  </b>
              </li>
              <li class="sitemap__item single-item">
                  <b class="sitemap-tit">
                      <a href="#" target="_self" aria-label="About Us">
                          About Us
                          <i class="icon-block icon-window-lg"></i>
                      </a>
                  </b>
              </li>
              <li class="sitemap__item single-item">
                  <b class="sitemap-tit"> <a href="#" target="_self" aria-label="Contact Us">Contact Us</a> </b>
              </li>
          </ul>
      </div>
      <div class="footer-language">
          <div class="footer-content__inner">
              <div class="footer-content__left">
                  <a href="#" target="_self" class="btn-txt" aria-label="Choose your location or language">
                      <span class="btn-txt__txt">Türkiye / Türkçe</span> 
                  </a>
              </div>
              <div class="footer-content__right">
                  <!-- 2024-06-14 .dp-inline 감쌈 -->
                  <span class="dp-inline">
                      <a href="https://www.samsung.com/" target="_blank" class="btn-txt sm">
                          <span class="btn-txt__txt">Samsung.com</span>
                          <i class="btn-txt__icon icon-window"></i>
                      </a>
                  </span>
                  <!-- 2024-06-14 .dp-inline 감쌈 -->
                  <span class="dp-inline">
                      <a href="#" target="_blank" class="btn-txt sm">
                          <span class="btn-txt__txt">Samsung Climate Solutions</span>
                          <i class="btn-txt__icon icon-window"></i>
                      </a> 
                  </span>
                  
              </div>
          </div>
      </div>
      <div class="footer-copyright">
          <div class="footer-content__inner">
              <div class="footer-content__left">
                  <!-- 2024-06-14 .dp-inline 감쌈 -->
                  <span class="dp-inline">
                      <a href="https://www.samsung.com/" target="_self" class="btn-txt">
                          <span class="btn-txt__txt">Terms & Conditions</span>
                          <!-- 2024-08-01 아이콘 추가 -->
                          <i class="btn-txt__icon icon-window-wh"></i>
                      </a>
                  </span>
                  <!-- 2024-06-14 .dp-inline 감쌈 -->
                  <span class="dp-inline">
                      <a href="https://www.samsung.com/" target="_self" class="btn-txt">
                          <span class="btn-txt__txt">Privacy</span>
                          <!-- 2024-08-01 아이콘 추가 -->
                          <i class="btn-txt__icon icon-window-wh"></i>
                      </a>
                  </span>
                  <!-- 2024-06-14 .dp-inline 감쌈 -->
                  <span class="dp-inline">
                      <a href="https://www.samsung.com/" target="_self" class="btn-txt">
                          <span class="btn-txt__txt">Cookie</span>
                      </a>
                  </span>
                  <!-- 2024-06-14 .dp-inline 감쌈 -->
                  <!-- 2024-08-01 삭제 -->
                  <!-- <span class="dp-inline">
                      <a href="https://www.samsung.com/" target="_self" class="btn-txt">
                          <span class="btn-txt__txt">Legal</span>
                      </a>
                  </span> -->
              </div>
              <div class="footer-content__right">
                  <p class="copyright">Copyright©2024 Samsung HVAC, LLC . All Rights Reserved.</p>
              </div>
          </div>
      </div>
    </footer>
    <!-- //footer -->
  </div>

  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <!-- header -->
  <script src="/apps/components/content/gnb/clientlibs/js/main.js"></script>
  <!-- lnb -->
  <script src="/apps/components/content/lnb/clientlibs/js/main.js"></script>
  <!-- footer -->
  <script src="/apps/components/content/footer/clientlibs/js/main.js"></script>
</body>

</html>