.permission-setting{max-width:1152px;width:100%;background-color:#f7f7f7;padding:32px 24px 80px 32px}
.permission-setting .solting-field-box{min-width:360px}
.permission-setting .solting-field-box .combo-box.box-type{width:360px}
.permission-setting .permission-setting__tit{ font-size:32px !important; line-height:48px; padding-bottom:8px}
.permission-setting>.field-box{margin-bottom:16px}
.permission-setting .role-box{background-color:#fff;border-radius:20px;padding:16px 24px}
.permission-setting .role-list{display:flex;line-height:24px;border-top:2px solid #000; font-size:16px;}
.permission-setting .role-list li{border-bottom:1px solid #dadada; }
.permission-setting .role-list .list__top{border-bottom:0; justify-content:center; height:56px; padding:16px 0; word-break:break-word; align-items:center;} 
.permission-setting .role-list .list__top:nth-child(3) { height:40px; border-bottom:1px solid #000;}
.permission-setting .list-menu { width:180px; }
.permission-setting .list-menu .list__top { display:flex; justify-content: center; align-items: center; border-right:2px solid #000; background:#F2F2F2; font-size:16px; font-weight: 700; }
.permission-setting .list-menu .list__top span { width:100%; padding-left:0; text-align: center; font-size:16px; font-weight: 700; white-space: nowrap;}
.permission-setting .list-menu .list__top.bg-white {background-color:#fff;}
.permission-setting .list-menu .list__item-box { display:flex; justify-content: flex-start; height:auto; padding:0;}
.permission-setting .list-menu .list__item-box .list__menu { display:flex; justify-content: center; align-items: center; width:64px; font-size:16px; font-weight: 400; color:#000;}
.permission-setting .list-menu .list__item-box .list__item-inner  {flex:1; border-right:2px solid #000;}
.permission-setting .list-menu .list__item-box .list__item-inner li { display:flex;align-items:center; min-height:64px; padding:8px 12px; border-left:1px solid #dadada;}
.permission-setting .list-menu .list__item-box .list__item-inner li span { font-size:16px; font-weight: 400; color:#000; word-break: keep-all;}
.permission-setting .list-menu .list__item-box .list__item-inner li:last-child { border-bottom:0; }

.permission-setting .role-list .list-check__role{min-width:214px;text-align:center;padding:0;border-bottom:unset}
.permission-setting .role-list .list-check__role.blank {flex:1;}
.permission-setting .list-check .list__top { display:flex; align-items: center; height:56px; padding:0 12px; background-color:#F2F2F2; }
.permission-setting .list-check .list__top.user-id { padding:16px 18px 16px 12px; }
.permission-setting .list-check .list__top .field-box { width:100%; }
.permission-setting .list-check .list__top .field-box .combo-box.box-type { width:100%; min-width:100%; }
.permission-setting .list-check .list__top.bg-white { background-color:#fff; }
.permission-setting .list-check .list__top .txt-p5 { overflow:hidden; text-overflow: ellipsis; display:block; }
.permission-setting .list-check .user-id .btn-icon{width:20px;height:20px;background:center / contain no-repeat url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-search-delete.svg);}

.permission-setting .list-menu .menu-row3{height:168px}
.permission-setting .list-menu .menu-row2{height:112px}
.permission-setting .menu-delete{background-color:#f2f2f2;padding:16px 0 16px 12px;justify-content:center;border-bottom:1px solid #aaa !important;height:56px}
.permission-setting .list-check{position:relative;display:flex;justify-content:flex-start;width:calc(100% - 180px);overflow-x:scroll;padding-bottom:2px}

.permission-setting .list__item{height:56px;padding:15px 56px}
.permission-setting .list-check__inner .list__item {display:flex; justify-content: center; align-items: center; min-height:64px; }
.list-check__inner .state { position: relative; display: flex; justify-content: center; align-items: center; width:16px; height:16px; font-size:16px; color:#000; }
.list-check__inner .state.chk { font-size:0; text-indent:-9999px; }
.list-check__inner .state.chk:after {content:''; display:block; width:16px;height:16px; background: transparent url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-black-checked.svg) no-repeat center; background-size:contain; }

.role-btn-wrap { padding-top:8px; text-align: right; }
.role-btn-wrap button { width:104px; }
.permission-setting .tooltip-btn-box { display:flex; align-items: center; margin-top:8px; }
.permission-setting .tooltip-btn-box > .txt-p5 { display: inline-block; vertical-align: middle; } 
.permission-setting .tooltip-btn-box .icon-tootip { width: 16px; height: 16px; margin-left:8px; background-image: url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-tooltip.svg); vertical-align: middle; } 
.permission-setting .error-msg-wrap { margin-top: 12px; } 
.permission-setting .error-msg-wrap .txt-error + .txt-error { margin-top: 4px; } 
.permission-setting .role-btn-wrap { display: flex; gap: 16px; width: fit-content; margin-left: auto; } 


/* new role popup */
.new-role-popup .popup-wrap__inner .popup__header { padding-bottom: 24px; } 
.new-role-popup .basic-list__result .list-row { padding: 0; } 
.new-role-popup .basic-list__result .el__menu,
.new-role-popup .basic-list__result .el__check { display: flex; align-items: center; justify-content: center; min-height: 56px; padding: 8px 12px; } 
.new-role-popup .basic-list__result .el__menu { flex: auto; border-right: 2px solid #000000; overflow-wrap: anywhere; word-break: break-all; } 
.new-role-popup .basic-list__result .el__check { flex: none; width: 340px; } 
.new-role-popup .basic-list__result .list-head { align-items: initial; background: #f2f2f2; padding: 0; border-bottom-width: 2px; } 
.new-role-popup .basic-list__result .list-head .el__check .field-box,
.new-role-popup .basic-list__result .list-head .el__check .input-box { width: 100%; min-width: auto; } 
.new-role-popup .basic-list__result .list-head .el__check .input-box .input-box__input { text-align: center; } 
.new-role-popup .basic-list__result .list-body .list-row { align-items: initial; border-bottom: 0; } 
.new-role-popup .basic-list__result .list-body .el__menu { justify-content: initial; text-align: left; padding-right: 2px; border-bottom: 1px solid #dadada; } 
.new-role-popup .basic-list__result .list-body .el__check { border-bottom: 1px solid #dadada; } 
.new-role-popup .basic-list__result .list-body .list-row-box { display: flex; } 
.new-role-popup .basic-list__result .list-body .list-row-box .list-col { flex: none; display: flex; align-items: center; justify-content: center; border-right: 1px solid #dadada; min-width: 64px; max-width: 90px; padding-inline: 12px; border-bottom: 1px solid #dadada; overflow-wrap: anywhere; word-break: break-all; } 
.new-role-popup .basic-list__result .list-body .list-row-box .list-row__inner { flex: auto; } 
.new-role-popup .basic-list__result .list-body > .list-row .btn-checkbox .btn-checkbox__icon { border-radius: 4px; } 
.new-role-popup .basic-list__result .list-body > .list-row .btn-checkbox .btn-checkbox__input:checked ~ .btn-checkbox__icon { background: #000000; border-color: #000000; } 
.new-role-popup .basic-list__result .list-body > .list-row .btn-checkbox .btn-checkbox__input:disabled ~ .btn-checkbox__icon { background: #d5d5d5; border-color: #d5d5d5; } 
.new-role-popup .basic-list__result .list-body > .list-row .btn-checkbox .btn-checkbox__input:disabled ~ .btn-checkbox__icon::after { opacity: 0.8; } 
.new-role-popup .basic-list__result + .txt-error-wrap { margin-block: 8px 24px; } 

/* delete alert */
.delete-alert .txt-caption { font-size: 12px; color: var(--secondary-color4); text-align: center; margin-top: 16px; } 

/* menu description */
.popup-wrap.menu-desc-popup .popup-wrap__inner .popup__header { padding:8px 40px 24px; }
.popup-wrap.menu-desc-popup .popup-wrap__inner .popup__header .txt-h4 { line-height: 34px; }
.menu-desc-popup .menu-info-box { display: flex; align-items: flex-start; gap: 12px; background: #f7f7f7; border-radius: var(--border-base); padding: 16px; margin-bottom: 16px; } 
.menu-desc-popup .menu-info-box > .txt-p6 { flex: none; text-align: center; } 
.menu-desc-popup .menu-info-box .menu-ds-info { flex: auto; } 
.menu-desc-popup .basic-list__result { margin-bottom: 8px; } 
.menu-desc-popup .basic-list__result .el__menu,
.menu-desc-popup .basic-list__result .el__info { overflow-wrap: anywhere; word-break: break-all; } 
.menu-desc-popup .basic-list__result .el__menu { flex: none; min-width: 150px; max-width: 180px; } 
.menu-desc-popup .basic-list__result .el__menu > p { display: inline-block; padding-inline: 12px; } 
.menu-desc-popup .basic-list__result .el__info { flex: auto; padding-inline: 12px; } 
.menu-desc-popup .list-body .list-row { text-align: left; } 
.menu-desc-popup .list-body .el__info .txt-p6 span { display: block; position: relative; padding-left: 10px; } 
.menu-desc-popup .list-body .el__info .txt-p6 span::before { content: "-"; position: absolute; left: 0; top: 0px; } 

@media only screen and (max-width:800px) {
    .permission-setting .list-menu .list__item-box .list__menu { display:none; }
    .permission-setting .list-menu .list__item-box .list__item-inner li { border-left:0; }    
}


@media only screen and (min-width:769px) and (max-width:1440px){
.permission-setting{max-width:80vw;padding:3.333vw 1.667vw 5.556vw 3.889vw}
.permission-setting .solting-field-box{min-width:25vw}
.permission-setting .solting-field-box .combo-box.box-type{width:25vw}
.permission-setting .permission-setting__tit{line-height:3.958vw;padding-bottom:2.222vw}
.permission-setting>.field-box{margin-bottom:1.667vw}
.permission-setting .role-box{border-radius:1.389vw;padding:1.667vw}
.permission-setting .add-wrap{padding-bottom:1.111vw}
.permission-setting .add-btn{margin-left:1.111vw}
.permission-setting .role-list{font-size:1.111vw;line-height:1.667vw}
.permission-setting .role-list .list__top, .permission-setting .role-list .list__top span {height:3.889vw;padding:1.111vw 0;font-size:1.11vw;}
.permission-setting .role-list .user-id{padding:.972vw 0 1.111vw}
.permission-setting .list-menu .user-id{padding:0 .278vw}
.permission-setting .list-check .user-id span{max-width:8.056vw}
.permission-setting .list-menu{width:22.5vw}
/* .permission-setting .list-menu li{height:3.889vw} */
.permission-setting .list-menu li span{padding-left:.833vw;padding-left:.833vw}
.permission-setting .list-menu ul li{padding:0 .833vw}
.permission-setting .list-menu .menu-row3{height:11.667vw}
.permission-setting .list-menu .menu-row2{height:7.778vw}
.permission-setting .menu-delete{padding:1.111vw 0 1.111vw .833vw;height:3.889vw}
.permission-setting .list-check{width:calc(100% - 22.5vw);padding-bottom:.139vw}
.permission-setting .role-list .list-check__role{width:11.111vw}
.permission-setting .list__item{height:3.889vw;padding:1.042vw 3.889vw}
.permission-setting .list-check .list__top{min-width:9.444vw;padding:.486vw .833vw}
.permission-setting .list-check .user-id .btn-icon{width:1.111vw;height:1.111vw;margin-left:.278vw;padding:.625vw 0}
.permission-setting .list-check .combo-box{width:9.444vw}
.permission-setting .role-btn-wrap{margin-top:1.667vw}
.permission-setting .role-btn-wrap .btn-block + .btn-block{margin-left:1.111vw}
.permission-setting .new-popup-inner{padding-top:1.667vw}
.permission-setting .new-popup-inner .field-box{margin-bottom:1.667vw;width:29.722vw}
.permission-setting .new-popup-inner .txt-label{line-height:2.5vw;margin-bottom:1.111vw}
.permission-setting .table-head .menu{width:calc(100% - 11.111vw);padding:1.111vw 0}
.permission-setting .table-head .permission{width:11.111vw;padding:1.111vw 0}
.permission-setting .table-list__item .list__menu{width:13.611vw;height:3.889vw;padding:1.111vw 0 1.111vw .833vw;font-size:1.111vw}
.permission-setting .table-list__item .list__menu-detail{width:calc(100% - 22.222vw);height:3.889vw;padding:1.111vw 0 1.111vw .833vw;font-size:1.111vw}
.permission-setting .table-list__item .list__check{width:11.111vw;height:3.889vw;padding:1.111vw 0 1.111vw .833vw}
.permission-setting .table-list__item .multiple-wrap{width:calc(100% - 11.111vw)}
.permission-setting .txt-error-wrap{margin-top:.556vw}
.permission-setting .tooltip-wrap{margin-top:.556vw}
.permission-setting .new-popup-inner .tooltip-wrap{margin-top:1.111vw}
.permission-setting .tooltip .tooltip__contents .tooltip__contents-inner{max-width:50.972vw;padding:1.667vw .556vw .556vw}
.permission-setting .tooltip th{height:2.778vw;font-size:.972vw;line-height:1.458vw}
.permission-setting .tooltip td{height:2.778vw;padding:0 .833vw;font-size:.972vw;line-height:1.458vw}
.permission-setting .list__item img{width:1.667vw;height:1.667vw}
.new-role-popup .popup__header p{padding-bottom:1.667vw}
.permission-setting .list-menu .list__item-box .list__menu { font-size:1.11vw; }
.permission-setting .list-menu .list__item-box .list__item-inner li span { font-size:1.11vw; }

}
@media only screen and (max-width:768px){
.permission-setting{background-color:#fff;padding:0 !important;padding-bottom:56px}
.permission-setting .permission-setting__tit{padding:32px 24px 24px;font-size:24px !important;line-height:36px}
.permission-setting .solting-field-box{min-width:unset;background-color:#f7f7f7;padding:24px;width:100%;margin-bottom:0}
.permission-setting .solting-field-box .combo-box.box-type{width:100%}
.permission-setting .list-menu{width:139px}
.permission-setting .role-list .list__top{height:48px;padding:0;align-items:center;font-size:12px;line-height:18px;min-width:unset;padding:7px 4px}
.permission-setting .list-check__role.default .list__top,.permission-setting .list-check__role.sub-admin .list__top{padding:15px 0}
.permission-setting .list-check .input-box__input{height:32px}
.permission-setting .list-menu li span,.permission-setting .list-menu ul li{font-size:12px;line-height:16px;width:100%;padding-left:0}
.permission-setting .list-menu ul li,.permission-setting .list-menu li{height:40px;padding:0 12px}
.permission-setting .list-menu ul li{width:100%;word-break:break-word;padding:0 4px;justify-content:center}
.permission-setting .list-menu .menu-row3{padding:0;height:120px}
.permission-setting .list-menu .menu-row3 span:first-of-type{padding:0 10px 0 11px;width:50%}
.permission-setting .list-menu .user-id{background-color:#fff}
.permission-setting .list-check .combo-box{width:101px}
.permission-setting .list-check{width:calc(100% - 139px)}
.permission-setting .list__item{ padding:8px 0}
.permission-setting .list-check .user-id span{font-size:12px !important;max-width:81px}
.permission-setting .list__top .combo-box.box-type .combo-box__txt{height:32px;width:101px;padding:4px 6.5px;font-size:12px !important}
.permission-setting .tooltip-wrap{margin-top:16px}
.permission-setting .tooltip-wrap p{font-size:14px !important}
.permission-setting .role-btn-wrap{margin-left:unset;width:100%;display:flex;margin-top:32px}
.permission-setting .role-btn-wrap .btn-block{width:100%}
.permission-setting .role-btn-wrap .btn-block + .btn-block{margin-left:8px}
.alert-wrap .alert-wrap__inner .alert__header p{font-size:18px !important;line-height:27px}
.permission-setting .tooltip .tooltip__contents{width:312px}
.permission-setting .tooltip .basic-table col:first-of-type{width:71px !important}
.permission-setting .tooltip .basic-table col:nth-of-type(2){width:74px !important}
.permission-setting .tooltip .basic-table col:nth-of-type(3){width:151px !important}
.permission-setting .tooltip th{font-size:12px;height:34px}
.permission-setting .tooltip td{font-size:12px;padding:0 11px}
.permission-setting .combo-box .combo-box__menu-list>li{font-size:14px !important;padding:10px 12px}
.permission-setting .list__top .combo-box .combo-box__menu-list>li{font-size:12px !important;padding:4px 8px;line-height:24px}
.permission-setting .list__top .combo-box.box-type .combo-box__txt::after{width:12px}
.new-role-popup{padding:0}
.new-role-popup .popup-wrap__inner{padding:0;height:100%;border-radius:unset}
.new-role-popup .popup-wrap__inner .popup__header{padding:16px 24px 13px;height:56px;box-shadow:0 4px 4px 0 rgba(0,0,0,0.08)}
.new-role-popup .popup-wrap__inner .popup__header .txt-h4{border-bottom:0}
.new-role-popup .popup-wrap__inner .popup__container{padding:24px}
.new-role-popup .new-popup-inner{padding-top:unset}
.new-role-popup .new-popup-inner .field-box{width:100%}
.new-role-popup .txt-error{line-height:12px;margin-top:8px}
.new-role-popup .txt-error span.mo-display{display:block;margin-bottom:8px}
.new-role-popup .new-popup-inner .txt-label{line-height:24px;margin-bottom:8px}
.new-role-popup .table-head{height:40px}
.new-role-popup .table-head .menu,.new-role-popup .table-head .permission{width:calc(100% - 151px);padding:11px 0;font-size:12px !important;line-height:18px;word-break:break-word;align-content:center;padding:0}
.new-role-popup .table-head .permission{width:151px}
.new-role-popup .table-list__item .list__menu,.new-role-popup .table-list__item .list__check{width:calc(100% - 151px);height:40px;padding:11px 12px;font-size:12px;line-height:18px}
.new-role-popup .table-list__item .list__check{width:151px;padding:8px 12px}
.new-role-popup .table-list__item.multiple{justify-content:unset}
.new-role-popup .table-list__item.multiple .list__menu{width:25.32%;height:100%}
.new-role-popup .table-list__item .multiple-wrap{width:calc(100% - 79px)}
.new-role-popup .multiple-list{justify-content:unset}
.new-role-popup .table-list__item .list__menu-detail{width:calc(100% - 151px);font-size:12px !important;padding:11px 12px;height:40px}
.new-role-popup .table-list__item.multiple .list__check{width:151px}
.new-role-popup .new-popup-inner .txt-error-wrap .txt-error{line-height:18px}
.new-role-popup .popup-wrap__inner .popup__footer{border-top:1px solid #ccc}
}
.permission-setting{padding:24px 24px 80px 32px}