<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
    <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
    <!-- End Google Tag Manager -->

</head>
<body>

    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --> 

    <div style="height:2000px">
        <!-- scroll 확인용. 내려 보면 퀵메뉴, 탑버튼 있음. -->
    </div>

    <div class="quick-menu">
        <!-- 24-05-28 아이콘 이미지 img 태그로 변경 -->
        <a role="button" class="btn-icon quick-btn" href="#" target="_blank">
            <span class="txt-blind">go to quick menu</span>
            <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-quick-menu.svg" alt="go to quick menu">
        </a>
        <button type="button" class="btn-icon" id="gotop-btn">
            <span class="txt-blind">Go to top</span>
        </button>
    </div>

<!-- common.js -->
<script src="/pub-only/js/main-lib.js"></script>
<script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
<script src="clientlibs/js/main.js"></script>    
</body>
</html>