<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog List</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- component -->
  <!-- 2025-02-20 태그 변경 section ==> div -->
  <div class="blog-list">
    <!-- S: Recommended -->
    <!-- 2025-02-20 class 변경 blog-list-recomm__wrap ==> blog-list__recomm -->
    <section class="blog-list__recomm">
      <h2 class="section-tit txt-h4">Recommended</h2>
      <!-- class 변경 blog-list-recomm__swiper ==> blog-item-list -->
      <div class="swiper blog-item-list">
        <div class="swiper-wrapper">
          <!-- slide1 -->
          <div class="swiper-slide">
            <!-- class 변경 recomm-cont__wrap ==> list-el -->
            <article class="list-el">
              <!-- class 변경 recomm-cont__img ==> el-img -->
              <div class="el-img">
                <img src="/pub-only/images/blog-list-sample01.png" alt="swiper sample image" />
              </div>
              <!-- class 변경 recomm-cont__txt-box ==> el-txt -->
              <div class="el-txt">
                <span class="tag-flag">Climate crisis</span>
                <div class="date-view-box">
                  <!-- 2025-02-20 class 변경 date/view txt-p5 ==> txt-line-break-->
                  <span class="txt-line-break">YYYY-MM-DD</span>
                  <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
                </div>
                <!-- 2025-02-20 태그 변경 strong ==> p -->
                <p class="title txt-h4 txt-ellipsis3">Samsung and Google Cloud Join Google Cloud Join Google Cloud Join Forces to Bring GenerativeBring GenerativeBring Generative​</p>
                <p class="sub-tit txt-p5 txt-ellipsis2">Samsung outlines strategy for using AI technology to make the connected device experience safer, more inclusive, and more energy-efficientand more energy-efficientand more
                  energy-efficient</p>
                <button type="button" class="btn-block md">
                  <span class="btn-block__txt">Learn more</span>
                </button>
              </div>
            </article>
          </div>
          <!-- slide2 -->
          <div class="swiper-slide">
            <article class="list-el">
              <div class="el-img">
                <img src="/pub-only/images/blog-list-sample01.png" alt="swiper sample image" />
              </div>
              <div class="el-txt">
                <span class="tag-flag">All</span>
                <div class="date-view-box">
                  <span class="txt-line-break">YYYY-MM-DD</span>
                  <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
                </div>
                <p class="title txt-h4 txt-ellipsis3">Samsung and Google Cloud Join Google Cloud Join Google Cloud Join Forces to Bring Generative​</p>
                <p class="sub-tit txt-p5 txt-ellipsis2">Samsung outlines strategy for using AI technology to make the connected device experience safer, more inclusive, and more energy-efficient</p>
                <button type="button" class="btn-block md">
                  <span class="btn-block__txt">Learn more</span>
                </button>
              </div>
            </article>
          </div>
          <!-- slide3 -->
          <div class="swiper-slide">
            <article>Slide3</article>
          </div>
          <!-- slide4 -->
          <div class="swiper-slide">
            <article>Slide4</article>
          </div>
          <!-- slide5 -->
          <div class="swiper-slide">
            <article>Slide5</article>
          </div>
        </div>
        <div class="swiper-pagination-wrap">
          <div class="swiper-pagination">
            <span class="txt-blind">prev</span> / <span class="txt-blind">next</span>
          </div>
        </div>
        <div class="swiper-button-prev">
          <span class="txt-blind">prev</span>
        </div>
        <div class="swiper-button-next">
          <span class="txt-blind">next</span>
        </div>
      </div>
    </section>
    <!-- E: Recommended -->

    <!-- S: Popular -->
    <!-- 2025-02-20 class 변경 blog-list-popular__wrap ==> blog-list__popular -->
    <section class="blog-list__popular">
      <h2 class="section-tit txt-h4">Popular</h2>
      <!-- class 변경 popular-list__wrap ==> blog-item-list / 태그 변경 div ==> ul-->
      <ul class="blog-item-list">
        <!-- class 변경 popular-list__el ==> list-el / 태그 변경 article ==> li-->
        <li class="list-el">
          <!-- class 변경 popular-list__img ==> el-img -->
          <div class="el-img">
            <img src="/pub-only/images/blog-list-sample02.png" alt="swiper sample image" />
          </div>
          <!-- class 변경 popular-list__txt-box ==> el-txt -->
          <div class="el-txt">
            <span class="tag-flag">HVAC</span>
            <div class="date-view-box">
              <!-- 2025-02-20 class 변경 date/view txt-p5 ==> txt-line-break-->
              <span class="txt-line-break">YYYY-MM-DD</span>
              <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
            </div>
            <!-- 2025-02-20 태그 변경 strong ==> p -->
            <p class="title txt-h7 txt-ellipsis2">Samsung and Google Cloud Join Forces to Bring Generative AI Generative AI Generative AI Generative AI Generative AI Generative AI</p>
            <p class="sub-tit txt-p5 txt-ellipsis3">Google’s Gemini Pro and Imagen 2 to deploy in producing new text, voice, and image features on the new Samsung Galaxy S24 series voice, and image features on the new and image features
              on the new and image features on the new and image features on the new and image features on the new and image features on the new</p>
            <button type="button" class="btn-block md">
              <span class="btn-block__txt">Learn more</span>
            </button>
          </div>
        </li>
        <!-- list2 -->
        <li class="list-el">
          <div class="el-img">
            <img src="/pub-only/images/blog-list-sample03.png" alt="swiper sample image" />
          </div>
          <div class="el-txt">
            <span class="tag-flag">Market Trend</span>
            <div class="date-view-box">
              <span class="txt-line-break">YYYY-MM-DD</span>
              <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
            </div>
            <p class="title txt-h7 txt-ellipsis2">Samsung and Google Cloud Join Forces to Bring Generative AI Generative AI Generative AI Generative AI Generative AI Generative AI</p>
            <p class="sub-tit txt-p5 txt-ellipsis3">Google’s Gemini Pro and Imagen 2 to deploy in producing new text, voice, and image features on the new Samsung Galaxy S24 series voice, and image features on the new and image features
              on the new and image features on the new and image features on the new and image features on the new and image features on the new</p>
            <button type="button" class="btn-block md">
              <span class="btn-block__txt">Learn more</span>
            </button>
          </div>
        </li>
        <!-- list3 -->
        <li class="list-el">
          <div class="el-img">
            <img src="/pub-only/images/blog-list-sample04.png" alt="swiper sample image" />
          </div>
          <div class="el-txt">
            <span class="tag-flag">SAMSUNG HVAX News</span>
            <div class="date-view-box">
              <span class="txt-line-break">YYYY-MM-DD</span>
              <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
            </div>
            <p class="title txt-h7 txt-ellipsis2">Samsung and Google Cloud Join Forces to Bring Generative AI Generative AI Generative AI Generative AI Generative AI Generative AI</p>
            <p class="sub-tit txt-p5 txt-ellipsis3">Google’s Gemini Pro and Imagen 2 to deploy in producing new text, voice, and image features on the new Samsung Galaxy S24 series voice, and image features on the new and image features
              on the new and image features on the new and image features on the new and image features on the new and image features on the new</p>
            <button type="button" class="btn-block md">
              <span class="btn-block__txt">Learn more</span>
            </button>
          </div>
        </li>
      </ul>
    </section>
    <!-- E: Popular -->

    <!-- S: Latest -->
    <!-- 2025-02-20 class 변경 blog-list-latest__wrap ==> blog-list__latest -->
    <section class="blog-list__latest">
      <h2 class="section-tit txt-h4">Latest</h2>
      <article class="latest-cont__wrap">
        <!-- select box -->
        <div class="field-box category">
          <label class="txt-label txt-blind">category</label>
          <div class="combo-box">
            <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="combo-box__menu" aria-expanded="false">All</button>
            <div class="combo-box__menu" role="menu" aria-labelledby="combo-box__txt">
              <ul class="combo-box__menu-list">
                <li role="menuitem">All</li>
                <li role="menuitem">Climate crisis</li>
                <li role="menuitem">HVAC</li>
                <li role="menuitem">Market Trend</li>
                <li role="menuitem">SAMSUNG HVAC News</li>
                <li role="menuitem">Editor’s pick</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- blog list -->
        <!-- 2025-02-20 class 변경 latest-list-result__wrap ==> latest-list-result -->
        <div class="latest-list-result">
          <p class="txt-fw-b txt-p5"><span class="txt-point1">16</span> Results</p>
          <!-- 2025-02-20 class 변경 latest-list__wrap  ==> latest-list  -->
          <div class="latest-list">
            <!-- class 변경 list-data ==> blog-item-list -->
            <ul class="blog-item-list">
              <!-- class 변경 list__el ==>list-el -->
              <li class="list-el">
                <!-- class 변경 list-el__img ==> el-img -->
                <div class="el-img">
                  <img src="/pub-only/images/blog-list-sample05.png" alt="sample image" />
                </div>
                <!-- class 변경 list-el__txt-box ==> el-txt -->
                <div class="el-txt">
                  <span class="tag-flag">Editor's pick</span>
                  <div class="date-view-box">
                    <!-- 2025-02-20 class 변경 date/view txt-p5 ==> txt-line-break-->
                    <span class="txt-line-break">YYYY-MM-DD</span>
                    <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
                  </div>
                  <!-- 2025-02-20 class 삭제 txt-fw-b / 태그 변경 strong ==> p-->
                  <p class="title txt-h7 txt-ellipsis">Samsung and Google Cloud Join Forces to Bring Generative AI Generative AI Generative AI Generative AI Generative AI Generative AI</p>
                  <p class="sub-tit txt-p5 txt-ellipsis2">Google’s Gemini Pro and Imagen 2 to deploy in producing new text, voice, and image features on the new Samsung Galaxy S24 series voice, and image features on the new and image
                    features on the new and image features on the new and image features on the new and image features on the new and image features on the new</p>
                </div>
                <!-- class 변경 list-el__btn ==> el-btn -->
                <div class="el-btn">
                  <button type="button" class="btn-block md">
                    <span class="btn-block__txt">Learn more</span>
                  </button>
                </div>
              </li>
              <li class="list-el">
                <div class="el-img">
                  <img src="/pub-only/images/blog-list-sample05.png" alt="sample image" />
                </div>
                <div class="el-txt">
                  <span class="tag-flag">Climate crisis</span>
                  <div class="date-view-box">
                    <span class="txt-line-break">YYYY-MM-DD</span>
                    <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
                  </div>
                  <p class="title txt-h7 txt-ellipsis">Samsung and Google Cloud Join Forces to Bring Generative AI Generative AI Generative AI Generative AI Generative AI Generative AI</p>
                  <p class="sub-tit txt-p5 txt-ellipsis2">Google’s Gemini Pro and Imagen 2 to deploy in producing new text, voice, and image features on the new Samsung Galaxy S24 series voice, and image features on the new and image
                    features on the new and image features on the new and image features on the new and image features on the new and image features on the new</p>
                </div>
                <div class="el-btn">
                  <button type="button" class="btn-block md">
                    <span class="btn-block__txt">Learn more</span>
                  </button>
                </div>
              </li>
              <li class="list-el">
                <div class="el-img">
                  <img src="/pub-only/images/blog-list-sample05.png" alt="sample image" />
                </div>
                <div class="el-txt">
                  <span class="tag-flag">All</span>
                  <div class="date-view-box">
                    <span class="txt-line-break">YYYY-MM-DD</span>
                    <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
                  </div>
                  <p class="title txt-h7 txt-fw-b txt-ellipsis">Samsung and Google Cloud Join Forces to Bring Generative AI Generative AI Generative AI Generative AI Generative AI Generative AI</p>
                  <p class="sub-tit txt-p5 txt-ellipsis2">Google’s Gemini Pro and Imagen 2 to deploy in producing new text, voice, and image features on the new Samsung Galaxy S24 series voice, and image features on the new and image
                    features on the new and image features on the new and image features on the new and image features on the new and image features on the new</p>
                </div>
                <div class="el-btn">
                  <button type="button" class="btn-block md">
                    <span class="btn-block__txt">Learn more</span>
                  </button>
                </div>
              </li>
              <li class="list-el">
                <div class="el-img">
                  <img src="/pub-only/images/blog-list-sample05.png" alt="sample image" />
                </div>
                <div class="el-txt">
                  <span class="tag-flag">Climate crisis</span>
                  <div class="date-view-box">
                    <span class="txt-line-break">YYYY-MM-DD</span>
                    <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
                  </div>
                  <p class="title txt-h7 txt-ellipsis">Samsung and Google Cloud Join Forces to Bring Generative AI Generative AI Generative AI Generative AI Generative AI Generative AI</p>
                  <p class="sub-tit txt-p5 txt-ellipsis2">Google’s Gemini Pro and Imagen 2 to deploy in producing new text, voice, and image features on the new Samsung Galaxy S24 series voice, and image features on the new and image
                    features on the new and image features on the new and image features on the new and image features on the new and image features on the new</p>
                </div>
                <div class="el-btn">
                  <button type="button" class="btn-block md">
                    <span class="btn-block__txt">Learn more</span>
                  </button>
                </div>
              </li>
              <li class="list-el">
                <div class="el-img">
                  <img src="/pub-only/images/blog-list-sample05.png" alt="sample image" />
                </div>
                <div class="el-txt">
                  <span class="tag-flag">Climate crisis</span>
                  <div class="date-view-box">
                    <span class="txt-line-break">YYYY-MM-DD</span>
                    <span class="txt-line-break"><span class="num">1,111,111</span> View</span>
                  </div>
                  <p class="title txt-h7 txt-ellipsis">Samsung and Google Cloud Join Forces to Bring Generative AI Generative AI Generative AI Generative AI Generative AI Generative AI</p>
                  <p class="sub-tit txt-p5 txt-ellipsis2">Google’s Gemini Pro and Imagen 2 to deploy in producing new text, voice, and image features on the new Samsung Galaxy S24 series voice, and image features on the new and image
                    features on the new and image features on the new and image features on the new and image features on the new and image features on the new</p>
                </div>
                <div class="el-btn">
                  <button type="button" class="btn-block md">
                    <span class="btn-block__txt">Learn more</span>
                  </button>
                </div>
              </li>
            </ul>
            <!-- [F] 결과 없음 -->
            <div class="list-nodata">
              <p class="txt-p5">There is no registered content.</p>
            </div>
          </div>
          <!-- view more -->
          <!-- 2025-02-20 class 변경 latest-list-more__btn  ==> tal-center-->
          <div class="tal-center">
            <button type="button" class="btn-block md">
              <span class="btn-block__txt">View more</span>
              <i class="btn-block__icon icon-arrow-bottom"></i>
            </button>
          </div>
        </div>
      </article>
    </section>
    <!-- E: Latest -->
  </div>
  <!-- //component -->

  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>
</body>

</html>