.simulation-request-comment { max-width: 1440px; margin: 0 auto; padding: 0 24px; } 
.simulation-comment-form__wrap { padding-top: 24px; } 
.simulation-comment-form__wrap .form-top { text-align: right; padding-bottom: 8px; border-bottom: 2px solid #000; margin-bottom: 24px; } 
.simulation-comment-form__wrap .form-top > span { color: var(--secondary-color4); } 
.simulation-comment-form__wrap .prev-req-info-box { background-color: #f7f7f7; border-radius: var(--border-base); padding: 8px 24px; border: 1px solid #dadada; margin-bottom: 24px; } 
.simulation-comment-form__wrap .req-info__el { display: flex; min-height: 56px; align-items: center; gap: 32px; } 
.simulation-comment-form__wrap .req-info__el .list__el-tit { flex-basis: 168px; } 
.simulation-comment-form__wrap .req-info__el .list__el-cont { flex: 1; } 
.simulation-comment-form__wrap .form-box { padding-bottom: 24px; border-bottom: 1px solid #ebebeb; } 
.simulation-comment-form__wrap .field-box { display: flex; gap: 32px; margin-bottom: 24px; } 
.simulation-comment-form__wrap .field-box:last-child { margin-bottom: 0; } 
.simulation-comment-form__wrap .field-box label,
.simulation-comment-form__wrap .field-box .label__wrap { flex-basis: 240px; } 
.simulation-comment-form__wrap .field-box .box { flex: 1; } 
.simulation-comment-form__wrap .textarea { max-width: 1120px; resize: none; } 
.simulation-comment-form__wrap .maxlength__desc { margin-top: 4px; text-align: right; line-height: 14px; color: #a9a9a9; } 
.simulation-comment-form__wrap .field-box.issue .textarea.error { border-color: var(--secondary-color5); } 
.simulation-comment-form__wrap .attach-box { flex: 1; display: flex; } 
.simulation-comment-form__wrap .attach-box .attach-cont__wrap { flex: auto; } 
.simulation-comment-form__wrap .attach-box .btn-down-area { flex: none; margin-left: 16px; } 
.simulation-comment-form__wrap .attach-box .btn-down-area .btn-txt { margin: 0; } 

.simulation-comment-form__wrap .file-list__wrap { display: flex; flex-direction: column; gap: 8px; } 
.simulation-comment-form__wrap .file-name { display: inline-block; cursor: pointer; } 
/* .simulation-comment-form__wrap .file-name:hover { text-decoration: underline; font-weight: 700; } 240808 [HVCHB-1035] hover 효과 제거 */
 
.simulation-comment-form__wrap .file-name-btn { width: 16px; height: 16px; vertical-align: middle; background: center / contain no-repeat
 url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-search-delete.svg); margin-left: 4px; } 
.simulation-comment-form__wrap .upload-btn__box { display: flex; flex-direction: column; align-items: start; } 
.simulation-comment-form__wrap .upload-btn__box .btn-block { margin-bottom: 16px; cursor: pointer; } 
.simulation-comment-form__wrap .upload-btn__box label { flex-basis: auto; } 
.simulation-comment-form__wrap .upload-caution { display: flex; color: #555; gap: 3px; } 
.simulation-comment-form__wrap .upload-caution .icon { margin-top: -1px; } 
.simulation-request-comment .btn-box { margin-top: 24px; } 
.simulation-request-comment .btn-box button:not(:first-child) { margin-left: 16px; } 

/************************************************************************************** 
======================================= Tablet ======================================== 
***************************************************************************************/
@media only screen and (min-width: 769px) and (max-width: 1440px){
 .simulation-comment-form__wrap { padding-top: 1.667vw; } 
 .simulation-comment-form__wrap .prev-req-info-box { padding: 0.556vw 1.667vw; margin-bottom: 1.667vw; } 
 .simulation-comment-form__wrap .req-info__el { min-height: 3.889vw; gap: 2.222vw; } 
 .simulation-comment-form__wrap .req-info__el .list__el-tit { flex-basis: 11.667vw; } 
 .simulation-comment-form__wrap .form-box { padding-bottom: 1.667vw; } 
 .simulation-comment-form__wrap .field-box { gap: 2.222vw; margin-bottom: 1.667vw; } 
 .simulation-comment-form__wrap .field-box .txt-label, 
 .simulation-comment-form__wrap .field-box .label__wrap { flex-basis: 16.667vw; } 
 .simulation-comment-form__wrap .textarea { max-width: 77.778vw; } 
 .simulation-comment-form__wrap .maxlength__desc { margin-top: 0.278vw; line-height: 0.972vw; } 
 .simulation-comment-form__wrap .file-list__wrap { gap: 0.556vw; } 
 .simulation-comment-form__wrap .file-name-btn { width: 1.111vw; height: 1.111vw; margin-left: 0.278vw; } 
 .simulation-comment-form__wrap .upload-btn__box .btn-block { margin-bottom: 1.111vw; } 
 .simulation-comment-form__wrap .upload-caution { gap: 0.208vw; } 
 .simulation-request-comment .btn-box { margin-top: 1.667vw; } 
/* [E]Tablet */ } 
/************************************************************************************** 
======================================= Mobile ======================================== 
***************************************************************************************/
@media only screen and (max-width: 768px){
 .simulation-comment-form__wrap { border: none; padding-top: 0; } 
 .simulation-comment-form__wrap .prev-req-info-box { padding: 16px; } 
 .simulation-comment-form__wrap .req-info__el { display: block; margin-bottom: 16px; } 
 .simulation-comment-form__wrap .req-info__el:last-child { margin-bottom: 0; } 
 .simulation-comment-form__wrap .req-info__el .list__el-tit { margin-bottom: 8px; display: block; } 
 .simulation-comment-form__wrap .req-info__el .list__el-cont { font-size: 14px !important; font-weight: 400 !important; } 
 .simulation-comment-form__wrap .form-box { padding-bottom: 0; border: none; } 
 .simulation-comment-form__wrap .field-box { display: block; } 
 .simulation-comment-form__wrap .maxlength__desc { font-size: 12px !important; } 
 .simulation-comment-form__wrap .attach-box { flex-direction: column-reverse; } 
 .simulation-comment-form__wrap .attach-box .attach-cont__wrap { width: 100%; } 
 .simulation-comment-form__wrap .attach-box .btn-down-area { width: 100%; text-align: right; margin-left: 0; margin-bottom: 8px; } 
 .simulation-comment-form__wrap .file-list__wrap { display: block; } 
 .simulation-comment-form__wrap .file-name:hover { text-decoration: none; font-weight: 400; } 
 .simulation-comment-form__wrap .file-list__el:not(:last-child),
 .simulation-comment-form__wrap .upload-btn__box .btn-block { margin-bottom: 8px; } 
 .simulation-comment-form__wrap .upload-btn__box .btn-block.btn-down { display: none; } 
 .simulation-request-comment .btn-box .btn-block { width: calc(50% - 8px); } 
/* [E]Mobile */ } 