.my-favorite-sect { max-width: 1152px; width: 100%; background: #f7f7f7; padding: 32px 24px 80px 32px; } 

.fav-tit-area { margin-bottom: 8px; padding-bottom:0; } 
.fav-tit-area .txt-h3  { font-size:32px !important;line-height:48px; }

.fav-tab-wrap .tab-wrap__contents { padding-top: 24px; } 

.fav-field-box { display: flex; column-gap: 8px; margin-bottom: 16px; } 
.fav-field-box > .btn-block { margin-left: 8px; } 
.fav-field-box .combo-box.w-190 { width: 240px; } 
.fav-field-box .icon-mo-folded { display: none; } 
.fav-result-wrap .result__num-btn .result__num { display: flex; align-items: center; column-gap: 16px; padding-top: 16px; } 
.fav-result-wrap
 .result__num-btn
 .result__num
 .btn-checkbox
 .btn-checkbox__txt { font-size: 14px; } 
.fav-result__btn { text-align: center; padding: 24px 0 16px; margin-top: 28px; } 
.fav-result__btn { padding-bottom:0; margin-top:0; }
.my-favorite-sect .my-result__wrap { padding:16px 24px; }

/* tab. product */
.fav-result-wrap .fav-pdp-result { display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px; padding: 24px 0; border-bottom: 1px solid #aaaaaa; } 
.fav-result-wrap .fav-pdp-result .pdp-product-list { position: relative; overflow: hidden; width: auto; border: 1px solid #dadada;  padding:16px 24px; box-sizing: border-box;} 
.fav-result-wrap .fav-pdp-result .pdp-product-list .pdp-product__tit .pdp-tit { margin-top: 24px; } 
.fav-result-wrap .fav-pdp-result .pdp-product-list .fav-pdp-list__check { position: absolute; top: 16px; left: 24px; } 
.fav-result-wrap .fav-pdp-result .pdp-product-list .swiper.unit-swiper { margin-top:8px; }
.fav-result-wrap .fav-pdp-result .pdp-product-list .link-area > .btn-txt-underline + .energy-tag-area { margin-top:4px; padding-top:0; }
.fav-result-wrap .fav-pdp-result .pdp-product-list .link-area { height: 52px; } 
.fav-result-wrap .fav-pdp-result .pdp-product-list > .tal-center { min-height:27px; margin-top:8px; }

/* tab. library/other */
.fav-result-wrap .result-list__wrap .fav-col-check,
.fav-result-wrap .result-list__wrap .fav-col-btn,
.fav-result-wrap .result-list__wrap .fav-col-type,
.fav-result-wrap .result-list__wrap .fav-col-date,
.fav-result-wrap .result-list__wrap .fav-col-menu,
.fav-result-wrap .result-list__wrap .fav-col-ctg { flex: none; } 
.fav-result-wrap .result-list__wrap .fav-col-title { flex: auto; } 

.fav-result-wrap .result-list__wrap .list__head { text-align: center; } 
.fav-result-wrap .result-list__wrap .list__head .fav-col-check { flex-basis: 72px; } 
.fav-result-wrap .result-list__wrap .list__head .fav-col-btn { flex-basis: 141px; } 

.fav-result-wrap .result-list__wrap .list-data .list__el { min-height: 80px; padding: 8px 24px; margin-top: 16px; border: 1px solid #dadada; border-radius: var(--border-base); } 
.fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-check,
.fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-title,
.fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-btn,
.fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-type,
.fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-menu,
.fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-ctg { padding: 0 12px; } 

.fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-check { flex-basis: 48px; padding:0 12px 0 0; text-align: left; } 
.fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-btn { padding-left:24px;padding-right:0; flex-basis: 117px;} 
.fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-title { overflow: hidden; text-align: left; word-wrap: break-word; padding:8px 12px;} 
.fav-result-wrap
 .result-list__wrap
 .list-data
 .list__el
 .fav-col-title
 a:hover { text-decoration: underline; } 


/* tab. library */
.fav-result-wrap .result-list__wrap.fav-lib-result .fav-col-type { flex-basis: 180px; } 
.fav-result-wrap .result-list__wrap.fav-lib-result .fav-col-date { flex-basis: 105px; } 
.fav-result-wrap
 .result-list__wrap.fav-lib-result
 .list-data
 .list__el
 .fav-col-type { min-width: 195px; text-align: left; } 

 .fav-result-wrap .result-list__wrap.fav-lib-result .list-data .list__el .fav-col-type .txt-p5 {
    font-size:14px !important; color:#000 !important;
 }

/* tab. other */
.fav-result-wrap .result-list__wrap.fav-other-result .fav-col-menu { flex-basis: 120px; } 
.fav-result-wrap
 .result-list__wrap.fav-other-result
 .fav-col-title
 .txt-p5:hover { text-decoration: underline; } 
.fav-result-wrap .result-list__wrap.fav-other-result .fav-col-ctg { flex-basis: 130px; } 
.fav-result-wrap .result-list__wrap.fav-other-result .fav-col-date { flex-basis: 105px; } 
.fav-result-wrap
 .result-list__wrap.fav-other-result
 .list-data
 .list__el
 .fav-col-ctg,
.fav-result-wrap
 .result-list__wrap.fav-other-result
 .list-data
 .list__el
 .fav-col-menu { text-align: left; box-sizing:border-box; } 
.fav-result-wrap .result-list__wrap.fav-other-result .list-data .list__el .fav-col-menu { flex-basis: 120px; flex-shrink: 0;}
.fav-result-wrap .result-list__wrap.fav-other-result .list-data .list__el .fav-col-menu .txt-p5 { font-size:14px !important; }
.fav-result-wrap .result-list__wrap.fav-other-result .list-data .list__el .fav-col-ctg { flex-basis: 130px; flex-shrink: 0;}


/******* MOBILE *******/
@media only screen and (min-width: 769px) and (max-width: 1440px){
 .my-favorite-sect { padding: 1.667vw 1.667vw 5.556vw 2.222vw; } 

 .fav-tit-area { margin-bottom: 1.667vw; } 
 .fav-tab-wrap .tab-wrap__contents { padding-top: 2.222vw; } 

 .fav-field-box { column-gap: 0.556vw; margin-bottom: 1.667vw; } 
 .fav-field-box > .btn-block { margin-left: 0.556vw; } 
 .fav-field-box .combo-box.w-190 { width: 16.667vw; } 
 .fav-result-wrap .result__num-btn .result__num { column-gap: 1.111vw; padding-top: 1.111vw; } 
 .fav-result-wrap
 .result__num-btn
 .result__num
 .btn-checkbox
 .btn-checkbox__txt { font-size: 0.972vw; } 
 .fav-result__btn { padding: 1.667vw 0; margin-top: 1.667vw; } 

 /* tab. product */
 .fav-result-wrap .fav-pdp-result { gap: 1.111vw; padding: 1.667vw 0; } 
 .fav-result-wrap
 .fav-pdp-result
 .pdp-product-list
 .pdp-product__tit
 .pdp-tit { margin-top: 2.222vw; } 
 .fav-result-wrap .fav-pdp-result .pdp-product-list .fav-pdp-list__check { top: 1.667vw; left: 1.667vw; } 
 /* .fav-result-wrap .fav-pdp-result .pdp-product-list .link-area { height: 1.389vw; } */

 /* tab. library/other */
 .fav-result-wrap .result-list__wrap .list__head .fav-col-check { flex-basis: 5vw; } 
 .fav-result-wrap .result-list__wrap .list__head .fav-col-btn { flex-basis: 9.792vw; } 

 .fav-result-wrap .result-list__wrap .list-data .list__el { min-height: 5.556vw; padding: 0.556vw 1.667vw; margin-top: 1.111vw; } 
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-check,
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-title,
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-btn,
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-type,
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-menu,
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-ctg { padding: 0 0.833vw; } 
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-check { flex-basis: 3.333vw; } 
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-btn { flex-basis: 8.125vw; } 

 /* tab. library */
 .fav-result-wrap .result-list__wrap.fav-lib-result .fav-col-type { flex-basis: 11.528vw; } 
 .fav-result-wrap .result-list__wrap.fav-lib-result .fav-col-date { flex-basis: 7.292vw; } 

 /* tab. other */
 .fav-result-wrap .result-list__wrap.fav-other-result .fav-col-menu { flex-basis: 9.236vw; } 
 .fav-result-wrap .result-list__wrap.fav-other-result .fav-col-ctg { flex-basis: 10.486vw; } 
 .fav-result-wrap .result-list__wrap.fav-other-result .fav-col-date { flex-basis: 7.292vw; } 
 }
@media only screen and (max-width: 768px){
 .my-favorite-sect { background: #ffffff; padding-inline: 0; } 
 .fav-tit-area {padding-inline: 24px; margin-bottom: 8px;} 
 .fav-tit-area .txt-h3 { font-size: 24px !important; } 
 .fav-tab-wrap .tab-wrap__contents { padding-top: 0; } 

 .fav-field-box { flex-direction: column; gap: 12px; width: 100%; background: #f7f7f7; padding: 24px; margin-bottom: 0; } 
 .fav-field-box > .btn-block { margin-left: 0; } 
 .fav-field-box .combo-box,
 .fav-field-box .combo-box.w-190 { width: 100%; } 

 .fav-field-box:has(.icon-mo-folded) { position: relative; padding-bottom: 34px; margin-bottom: 10px; border-bottom: 1px solid #aaaaaa; } 
 .fav-field-box:has(.icon-mo-folded) > .field-box:not(:first-of-type) { display: none; } 
 .fav-field-box:has(.icon-mo-folded) .icon-mo-folded { display: block; position: absolute; left: calc(50% - 30px); bottom: -10px; width: 60px; height: 20px; background-image: url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-mo-folded.svg); } 
 .fav-field-box:has(.icon-mo-folded).mo-active > .field-box { display: block; } 
 .fav-field-box:has(.icon-mo-folded).mo-active .icon-mo-folded { background-image: url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-mo-folded-open.svg); } 

 .fav-result-wrap .result__num-btn { align-items: flex-end; } 
 .fav-result-wrap .result__num-btn .result__num { flex-direction: column-reverse; align-items: flex-start; gap: 8px; padding-top: 0; } 
 .fav-field-box:has(.icon-mo-folded)
 + .fav-result-wrap
 .result__num-btn
 > .btn-block { background: #ffffff; } 
 .fav-field-box:has(.icon-mo-folded)
 + .fav-result-wrap
 .result__num-btn
 > .btn-block
 .btn-block__txt { color: #000000; } 
 /* .fav-result__btn { padding: 0; }  */

 /* tab. product */
 .fav-result-wrap .fav-pdp-result { grid-template-columns: repeat(2, 1fr); gap: 8px; padding: 16px 0 0; border-bottom: 0; border-top: 2px solid #000000; } 
 .fav-result-wrap .fav-pdp-result .pdp-product-list { padding: 16px; }
 .fav-result-wrap .fav-pdp-result .pdp-product-list .fav-pdp-list__check { left: 16px; } 
 .fav-result-wrap .fav-pdp-result .pdp-product-list .img-box { width: auto; height: auto; max-width: 240px; }
 /* .fav-result-wrap .fav-pdp-result .pdp-product-list .link-area { height: 20px; } */

 /* tab. library/other */
 .fav-result-wrap:has(.fav-lib-result) .result__num-btn,
 .fav-result-wrap:has(.fav-other-result) .result__num-btn { display: block; text-align: right; margin-bottom: -24px; } 
 .fav-result-wrap
 .result-list__wrap.fav-lib-result
 .fav-pdp-list__check
 .btn-checkbox__txt,
 .fav-result-wrap
 .result-list__wrap.fav-other-result
 .fav-pdp-list__check
 .btn-checkbox__txt { font-size: 14px; } 

 .fav-result-wrap .result-list__wrap { border-top: 0; } 

 .fav-result-wrap .result-list__wrap .list__head { padding: 0 0 12px 0; border-top: 0; border-bottom: 2px solid #000000; } 
 .fav-result-wrap .result-list__wrap .list__head .fav-col-btn,
 .fav-result-wrap .result-list__wrap .list__head .fav-col-type,
 .fav-result-wrap .result-list__wrap .list__head .fav-col-date,
 .fav-result-wrap .result-list__wrap .list__head .fav-col-menu,
 .fav-result-wrap .result-list__wrap .list__head .fav-col-ctg,
 .fav-result-wrap .result-list__wrap .list__head .fav-col-title { display: none; } 
 .fav-result-wrap .result-list__wrap .list__head .fav-col-check { flex-basis: auto; } 

 .fav-result-wrap .result-list__wrap .list-data .list__el { position: relative; flex-wrap: wrap; align-items: flex-start; padding: 16px 16px 16px 48px; } 
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-check { position: absolute; left: 16px; top: calc(50% - 12px); width: 24px; padding: 0; } 
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-title,
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-btn,
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-type,
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-menu,
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-ctg { flex-basis: auto; width: 100%; text-align: left; padding: 0; } 
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-date { margin-block: 4px 6px; } 
 .fav-result-wrap
 .result-list__wrap
 .list-data
 .list__el
 .fav-col-date
 .txt-p5 { font-size: 12px !important; } 
 .fav-result-wrap
 .result-list__wrap
 .list-data
 .list__el
 .fav-col-btn
 .btn-block { height: 24px; } 
 .fav-result-wrap
 .result-list__wrap
 .list-data
 .list__el
 .fav-col-btn
 .btn-block
 .btn-block__txt { font-size: 11px; } 
 .fav-result-wrap .result-list__wrap .list-data .list__el .fav-col-title { margin-top: 4px; } 
 .fav-result-wrap
 .result-list__wrap
 .list-data
 .list__el
 .fav-col-title
 a:hover { text-decoration: none; } 

 /* tab. library */
 .fav-result-wrap
 .result-list__wrap.fav-lib-result
 .fav-col-title
 .txt-ellipsis { font-size: 14px !important; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; white-space: initial; margin-top: 4px; } 
 .fav-result-wrap
 .result-list__wrap.fav-lib-result
 .fav-col-title
 .txt-p5:not(.txt-ellipsis) { font-size: 12px !important; } 
 .fav-result-wrap .result-list__wrap.fav-lib-result .fav-col-date { flex-basis: auto; } 
 .fav-result-wrap .result-list__wrap.fav-lib-result .fav-col-type { flex-basis: auto; } 
 .fav-result-wrap .result-list__wrap.fav-lib-result .fav-col-type .txt-p5 { font-size: 12px !important; font-weight: 700; } 

 /* tab. other */
 .fav-result-wrap
 .result-list__wrap.fav-other-result
 .fav-col-title
 .txt-ellipsis3 { font-size: 14px !important; -webkit-line-clamp: 2; } 
 .fav-result-wrap
 .result-list__wrap.fav-other-result
 .fav-col-title
 .txt-p5:hover { text-decoration: none; } 
 .fav-result-wrap .result-list__wrap.fav-other-result .fav-col-date { flex-basis: auto; } 
 .fav-result-wrap .result-list__wrap.fav-other-result .fav-col-ctg { flex-basis: auto; margin-top: 4px; } 
 .fav-result-wrap .result-list__wrap.fav-other-result .fav-col-menu { flex-basis: auto; } 
 .fav-result-wrap .result-list__wrap.fav-other-result .fav-col-ctg .txt-p5 { font-size: 12px !important; } 
 .fav-result-wrap .result-list__wrap.fav-other-result .fav-col-menu .txt-p5 { font-size: 12px !important; font-weight: 700; } 

 /* [E]mobile */}
