/* ===================== Tablet ===================== */
@media only screen and (min-width: 769px) and (max-width: 1440px)  {

/* [E]Tablet */    
}
/* ===================== Mobile ===================== */
@media only screen and (max-width: 768px) { 

/* [E]Mobile */    
}