<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
   <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

   <!-- 2025-04-11 요청으로 삽입 //-->
   <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
   <!-- End Google Tag Manager -->
    
</head>

<body>

   <!-- 2025-04-11 요청으로 삽입 //-->
   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) --> 

   <!-- component -->
   <div class="web">
      <div class="page-header">
         <div class="installation-wrapper">
            <div class="installation">※ Installation</div>
         </div>
         <div class="safety-information-wrapper">
            <div class="installation">Safety Information</div>
         </div>
      </div>
      <div class="page-header1">
         <div class="installation">California Proposition 65 Warning (US)</div>
      </div>
      <div class="frame-parent">
         <div class="frame-group">
            <div class="page-header">
               <div class="text-data">
                  <img class="clip-path-group" alt="" src="clientlibs/resources/images/Clip path group.svg">

                  <div class="installation">WARNING</div>
               </div>
               <div class="important-this-product-has-b-parent">
                  <div class="important-this-container">
                     <p class="important-this">IMPORTANT – This product has been designed and manufactured to meet ENERGY STAR criteria for energy efficiency when matched with appropriate coil components.</p>
                     <p class="important-this">However, proper refrigerant charge and proper air flow are critical to achieve rated capacity and efficiency.</p>
                     <p class="important-this">Installation of this product should follow the manufacturer’s refrigerant charging and air flow instructions.</p>
                     <p class="important-this">Failure to confirm proper charge and airflow may reduce energy efficiency and shorten equipment life.</p>
                  </div>
                  <div class="installation">Cancer and Reproductive Harm - www.P65Warnings.ca.gov.</div>
               </div>
            </div>
            <div class="page-header">
               <div class="text-data">
                  <img class="clip-path-group" alt="" src="clientlibs/resources/images/Clip path group.svg">

                  <div class="installation">WARNING</div>
               </div>
               <div class="important-this-product-has-b-wrapper">
                  <div class="important-this1">• Hazards or unsafe practices that may result in severe personal injury or death.</div>
               </div>
            </div>
            <div class="page-header">
               <div class="text-data">
                  <img class="clip-path-group" alt="" src="clientlibs/resources/images/Clip path group.svg">

                  <div class="installation">CAUTION</div>
               </div>
               <div class="important-this-product-has-b-wrapper">
                  <div class="important-this-container">
                     <p class="hazards-or-unsafe">• Hazards or unsafe practices that may result in minor personal injury or property damage.</p>
                     <p class="hazards-or-unsafe">• Carefully follow the precautions listed below because they are essential to guarantee the safety of the equipment.</p>
                  </div>
               </div>
            </div>
            <div class="page-header">
               <div class="text-data">
                  <img class="clip-path-group" alt="" src="clientlibs/resources/images/Clip path group.svg">

                  <div class="installation">WARNING</div>
               </div>
               <div class="important-this-product-has-b-wrapper">
                  <div class="important-this-container">
                     <p class="hazards-or-unsafe">• Always disconnect the air conditioner from the power supply before servicing it or accessing its internal components.</p>
                     <p class="hazards-or-unsafe">• Verify that installation and testing operations are performed by qualified personnel.</p>
                     <p class="hazards-or-unsafe">• Verify that the air conditioner is not installed in an easily accessible area.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="frame-container">
            <div class="table-list-parent">
               <div class="table-list">
                  <div class="text">Symbol</div>
               </div>
               <div class="table-list">
                  <div class="text">Meaning</div>
               </div>
               <div class="table-list">
                  <div class="text">Symbol</div>
               </div>
               <div class="table-list">
                  <div class="text">Meaning</div>
               </div>
            </div>
            <div class="table-list-group">
               <div class="table-list4">
                  <div class="pic">
                     <img class="pic-1-icon" alt="" src="clientlibs/resources/images/Pic 1.svg">

                  </div>
               </div>
               <div class="table-list5">
                  <div class="text">Flammable gas</div>
               </div>
               <div class="table-list4">
                  <div class="pic1">
                     <img class="pic-2-icon" alt="" src="clientlibs/resources/images/Pic 2.svg">

                  </div>
               </div>
               <div class="table-list5">
                  <div class="text">Read installation manual</div>
               </div>
            </div>
            <div class="table-list-group">
               <div class="table-list4">
                  <div class="pic1">
                     <img class="pic-3-icon" alt="" src="clientlibs/resources/images/Pic 3.svg">

                  </div>
               </div>
               <div class="table-list5">
                  <div class="text">Flammable materials</div>
               </div>
               <div class="table-list4">
                  <div class="pic1">
                     <img class="pic-4-icon" alt="" src="clientlibs/resources/images/Pic 4.svg">

                  </div>
               </div>
               <div class="table-list5">
                  <div class="text">Flammable materials</div>
               </div>
            </div>
            <div class="table-list-group">
               <div class="table-list12">
                  <div class="text8">Symbol</div>
                  <div class="refrigerant-safety-group-a2l-wrapper">
                     <div class="installation">
                        <p class="important-this">Refrigerant</p>
                        <p class="important-this">Safety Group</p>
                        <p class="important-this">A2L</p>
                     </div>
                  </div>
               </div>
               <div class="table-list5">
                  <div class="text">Refrigerant safety group</div>
               </div>
               <div class="table-list4">
                  <div class="pic1">
                     <img class="pic-5-icon" alt="" src="clientlibs/resources/images/Pic 5.svg">

                  </div>
               </div>
               <div class="table-list5">
                  <div class="text">Read service manual</div>
               </div>
            </div>
         </div>
      </div>
      <div class="web-child">
      </div>
   </div>
   <!-- common.js -->
   <script src="/pub-only/js/main-lib.js"></script>
   <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
   <script src="clientlibs/js/main.js"></script>
</body>

</html>