
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>삭제</title>
    <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
    <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    
    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- component -->
    <section class="acc-balance-datail-sect">
        <div class="tit-area">
            <h1 class="txt-h3">Account Balance Details</h1>
            <!-- 2024-07-31 하단 버튼 위치 이동 -->
            <div class="btn-box">
                <button type="button" class="btn-block  md">
                    <span class="btn-block__txt">List</span>
                </button>
            </div>
        </div>
        <ul class="od-cm-info">
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">Invoice Number</p>
                <div class="item-dd">
                    <p class="txt-p5 txt-point2 txt-fw-b">760000067621</p>
                </div>
            </li>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">Invoice Date</p>
                <div class="item-dd">
                    <p class="txt-p5">2024-04-12</p>
                </li>
            </div>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">Document Type</p>
                <div class="item-dd">
                    <p class="txt-p5">[YN01] Vormal Billing</p>
                </li>
            </div>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">Net Total Price</p>
                <div class="item-dd">
                    <p class="txt-p5">1641.50</p>
                </div>
            </li>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">VAT Amount</p>
                <div class="item-dd">
                    <p class="txt-p5">328.80</p>
                </div>
            </li>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">Total</p>
                <div class="item-dd">
                    <p class="txt-p5">1969.80</p>
                </div>
            </li>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">Status</p>
                <div class="item-dd">
                    <span class="tag-flag st-open">Open</span>
                    <!-- <span class="tag-flag st-shipped">Shipped</span> 
                         <span class="tag-flag st-completed">Completed</span>
                         <span class="tag-flag st-prepared">Prepared</span> -->
                </div>
            </li>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">Sales Order Type</p>
                <div class="item-dd">
                    <p class="txt-p5">HVAC Hub</p>
                </div>
            </li>
            <!-- 2024-07-10 항목 삭제 -->
            <!-- <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">HVAC Order Type</p>
                <div class="item-dd">
                    <p class="txt-p5">Project</p>
                </div>
            </li> -->
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">PO Number</p>
                <div class="item-dd">
                    <p class="txt-p5">PQ123456789</p>
                </div>
            </li>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">SO Number</p>
                <div class="item-dd">
                    <p class="txt-p5">1001776220</p>
                </div>
            </li>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">DO Number</p>
                <div class="item-dd">
                    <p class="txt-p5">8000354221</p>
                </div>
            </li>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">Currency</p>
                <div class="item-dd">
                    <p class="txt-p5">GBP</p>
                </div>
            </li>
            <li class="od-cm-info__item col3">
                <p class="item-dt txt-p5">Dispute</p>
                <div class="item-dd">
                    <a role="button" class="btn-block" href="#">
                        <span class="btn-block__txt">Dispute</span>
                    </a>
                </div>
            </li>
            <li class="od-cm-info__item">
                <p class="item-dt txt-p5">Payer</p>
                <div class="item-dd">
                    <p class="txt-p5">Gildong / hong / aaaa@aaa.com / 02123456789 / Flat 1, 57 Buckingham Gate, London, SW1E 6AJ / 0002015709</p>
                </div>
            </li>
            <li class="od-cm-info__item">
                <p class="item-dt txt-p5">Payment Team</p>
                <div class="item-dd">
                    <p class="txt-p5">[UK32] Nett monthly (2% Disc)9</p>
                </div>
            </li>
        </ul>
        <div class="order-datail">
            <div class="tit-area">
                <h2 class="txt-h6">Project Detail</h2>
            </div>
            <div class="od-pjd-name">
                <p class="txt-p4 txt-fw-b">Samsung hvac Airconditional pro.</p>
            </div>
            <div class="od-pjd-list-box">
                <ul class="od-pjd-list">
                    <li class="pjd-list__item">
                        <div class="img-box">
                            <img src="/pub-only/images/img-prd-sample.png" alt="">
                        </div>
                        <div class="pjd-tit">
                            <p class="txt-p6"> <span class="txt-arrow">DVM</span><span class="txt-arrow">Indoor Unit</span> </p>
                            <p class="txt-h9"><a href="#">One Way Cassette Type Air Conditioner</a></p>
                            <!-- 2024-07-31 class 추가 : pjd-code -->
                            <p class="txt-p6 pjd-code">AM056NN1DEH/EU</p>
                            <!-- 2024-07-31 모바일 사용 -->
                            <p class="pjd-count mo-display">999</p>
                        </div>
                        <!-- 2024-07-31 PC 사용 class 추가 : pc-display -->
                        <p class="pjd-count txt-p6 pc-display">999</p>
                        <div class="pjd-stock">
                            <p class="txt-p4 txt-fw-b">1.808.499,12 TL</p>
                            <!-- 2024-08-16 stock 변경 -->
                            <span class="txt-p6 txt-stock green" aria-label="Stock available for over 20 days.">In Stock</span>
                            <div class="tooltip">
                                <button type="button" class="btn-icon tooltip__btn type-black"> <span class="txt-blind">tooltip view</span> </button>
                                <div class="tooltip__contents">
                                    <div class="tooltip__contents-inner">
                                        <button type="button" class="btn-icon tooltip-close__btn"> <span class="txt-blind">tooltip close</span> </button>
                                        <p class="cont">
                                            <!-- 툴팁 문구 -->
                                            <p class="txt-fw-b">'Stock' availability </p>
                                            <div class="sotck-box">
                                                <p class="txt-p7 txt-stock green">Stock available for over 20 days.</p>
                                                <p class="txt-p7 txt-stock yellow">Stock available for the next 10~20 days.</p>
                                                <p class="txt-p7 txt-stock red">The stock is expected to be depleted within 10 days</p>
                                            </div>
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="pjd-list__item">
                        <div class="img-box">
                            <img src="/pub-only/images/img-prd-sample.png" alt="">
                        </div>
                        <div class="pjd-tit">
                            <p class="txt-p6"> <span class="txt-arrow">DVM</span><span class="txt-arrow">Indoor Unit</span> </p>
                            <p class="txt-h9"><a href="#">One Way Cassette Type Air Conditioner</a></p>
                            <!-- 2024-07-31 class 추가 : pjd-code -->
                            <p class="txt-p6 pjd-code">AM056NN1DEH/EU</p>
                            <!-- 2024-07-31 모바일 사용 -->
                            <p class="pjd-count mo-display">999</p>
                        </div>
                        <!-- 2024-07-31 PC 사용 class 추가 : pc-display -->
                        <p class="pjd-count txt-p6 pc-display">999</p>
                        <div class="pjd-stock">
                            <p class="txt-p4 txt-fw-b">1.808.499,12 TL</p>
                            <!-- 2024-08-16 stock 변경 -->
                            <span class="txt-p6 txt-stock green" aria-label="Stock available for over 20 days.">In Stock</span>
                            <div class="tooltip">
                                <button type="button" class="btn-icon tooltip__btn type-black"> <span class="txt-blind">tooltip view</span> </button>
                                <div class="tooltip__contents">
                                    <div class="tooltip__contents-inner">
                                        <button type="button" class="btn-icon tooltip-close__btn"> <span class="txt-blind">tooltip close</span> </button>
                                        <p class="cont">
                                            <!-- 툴팁 문구 -->
                                            <p class="txt-fw-b">'Stock' availability </p>
                                            <div class="sotck-box">
                                                <p class="txt-p7 txt-stock green">Stock available for over 20 days.</p>
                                                <p class="txt-p7 txt-stock yellow">Stock available for the next 10~20 days.</p>
                                                <p class="txt-p7 txt-stock red">The stock is expected to be depleted within 10 days</p>
                                            </div>
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="od-pjd-total">
                    <div class="date">
                        <p class="txt-p5 txt-fw-b">Request Delivery Date<span class="txt-fw-r">2024-03-20</span> </p>
                        <p class="txt-p5 txt-fw-b">Confirmed Date<span class="txt-point2">2024-03-20</span> </p>
                    </div>
                    <p class="txt-p4">Total<span class="txt-p3 txt-fw-b">11.808.499,12 TL</span> </p>
                </div>
            </div>
        </div>
    </section>
    <!-- //component -->

<!-- common.js -->
<script src="/pub-only/js/main-lib.js"></script>
<script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>   
</body>
</html>