.no-tab-with-content { max-width: 1440px; margin: 0 auto; } 
.no-tab-with-content .tab-wrap__contents { padding: 0 24px; } 
.no-tab-with-content .intro-txt { background-color: #f2f2f2; text-align: center; border-radius: var(--border-base); padding: 24px 32px; word-wrap: break-word; } 
.no-tab-with-content .no-tab-with-content__swiper { margin-top: 56px; } 
.no-tab-with-content .no-tab-with-content__contwrap { display: flex; justify-content: center; gap: 40px; padding: 0 156px 94px; } 
.no-tab-with-content .no-tab-with-content__contwrap.img-right { flex-direction: row-reverse; } 
.no-tab-with-content .no-tab-with-content__img { flex-basis: 560px; max-width: 560px; overflow: hidden; } 
.no-tab-with-content .no-tab-with-content__img img { width: 100%; height: auto; } 
.no-tab-with-content .no-tab-with-content__cont { width: 50%; max-width: 480px; } 
.no-tab-with-content .no-tab-with-content__cont .title { display: block; margin-bottom: 16px; word-wrap: break-word; /* [HVCHB-1303] 수정 */}
.no-tab-with-content .no-tab-with-content__cont .desc { word-wrap: break-word; /* [HVCHB-1303] 수정 */}
.no-tab-with-content .swiper-button-prev,
.no-tab-with-content .swiper-button-next { width: 40px; height: 40px; top: calc(50% - 20px); } 
.no-tab-with-content .swiper-button-prev::after,
.no-tab-with-content .swiper-button-next::after { background-size: 100%; } 
.no-tab-with-content .swiper-button-prev { left: 0; } 
.no-tab-with-content .swiper-button-next { right: 0; } 
/* 240523 swiper button css 제거*/
.no-tab-with-content .swiper-pagination-wrap { height: 56px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%; z-index: 1; display: flex; align-items: center; justify-content: center; } 
.no-tab-with-content .swiper-pagination { position: unset; font-size: 0; width: fit-content !important; transform: none; } 
.no-tab-with-content .swiper-pagination-bullet { width: 160px; max-width: 160px; height: 2px; border-radius: 0; margin: 0 8px !important; opacity: 0.2; background: #000; } 
.no-tab-with-content .swiper-pagination .swiper-pagination-bullet:first-of-type { margin-left: 0 !important; } 
.no-tab-with-content .swiper-pagination-bullet-active { opacity: 1; } 
.no-tab-with-content .swiper-button-autoplay { width: 10px; height: 13px; background: center / contain no-repeat
 url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-pause-black.svg),
 100%; cursor: pointer; margin-left: 8px; } 
.no-tab-with-content .swiper-button-autoplay.stop { background: center / contain no-repeat
 url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-play-black.svg),
 100%; } 

/* ===================== Tablet ===================== */
@media only screen and (min-width: 769px) and (max-width: 1440px){
 .no-tab-with-content .tab-wrap__contents { padding: 0 1.667vw; } 
 .no-tab-with-content .intro-txt { padding: 1.667vw 2.222vw; } 
 .no-tab-with-content .no-tab-with-content__swiper { margin-top: 3.889vw; } 
 .no-tab-with-content .no-tab-with-content__contwrap { gap: 2.778vw; padding: 0 10.833vw 6.528vw; } 
 .no-tab-with-content .no-tab-with-content__img { flex-basis: 38.889vw; max-width: 38.889vw; } 
 .no-tab-with-content .no-tab-with-content__cont { max-width: 33.333vw; } 
 .no-tab-with-content .no-tab-with-content__cont .title { margin-bottom: 1.111vw; } 
 .no-tab-with-content .swiper-pagination-wrap { height: 3.889vw; } 
 .no-tab-with-content .swiper-pagination-bullet { width: 11.111vw; max-width: 11.111vw; height: 0.139vw; margin: 0 0.556vw !important; } 
 .no-tab-with-content .swiper-button-autoplay { width: 0.694vw; height: 0.903vw; margin-left: 0.556vw; } 
/* [E]Tablet */}
/* ===================== Mobile ===================== */
@media only screen and (max-width: 768px){
 .no-tab-with-content .tab-list { height: 40px; } 
 .no-tab-with-content .tab-list .tab-list__tab-txt { font-size: 14px !important; } 
 .no-tab-with-content .tab-list.type5 .tab-list__tab { padding-bottom: 0; } 
 .no-tab-with-content .intro-txt { padding: 16px; text-align: left; color: #1c1c1c; font-size: 12px !important; } 
 .no-tab-with-content .no-tab-with-content__swiper { margin-top: 24px; } 
 .no-tab-with-content .no-tab-with-content__contwrap { flex-direction: column; gap: 0; padding: 0; gap: 0; } 
 .no-tab-with-content .no-tab-with-content__contwrap.img-right { flex-direction: column; } 
 .no-tab-with-content .no-tab-with-content__img { flex-basis: auto; max-width: none; font-size: 0; } 
 .no-tab-with-content .no-tab-with-content__cont { width: 100%; max-width: none; padding: 24px; } 
 .no-tab-with-content .no-tab-with-content__cont .title { font-size: 22px !important; } 
 .no-tab-with-content .no-tab-with-content__cont .desc { font-size: 14px !important; } 
 .no-tab-with-content .swiper-button-prev,
 .no-tab-with-content .swiper-button-next { display: none; } 
 .no-tab-with-content .swiper-pagination-wrap { position: relative; width: fit-content; left: 50%; transform: translateX(-50%); } 
 .no-tab-with-content .swiper-pagination { margin-top: 24px; border: 1px solid #dadada; border-radius: 999px; padding: 8.5px 28px 8.5px 16px; width: fit-content; } 
 .no-tab-with-content .swiper-pagination-bullet { width: 8px; height: 8px; border-radius: 999px; margin: 0 6px !important; background-color: #8f8f8f; opacity: 1; } 
 .no-tab-with-content .swiper-pagination-bullet-active { background-color: #000 !important; } 
 .no-tab-with-content .swiper-button-autoplay { position: absolute; right: 12px; top: calc(50% + 12px); transform: translateY(-50%); z-index: 10; } 
/* [E]Mobile */ }
