.keyVisual { width: 100%; color: #fff; } 
.keyVisual .keyVisual__bg { position: relative; min-height: 560px; overflow: hidden;}
.keyVisual .keyVisual__dim { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; } 
.keyVisual .keyVisual__bg img { position: absolute; top:auto; bottom: 0; left:50%; transform: translateX(-50%); width:auto; height:auto !important;  max-width:none; max-height:none; }
.keyVisual .keyVisual__cont { width: 100%; max-width: 1440px; padding: 64px 64px 0; position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: 2; } 
.keyVisual .keyVisual__title { line-height: 57px; margin-bottom: 16px; padding: 0 24px; } 
.keyVisual .keyVisual__title .pc-txt { font-size: 38px; }
.keyVisual .keyVisual__desc { line-height: 24px; margin-bottom: 24px; padding: 0 24px; } 
.keyVisual .btn-box { padding: 0 24px; } 
.keyVisual .keyVisual__btn + .keyVisual__btn { margin-left: 20px; } 
.keyVisual .swiper-button-wrap { max-width: 1440px; margin: 0 auto; width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; } 
.keyVisual .swiper-button-prev { left: 24px; } 
.keyVisual .swiper-button-next { right: 24px; } 
.keyVisual .swiper-button-prev:after,
.keyVisual .swiper-button-next:after { background-size: 100%; } 
.keyVisual .swiper-pagination-wrap { position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); width: 100%; z-index: 1; display: flex; align-items: center; justify-content: center; height: 56px; } 
.keyVisual .swiper-pagination { position: unset; font-size: 0; width: fit-content !important; transform: none; } 
.keyVisual .swiper-pagination-bullet { width: 160px; max-width: 160px; height: 2px; border-radius: 0; margin: 0 8px !important; background-color: #fff; opacity: 0.4; } 
.keyVisual .swiper-pagination-bullet:first-of-type { margin-left: 0 !important; } 
.keyVisual .swiper-pagination-bullet-active { opacity: 1; } 
.keyVisual .swiper-button-autoplay { width: 10px; height: 13px; background:
 center / contain no-repeat
 url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-pause-white.svg),
 100%; cursor: pointer; margin-left: 8px; } 
.keyVisual .swiper-button-autoplay.stop { background: center / contain no-repeat
 url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-play-white.svg); } 

/* =============== media query =============== */
@media only screen and (min-width: 769px) and (max-width: 1440px){
 .keyVisual .keyVisual__bg { min-height: 44.444vw; } 
 .keyVisual .keyVisual__cont { max-width: 100vw; padding: 6.111vw 4.444vw 0; } 
 .keyVisual .keyVisual__title { line-height: 5vw; margin-bottom: 1.667vw; padding: 0 1.667vw; } 
 .keyVisual .keyVisual__desc { line-height: 1.667vw; margin-bottom: 2.778vw; padding: 0 1.667vw; } 
 .keyVisual .btn-box { padding: 0 1.667vw; } 
 .keyVisual .keyVisual__btn + .keyVisual__btn { margin-left: 1.389vw; } 
 .keyVisual .swiper-pagination-wrap { bottom: 2.778vw; height: 3.889vw; } 
 .keyVisual .swiper-pagination-bullet { width: 11.111vw; max-width: 11.111vw; margin: 0 0.556vw !important; } 
 .keyVisual .swiper-button-autoplay { width: 0.694vw; height: 0.903vw; margin-left: 0.556vw; } 
 .keyVisual .swiper-button-wrap { max-width: 100vw; } 
 .keyVisual .swiper-button-prev { left: 1.667vw; } 
 .keyVisual .swiper-button-next { right: 1.667vw; } 
 }

@media only screen and (max-width: 768px){
 .keyVisual .swiper-slide { width: 100% !important; } 
 .keyVisual .keyVisual__bg { min-height: 451px; } 
 .keyVisual .keyVisual__cont { padding: 48px 40px 106px; } 
 .keyVisual .keyVisual__title { font-size: 26px !important; line-height: 36px; margin-bottom: 16px; padding: 0; } 
 .keyVisual .keyVisual__title .mo-txt { font-size: 24px !important; }
 .keyVisual .keyVisual__desc { padding: 0; font-size: 14px !important; line-height: 21px; margin-bottom: 24px; } 
 .keyVisual .btn-box { padding: 0; } 
 .keyVisual .btn-box .keyVisual__btn { display: block; width: fit-content; } 
 .keyVisual .keyVisual__btn + .keyVisual__btn { margin-top: 18px; margin-left: 0; } 
 .keyVisual .keyVisual__btn .btn-block__txt { line-height: 38px; } 
 .keyVisual .swiper-button-prev,
 .keyVisual .swiper-button-next { display: none; } 
 .keyVisual .swiper-pagination-wrap { width: fit-content; height: 25px; bottom: 24px; background-color: rgb(0, 0, 0, 0.6); border: 1px solid #313131; border-radius: var(--border-base); padding: 6px 12px; } 
 .keyVisual .swiper-pagination-bullet { width: 8px; height: 8px; border-radius: 50%; border-radius: 999px; } 
 }
