<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Approval List</title>

  <link rel="stylesheet" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css" />
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css" />

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- component -->
  <section class="user-approval">
    <h2 class="address__title txt-h3">User Approval List​</h2>
    
    <!-- white-box start // -->
    <div class="white-box search-box">      
      <div class="sear-item-wrap">
        <h3 class="label__title">Request Date Range​</h3>
        <div class="sear-item-box">
          <div class="field-box col2"> 
            <label class="txt-label txt-blind" for="">Request Date</label>       
            <input type="text" id="datepickerform" class="input-datepicker" placeholder="YYYY-MM-DD">
            <span class="txt-p4">~</span>
            <input type="text" id="datepickerto" class="input-datepicker" placeholder="YYYY-MM-DD">
          </div>

          <div class="field-box col2">      
            <label class="txt-label txt-blind" for="">Request search</label>    
            <div class="input-search-box">
              <!-- focus가 되면 active -->
              <div class="input-search-box__inner">
                <div class="input-box input-search">
                  <input type="search" class="input-box__input" id="" placeholder="Type a description">
                  <button type="button" class="btn-icon icon-search-delete"><span
                      class="txt-blind">delete</span></button>
                </div>
                <div class="search-box__auto">
                  <ul class="search-box__auto-list">
                    <li class="autoitem"><span class="txt-point1">au</span>to text</li>
                    <li class="autoitem"><span class="txt-point1">au</span>to text</li>
                    <li class="autoitem"><span class="txt-point1">au</span>to text</li>
                  </ul>
                  <!-- <div class="search-box__no-list hidden"> 
                          <span class="txt-p6">There are no related products.</span>
                       </div> -->
                </div>
              </div>
              <button type="button" class="btn-block type2 md">
                <span class="btn-block__txt">Search</span>
              </button>
            </div>
          </div>
        </div>    
      </div>
    </div>
    <!-- // white-box end -->   

    <!-- white-box start // -->
    <div class="white-box check-list-area">
       <div class="flex-btw">
        <div class="left">
          <label class="btn-checkbox">
            <input type="checkbox" class="btn-checkbox__input" name="" value="">
            <span class="btn-checkbox__icon"></span>
            <span class="btn-checkbox__txt">Select All</span>
          </label>
        </div>
        <div class="right">
          <div class="btn-box">
            <button type="button" class="btn-block type2">
              <span class="btn-block__txt">Approve</span>
            </button>
            <button type="button" class="btn-block type2">
              <span class="btn-block__txt">Reject</span>
            </button>
          </div>
        </div>
       </div> 

        <div class="list-data-area chkbox-list-area">
          <ul class="list-data">
            <li class="list-el">
              <div class="line-check-box">
                <label class="btn-checkbox">
                  <input type="checkbox" class="btn-checkbox__input" name="" value="">
                  <span class="btn-checkbox__icon"></span>
                </label>
                <div class="info_area">
                  <p class="name">Alex Sampson(abc***@abc.com)</p>
                  <p class="each_info">
                    <span class="tel">+82-10-0000-0000</span>
                    <span>Digital Appliance</span>
                    <span>Digital Appliance</span>
                  </p>
                  <p class="date"><em>Request Date : </em><span>2024-08-05</span></p>
                </div>
              </div>
            </li>
            <li class="list-el">
              <div class="line-check-box">
                <label class="btn-checkbox">
                  <input type="checkbox" class="btn-checkbox__input" name="" value="">
                  <span class="btn-checkbox__icon"></span>
                </label>
                <div class="info_area">
                  <p class="name">Alex Sampson(abc***@abc.com)</p>
                  <p class="each_info">
                    <span class="tel">+82-10-0000-0000</span>
                    <span>Digital Appliance</span>
                    <span>Digital Appliance</span>
                  </p>
                  <p class="date"><em>Request Date : </em><span>2024-08-05</span></p>
                </div>
              </div>
            </li>
            <li class="list-el">
              <div class="line-check-box">
                <label class="btn-checkbox">
                  <input type="checkbox" class="btn-checkbox__input" name="" value="">
                  <span class="btn-checkbox__icon"></span>
                </label>
                <div class="info_area">
                  <p class="name">Alex Sampson(abc***@abc.com)</p>
                  <p class="each_info">
                    <span class="tel">+82-10-0000-0000</span>
                    <span>Digital Appliance</span>
                    <span>Digital Appliance</span>
                  </p>
                  <p class="date"><em>Request Date : </em><span>2024-08-05</span></p>
                </div>
              </div>
            </li>
            <li class="list-el">
              <div class="line-check-box">
                <label class="btn-checkbox">
                  <input type="checkbox" class="btn-checkbox__input" name="" value="">
                  <span class="btn-checkbox__icon"></span>
                </label>
                <div class="info_area">
                  <p class="name">Alex Sampson(abc***@abc.com)</p>
                  <p class="each_info">
                    <span class="tel">+82-10-0000-0000</span>
                    <span>Digital Appliance</span>
                    <span>Digital Appliance</span>
                  </p>
                  <p class="date"><em>Request Date : </em><span>2024-08-05</span></p>
                </div>
              </div>
            </li>
            <li class="list-el">
              <div class="line-check-box">
                <label class="btn-checkbox">
                  <input type="checkbox" class="btn-checkbox__input" name="" value="">
                  <span class="btn-checkbox__icon"></span>
                </label>
                <div class="info_area">
                  <p class="name">Alex Sampson(abc***@abc.com)</p>
                  <p class="each_info">
                    <span class="tel">+82-10-0000-0000</span>
                    <span>Digital Appliance</span>
                    <span>Digital Appliance</span>
                  </p>
                  <p class="date"><em>Request Date : </em><span>2024-08-05</span></p>
                </div>
              </div>
            </li>
            <li class="list-el">
              <div class="line-check-box">
                <label class="btn-checkbox">
                  <input type="checkbox" class="btn-checkbox__input" name="" value="">
                  <span class="btn-checkbox__icon"></span>
                </label>
                <div class="info_area">
                  <p class="name">Alex Sampson(abc***@abc.com)</p>
                  <p class="each_info">
                    <span class="tel">+82-10-0000-0000</span>
                    <span>Digital Appliance</span>
                    <span>Digital Appliance</span>
                  </p>
                  <p class="date"><em>Request Date : </em><span>2024-08-05</span></p>
                </div>
              </div>
            </li>
            <li class="list-el">
              <div class="line-check-box">
                <label class="btn-checkbox">
                  <input type="checkbox" class="btn-checkbox__input" name="" value="">
                  <span class="btn-checkbox__icon"></span>
                </label>
                <div class="info_area">
                  <p class="name">Alex Sampson(abc***@abc.com)</p>
                  <p class="each_info">
                    <span class="tel">+82-10-0000-0000</span>
                    <span>Digital Appliance</span>
                    <span>Digital Appliance</span>
                  </p>
                  <p class="date"><em>Request Date : </em><span>2024-08-05</span></p>
                </div>
              </div>
            </li>
          </ul>

          <div class="pagination pc-display">
            <ul class="page-list">
              <!-- disabled : aria-disabled="true" -->
              <li class="btn-icon page-btn__prev" aria-disabled="true">
                <a aria-label="prev" href="#">
                  <span class="txt-blind">prev</span>
                </a>
              </li>
              <li class="page"> <a href="#" aria-label="Go to page 1" class="page-list__no selected">1</a> </li>
              <li class="page"> <a href="#" aria-label="Go to page 2" class="page-list__no">2</a> </li>
              <li class="page"> <a href="#" aria-label="Go to page 3" class="page-list__no">3</a> </li>
              <li class="page"> <a href="#" aria-label="Go to page 4" class="page-list__no">4</a> </li>
              <li class="page"> <a href="#" aria-label="Go to page 5" class="page-list__no">5</a> </li>
              <li class="page"> <a href="#" aria-label="Go to page 6" class="page-list__no">6</a> </li>
              <li class="page"> <a href="#" aria-label="Go to page 7" class="page-list__no">7</a> </li>
              <li class="page"> <a href="#" aria-label="Go to page 8" class="page-list__no">8</a> </li>
              <li class="page"> <a href="#" aria-label="Go to page 9" class="page-list__no">9</a> </li>
              <li class="page"> <a href="#" aria-label="Go to page 10" class="page-list__no">10</a></li>
              <li class="btn-icon page-btn__next">
                <a aria-label="next" href="#">
                  <span class="txt-blind">next</span>
                </a>
              </li>
            </ul>
          </div>
        </div>        
       
    </div>
    <!-- // white-box end --> 
    
  </section>
  <!-- //component -->
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="/apps/components/content/dashboard/clientlibs/js/main.js"></script>
</body>

</html>