<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Column Carousel</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/apps/components/content/column-carousel/clientlibs/css/main.css"
    />

    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
    <!-- End Google Tag Manager -->
     
  </head>
  <body>

    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --> 

    <div>
      <!-- component -->
      <section class="col-carousel">
        <div class="swiper col-carousel__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <article class="list-box">
                <div class="list-box__item">
                  <div class="tit-box">
                    <!-- 240523 heading 태그 -> p태그 수정 -->
                    <!-- 240618 .title 클래스 추가 -->
                    <p class="txt-h5 title">
                      <span class="pc-txt">Simulation Request</span>
                      <span class="mo-txt">Simulation Request</span>
                    </p>
                    <a
                      href="#"
                      role="button"
                      class="btn-txt-underline col-carousel__moreBtn"
                      target=""
                    >
                      <span class="btn-txt__txt">Learn more</span>
                    </a>
                  </div>
                  <img
                    src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-request.svg"
                    alt="link banner icon"
                    class="col-carousel-box__icon"
                  />
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="list-box">
                <div class="list-box__item">
                  <div class="tit-box">
                    <p class="txt-h5 title">
                      <span class="pc-txt">Simulation Request</span>
                      <span class="mo-txt">Simulation Request</span>
                    </p>

                    <!-- 240523 heading 태그 -> p태그 수정 -->
                    <!-- 240618 .title 클래스 추가 및 div.desc 구조 추가 -->               
                    <!-- 2025-07-09 문구삭제 -->
                    <!-- <p class="desc txt-p4">
                      All design processes, including product selection, piping,
                      wiring
                    </p> -->
                  </div>
                  <img
                    src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-case-study.svg"
                    alt="link banner icon"
                    class="col-carousel-box__icon"
                  />
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="list-box">
                <div class="list-box__item">
                  <div class="tit-box">
                    <p class="txt-h5 title">
                      <span class="pc-txt">Case Study</span>
                      <span class="mo-txt">Case Study</span>
                    </p>
                    <!-- 240523 heading 태그 -> p태그 수정 -->
                    <!-- 240618 div.desc 구조 추가 -->
                    <!-- 2025-07-09 문구삭제 -->
                    <!-- <p class="desc txt-p4">
                      All design processes, including product selection, piping,
                      wiring
                    </p> -->
                    <a
                      href="#"
                      role="button"
                      class="btn-txt-underline col-carousel__moreBtn"
                      target=""
                    >
                      <span class="btn-txt__txt">Learn more</span>
                    </a>
                  </div>
                  <img
                    src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-request.svg"
                    alt="link banner icon"
                    class="col-carousel-box__icon"
                  />
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="list-box">
                <div class="list-box__item">
                  <div class="tit-box">
                    <!-- 240523 heading 태그 -> p태그 수정 -->
                    <!-- 240618 .title 클래스 추가 및 div.desc 구조 추가 -->
                    <p class="txt-h5 title">
                      <span class="pc-txt">Announcement</span>
                      <span class="mo-txt">Announcement</span>
                    </p>
                    <!-- 2025-07-09 문구삭제 -->
                    <!-- <p class="desc txt-p4">
                      All design processes, including product selection, piping,
                      wiring
                    </p> -->
                    <a
                      href="#"
                      role="button"
                      class="btn-txt-underline col-carousel__moreBtn"
                      target=""
                    >
                      <span class="btn-txt__txt">Learn more</span>
                    </a>
                  </div>
                  <img
                    src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-announcement-blue.svg"
                    alt="link banner icon"
                    class="col-carousel-box__icon"
                  />
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="list-box">
                <div class="list-box__item">
                  <div class="tit-box">
                    <!-- 240523 heading 태그 -> p태그 수정 -->
                    <!-- 240618 .title 클래스 추가 -->
                    <p class="txt-h5 title">
                      <span class="pc-txt">Blog</span>
                      <span class="mo-txt">Blog</span>
                    </p>
                    <a
                      href="#"
                      role="button"
                      class="btn-txt-underline col-carousel__moreBtn"
                      target=""
                    >
                      <span class="btn-txt__txt">Learn more</span>
                    </a>
                  </div>
                  <img
                    src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-request.svg"
                    alt="link banner icon"
                    class="col-carousel-box__icon"
                  />
                </div>
              </article>
            </div>
          </div>

          <!-- 240718 접근성 관련 swiper 텍스트 추가 -->
          <div class="swiper-button-prev">
            <span class="txt-blind">prev</span>
          </div>
          <div class="swiper-button-next">
            <span class="txt-blind">next</span>
          </div>
        </div>
      </section>
    </div>

    <!-- common.js -->
    <script src="/pub-only/js/main-lib.js"></script>
    <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
    <!-- 컴포넌트 js -->
    <script src="/apps/components/content/column-carousel/clientlibs/js/main.js"></script>
  </body>
</html>
