<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Announcement Main</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css" />
  <link rel="stylesheet" href="clientlibs/css/main.css" />

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 
   
  <!-- component -->
  <section class="announce-main">
    <div class="swiper announce-main__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="announce-main__cont">
            <p class="announce-main__date txt-p5">11/10/2024</p>
            <a href="#" class="announce-main__title txt-p4">
              Samsung Electronics, which has declared responsibility for
              climate change response Samsung Electronics, which has
              declared responsibility for climate change response
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="announce-main__cont">
            <p class="announce-main__date txt-p5">11/11/2024</p>
            <a href="#" class="announce-main__title txt-p4">
              Samsung Electronics, which has declared responsibility for
              climate change response
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="announce-main__cont">
            <p class="announce-main__date txt-p5">11/12/2024</p>
            <a href="#" class="announce-main__title txt-p4">
              Samsung Electronics, which has declared responsibility for
              climate change response
            </a>
          </article>
        </div>
      </div>

      <div class="swiper-control__wrap">
        <div class="swiper-button-prev">
          <span class="txt-blind">prev</span>
        </div>
        <div class="swiper-button-autoplay">
          <span class="txt-blind">pause</span>
        </div>
        <div class="swiper-button-next">
          <span class="txt-blind">next</span>
        </div>
      </div>
    </div>
  </section>

  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <!-- 컴포넌트 js -->
  <script src="clientlibs/js/main.js"></script>
</body>

</html>