<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project List</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css"> 
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- component -->
  <section class="pdf-wrap">
    <!-- pdf-header // -->
    <div class="pdf-header">
      <ul class="head-list">
        <li>
          <strong>Project ID : </strong>
          <span>1234567890</span>
        </li>
        <li>
          <strong>Estimated Closing Date : </strong>
          <span>YYYY-MM-DD </span>
        </li>
      </ul>

      <p class="pdf-logo">samsung</p>
    </div>
    <!-- // pdf-header  -->

    <!-- pdf-content //-->
    <div class="pdf-content">
        <p class="pdf-page-tit">Proposal</p>

        <!-- gray-list-box //-->
        <div class="gray-list-box">
          <ul>
            <li>
              <strong>Project Name :</strong>
              <span> AirSol e-Biz Platform</span>
            </li>
            <li class="blue">
              <strong>Project ID : </strong>
              <span>1234567890</span>
            </li>
            <li>
              <strong>Estimated Closing Date : </strong>
              <span>YYYY-MM-DD</span>
            </li>
          </ul>
        </div>
        <!-- // gray-list-box -->

        <!-- col2-line-box //-->
        <div class="col2-line-box">

          <div>
            <p class="pdf-sub-tit">From</p>
            <div class="line-box">
              <ul class="company-list">
                <li>
                  <strong class="tit">Company</strong>
                  <span class="txt">Concentrix</span>
                </li>
                <li>
                  <strong class="tit">Contact</strong>
                  <span class="txt">Brandon Smith</span>
                </li>
                <li>
                  <strong class="tit">Phone Number</strong>
                  <span class="txt">123456789</span>
                </li>
                <li>
                  <strong class="tit">E-mail</strong>
                  <span class="txt">abccdd@concentrix.com</span>
                </li>
              </ul>
            </div>           
          </div>

          <div>
            <p class="pdf-sub-tit">To</p>
            <div class="line-box">
              <ul class="company-list">
                <li>
                  <strong class="tit">Company</strong>
                  <span class="txt">McDonald's</span>
                </li>
                <li>
                  <strong class="tit">Contact</strong>
                  <span class="txt">Donald Duck</span>
                </li>
                <li>
                  <strong class="tit">Phone Number</strong>
                  <span class="txt">123456789</span>
                </li>
                <li>
                  <strong class="tit">E-mail</strong>
                  <span class="txt">donaldduck@mcdonalds.com</span>
                </li>
              </ul>
            </div>   
          </div>
        </div>
        <!-- // col2-line-box -->

        <!-- line-box //-->
        <div class="line-box">
          The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed.The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed.The saved content is displayed. The saved content is displayed. The saved content is displayed
        </div>
        <!-- // line-box -->
        
        <!-- img-box-area //-->
        <div class="img-box-area">
          <p class="imb-box"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-box-nodata.png" alt=""></p>
        </div>
        <!-- // img-box-area -->

        <!-- table-area // -->
        <div class="table-area">
          <p class="pdf-sub-tit">Samsung</p>           
          <table>
            <colgroup>
              <col style="width:25%" />              
              <col style="width:25%" />  
              <col style="width:25%" />  
              <col style="width:auto" />
            </colgroup>
            <thead> 
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Model Code</th>
                <th scope="col">Name</th>              
                <th scope="col">Qty</th>              
              </tr> 
            </thead>
            <tbody>
                <tr>
                  <td>ODU</td>
                  <td>AM040BXMDER/EU</td>
                  <td>Product Name</td>                 
                  <td>1</td>                  
                </tr>
                <tr>
                  <td>ODU</td>
                  <td>AM040BXMDER/EU</td>
                  <td>Product Name</td>                 
                  <td>1</td>
                </tr>
                <tr>
                  <td>IDU</td>
                  <td>AM028AN4PKH/EU</td>
                  <td>Product Name</td>                 
                  <td>1</td>                 
                </tr>
                <tr>
                  <td>IDU</td>
                  <td>AM040BXMDER/EU</td>
                  <td>Product Name</td>                  
                  <td>1</td>                 
                </tr>
                <tr>
                  <td>Piping</td>
                  <td>MXJ-YA2512M</td>
                  <td>Product Name</td>                  
                  <td>1</td>               
                </tr>
                <tr>
                  <td>Piping</td>
                  <td>MXJ-YA2812M</td>
                  <td>Product Name</td>
                  <td>1</td>                 
                </tr>
                <tr>
                  <td>Individual Controller</td>
                  <td>Watt-hour meter</td>
                  <td>Product Name</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Centralized Controller</td>
                  <td>MWR-SH00N</td>
                  <td>Product Name</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Integrated Management System</td>
                  <td>MWR-SH00N</td>
                  <td>Product Name</td>
                  <td>1</td>
                </tr>
            </tbody>           
          </table>
        </div>
        <!-- // table-area  -->

        <!-- table-area // -->
        <div class="table-area">
          <p class="pdf-sub-tit">others</p>                
          <table>
            <colgroup>
              <col style="width:25%" />
              <col style="width:25%" />
              <col style="width:25%" />             
              <col style="width:auto" />
            </colgroup>
            <thead> 
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Model Code</th>
                <th scope="col">Name</th>              
                <th scope="col">Qty</th>             
              </tr> 
            </thead>  
            <tbody>
              <tr>
                <td>ODU</td>
                <td>AM040BXMDER/EU</td>
                <td>Product Name</td>
                <td>1</td>           
              </tr>
              <tr>
                <td>Add. Ref.</td>
                <td>AM040BXMDER/EU</td>
                <td>Product Name</td>             
                <td>1</td>
              </tr>
              <tr>
                <td>Ref. Pipe</td>
                <td>AM028AN4PKH/EU</td>
                <td>Product Name</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Catagory Name</td>
                <td>AM040BXMDER/EU</td>
                <td>Product Name</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Catagory Name</td>
                <td>MXJ-YA2512M</td>
                <td>Product Name</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Catagory Name</td>
                <td>MXJ-YA2812M</td>
                <td>Product Name</td>
                <td>1</td>
              </tr>
            </tbody>    
            <tfoot>
              <tr>
                <td colspan="3">Total Amount</td>
                <td class="tal-right">$ 9999.99</td>
              </tr>
            </tfoot>      
          </table>
        </div>
        <!-- // table-area -->

        <!-- line-box-wrap //  -->
        <div class="line-box-wrap">
          <p class="pdf-sub-tit">Terms & Condition</p> 

          <!-- line-box //-->
          <div class="line-box">
            The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed.The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed. The saved content is displayed.The saved content is displayed. The saved content is displayed. The saved content is displayed
          </div>
          <!-- // line-box -->
        </div>
        <!-- // line-box-wrap  -->
    </div>
    <!-- // pdf-content -->

    <!-- pdf-footer // -->
    <div class="pdf-footer">
      <p class="copyright">&copy; All Rights Reserved By Concentrix Service Korea</p>

      <p class="page-num"><span>-<span> 1 </span>-</span></p>
    </div>
    <!-- // pdf-footer  -->

  </section>
  <!-- //component -->
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
</body>

</html>