<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SE Calculator List Items</title>

  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/apps/components/content/se-calculator-list-items/clientlibs/css/main.css" />

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div>
    <!-- component -->
    <section class="se-cal-list-items">
      <div class="prj-items-result__wrap">
        <div class="result-num-btn-box">
          <p class="result-num txt-p6 txt-fw-b">
            <span class="txt-point1">4</span> Results
          </p>
          <button type="button" class="btn-block type2 md">
            <span class="btn-block__txt">New</span>
          </button>
        </div>
        <!-- [F] No Result -->
        <div class="list-nodata">
          <p class="txt-p5">No matching results found.</p>
        </div>
        <!-- //No Result -->
        <!-- [F] Result -->
        <ul class="list-data">
          <!-- SEER/SCOP 인 경우 -->
          <li class="prj-list-card">
            <a class="card-el-box" href="#none">
              <!-- left prj info -->
              <div class="el-prj-info__wrap">
                <p class="el__prj-name txt-h8 txt-fw-b txt-ellipsis">
                  Seasonal Efficiency Seasonal Efficiency Seasonal Efficiency
                  Seasonal Efficiency Seasonal Efficiency Seasonal Efficiency
                  Seasonal Efficiency Seasonal Efficiency
                </p>
                <!-- project name -->
                <span class="el__prj-id txt-point2 txt-p6">
                  ID. 123456789
                </span>
                <!-- project id -->
                <div class="el__creat-update">
                  <p class="creat-date">
                    <!-- created date -->
                    <strong class="date-tit txt-fw-b">Created.</strong>
                    <span class="date">YYYY-MM-DD</span>
                  </p>
                  <p class="update">
                    <!-- updated date -->
                    <strong class="date-tit txt-fw-b">Updated.</strong>
                    <span class="date">YYYY-MM-DD</span>
                  </p>
                </div>
                <div class="el__type-name">
                  <span class="type txt-fw-b">State Name / City name</span>
                </div>
              </div>
              <!-- right copy -->
              <div class="el-copy-btn__wrap">
                <div class="copy-btn-box">
                  <button type="button" class="btn-block">
                    <span class="btn-block__txt">Copy</span>
                    <i class="btn-block__icon icon-copy"></i>
                  </button>
                </div>
                <div class="btn-box">
                  <button type="button" class="btn-block type3">
                    <span class="btn-block__txt txt-p7">
                      LIFE CYCLE COST
                    </span>
                  </button>
                  <!-- 버튼 생성 전 상태 => .prev-create 클래스 추가 필요 -->
                  <button type="button" class="btn-block type2 prev-create" data-layer-target="quote-linked-popup">
                    <span class="btn-block__txt txt-p7">QUOTE</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="prj-list-card">
            <a class="card-el-box" href="#none">
              <!-- left prj info -->
              <div class="el-prj-info__wrap">
                <p class="el__prj-name txt-h8 txt-fw-b txt-ellipsis">
                  Seasonal Efficiency
                </p>
                <!-- project name -->
                <span class="el__prj-id txt-point2 txt-p6">
                  ID. 123456789</span><!-- project id -->
                <div class="el__creat-update">
                  <p class="creat-date">
                    <!-- created date -->
                    <strong class="date-tit txt-fw-b">Created.</strong>
                    <span class="date">YYYY-MM-DD</span>
                  </p>
                  <p class="update">
                    <!-- updated date -->
                    <strong class="date-tit txt-fw-b">Updated.</strong>
                    <span class="date">YYYY-MM-DD</span>
                  </p>
                </div>
                <div class="el__type-name">
                  <span class="type txt-fw-b">State Name / City name</span>
                </div>
              </div>
              <!-- right copy -->
              <div class="el-copy-btn__wrap">
                <div class="copy-btn-box">
                  <button type="button" class="btn-block">
                    <span class="btn-block__txt">Copy</span>
                    <i class="btn-block__icon icon-copy"></i>
                  </button>
                </div>
                <div class="btn-box">
                  <button type="button" class="btn-block type3">
                    <span class="btn-block__txt txt-p7">
                      LIFE CYCLE COST
                    </span>
                  </button>
                  <!-- 버튼 생성 전 상태 => .prev-create 클래스 추가 필요 -->
                  <button type="button" class="btn-block type2" data-layer-target="quote-linked-popup">
                    <span class="btn-block__txt txt-p7">QUOTE</span>
                  </button>
                </div>
              </div>
            </a>
          </li>

          <!-- IEER 인 경우 -->
          <li class="prj-list-card">
            <a class="card-el-box" href="#none">
              <!-- left prj info -->
              <div class="el-prj-info__wrap">
                <p class="el__prj-name txt-h8 txt-fw-b txt-ellipsis">
                  IEER Name
                </p>
                <!-- project name -->
                <span class="el__prj-id txt-point2 txt-p6">
                  ID. 123456789</span><!-- project id -->
                <div class="el__creat-update">
                  <p class="creat-date">
                    <!-- created date -->
                    <strong class="date-tit txt-fw-b">Created.</strong>
                    <span class="date">YYYY-MM-DD</span>
                  </p>
                  <p class="update">
                    <!-- updated date -->
                    <strong class="date-tit txt-fw-b">Updated.</strong>
                    <span class="date">YYYY-MM-DD</span>
                  </p>
                </div>
              </div>
              <!-- right copy -->
              <div class="el-copy-btn__wrap">
                <div class="copy-btn-box">
                  <button type="button" class="btn-block">
                    <span class="btn-block__txt">Copy</span>
                    <i class="btn-block__icon icon-copy"></i>
                  </button>
                </div>
                <div class="btn-box">
                  <button type="button" class="btn-block type3">
                    <span class="btn-block__txt txt-p7">
                      LIFE CYCLE COST
                    </span>
                  </button>
                  <!-- 버튼 생성 전 상태 => .prev-create 클래스 추가 필요 -->
                  <button type="button" class="btn-block type2 prev-create" data-layer-target="quote-linked-popup">
                    <span class="btn-block__txt txt-p7">QUOTE</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <!-- //Result -->
        <!-- 2025-03-02 class 변경 list-loading ==> icon-loading-box-->
        <div class="icon-loading-box">
          <span class="icon-loading"></span>
        </div>
      </div>
    </section>
  </div>
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <!-- 컴포넌트 js -->
  <script src="/apps/components/content/se-calculator-list-items/clientlibs/js/main.js"></script>
</body>

</html>