.order-datail-sect { max-width: 1440px; width: 100%; margin: 0 auto; padding: 24px 24px 80px; } 
.order-datail-sect .tit-area { display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; } 
/* info list */
.od-cm-info { display: flex; flex-wrap: wrap; gap: 16px 24px; padding: 16px 24px; } 
.od-cm-info .od-cm-info__item { display: flex; align-items: flex-start; column-gap: 24px; width: 100%; } 
.od-cm-info .od-cm-info__item .item-dd .btn-block { margin-left: 16px; } 
.od-cm-info .od-cm-info__item .item-dd .txt-gray { color: #8f8f8f; } 
.od-cm-info .od-cm-info__item.col2 { width: calc(50% - (24px/2)); } 
.od-cm-info .od-cm-info__item .item-dt { width: 240px; font-weight: 700; } 

/* total-amount */
.total-amount-box { background: #f2f2f2; text-align: right; margin-top: 24px; padding: 16px 24px 16px 708px; border-top: 1px solid #cccccc; border-bottom: 1px solid #aaaaaa; } 
.total-amount-box .total-amount__item { display: flex; justify-content: space-between; width: 100%; } 
.total-amount-box .total-amount__item:first-of-type { padding-bottom: 4px; } 
.total-amount-box .total-amount__item + .total-amount__item { margin-top: 12px; } 
.total-amount-box .txt-gray { color: #757575; } 

/* detail list */
.order-datail-sect .basic-list-wrap { margin-top: 24px; padding: 0; border-radius: 0; } 
.order-datail-sect .basic-list__result { overflow-x: scroll; } 
.order-datail-sect .basic-list__result .el-material { width: 252px; } 
.order-datail-sect .basic-list__result .el-qud { width:88px; } 
.order-datail-sect .basic-list__result .el-price,
.order-datail-sect .basic-list__result .el-total,
.order-datail-sect .basic-list__result .el-rdd ,
.order-datail-sect .basic-list__result .el-date { flex: 1 0 136px; } 
.order-datail-sect .basic-list__result .el-status { width: 94px; } 
.order-datail-sect .list-head, 
.order-datail-sect .list-body { width: fit-content; min-width: 100%; } 
.order-datail-sect .list-head .el-total { padding-inline: 0px; } 
.order-datail-sect .list-body .el-material > a { display: flex; align-items: center; gap: 24px; width: 100%; height: 100%; } 
.order-datail-sect .list-body .el-material .img-box { flex: none; display: flex; align-items: center; justify-content: center; width: 48px; height: 48px; } 
.order-datail-sect .list-body .el-material > a:hover .txt-p5 { text-decoration: underline; font-weight: 700; } 
.order-datail-sect .list-body .el-qud,
.order-datail-sect .list-body .el-price,
.order-datail-sect .list-body .el-total { text-align: right; } 
.order-datail-sect .list-body .el-price .txt-del,
.order-datail-sect .list-body .el-total .txt-del { display: block; } 
.order-datail-sect .module-box .row-module .el-material { background: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 6.83011H8.5V8H0.5V6.83011ZM0.5 0H1.78754V7.26022H0.5V0Z' fill='black'/%3E%3C/svg%3E") no-repeat 24px 50%; padding-left: 56px; } 
.order-datail-sect .list-body .point-link { text-decoration: underline; color: #006BEA }
/* multi project */
.order-datail-sect .basic-list__resulit--multiple .el-rdd,
.order-datail-sect .basic-list__resulit--multiple .el-date { width: 120px; } 
/* buy online */
.order-datail-sect .basic-list__resulit--online .el-number,
.order-datail-sect .basic-list__resulit--online .el-rdd { flex: 1 0 136px; } 

/********* delivery detail popup **********/
.delivery-detail-popup .popup-wrap__inner { width:min(824px, 90%) } 
.delivery-detail-popup .popup-wrap__inner .popup__header { padding: 0; margin-inline: 40px; border-bottom: 2px solid #000;}
.delivery-detail-popup .popup-wrap__inner .popup__container { padding-top: 24px; }
.delivery-detail-popup .popup-wrap__inner .popup__container .basic-table { width: 100%; table-layout: unset; }
.delivery-detail-popup .popup-wrap__inner .popup__container .basic-table th { text-align: left; width: 160px; }

/************************************************************************************** 
======================================= Tablet ======================================== 
***************************************************************************************/
@media only screen and (min-width: 769px) and (max-width: 1440px){
 .order-datail-sect { padding: 1.667vw 1.667vw 5.556vw; } 
 /* info list */
 .od-cm-info { gap: 1.111vw 1.667vw; padding: 1.111vw 1.667vw; } 
 .od-cm-info .od-cm-info__item { column-gap: 1.667vw; } 
 .od-cm-info .od-cm-info__item .item-dd .btn-block { margin-left: 1.111vw; } 
 .od-cm-info .od-cm-info__item.col2 { width: calc(50% - (1.667vw/2)); } 
 .od-cm-info .od-cm-info__item .item-dt { width: 16.667vw; } 

 /* total-amount */
 .total-amount-box { margin-top: 1.667vw; padding: 1.111vw 1.667vw 1.111vw 49.167vw; } 
 .total-amount-box .total-amount__item:first-of-type { padding-bottom: 0.278vw; } 
 .total-amount-box .total-amount__item + .total-amount__item { margin-top: 0.833vw; } 
 
 /* detail list */
 .order-datail-sect .basic-list-wrap { margin-top: 1.667vw; } 
 .order-datail-sect .basic-list__result .el-material { width: 17.5vw; } 
 .order-datail-sect .basic-list__result .el-qud { width: 6.111vw; } 
 .order-datail-sect .basic-list__result .el-price,
 .order-datail-sect .basic-list__result .el-total,
 .order-datail-sect .basic-list__result .el-rdd,
 .order-datail-sect .basic-list__result .el-date { flex: 1 0 9.444vw; } 
 .order-datail-sect .basic-list__result .el-status { width: 6.528vw; } 
 .order-datail-sect .list-body .el-material > a { gap: 1.667vw; } 
 .order-datail-sect .list-body .el-material .img-box { width: 3.333vw; height: 3.333vw; } 
 .order-datail-sect .module-box .row-module .el-material { background-position: 1.667vw 50%; padding-left: 3.889vw; } 

  /********* bulk discount popup **********/
 .delivery-detail-popup .popup-wrap__inner .popup__header { margin-inline: calc((40 / 1440) * 100vw);}

 /* [E]Tablet */ } 
/************************************************************************************** 
======================================= Mobile ======================================== 
***************************************************************************************/
@media only screen and (max-width: 768px){
 .order-datail-sect { padding-top: 16px; } 
 .order-datail-sect .tit-area { margin-bottom: 8px; } 
 .order-datail-sect .tit-area .txt-h3 { font-size: 24px !important; } 
 .order-datail-sect .tit-area .txt-h6 { font-size: 16px !important; } 
 .order-datail-sect .tit-area .btn-box { display: flex; flex-wrap: wrap; gap: 8px; text-align: left; margin-top: 16px; } 
 .order-datail-sect .tit-area .btn-box .btn-block { height: 32px; padding-inline: 16px; margin:0; } 
 .order-datail-sect .tit-area .btn-box .btn-block .btn-block__txt { font-size: 12px; } 

 /* info list */
 .od-cm-info { flex-direction: column; gap: 0; padding: 0; border-bottom: 0; } 
 .od-cm-info .od-cm-info__item { flex-direction: column; gap: 4px; width: 100%; padding: 0 12px 8px; border-bottom: 1px solid #cccccc; } 
 .od-cm-info .od-cm-info__item + .od-cm-info__item { padding-top: 8px; } 
 .od-cm-info .od-cm-info__item.col2 { width: 100%; } 
 .od-cm-info .od-cm-info__item.col3 { width: 100%; } 
 .od-cm-info .od-cm-info__item .txt-p5 { font-size: 14px !important; } 
 .od-cm-info .od-cm-info__item .item-dt { width: 100%; } 
 .od-cm-info .od-cm-info__item.col3 .item-dt,
 .od-cm-info:has(.od-cm-info__item.col3) .item-dt { width: 100%; } 

 /* total-amount */
 .total-amount-box { background: #f7f7f7; margin-top: 0; padding: 16px 16px 8px 16px; border-bottom-color: #aaaaaa; } 
 .total-amount-box .total-amount__item { flex-direction: column; justify-content: initial; min-height: 40px; } 
 .total-amount-box .total-amount__item:first-of-type { padding-bottom: 0; } 
 .total-amount-box .total-amount__item + .total-amount__item { margin-top: 8px; padding-top: 8px; border-top: 1px solid #dddddd; } 
 .total-amount-box .total-amount__item .total__text { text-align: left; } 
 .total-amount-box .total-amount__item .total__text.txt-p5 .txt-fw-b { font-size: 16px !important; color: var(--primary_color2); } 
 .total-amount-box .total-amount__item .total__text.txt-p5 .txt-gray { font-size: 14px !important; } 
 .total-amount-box .total-amount__item .total__text.txt-h8,
 .total-amount-box .total-amount__item .total__text.txt-h8 + .total__price { width: 100%; } 
 .total-amount-box .total-amount__item .total__text.txt-h8 { font-size: 16px !important; padding-bottom: 2px; } 
 .total-amount-box .total-amount__item .total__text.txt-h8 + .total__price.txt-h7 { font-size: 20px !important; margin-top: 16px; } 
 .total-amount-box .total-amount__item .total__price { text-align: right; } 
 .total-amount-box .total-amount__item .total__price .txt-p5 { font-size: 14px !important; line-height: 18px; } 
 .total-amount-box .total-amount__item .total__price.txt-p4 { font-size: 14px !important; } 
 .total-amount-box .total-amount__item .total__price .txt-p4:has(.txt-fw-b) { color:#666666 } 
 .total-amount-box .total-amount__item .total__price .txt-p4 .txt-fw-b { font-weight: 400 !important; } 

 /* detail list */
 .order-datail-sect .basic-list__result { overflow-x: auto; } 
 .order-datail-sect .basic-list__result .el-material { width:210px; } 
 .order-datail-sect .basic-list__result .el-qud { width:80px; } 
 .order-datail-sect .basic-list__result .el-price,
 .order-datail-sect .basic-list__result .el-total,
 .order-datail-sect .basic-list__result .el-rdd,
 .order-datail-sect .basic-list__result .el-date { flex: none; width: 120px; } 
 .order-datail-sect .list-head .list-el .txt-p5,
 .order-datail-sect .list-body .list-el .txt-p5,
 .order-datail-sect .list-body .list-el .txt-p6 { font-size: 12px !important; } 
 .order-datail-sect .list-body .el-material .img-box { width: 40px; height: 40px; } 

 /********* bulk discount popup **********/
 .delivery-detail-popup .popup-wrap__inner .popup__header { margin-inline: 16px;}


/* [E]Mobile */ } 