<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>Menu Description popup</title>
    <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
    <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
    <!-- End Google Tag Manager -->

</head>
<body>

    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --> 
   
    <button type="button" class="btn-block" data-layer-target="popup-layer01">
        <span class="btn-block__txt">Menu Description</span>
      </button>
   

    <!-- 스크롤이 생기는 팝업 버튼 없는 경우 -->
    <div class="popup-wrap" id="popup-layer01">
        <div class="popup-wrap__inner" role="alertdialog" aria-modal="true">
            <div class="popup__header">
                <p class="txt-h4">Menu Description</p>
            </div>
            <div class="popup__container">
                <!-- menu-gray-box start //-->
                <div class="menu-gray-box">
                    <strong class="txt-p6 txt-fw-b">*All Data Access</strong>
                    <ul class="list">
                        <li>
                            <strong>Checked </strong>
                            <span>: can view, edit, and delete data of your company's other employees</span>
                        </li>
                        <li>
                            <strong>Unchecked </strong>
                            <span>: access limited to your own data</span>
                        </li>
                    </ul>
                </div>
                <!-- // menu-gray-box end -->

                <!-- basic-list__result start // -->
                <div class="basic-list__result">
                    <ul class="list-head">
                        <li class="list-el menu"><span class="txt-p5 txt-fw-b">Menu</span></li>
                        <li class="list-el acess"><span class="txt-p5 txt-fw-b">Access Permissions</span></li>
                    </ul>
                    <ul class="list-body">
                        <li class="list-row">
                            <div class="list-el menu">Quote</div>
                            <div lass="list-el acess">
                                <ul class="line-list">
                                    <li>
                                        <p class="item">
                                            <strong>Project </strong>
                                            <span>: access projects list, project detail; select projects; request quotations; generate proposal; set delivery schedule</span>
                                        </p>
                                        
                                    </li>
                                    <li>
                                        <p class="item">
                                            <strong>Run-rate </strong>
                                            <span>: select products; request delivery schedule</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </li>       
                        <li class="list-row">
                            <div class="list-el menu">Tools</div>
                            <div lass="list-el acess">
                                <ul class="line-list">
                                    <li>
                                        <p class="item">                                            
                                            <span>Access Lifecycle Cost (LCC), Seasonal Energy Efficiency Ration (SEER) and Seasonal Coefficient of Performance (SCOP) calculation tools</span>
                                        </p>                                        
                                    </li>                                    
                                </ul>
                            </div>
                        </li>     
                        <li class="list-row">
                            <div class="list-el menu">Simulation<br/> Request</div>
                            <div lass="list-el acess">
                                <ul class="line-list">
                                    <li>
                                        <p class="item">                                            
                                            <span> View Account Balance, Invoice Payment Status</span>
                                        </p>                                        
                                    </li>                                    
                                </ul>
                            </div>
                        </li> 
                        <li class="list-row">
                            <div class="list-el menu">Order</div>
                            <div lass="list-el acess">
                                <ul class="line-list">
                                    <li>
                                        <p class="item">
                                            <strong>Cart </strong>
                                            <span> : add products, manage carts</span>
                                        </p>
                                        
                                    </li>
                                    <li>
                                        <p class="item">
                                            <strong>Checkout </strong>
                                            <span> : place and manage orders</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="item">
                                            <strong>Invoice </strong>
                                            <span> : view invoices</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </li>                         
                        <li class="list-row">
                            <div class="list-el menu">Account<br/> Balance</div>
                            <div lass="list-el acess">
                                <ul class="line-list">
                                    <li>
                                        <p class="item">                                            
                                            <span>View Account Balance, Invoice Payment Status</span>
                                        </p>                                        
                                    </li>                                    
                                </ul>
                            </div>
                        </li> 
                        <li class="list-row">
                            <div class="list-el menu">User<br/> Management</div>
                            <div lass="list-el acess">
                                <ul class="line-list">
                                    <li>
                                        <p class="item">                                            
                                            <span>Assign roles and permissions to account users</span>
                                        </p>                                        
                                    </li>                                    
                                </ul>
                            </div>
                        </li>
                        <li class="list-row">
                            <div class="list-el menu">Proposal<br/> Setting</div>
                            <div lass="list-el acess">
                                <ul class="line-list">
                                    <li>
                                        <p class="item">                                            
                                            <span>Set proposal pdf template</span>
                                        </p>                                        
                                    </li>   
                                    <li>
                                        <p class="item">                                            
                                            <span>Include Non-Samsung product and services into proposal</span>
                                        </p>                                        
                                    </li>     
                                    <li>
                                        <p class="item">                                            
                                            <span>Define standard markup margin for proposals</span>
                                        </p>                                        
                                    </li>                              
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- // basic-list__result end -->


            </div>
            <button type="button" class="btn-icon icon-close">
                <span class="txt-blind">Close</span>
            </button>
        </div>
    </div>

<!-- common.js -->
<script src="/pub-only/js/main-lib.js"></script>
<script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
<script src="clientlibs/js/main.js"></script>    
</body>
</html>