.run-rate-detail { max-width: 1440px; margin: 0 auto; padding: 0 24px 80px; } 
/* cm tit */
.run-rate-detail .tit-area { position: sticky; display: flex; align-items: center; justify-content: space-between; background: #ffffff; padding-top: 24px; z-index: 1; } 
.run-rate-detail .tit-area .tit__left,
.run-rate-detail .tit-area .tit__right { display: flex; align-items: center; column-gap: 8px; } 
.run-rate-detail .tit-area .tit__left { flex: auto; } 
.run-rate-detail .tit-area .tit__right { flex: none; } 

/* cm module */
.run-rate-detail .module-box .list-row:not(:last-of-type) { position: relative; } 
.run-rate-detail .module-box .list-row:not(:last-of-type)::before { content: ""; position: absolute; left:0; bottom:-2px; height: 3px; background: #ffffff; } 
.run-rate-detail .module-box .row-module .el-code { background: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 6.83011H8.5V8H0.5V6.83011ZM0.5 0H1.78754V7.26022H0.5V0Z' fill='black'/%3E%3C/svg%3E") no-repeat 12px 50%; padding-left: 24px; } 
.run-rate-detail .list-row-box[aria-disabled="true"] { background: #eeeeee; } 
.run-rate-detail .list-row-box[aria-disabled="true"] .list-row:not(:last-of-type)::before { background: #eeeeee; } 

 /* run-rate tit */
.run-rate-detail > .tit-area { top: 0; margin-bottom:8px; } 
.run-rate-detail > .tit-area .tit__left .run-rate-id { display: flex; align-items: center; column-gap: 8px; } 
.run-rate-detail > .tit-area .tit__left .txt-p4 { margin-top: 8px; } 
.run-rate-detail > .tit-area .tit__right { position: relative; } 
.run-rate-detail > .tit-area .tit__right .btn-box { width: auto; } 
/* product */
.run-rate-prd-list .tit-area { top: 73px; margin-bottom: 0; } 
.run-rate-prd-list .txt-del { color: #aaaaaa; text-decoration: line-through; } 
/* product list */
.run-rate-prd-list .list-nodata { height: 400px; } 
.run-rate-prd-list .basic-list-wrap { margin-top: 24px; padding: 0; border-radius: 0;} 
.run-rate-prd-list .basic-list__result .el-checkbox { width: 48px; } 
.run-rate-prd-list .basic-list__result .el-type { width: 180px; } 
.run-rate-prd-list .basic-list__result .el-code { width: 180px; } 
.run-rate-prd-list .basic-list__result .el-name { flex: auto; } 
.run-rate-prd-list .basic-list__result .el-price { width: 320px; } 
.run-rate-prd-list .basic-list__result .el-qty { width: 100px; } 
.run-rate-prd-list .basic-list__result .el-amount { width: 160px; } 
.run-rate-prd-list .list-body .el-code,
.run-rate-prd-list .list-body .el-name { text-align: left; } 
.run-rate-prd-list .list-body .el-amount { text-align: right; } 
.run-rate-prd-list .list-body .el-qty { text-align: center; } 
.run-rate-prd-list .list-body .el-price { display: flex; align-items: center; } 
.run-rate-prd-list .list-body .el-price span { flex: 1; text-align: right; } 
.run-rate-prd-list .list-body .field-box,
.run-rate-prd-list .list-body .input-box { width: 100%; min-width: 100%; } 
.run-rate-prd-list .list-body .input-box__input { text-align: inherit; } 
.run-rate-prd-list .list-body .input-box__input:read-only { background: transparent; border: 0; cursor: default; } 
.run-rate-prd-list .list-body .input-box__input:disabled { background: #fafafa; border: 1px solid #d9d9d9; } 
.run-rate-prd-list .module-box .list-row:not(:last-of-type)::before { width: 228px; } 
.run-rate-prd-list .module-box .row-module { padding-left: 228px; } 
.run-rate-prd-list .list-footer .el-total { flex: auto; } 
 /* footer */
.run-rate-prd-list .list-total-footer { position: sticky; bottom:0; display: flex; align-items: flex-start; justify-content: flex-end; column-gap: 24px; height: 80px; background: #f2f2f2; padding:16px 24px 0; border-width: 2px 0; border-style: solid; border-color: #000000; margin-top: 24px; } 
.run-rate-prd-list .list-total-footer .total-box { text-align: right; } 
.run-rate-prd-list .list-total-footer .total-box .txt-p2 { line-height: 1; } 

/*********** popup : Upload Excel File ***********/
.excel-file-box { display: flex; align-items: flex-start; column-gap: 24px; padding-top: 16px; } 
.excel-file-box .file-box__left { flex: auto; } 
.excel-file-box .file-box__left .file-name { min-height: 40px; } 
.excel-file-box .file-box__left .file-name:has(.txt-p6:empty) { min-height: 24px; } 
.excel-file-box .file-box__left .file-name:has(.txt-p6:empty) .file-name-btn { display: none; } 
.excel-file-box .file-box__left .upload-btn-box { margin-block: 16px 8px; } 
.excel-file-box .file-box__left .upload-btn-box .btn-block { min-width: 93px; cursor: pointer; } 
.excel-file-box .file-name-btn { width: 16px; height: 16px; vertical-align: middle; background: center / contain no-repeat
 url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-search-delete.svg); } 
.excel-file-box .file-box__right { flex: 0 0 128px; } 
.excel-file-box .file-box__right .btn-txt { margin-block: 0 10px; } 



/************************************************************************************** 
======================================= Tablet ======================================== 
***************************************************************************************/
@media only screen and (min-width: 769px) and (max-width: 1440px){
 .run-rate-detail { padding: 0 1.667vw 5.556vw; } 
 /* cm tit */
 .run-rate-detail .tit-area { padding-top: 1.667vw; } 
 .run-rate-detail .tit-area .tit__left,
 .run-rate-detail .tit-area .tit__right { column-gap: 0.556vw; } 
 /* cm-module */
 .run-rate-detail .module-box .list-row:not(:last-of-type)::before { bottom: -0.139vw; height: 0.208vw; } 
 .run-rate-detail .module-box .row-module .el-code { background-position: 0.833vw 50%; padding-left: 1.667vw; } 

 /* run-rate tit */
 .run-rate-detail > .tit-area { margin-bottom: 0.556vw; } 
 .run-rate-detail > .tit-area .tit__left .run-rate-id { column-gap: 0.556vw; } 
 .run-rate-detail > .tit-area .tit__left .txt-p4 { margin-top: 0.556vw; } 
 /* product */
 .run-rate-prd-list .tit-area { top: 5.069vw; } 
 /* product list */
 .run-rate-prd-list .list-nodata { height: 27.778vw; } 
 .run-rate-prd-list .basic-list-wrap { margin-top: 1.667vw; padding: 0; } 
 .run-rate-prd-list .basic-list__result .el-checkbox { width: 3.333vw; } 
 .run-rate-prd-list .basic-list__result .el-type { width: 12.5vw; } 
 .run-rate-prd-list .basic-list__result .el-code { width: 12.5vw; } 
 .run-rate-prd-list .basic-list__result .el-price { width: 22.222vw; } 
 .run-rate-prd-list .basic-list__result .el-qty { width: 6.944vw; } 
 .run-rate-prd-list .basic-list__result .el-amount { width: 11.111vw; } 
 .run-rate-prd-list .module-box .list-row:not(:last-of-type)::before { width: 15.833vw; } 
 .run-rate-prd-list .module-box .row-module { padding-left: 15.833vw; } 
 /* footer */
 .run-rate-prd-list .list-total-footer { column-gap: 1.667vw; height: 5.556vw; padding: 1.111vw 1.667vw 0; border-width: 0.139vw 0; margin-top: 1.667vw; } 

 /************* Upload Excel File *************/
 .excel-file-box { column-gap: 1.667vw; padding-top: 1.111vw; } 
 .excel-file-box .file-box__left .file-name { min-height: 2.778vw; } 
 .excel-file-box .file-box__left .file-name:has(.txt-p6:empty) { min-height: 1.667vw; } 
 .excel-file-box .file-box__left .upload-btn-box { margin-block: 1.111vw 0.556vw; } 
 .excel-file-box .file-box__left .upload-btn-box .btn-block { min-width: 6.458vw; } 
 .excel-file-box .file-name-btn { width: 1.111vw; height: 1.111vw; } 
 .excel-file-box .file-box__right { flex: 0 0 8.889vw; } 
 .excel-file-box .file-box__right .btn-txt { margin-block: 0 0.694vw; } 

 
 /* [E]Tablet */ } 
/************************************************************************************** 
======================================= Mobile ======================================== 
***************************************************************************************/
@media only screen and (max-width: 768px){
 .run-rate-detail { position: fixed; left: 0; right: 0; top: 0; bottom: 0; overflow-y: auto; height: 100dvh; padding: 0; } 
 /* cm tit */
 .run-rate-detail .tit-area { position: sticky; display: flex; align-items: center; justify-content: space-between; background: #ffffff; padding-top: 24px; z-index: 1; } 
 .run-rate-detail .tit-area .tit__left { column-gap: initial; } 

 /* run-rate tit */
 .run-rate-detail > .tit-area { overflow: initial; left: 0; right: 0; height: 56px; padding: 0 24px; box-shadow: var(--base-shadow ); margin-bottom:0; z-index: 9; } 
 .run-rate-detail > .tit-area .tit__left .run-rate-id { display: block; } 
 .run-rate-detail > .tit-area .tit__left .txt-h3 { font-size: 18px !important; } 
 .run-rate-detail > .tit-area .tit__left .txt-p4 { font-size: 12px !important; margin-top: 0; } 
 .run-rate-detail > .tit-area .tit__left .icon-page-back { margin-right: 16px; } 
 .run-rate-detail .btn-more-list { display: none; position: absolute; top: calc(100% + 5px); right: 0; background: #ffffff; padding: 4px 8px; border: 1px solid #E5E5E7; border-radius: 6px; box-shadow: var(--sm-box-shadow); } 
 .run-rate-detail .btn-more-list .list-item { min-width: 84px; height: 30px; } 
 .run-rate-detail .btn-more-list .list-item:not(:first-of-type) { border-top: 1px solid #dddddd; } 
 .run-rate-detail .btn-more-list .list-item .btn-block { border: 0; border-radius: 0; } 
 .run-rate-detail .btn-more-list .list-item .btn-txt,
 .run-rate-detail .btn-more-list .list-item .btn-block { width: 100%; height: 100%; justify-content: center; margin: 0; padding: 0; } 
 .run-rate-detail .btn-more-list .list-item .btn-txt__txt,
 .run-rate-detail .btn-more-list .list-item .btn-block__txt { font-size: 12px; } 
 .run-rate-detail .btn-more-list .list-item .btn-block__icon { display: none; } 
 .run-rate-detail > .tit-area .tit__right.mo-active .btn-more-list { display: block; z-index: 1; } 

 /* product */
 .run-rate-prd-list { padding: 0 24px 24px; } 
 .run-rate-prd-list .tit-area { position: static; display: block; border-bottom: 0; padding-bottom: 0; } 
 .run-rate-prd-list .tit-area .tit__right { display: none; } 
 .run-rate-prd-list .mo-tit-btn { position: sticky; top: 56px; left: 0; right: 0; display: flex !important; align-items: center; justify-content: space-between; background: #ffffff; margin-inline: -24px; padding: 12px 24px; z-index: 1; } 
 .run-rate-prd-list .mo-tit-btn > .btn-block { height: 32px; padding-inline: 16px; } 
 .run-rate-prd-list .mo-tit-btn > .btn-block .btn-block__txt { font-size: 12px; } 
 .run-rate-prd-list .mo-tit-btn .add-btn-box { position: relative; flex: none; width: 114px; } 
 .run-rate-prd-list .mo-tit-btn .add-btn__placeholder { position: relative; display: flex !important; align-items: center; width: 100%; height: 32px; background: #ffffff url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-selectbox-sm.svg) no-repeat calc(100% - 12px) 50%; padding-inline: 12px; border: 1px solid #aaaaaa; border-radius: 8px; } 
 .run-rate-prd-list .mo-tit-btn .add-btn__list { display: none; position: absolute; top: 32px; left: 0; flex-direction: column; width: 100%; background: #ffffff; margin-top: 0; padding-bottom: 8px; border: 1px solid #aaaaaa; border-top: 0; border-radius: 0 0 8px 8px; } 
 .run-rate-prd-list .mo-tit-btn .add-btn__list .btn-block { justify-content: initial; width: 100%; height: 32px; background: #ffffff !important; padding-inline: 12px; border: 0; border-radius: 0; } 
 .run-rate-prd-list .mo-tit-btn .add-btn__list .btn-block__txt { font-size: 11px; } 
 .run-rate-prd-list .mo-tit-btn .add-btn-box.mo-active .add-btn__placeholder { border-radius: 8px 8px 0 0; border-bottom: 0; background-image: url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/icon-selectbox-sm-active.svg); } 
 .run-rate-prd-list .mo-tit-btn .add-btn-box.mo-active .add-btn__list { display: block; } 
 /* product list */
 .run-rate-prd-list .list-nodata { height: 240px; border-top: 2px solid #000000; } 
 .run-rate-prd-list .basic-list-wrap { margin-top: 0; padding: 12px 0; } 
 .run-rate-prd-list .basic-list__top .txt-h7 { font-size: 16px !important; } 
 .run-rate-prd-list .basic-list__result { overflow-x: auto; } 
 .run-rate-prd-list .basic-list__result .el-type { width: 88px; } 
 .run-rate-prd-list .basic-list__result .el-code { width: 158px; } 
 .run-rate-prd-list .basic-list__result .el-name { flex: none; width: 224px; } 
 .run-rate-prd-list .basic-list__result .el-price { width: 240px; } 
 .run-rate-prd-list .basic-list__result .el-qty { width: 120px; } 
 .run-rate-prd-list .basic-list__result .el-amount { width: 120px; } 
 .run-rate-prd-list .list-head, 
 .run-rate-prd-list .list-body,
 .run-rate-prd-list .list-footer { width: fit-content; min-width: 100%; } 
 .run-rate-prd-list .list-head .txt-p5,
 .run-rate-prd-list .list-body .txt-p5,
 .run-rate-prd-list .list-footer .txt-p5 { font-size: 12px !important; } 
 .run-rate-prd-list .list-body .input-box__input { height: 32px; font-size: 12px; } 
 .run-rate-prd-list .module-box .list-row:not(:last-of-type)::before { width: 136px; } 
 .run-rate-prd-list .module-box .row-module { padding-left: 136px; } 
 .run-rate-prd-list .list-footer .el-total { flex: none; width: 878px; } 
 /* footer */
 .run-rate-prd-list .list-total-footer { position: static; column-gap: 4px; margin: 24px -24px 47px; padding-bottom: 16px; border-width: 1px 0; } 
 .run-rate-prd-list .list-total-footer > .txt-p5 { font-size: 12px !important; } 
 .run-rate-prd-list .list-total-footer .total-box .txt-p2 { font-size: 18px !important; line-height: 1.5; } 
 .run-rate-prd-list .list-total-footer .total-box .txt-p5 { font-size: 14px !important; } 

 /* page btn */
 .run-rate-detail .page-btn-box { position: fixed; left: 0; right: 0; bottom: 0; display: flex !important; align-items: center; gap: 8px; height: 72px; background: #ffffff; padding-inline: 24px; border-top: 1px solid #000000; } 
 .run-rate-detail .page-btn-box .btn-block { flex: 1; } 

 /* header, breadcrumb, footer hide */
 #wrap .header-wrap,
 #wrap .breadcrumb,
 #wrap .footer-wrap { display: none !important; } 


 /* [E]Mobile */ } 