<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Key Visual</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/apps/components/content/key-visual/clientlibs/css/main.css"
    />

    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
    <!-- End Google Tag Manager -->

  </head>
  <body>

    <!-- 2025-04-11 요청으로 삽입 //-->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --> 

    <div>
      <!-- component -->
      <section class="keyVisual">
        <div class="swiper keyVisual__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="keyVisual__bg">
                <div class="keyVisual__dim"></div>
                <!-- img 태그 임시 경로 -->
                <!-- 240618 pc/mo 이미지 분리 -->
                <!-- <img
                  src="https://picsum.photos/seed/picsum/1920/640"
                  alt="keyvisual background image"
                  class="keyVisual__bg pc-txt"
                /> -->
                <img src="/pub-only/images/pc-kv-1920-640.png" 
                  alt="keyvisual background image"
                  class="keyVisual__bg pc-txt"
                />

                <img
                  src="/pub-only/images/key-visual-mobile-360-472.png"
                  alt="keyvisual background image"
                  class="keyVisual__bg mo-txt"
                />
              </div>
              <!-- 240724 옵션 클래스 관련 수정 -->
              <!-- 텍스트 정렬 변경 관련 .keyVisual__cont 영역에 해당 클래스 추가
                  중앙 정렬 .tal-center /  오른쪽 정렬 .tal-right /  왼쪽 정렬 .tal-left

                  텍스트 색상 변경 관련 .keyVisual__cont 영역에 해당 클래스 추가
                  흰색 (default) / 검정색 .txt-black
              -->
              <article class="keyVisual__cont tal-center txt-black">
                <p class="keyVisual__title txt-fw-b">
                  <span class="pc-txt">
                    Transform Your Business with Samsung's<br />
                    Innovative HVAC Solutions</span
                  >
                  <span class="mo-txt">
                    Transform Your Business with Samsung's<br />
                    Innovative HVAC Solutions</span
                  >
                </p>
                <p class="keyVisual__desc txt-p5">
                  Empower your growth with Samsung's state-of-the-art HVAC
                  technology, tailored services, and unwavering support.<br />
                  Together, let's revolutionize the industry and elevate
                  customer experiences.<br />
                  Trust in Samsung - The Ultimate Partner for Success.
                </p>
                <!-- 240618 .btn-box 태그 변경 및 버튼 수정-->
                <span class="btn-box">
                  <!-- [F]. size(font): large(-), small bold (.sm), small reqular (.xsm)   -->
                  <a
                    role="button"
                    href="#"
                    class="btn-txt-underline keyVisual__btn"
                    target=""
                  >
                    <span class="btn-txt__txt"
                      ><em class="pc-txt">Learn more</em>
                      <em class="mo-txt">Learn more</em></span
                    >
                  </a>
                  <!-- [F]. color style:  white(-) ,black(.type2), blue(.type3) -->

                  <!-- 2025-07-07 button class md->lg로 변경 //-->
                  <a
                    role="button"
                    href="#"
                    class="btn-block type2 md keyVisual__btn"
                    target=""
                  >
                    <span class="btn-block__txt"
                      ><em class="pc-txt">Learn more</em>
                      <em class="mo-txt">Learn more</em></span
                    >
                  </a>
                </span>
              </article>
            </div>
            <div class="swiper-slide">
              <div class="keyVisual__bg">
                <div class="keyVisual__dim"></div>
                <!-- img 태그 임시 경로 -->
                <!-- 240618 pc/mo 이미지 분리 -->
                <!-- <img
                  src="https://picsum.photos/seed/picsum/1920/640"
                  alt="keyvisual background image"
                  class="keyVisual__bg pc-txt"
                /> -->
                <img src="/pub-only/images/pc-kv-1920-560.png" 
                  alt="keyvisual background image"
                  class="keyVisual__bg pc-txt"
                />
                <img
                  src="https://picsum.photos/seed/picsum/768/472"
                  alt="keyvisual background image"
                  class="keyVisual__bg mo-txt"
                />
              </div>
              <!-- 240724 옵션 클래스 관련 수정 -->
              <!-- 텍스트 정렬 변경 관련 .keyVisual__cont 영역에 해당 클래스 추가
                  중앙 정렬 .tal-center /  오른쪽 정렬 .tal-right /  왼쪽 정렬 .tal-left

                  텍스트 색상 변경 관련 .keyVisual__cont 영역에 해당 클래스 추가
                  흰색 (default) / 검정색 .txt-black
              -->
              <article class="keyVisual__cont tal-center">
                <p class="keyVisual__title txt-h2 txt-fw-b">
                  <span class="pc-txt">
                    Transform Your Business with Samsung's<br />
                    Innovative HVAC Solutions</span
                  >
                  <span class="mo-txt">
                    Transform Your Business with Samsung's<br />
                    Innovative HVAC Solutions</span
                  >
                </p>
                <p class="keyVisual__desc txt-p5">
                  Empower your growth with Samsung's state-of-the-art HVAC
                  technology, tailored services, and unwavering support.<br />
                  Together, let's revolutionize the industry and elevate
                  customer experiences.<br />
                  Trust in Samsung - The Ultimate Partner for Success.
                </p>
                <!-- 240618 .btn-box 태그 변경 및 버튼 수정-->
                <span class="btn-box">
                  <!-- [F]. size(font): large(-), small bold (.sm), small reqular (.xsm)   -->
                  <a
                    role="button"
                    href="#"
                    class="btn-txt-underline keyVisual__btn"
                    target=""
                  >
                    <span class="btn-txt__txt"
                      ><em class="pc-txt">Learn more</em>
                      <em class="mo-txt">Learn more</em></span
                    >
                  </a>
                  <!-- [F]. color style:  white(-) ,black(.type2), blue(.type3) -->
                  <a
                    role="button"
                    href="#"
                    class="btn-block type2 md keyVisual__btn"
                    target=""
                  >
                    <span class="btn-block__txt"
                      ><em class="pc-txt">Learn more</em>
                      <em class="mo-txt">Learn more</em></span
                    >
                  </a>
                </span>
              </article>
            </div>
            <div class="swiper-slide">
              <div class="keyVisual__bg">
                <div class="keyVisual__dim"></div>
                <!-- img 태그 임시 경로 -->
                <img
                  src="https://picsum.photos/1920/800"
                  alt="keyvisual background image"
                  class="keyVisual__bg"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="keyVisual__bg">
                <div class="keyVisual__dim"></div>
                <!-- img 태그 임시 경로 -->
                <img
                  src="https://picsum.photos/1920/800"
                  alt="keyvisual background image"
                  class="keyVisual__bg"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="keyVisual__bg">
                <div class="keyVisual__dim"></div>
                <!-- img 태그 임시 경로 -->
                <img
                  src="https://picsum.photos/1920/800"
                  alt="keyvisual background image"
                  class="keyVisual__bg"
                />
              </div>
            </div>
          </div>

          <!-- 240718 접근성 관련 swiper 텍스트 추가 -->
          <div class="swiper-pagination-wrap">
            <div class="swiper-pagination">
              <span class="txt-blind">prev</span> /
              <span class="txt-blind">next</span>
            </div>
            <div class="swiper-button-autoplay">
              <span class="txt-blind">pause</span>
            </div>
          </div>

          <div class="swiper-button-wrap">
            <div class="swiper-button-prev">
              <span class="txt-blind">prev</span>
            </div>
            <div class="swiper-button-next">
              <span class="txt-blind">next</span>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- common.js -->
    <script src="/pub-only/js/main-lib.js"></script>
    <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
    <!-- 컴포넌트 js -->
    <script src="/apps/components/content/key-visual/clientlibs/js/main.js"></script>
  </body>
</html>
