<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>vertical</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <div id="wrap">

    <!-- vertical-wrap // -->
    <div class="vertical-wrap">

      <!-- vertical-visual-area  // -->
      <div class="vertical-visual-area" >
        <div class="visual-txt"> 
          <strong>Samsung Enhances Hotel and Resort Comfort with<br/>Advanced HVAC Solutions​</strong>
          <span>Comprehensive Climate Control Systems for Extended stay Hotels, Business Hotels,<br/>and ​Full-Service Resorts​</span>
        </div>
        <p class="pc-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-hotel-pc-visual.png);"></p>
        <p class="mo-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-hotel-mo-visual.png);"></p>
      </div>
      <!-- // vertical-visual-area   -->

      <p class="vertical-tit">
        <strong>Are you looking for a new heating or air conditioning solution?​​</strong>
      </p>

      <!-- tab-wrap // -->
      <div class="tab-wrap combo">
        <!-- combo-box //-->
        <div class="combo-box">
          <button type="button" class="mo-tab-list__tab" >
            <span class="tab-list__tab-txt">Extended Stay Hotel / Business Hotel​</span>
          </button> 

          <div role="tablist" class="tab-list type7" aria-label="탭타이틀"> 
            <button type="button" class="tab-list__tab active" role="tab" aria-selected="true">
              <span class="tab-list__tab-txt">Extended Stay Hotel / Business Hotel​​</span>
            </button>
            <button type="button" class="tab-list__tab" role="tab">
              <span class="tab-list__tab-txt">Full service Hotel / Resort​</span>
            </button>            
          </div>          
        </div>
        <!-- // combo-box -->        
        
        <!--  tab-wrap__contents //--> 
        <div class="tab-wrap__contents">

          <!-- tabpanel(Extended Stay Hotel / Business Hotel​​) // -->
          <div role="tabpanel" aria-labelledby="" tabindex="0">

            <p class="tab-cont-tit"><strong>Extended / Business Hotel Solution</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->
              <div class="gray-round-line-box space-mo0">
                <p class="datached-img-area pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel_extended_big_pc.png);"></p>    
                <p class="datached-img-area mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel_extended_big_mo.png);"></p>             
              </div>              
            </div>
            <!-- // gray-line-wrap  -->

            <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">
              <!-- 2025-06-27 문구수정 // -->
              <p class="cont">
                Extended Stay and business hotels are accommodation types ​designed for longer-term stays compared to traditional hotels. ​They offer a blend of hotel services and apartment-like amenities, ​catering to guests who need temporary housing for weeks or ​months.  <br/><br/>
                When designing HVAC systems for extended stay hotels and inns, several factors must be considered to ensure comfort, and efficiency:
              </p>     

              <ul class="dot-list bold">
                <li>Long-Term Occupancy Needs</li>
                <li>Apartment-Like Layouts​</li>
                <li>Flexibility and Scalability</li>
                <li>Noise Control</li>
              </ul>         
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>DVM S2​​</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel-dvm-s2-01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel-dvm-s2-02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            <!-- tbl-wrap // -->           
            <div class="tbl-wrap2">
              <table>
                <colgroup>                  
                  <col style="width:696px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual space (Room, Meeting room)​</th>
                    <th scope="col">Common  space (Lobby, Conference room)</th>
                  </tr>                  
                </thead>
                <tbody> 
                  <tr>
                    <th>Cooling / Heating</th>                    
                    <th>Cooling / Heating</th>                   
                  </tr>                
                  <tr>
                    <td>                     
                      <span class="info">DVM S2 (HR) + Indoor unit</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>     
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product46.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product04.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S2 (HR) +  Indoor unit</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product26.png" alt=""></span>     
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product25.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product24.png" alt=""></span>
                      </p>
                    </td>                    
                  </tr>                 
                </tbody>
              </table>
            </div>            
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:320px;" />
                  <col style="width:360px;" />
                  <col style="width:280px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller /<br/> Wired Remote Controller(Touch) /<br/>Wired Remote Controller(Color)</span>
                      <p class="img-area">
                        <span class="img-vertical half"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product06.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product38.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product07.png" alt=""></span>              
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Touch Centralized Controller /​<br/>On/Off Controller / Packaged DOAS Kit</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product21.png" alt=""></span>       
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product47.png" alt=""></span>      
                         <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product43.png" alt=""></span>                  
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DMS / b.IoT lite /</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product22.png" alt=""></span>    
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>    
                      </p>
                    </td>
                    <td>                      
                      <span class="info">PIM, SIM / BACnet Lonworks Gateway /<br/>Thermostat Kit /​ External Contact /<br/>Modbus Interface Module /<br/>Power Peak Monitoring Interface Module</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product48.png" alt=""></span>  
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product49.png" alt=""></span> 
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product39.png" alt=""></span> 
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <p class="txt-p5 paragraph">
            The DVM S2 air conditioning system, combined with b.IoT services, is ideal for extended stay hotels and business hotels, offering efficiency and comfort. Its modular design ensures flexible installation, while Digital Inverter Technology increase efficiency and maintains consistent comfort. Slim Duct indoor units provide minimal space requirements, sleek aesthetics, and precise airflow control, perfect for hotel rooms.
            </p>


            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area free-joint pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel-dvm-s2-big-pc.png);"></p>
                  <p class="img-area free-joint mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel-dvm-s2-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>DVM S2 (HR)</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel-dvm-s2-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>2</em> <span>Slim Duct​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel-dvm-s2-small02-mo.png" alt="">                                           
                      </div>
                    </li>                                                      
                  </ul>
                </div>                    
              </div>            
            </div>
            <!-- // gray-line-wrap  -->
          </div>
          <!-- // tabpanel(Extended Stay Hotel / Business Hotel​​) -->
          
          <!-- tabpanel(Full service Hotel / Resort​) // -->
          <div role="tabpanel"  >
            <p class="tab-cont-tit"><strong>Full service Hotel / Resort Solution</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->
              <div class="gray-round-line-box space-mo0">
                <p class="datached-img-area semi pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel_full_service_big_pc.png);"></p>    
                <p class="datached-img-area semi mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-hotel_full_service_big_mo.png);"></p>             
              </div>              
            </div>
            <!-- // gray-line-wrap  -->

             <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">
              <p class="cont">
                Full-Service Hotels and Resorts are premium accommodation types​ that offer luxurious facilities, comprehensive services, and a wide ​range of amenities. They cater to both business travelers and ​vacationing tourists, providing more than just a place to stay. <br/><br/>
                When designing HVAC systems for full-service hotels and resorts,​ several critical factors must be considered to meet the high expectations of guests and ensure operational efficiency:
              </p>     

              <ul class="dot-list bold">
                <li>Luxury Comfort and Consistency</li>
                <li>Noise Control and Quiet Operation</li>
                <li>Smart Building Management</li>
              </ul>       
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>DVM S2</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-full-service-dvm-s2-mini01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-full-service-dvm-s2-mini02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

             <!-- tbl-wrap // -->           
            <div class="tbl-wrap2">
              <table>
                <colgroup>                  
                  <col style="width:696px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual space (Room, Meeting room)​</th>
                    <th scope="col">Common  space (Lobby, Conference room)</th>
                  </tr>                  
                </thead>
                <tbody> 
                  <tr>
                    <th>Cooling / Heating</th>                    
                    <th>Cooling / Heating</th>                   
                  </tr>                
                  <tr>
                    <td>                     
                      <span class="info">DVM S2 (HR) + Indoor unit</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>     
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product46.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product04.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S2 (HR) +  Indoor unit</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product36.png" alt=""></span>   
                      </p>
                    </td>                    
                  </tr>                 
                </tbody>
              </table>
            </div>            
            <!-- // tbl-wrap  -->


            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:320px;" />
                  <col style="width:360px;" />
                  <col style="width:280px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller /<br/>Wired Remote Controller(Touch) /<br/>Wired Remote Controller(Color)</span>
                      <p class="img-area">
                        <span class="img-vertical half"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product37.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product38.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product07.png" alt=""></span>              
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Touch Centralized Controller /<br/>On/Off Controller /​ Packaged DOAS Kit</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product21.png" alt=""></span>    
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product47.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product43.png" alt=""></span>                         
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DMS / b.IoT lite </span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product22.png" alt=""></span>                             
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">PIM, SIM / BACnet Lonworks Gateway /<br/>Thermostat Kit /​ External Contact /<br />Modbus Interface Module /<br/>Power Peak Monitoring Interface Module</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product48.png" alt=""></span>  
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product49.png" alt=""></span> 
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product39.png" alt=""></span>
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->            

            <!-- 2025-06-27 문구수정 -->
            <p class="txt-p5 paragraph">
              The DVM S2 air conditioning system, combined with b.IoT services, is a cutting-edge solution for full-service hotels and resorts, offering modular design for flexible installation. Its WindFree<sup>™️</sup> technology ensures quiet and consistent climate control, ideal for luxurious environments like spas and restaurants. Integration with b.IoT enables smart building management, enhancing operational efficiency and air quality control. The system’s reliability, easy maintenance, and adaptability to future expansions make it a guest-friendly choice, ensuring long-term performance.​
            </p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area dvm-mini pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-full-dmv-s2-big-pc.png);"></p>
                  <p class="img-area dvm-mini mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-full-dmv-s2-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>DVM S2 (HR)​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-full-dmv-s2-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>2</em> <span>Duct​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-full-dmv-s2-small02-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>3</em> <span>WindFree<sup>™️</sup> 1-way Cassette​​</span></p>                        
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-full-dmv-s2-small03-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>4</em> <span>Hallway</span></p>                                                
                    </li>
                    <li>
                      <!-- 2025-06-27 문구변경 // -->
                      <p class="txt"><em>5</em><span>Lobby</span></p>                      
                    </li>                    
                    <li>
                      <!-- 2025-06-27 문구변경 // -->
                      <p class="txt"><em>6</em> <em>7</em> <span>MCU</span></p>                      
                    </li>    
                    <li>
                      <!-- 2025-06-27 문구변경 // -->
                      <p class="txt"><em>8</em> <em>10</em> <span>Heating</span></p>                      
                    </li> 
                    <li>
                      <p class="txt"><em>9</em> <em>11</em> <span>Cooling​</span></p>                      
                    </li>                 
                  </ul>
                </div>                    
              </div>           
            </div>
            <!-- // gray-line-wrap  -->

            <p class="vertical-item-tit"><strong>Machinery & Control room​​</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-full-service-machinery-01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-full-service-machinery-02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

         
          </div>
          <!-- // tabpanel(Full service Hotel / Resort​​​​) -->          
      
        </div>
        <!-- // tab-wrap__contents --> 
      </div>

    </div>
    <!-- //  vertical-wrap  -->

  </div>
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>

</body>

</html>