<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>vertical</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <div id="wrap">

    <!-- vertical-wrap // -->
    <div class="vertical-wrap">

      <!-- vertical-visual-area  // -->
      <div class="vertical-visual-area" >
        <div class="visual-txt"> 
          <strong>Samsung Elevates Office Building Efficiency with<br/>Tailored HVAC Solutions</strong>
          <span>Comprehensive Systems for Small, Mid-Rise, and Large Office Buildings to Meet Diverse Needs,<br/>Ensuring Optimal Performance</span>
        </div>
        <p class="pc-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-office-pc-visual.png);"></p>
        <p class="mo-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-office-mo-visual.png);"></p>
      </div>
      <!-- // vertical-visual-area   -->

      <p class="vertical-tit">
        <strong>Are you looking for a new heating or air conditioning solution?​</strong>
      </p>


      <!-- tab-wrap // -->
      <div class="tab-wrap combo">
        <!-- combo-box //-->
        <div class="combo-box">
          <button type="button" class="mo-tab-list__tab" >
            <span class="tab-list__tab-txt">Small office building​e</span>
          </button> 

          <div role="tablist" class="tab-list type7" aria-label="탭타이틀"> 
            <button type="button" class="tab-list__tab active" role="tab" aria-selected="true">
              <span class="tab-list__tab-txt">Small office building​</span>
            </button>
            <button type="button" class="tab-list__tab" role="tab">
              <span class="tab-list__tab-txt">Mid-rise office building​</span>
            </button>
            <button type="button" class="tab-list__tab" role="tab">
              <span class="tab-list__tab-txt">Large office building​</span>
            </button>
          </div>          
        </div>
        <!-- // combo-box -->        
        
        <!--  tab-wrap__contents //--> 
        <div class="tab-wrap__contents">

          <!-- tabpanel(Small office building​) // -->
          <div role="tabpanel" aria-labelledby="" tabindex="0">

            <p class="tab-cont-tit"><strong>Small office Solution</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->
              <div class="gray-round-line-box space-mo0">
                <!-- 2025-06-27 클래스 추가 // -->
                <p class="datached-img-area semi pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office_small_big_pc.png);"></p>    
                <p class="datached-img-area mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office_small_big_mo.png);"></p>             
              </div>
              <span class="text">[Floor Plan]</span>
            </div>
            <!-- // gray-line-wrap  -->

            <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">
              <!-- 2025-06-27 문구 수정 // -->
              <p class="cont">
                A small office building is a commercial property with multiple floors or units for office use, typically found in urban areas to maximize space efficiency and minimize costs. They often provide shared amenities like meeting rooms, break areas, and reception services to improve the tenant experience. <br/><br/>
                Important considerations to take into account when design a small office building are,
              </p>     

              <ul class="dot-list bold">
                <li>Space utilization</li>
                <li>Indoor air quality (IAQ)</li>
                <li>Noise management</li>
                <li>Maintenance ease</li>
              </ul>               
                
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>DVM S Mini​</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-small-dvm-s-mini01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-small-dvm-s-mini02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            <!-- tbl-wrap // -->           
            <div class="tbl-wrap2">
              <table>
                <colgroup>                  
                  <col style="width:696px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Cooling / Heating</th>
                    <th scope="col">Ventilation</th>
                  </tr>                  
                </thead>
                <tbody>                 
                  <tr>
                    <td>       
                      <!-- 2025-06-27 문구 수정 // -->              
                      <span class="info">DVM S Mini + Indoor Unit​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product16.png" alt=""></span>     
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product24.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product25.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product26.png" alt=""></span>                  
                      </p>
                    </td>
                    <td>                      
                      <span class="info">ERV​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product27.png" alt=""></span>
                      </p>
                    </td>                    
                  </tr>                 
                </tbody>
              </table>
            </div>            
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:380px;" />
                  <col style="width:210px;" />
                  <col style="width:442px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller /<br/>Wired Remote Controller(Simple) /<br/>Wired Remote Controller(Standard)</span>
                      <p class="img-area">
                        <span class="img-vertical half"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product06.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product28.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product29.png" alt=""></span>              
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Wi-Fi Kit</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product30.png" alt=""></span>                             
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DMS / b.IoT lite /</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product22.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product31.png" alt=""></span>  
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product10.png" alt=""></span> 
                      </p>
                    </td>
                    <td>                      
                      <span class="info">PIM / SIM<br/>S-net Pro 2 / S-Converter</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product33.png" alt=""></span>  
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product34.png" alt=""></span> 
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <!-- 2025-07-17 문구수정 // -->
            <p class="txt-p5 paragraph">
             For the small office building, Samsung can propose a solution using DVM S Mini products and b.IoT services for cooling and heating, ventilation. The main benefits that Samsung can provide are space suitability and easy building management through or b.IoT lite, and improved comfort using WindFree™ technology.
            </p>


            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area free-joint pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office-small-dvm-s-big-pc.png);"></p>
                  <p class="img-area free-joint mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office-small-dvm-s-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>WindFree<sup>™️</sup> 4-way Cassette​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office-dvm-s-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>2</em> <span>DVM S Mini</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office-dvm-s-small02-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>3</em> <span>2-way Cassette</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office-dvm-s-small03-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>4</em> <span>DMS : Peak power control</span></p>       
                      <div class="small-img pc">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office-dvm-mini-pc.png" alt="">                                           
                      </div>                
                      <div class="small-img ">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office-dvm-s-small04-mo.png" alt="">                                           
                      </div>                     
                    </li>                                      
                  </ul>
                </div>                    
              </div>            
            </div>
            <!-- // gray-line-wrap  -->
          </div>
          <!-- // tabpanel(Small office building​) -->
          
          <!-- tabpanel(Mid-rise office building​​​​) // -->
          <div role="tabpanel"  >
            <p class="tab-cont-tit"><strong>Mid-rise office Solution</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->
              <div class="gray-round-line-box space-mo0">
                <p class="datached-img-area semi pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office_mid_rise_big_pc.png);"></p>    
                <p class="datached-img-area semi mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office_mid_rise_big_mo.png);"></p>             
              </div>
              <span class="text">[Floor Plan]</span>
            </div>
            <!-- // gray-line-wrap  -->

             <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">
              <p class="cont">
                A mid-rise office building is a multi-story commercial property in urban areas, typically 5-15 stories high, offering efficient ​space use and easy access to amenities. It serves as an affordable alternative to low-rise and high-rise buildings, making it a popular choice for businesses. <br/><br/>
                Important considerations to take into account when design a small office building are,
              </p>     

              <ul class="dot-list bold">
                <li>Indoor air quality (IAQ)</li>
                <li>Temperature and humidity control</li>
                <li>Noise control</li>
                <li>Maintenance ease</li>
              </ul>       
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>DVM S2</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-midrise-dvm-s2-mini01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-midrise-dvm-s2-mini02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:444px;" />
                  <col style="width:316px;" />
                  <col style="width:316px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>                   
                    <th scope="col" colspan="2">Workspace​</th>
                    <th scope="col" colspan="2">Common space</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>Cooling / Heating</th>
                    <th>Ventilation</th>
                    <th>Cooling / Heating</th>
                    <th>Ventilation</th>
                  </tr>
                  <tr>
                    <td>                     
                      <span class="info">DVM S2 + Indoor unit</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product24.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product25.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product26.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S2 (HR) + DOAS</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product35.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S2 (HR) + AHU</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product36.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S2 (HR) + AHU</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product36.png" alt=""></span>
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:370px;" />
                  <col style="width:210px;" />
                  <col style="width:370px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller /<br/>Wired Remote Controller(Simple) /<br/>Wired Remote Controller(Standard)</span>
                      <p class="img-area">
                        <span class="img-vertical half"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product37.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product38.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product07.png" alt=""></span>              
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Wi-Fi Kit</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product30.png" alt=""></span>                             
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DMS / b.IoT lite </span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product22.png" alt=""></span>                             
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">PIM / SIM / BACnet Gateway S-net Pro 2 /<br/>S-Converter /<br/>Power Peak Monitoring interface module</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product34.png" alt=""></span>  
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product33.png" alt=""></span> 
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product39.png" alt=""></span> 
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <p class="vertical-item-tit"><strong>Workspace</strong></p>

            <!-- 2025-07-17 문구수정 -->
            <p class="txt-p5 paragraph">
              For the workspace, Samsung can propose a solution using DVM S2 (HR) products and AHU, DOAS, various indoor unit, b.IoT services for cooling and heating, ventilation. Decoupling ventilation supply and comfort cooling/heating increases initial costs but offers more flexibility. It allows for easier fan balancing, verifying ventilation rates like Demand Control Ventilation (DCV). 
            </p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area dvm-mini pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-workspace-big-pc.png);"></p>
                  <p class="img-area dvm-mini mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-workspace-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>WindFree<sup>™️</sup>360 Cassette</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-workspace-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>2</em> <span>WindFree<sup>™️</sup>4-way Cassette​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-workspace-small02-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>3</em> <span>2-way Cassette​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-workspace-small03-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>4</em> <span>DVM S2 (HP)</span></p>                                                
                    </li>
                    <li>
                      <p class="txt"><em>5</em><span>DVM S2 (HR)</span></p>                      
                    </li>                    
                    <li>
                      <p class="txt"><em>6</em> <span>DOAS</span></p>                      
                    </li>                    
                  </ul>
                </div>                    
              </div>           
            </div>
            <!-- // gray-line-wrap  -->

            <p class="vertical-item-tit"><strong>Common space  (Conference hall)​</strong></p>

            <p class="txt-p5 paragraph">
              Combining DVM S2 (HR) with AHU for office buildings, especially in high-traffic areas like conference halls, offers key benefits. AHU supplies fresh air at mid-height, ensuring uniform distribution and comfort. DVM S2 (HR) enhances energy efficiency with precise zone control, while AHU improves air quality by filtering external air. The flexible design adapts to diverse spaces and needs, making it a versatile and effective HVAC solution.​
            </p>

             <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area dvm-mini pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-Conference-hall-big-pc.png);"></p>
                  <p class="img-area dvm-mini mo small" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-Conference-hall-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>DVM S2 (HR) + AHU</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-Conference-hall-small01-mo.png" alt="">                                           
                      </div>
                    </li> 
                  </ul>
                </div>                    
              </div>           
            </div>
            <!-- // gray-line-wrap  -->
         
          </div>
          <!-- // tabpanel(Mid-rise office building​​​​) -->
          
          <!-- tabpanel(Large office building​​​) // -->
          <div role="tabpanel" >
            <p class="tab-cont-tit"><strong>Large office Solution</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->
              <div class="gray-round-line-box space-mo0">
                <p class="datached-img-area semi pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office_large_big_pc.png);"></p>    
                <p class="datached-img-area semi mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-office_large_big_mo.png);"></p>             
              </div>
              <span class="text">[Floor Plan]</span>
            </div>
            <!-- // gray-line-wrap  -->

            <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">   
              <p class="cont">
                A large office building is a significant structure designed to house​ various companies or organizations, typically with numerous ​ floors and a substantial footprint. It provides ample room for ​different departments, meeting rooms, conference halls, and ​other facilities required by modern corporations. Located in ​central business districts or industrial parks, these buildings ​serve as hubs for economic activity and employment ​opportunities, symbolizing progress, innovation, and success in ​the corporate world.​<br/><br/>
                Important considerations to take into account when design a large office building are,
              </p>
            

              <ul class="dot-list bold">
               <li>Energy Management System (EMS)</li>
               <li>Central Control System</li>
               <li>High-Efficiency Equipment</li>
               <li>Maintenance Ease</li>    
              </ul>
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>DVM S2</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-dvm-s2-mini01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-dvm-s2-mini02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:696px;" />                  
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>                    
                    <th scope="col" colspan="2">Workspace​</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>Central Zone​</th>
                    <th>Perimeter Zone​</th>
                  </tr>
                  <tr>
                    <td>                     
                      <span class="info">Chiller, Boiler(3rd party or local sourcing) + AHU</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product40.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product41.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product36.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S2 + Hydro unit​</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product24.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product26.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product25.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:696px;" />                  
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>                    
                    <th scope="col" colspan="2">Common  space</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>Central Zone​</th>
                    <th>Perimeter Zone​</th>
                  </tr>
                  <tr>
                    <td>                     
                      <span class="info">Chiller, Boiler(3rd party or local sourcing) + AHU</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product40.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product41.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product36.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S2 + Hydro unit​</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product42.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product24.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product26.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product25.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:348px;" />
                  <col style="width:348px;" />
                  <col style="width:348px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller /<br/> Wired Remote Controller(Simple) /<br/> Wired Remote Controller(Standard)</span>
                      <p class="img-area">
                        <span class="img-vertical half"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product37.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product38.png" alt=""></span>     
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product07.png" alt=""></span>                
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Touch Centralized Controller /<br/>FCU Interface Module</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product21.png" alt=""></span>    
                         <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product43.png" alt=""></span>  
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DMS / PIM​ b.IoT​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product22.png" alt=""></span> 
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product18.png" alt=""></span>                            
                      </p>
                    </td>
                    <td>                      
                      <span class="info">PIM,SIM / BACnet Gateway S-Net Pro 2 /<br/>S-Converter FCU Control Kit / AHU Control Kit</span>
                      <p class="img-area">                         
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product18.png" alt=""></span>  
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product33.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product44.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product34.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product45.png" alt=""></span>
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <p class="vertical-item-tit"><strong>Workspace​</strong></p>

            <p class="txt-p5 paragraph">
              For the Large office building, Samsung can propose a solution using DVM water and DVM S2, various indoor unit, b.IoT services for cooling and heating. These solutions are perfectly compatible with Chillers and Cooling towers and water pumps, enabling efficient heating and cooling according to external temperature changes. Through data-based comfort control, learning-based optimization, and efficient outdoor unit operation, while variable rate plan response control and precise temperature management further enhance overall efficiency.​
            </p>


            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area dvm-s2 pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-workspace-big-pc.png);"></p>
                  <p class="img-area dvm-s2 mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-workspace-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>DVM S2​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-workspace-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>2</em> <span>WindFree<sup>™️</sup> 1-way Cassette</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-workspace-small02-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>3</em> <span>Ventilation Duct​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-workspace-small03-mo.png" alt="">                                           
                      </div>
                    </li>    
                    <li>
                      <p class="txt"><em>4</em> <span>WindFree<sup>™️</sup> 4-way Cassette</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-workspace-small04-mo.png" alt="">                                           
                      </div>
                    </li>                       
                  </ul>
                </div>                    
              </div>             
            </div>
            <!-- // gray-line-wrap  -->

            <p class="vertical-item-tit"><strong>Machinery & Control room</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-machinery-01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-large-machinery-02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->
         
          </div>
          <!-- // tabpanel(Large office building​​) -->
        </div>
        <!-- // tab-wrap__contents --> 
      </div>

    </div>
    <!-- //  vertical-wrap  -->

  </div>
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>

</body>

</html>