<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>vertical</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <div id="wrap">

    <!-- vertical-wrap // -->
    <div class="vertical-wrap">

      <!-- vertical-visual-area  // -->
      <div class="vertical-visual-area" >
        <div class="visual-txt"> 
          <strong>Samsung elevates your living experience with <br/> innovative technology</strong>
          <span>Our innovative residential solutions ensure unparalleled comfort without compromising energy efficiency</span>
        </div>
        <p class="pc-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-pc-visual.png);"></p>
        <p class="mo-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-mo-visual.png);"></p>
      </div>
      <!-- // vertical-visual-area   -->

      <p class="vertical-tit">
        <strong>Are you looking for a new heating or air conditioning solution?</strong>
      </p>


      <!-- tab-wrap // -->
      <div class="tab-wrap combo">
        <!-- combo-box //-->
        <div class="combo-box">
          <button type="button" class="mo-tab-list__tab" >
            <span class="tab-list__tab-txt">Detached House</span>
          </button> 

          <div role="tablist" class="tab-list type7" aria-label="탭타이틀"> 
            <button type="button" class="tab-list__tab active" role="tab" aria-selected="true">
              <span class="tab-list__tab-txt">Detached House</span>
            </button>
            <button type="button" class="tab-list__tab" role="tab">
              <span class="tab-list__tab-txt">Semi-Detached House &amp; Town House</span>
            </button>
            <button type="button" class="tab-list__tab" role="tab">
              <span class="tab-list__tab-txt">Flat House &amp; Condominium</span>
            </button>
          </div>          
        </div>
        <!-- // combo-box -->        
        
        <!--  tab-wrap__contents //--> 
        <div class="tab-wrap__contents">

          <!-- tabpanel(Detached House) // -->
          <div role="tabpanel" aria-labelledby="" tabindex="0">

            <p class="tab-cont-tit"><strong>Detached House Solution</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->
              <div class="gray-round-line-box space-mo0">
                <p class="datached-img-area pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-residential_datached_big_pc.png);"></p>    
                <p class="datached-img-area mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-residential_datached_big_mo.png);"></p>             
              </div>
              <span class="text">[Floor Plan]</span>
            </div>
            <!-- // gray-line-wrap  -->

            <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">
              <p class="cont">
                Single-Family Homes (Detached Houses) are standalone residential ​structures designed for individual families, offering privacy, ​independence, and personalized living spaces. These  homes typically​ feature separate entrances, private yards, and dedicated areas for ​living, sleeping, and recreational activities. <br/><br/>
                When designing HVAC systems for single-family homes, key factors ​to consider include:
              </p>

              <p class="cont"></p>

              <ul class="dot-list bold cont">
                <li>
                  Smart home integration and user convenience
                  <span class="txt">Tailor the system to the home’s layout, ensuring even air distribution ​ and zoning for different areas.</span>
                </li>

                <li>
                  Energy Efficiency
                  <span class="txt">Use technologies like variable speed drives and smart thermostats. ​</span>
                </li>

                <li>
                  Comfort and Air Quality
                  <span class="txt">Maintain optimal humidity levels and improve indoor air quality with ​air purification systems.</span>
                </li>
              </ul>               
                
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>Free Joint Multi</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-free-joint01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-free-joint02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            <!-- tbl-wrap // -->
            <!-- 2025-06-19 테이블 구조변경 start // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>                  
                  <col style="width:464px;" />
                  <col style="width:464px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Heating</th>
                    <th scope="col">Cooling</th>
                    <th scope="col">DHW</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>Radiator</th>
                    <th>Air</th>
                    <th>Individual​</th>
                  </tr>
                  <tr>
                    <td>                     
                      <span class="info">Boiler</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product01.png" alt=""></span>                       
                      </p>
                    </td>
                    <td>                      
                      <span class="info">FJM + Indoor Unit</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product02.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product03.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product04.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Boiler + Tank​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product01.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product05.png" alt=""></span>
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // 2025-06-19 테이블 구조변경 end  -->
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:348px;" />
                  <col style="width:348px;" />
                  <col style="width:348px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller /<br/> Wired Remote Controller</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product06.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product07.png" alt=""></span>                    
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Wi-Fi Kit/Single</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product08.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product09.png" alt=""></span>  
                      </p>
                    </td>
                    <td>                      
                      <span class="info">SmartThings</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product10.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product11.png" alt=""></span>  
                      </p>
                    </td>
                    <td>                      
                      <span class="info">RAC comm. Kit (In/Outdoor)</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product12.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product13.png" alt=""></span>  
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <p class="txt-p5 paragraph">
              For the Detached House, Samsung can propose a solution using Free Joint Multi products and SmartThings services <sup>1)</sup> for cooling. In the case of heating and hot water supply, 3rd party boilers and water tanks are used. The main benefits that Samsung can provide are easy and convenient home automation through SmartThings, optimized energy consumption<sup>2)</sup>, and improved comfort using WindFree™ technology.
            </p>


            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area free-joint pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-free-joint-big-pc.png);"></p>
                  <p class="img-area free-joint mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-free-joint-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>WindFree<sup>™️</sup> Wall-mounted</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-free-joint-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>2</em> <span>FJM</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-free-joint-small02-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>3</em> <span>WindFree<sup>™️</sup> 1-way Cassette</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-free-joint-small03-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>4</em> <span>SmartThings</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-free-joint-small04-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>5</em> <span>Wi-Fi Kit</span></p>                      
                    </li>
                    <li>
                      <p class="txt"><em>6</em> <span>Radiator</span></p>                      
                    </li>
                    <li>
                      <p class="txt"><em>7</em> <span>How water</span></p>                      
                    </li>
                    <li>
                      <p class="txt"><em>8</em> <span>Thermostat</span></p>                      
                    </li>
                  </ul>
                </div>                    
              </div>
              <ul class="num-list">                
                <li><span class="num">1)</span> <span>Must download the SmartThings app available on Android and iOS devices. A Samsung account and a Wi-Fi connection are required</span></li>
                <li><span class="num">2)</span> <span>Users must activate AI Saving Mode on SmartThings</span> </li>
              </ul>
            </div>
            <!-- // gray-line-wrap  -->

            <p class="vertical-item-tit"><strong>EHS</strong></p>

             <!-- col2-img-area // -->
             <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-ehs01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-ehs02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:464px;" />
                  <col style="width:464px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Heating</th>
                    <th scope="col">Cooling</th>
                    <th scope="col">DHW</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>Radiator, Floor</th>
                    <th>Radiator, Floor</th>
                    <th>Individual</th>
                  </tr>
                  <tr>                    
                    <td>                      
                      <span class="info">EHS mono + Water Tank</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product14.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product15.png" alt=""></span>
                      </p>
                    </td>
                    <td>                    
                      <span class="info">EHS mono + Water Tank</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product14.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product15.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">EHS mono + Water Tank</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product14.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product15.png" alt=""></span>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th>Radiator, Floor</th>
                    <th>Air</th>
                    <th>Individual</th>
                  </tr>
                  <tr>
                    <td>                     
                      <span class="info">EHS TDM + Hydro Tank</span>
                      <!-- 2025-06-17  img-area 클래스 추가 //-->
                      <p class="img-area">
                        <!-- 2025-06-19 이미지 변경 -->
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product16.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product15.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">EHS TDM + Indoor Unit</span>
                      <!-- 2025-06-17  img-area 클래스 추가 //-->
                      <p class="img-area">
                        <!-- 2025-06-19 이미지 변경 -->
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product16.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product04.png" alt=""></span>
                      </p>
                    </td>                    
                    <td>                     
                      <span class="info">EHS TDM + Hydro Tank</span>
                      <!-- 2025-06-17  img-area 클래스 추가 //-->
                      <p class="img-area">
                        <!-- 2025-06-19 이미지 변경 -->
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product16.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product15.png" alt=""></span>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:464px;" />
                  <col style="width:464px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                  </tr>                  
                </thead>
                <tbody>                 
                  <tr>
                    <td>                      
                      <span class="info">Wireless Remote Controller / Wired Remote Controller</span>                      
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product06.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product07.png" alt=""></span>                    
                      </p>
                    </td>
                    <td>                     
                      <span class="info">Wi-Fi Kit/Single​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product08.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product09.png" alt=""></span>                    
                      </p>
                    </td>
                    <td>                    
                      <span class="info">SmartThings</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product10.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product11.png" alt=""></span>                    
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <p class="txt-p5 paragraph">
              Samsung proposes a solution for detached houses using EHS mono HT Quiet products and SmartThings services <sup>1)</sup>, offering efficient cooling, heating, and hot water supply via a single outdoor unit. Key benefits include high-temperature, low-noise performance suitable for renovations, reliable heating even at -25°C <sup>2)</sup>, and easy installation and maintenance. SmartThings integration enables home automation, and optimized energy consumption<sup>3)</sup>.
            </p>

             <!-- gray-line-wrap // -->
             <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area ">
                  <p class="img-area pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-ehs-big-pc.png);"></p>                  
                  <p class="img-area ehs mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-ehs-big-mo.png);"></p>
                
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>Radiator</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-ehs-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>2</em> <span>EHS</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-ehs-small02-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>3</em> <span>Climate hub <br/>(Integrated Water Tank)​</span></p>
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-ehs-small03-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>4</em> <span>Wired Remote controller</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-ehs-small04-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>5</em> <span>Floor Heating</span></p>                      
                    </li>
                  </ul>
                </div>                      
              </div>
              <ul class="num-list">
                <li><span class="num">1)</span> <span>Must download the SmartThings app available on Android and iOS devices. A Samsung account and a Wi-Fi connection are required</span> </li>
                <li><span class="num">2)</span> <span>Results may vary depending on the environment, actual use and other circumstances</span></li>
                <li><span class="num">3)</span> <span>Users must activate AI Saving Mode on SmartThings</span></li>
              </ul>
            </div>
            <!-- // gray-line-wrap  -->           

          </div>
          <!-- // tabpanel(Detached House) -->
          
          <!-- tabpanel(Semi-Detached House & Town House​) // -->
          <div role="tabpanel"  >
            <p class="tab-cont-tit"><strong>Semi-detached & Town House Solution​</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->
              <div class="gray-round-line-box space-mo0">
                <p class="datached-img-area semi pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-residential_semi_big_pc.png);"></p>    
                <!-- 2025-07-10 image 변경  -->
                <p class="datached-img-area semi mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-residential_semi_big_mo.png);"></p>  
              </div>
              <span class="text">[Floor Plan]</span>
            </div>
            <!-- // gray-line-wrap  -->

            <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">   

              <ul class="num-circle-list"> 
                  <li>
                    <strong class="tit">① Semi-Detached House​</strong>
                    <p class="txt">
                      A semi-detached house is a type of house where two houses share one side, with each house sharing a wall with another. Common in urban areas, they are seen as an efficient way to maximize housing in limited spaces.
                    </p>
                  </li>
                  <li>
                    <!-- 2025-06-19 br 추가 //-->
                    <strong class="tit">② Town House</strong>
                    <p class="txt">
                      A townhouse is a type of row house that extends horizontally along a street, with each floor having its own living space and family members sharing the vertical space. They typically offer more square footage than apartments and provide privacy.
                    </p><br/>
                    <p class="txt">
                      Important considerations to take into account when designing a house HVAC system include:
                    </p>
                  </li>
              </ul> 

              <ul class="dot-list bold">
                <li>Smart home integration and user convenience</li>
                <li>Efficient heating and cooling, hot water supply that aligns with local regulations</li>
                <li>Cost performance</li>
                <li>Indoor air quality</li>
                <li>Comfort and low noise</li>
                <li>Both individual and centralized control</li>
              </ul>
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>DVM S Mini</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-mini01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-mini02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:348px;" />
                  <col style="width:348px;" />
                  <col style="width:348px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Heating</th>
                    <th scope="col">Cooling</th>
                    <th scope="col" colspan="2">DHW</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>Air</th>
                    <th>Air</th>
                    <th>Individual​</th>
                    <th>Common​</th>
                  </tr>
                  <tr>
                    <td>                     
                      <span class="info">DVM S Mini + ​Indoor Unit</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product17.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product03.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product04.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S Mini + ​Indoor Unit</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product17.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product03.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product04.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Boiler + Tank​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product01.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product05.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Boiler + Tank​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product01.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product05.png" alt=""></span>
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:348px;" />
                  <col style="width:348px;" />
                  <col style="width:348px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller /<br/> Wired Remote Controller</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product06.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product07.png" alt=""></span>                    
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Wi-Fi Kit/Single</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product08.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product09.png" alt=""></span>  
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DMS / PIM / SmartThings​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product18.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product10.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product11.png" alt=""></span>  
                      </p>
                    </td>
                    <td>                      
                      <span class="info">RAC comm. Kit (In/Outdoor)</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product12.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product13.png" alt=""></span>  
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <p class="txt-p5 paragraph">
              For the Semi-Detached House, Samsung can propose a solution using DVM S Mini products and SmartThings<sup>1)</sup>, PIM services for cooling & heating by one outdoor unit. Hot water supply will be done by another device. Using DMS<sup>2)</sup>, the 'Peak power control' can be implemented, which controls the operation of the indoor unit to achieve economical heating and cooling within the target power limit when exceeding the target power amount is anticipated.
            </p>


            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area dvm-mini pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-mini-big-pc.png);"></p>
                  <p class="img-area dvm-mini mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-mini-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>WindFree<sup>™️</sup> Wall-mounted</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-semi-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>2</em> <span>DVM S Mini</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-semi-small02-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>3</em> <span>WindFree<sup>™️</sup> 1-way Cassette</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-semi-small03-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>4</em> <span>DMS : Peak power control</span></p>       
                      <div class="small-img pc">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-mini-pc.png" alt="">                                           
                      </div>                
                      <div class="small-img ">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-semi-small04-mo.png" alt="">                                           
                      </div>                     
                    </li>
                    <li>
                      <p class="txt"><em>5</em> <em>6</em> <span>Wi-Fi Kit</span></p>                      
                    </li>                    
                    <li>
                      <p class="txt"><em>7</em> <span>How water</span></p>                      
                    </li>                    
                  </ul>
                </div>                    
              </div>
              <ul class="num-list leftSpace">
                <li><span class="num">1)</span> <span>Must download the SmartThings app available on Android and iOS devices. A Samsung account and a Wi-Fi connection are required.</span>​</li>
                <li><span class="num">2)</span> <span>Conveniently installed directly with the outdoor unit without the need for a relay, providing a variety of system air conditioner integrated management solutions, including connection to a master controller,  ​power distribution peak control solution, and more.</span></li>
              </ul>
            </div>
            <!-- // gray-line-wrap  -->
         
          </div>
          <!-- // tabpanel(Semi-Detached House & Town House​) -->
          
          <!-- tabpanel(Flat House & Condominium​) // -->
          <div role="tabpanel" >
            <p class="tab-cont-tit"><strong>Flat House & Condominium Solution​</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->             
              <div class="gray-round-line-box space-mo0">
                <p class="datached-img-area semi pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-residential_flat_big_pc.png);"></p>    
                <p class="datached-img-area semi mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-residential_flat_big_mo.png);"></p>             
              </div>
              <span class="text">[Floor Plan]</span>
            </div>
            <!-- // gray-line-wrap  -->

            <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">   

              <ul class="num-circle-list"> 
                  <li>
                    <strong class="tit">① Flat house​​</strong>
                    <p class="txt">
                      A flat house is a multi-story building with multiple independent residences, each individually owned and having its own entrance. Popular in urban areas for their efficient use of space and proximity to amenities, they offer a more affordable housing option compared to stand-alone single-family homes, making them attractive for city living.
                    </p>
                  </li>
                  <li>
                    <strong class="tit">② Condominium ​</strong>
                    <p class="txt">
                      A type of housing where individual units are owned privately, while common areas are jointly owned by all unit owners. This arrangement allows for personal ownership within the property while sharing responsibilities and costs with other residents.​​
                    </p><br/>
                    <p class="txt">
                      Important considerations to take into account when designing a house HVAC system include:
                    </p>
                  </li>
              </ul> 

              <ul class="dot-list bold">
                <li>Smart home integration and user convenience​</li>
                <li>Efficient heating and cooling, hot water supply that aligns with​ local regulations​</li>
                <li>Cost performance​</li>
                <li>Comfort and low noise, indoor air quality</li>
                <li>Both individual and centralized control</li>              
              </ul>
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>DVM S2</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-s2-01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-s2-02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:348px;" />
                  <col style="width:348px;" />
                  <col style="width:348px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Heating</th>
                    <th scope="col">Cooling</th>
                    <th scope="col" colspan="2">DHW</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>Air</th>
                    <th>Air</th>
                    <th>Individual​</th>
                    <th>Common​</th>
                  </tr>
                  <tr>
                    <td>                     
                      <span class="info">DVM S2 + Indoor Unit</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product03.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product04.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S2 + Hydro unit​</span>
                      <p class="img-area">
                        <p class="img-area">
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product03.png" alt=""></span>
                          <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product04.png" alt=""></span>
                        </p>                     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Boiler + Tank​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product20.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product05.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DVM S2 + Hydro unit​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product20.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product05.png" alt=""></span>
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:348px;" />
                  <col style="width:348px;" />
                  <col style="width:348px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller /<br/> Wired Remote Controller</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product06.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product07.png" alt=""></span>                    
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Touch Centralized Controller ​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product21.png" alt=""></span>    
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DMS / PIM​ b.IoT​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product18.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product22.png" alt=""></span>     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">RAC comm. Kit (In/Outdoor)</span>
                      <p class="img-area">                         
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product23.png" alt=""></span>  
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <p class="txt-p5 paragraph">
              For the Condominium, Samsung can propose a solution using DVM S2 products and SmartThings, b.IoT services for cooling & heating & DHW at once. Samsung's b.IoT service offers economical building management by analyzing and monitoring energy usage, identifying inefficiencies while also distributing energy consumption and costs based on tenant usage and unit capacity
            </p>


            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area dvm-s2 pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-s2-big-pc.png);"></p>
                  <p class="img-area dvm-s2 mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-s2-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>DVM S2​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-s2-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>2</em> <span>WindFree<sup>™️</sup> 1-way Cassette</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-s2-small02-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>3</em> <span>Energy Recovery Ventilation​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-dvm-s2-small03-mo.png" alt="">                                           
                      </div>
                    </li>                           
                  </ul>
                </div>                    
              </div>
              <ul class="num-list leftSpace">
                <li><span class="num">1)</span> <span>Must download the SmartThings app available on Android and iOS devices. A Samsung account and a Wi-Fi connection are required.</span>​</li>
                <li><span class="num">2)</span> <span>Conveniently installed directly with the outdoor unit without the need for a relay, providing a variety of system air conditioner integrated management solutions, including connection to a master controller,  ​power distribution peak control solution, and more.</span></li>
              </ul>
            </div>
            <!-- // gray-line-wrap  -->

            <p class="vertical-item-tit"><strong>Roof & Control room</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-roof-01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-roof-02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->
         
          </div>
          <!-- // tabpanel(Flat House & Condominium​++) -->
        </div>
        <!-- // tab-wrap__contents --> 
      </div>

      
      

    </div>
    <!-- //  vertical-wrap  -->

  </div>
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>

</body>

</html>