<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>vertical</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <div id="wrap">

    <!-- vertical-wrap // -->
    <div class="vertical-wrap">

      <!-- vertical-visual-area  // -->
      <div class="vertical-visual-area" >
        <div class="visual-txt"> 
          <strong>Samsung Optimizes Retail Comfort with<br />Tailored HVAC Solutions for Diverse Store Types​​</strong>
          <span>Smart Climate Control for Every Retail Space, Big or Small: Enhancing Comfort<br/>and Efficiency Across Freestanding and Non-Freestanding Stores​​</span>
        </div>
        <p class="pc-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-retail-pc-visual.png);"></p>
        <p class="mo-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-retail-mo-visual.png);"></p>
      </div>
      <!-- // vertical-visual-area   -->

      <p class="vertical-tit">
        <strong>Are you looking for a new heating or air conditioning solution?​​</strong>
      </p>

      <!-- tab-wrap // -->
      <div class="tab-wrap combo">
        <!-- combo-box //-->
        <div class="combo-box">
          <button type="button" class="mo-tab-list__tab" >
            <span class="tab-list__tab-txt">Freestanding​</span>
          </button> 

          <div role="tablist" class="tab-list type7" aria-label="탭타이틀"> 
            <button type="button" class="tab-list__tab active" role="tab" aria-selected="true">
              <span class="tab-list__tab-txt">Freestanding</span>
            </button>
            <button type="button" class="tab-list__tab" role="tab">
              <span class="tab-list__tab-txt">Non-freestanding​​</span>
            </button>            
          </div>          
        </div>
        <!-- // combo-box -->        
        
        <!--  tab-wrap__contents //--> 
        <div class="tab-wrap__contents">

          <!-- tabpanel(Extended Stay Hotel / Business Hotel​​) // -->
          <div role="tabpanel" aria-labelledby="" tabindex="0">

            <p class="tab-cont-tit"><strong>Freestanding Solution​</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->
              <div class="gray-round-line-box space-mo0">
                <p class="datached-img-area pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail_freestanding_big_pc.png);"></p>    
                <p class="datached-img-area mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail_freestanding_big_mo.png);"></p>             
              </div>              
            </div>
            <!-- // gray-line-wrap  -->

            <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">
              <p class="cont">
                Freestanding Retail Buildings are standalone structures designed exclusively for retail purposes, including formats like Big Box stores, Power Centers & Outlets, and Pop-Up Retail spaces. These buildings ​prioritize visibility, accessibility, and customer flow, often featuring large floor areas and flexible layouts.  <br/><br/>
                When designing HVAC systems for freestanding retail buildings, key factors to consider include:
              </p>     

              <ul class="dot-list bold">
                <li>Efficient Cooling and Heating for Large Spaces</li>
                <li>Adaptability to High Occupancy</li>
                <li>Flexibility for Future Changes</li>
                <li>Specialized Requirements</li>
              </ul>         
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>CAC​​​</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail-cac-01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail-cac-02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            <!-- tbl-wrap // -->           
            <div class="tbl-wrap2">
              <table>
                <colgroup>                  
                  <col style="width:696px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Cooling / Heating​</th>
                    <th scope="col">Ventilation</th>
                  </tr>                  
                </thead>
                <tbody>                               
                  <tr>
                    <td>                     
                      <span class="info">CAC + Indoor Unit​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product02.png" alt=""></span>     
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product24.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product25.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">ERV</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product27.png" alt=""></span>                       
                      </p>
                    </td>                    
                  </tr>                 
                </tbody>
              </table>
            </div>            
            <!-- // tbl-wrap  -->

            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:280px;" />
                  <col style="width:240px;" />
                  <col style="width:436px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller /<br/>Wired Remote Controller(Simple) /<br/>Wired Remote Controller(Standard)</span>
                      <p class="img-area">
                        <span class="img-vertical half"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product06.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product28.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product29.png" alt=""></span>              
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Wi-fi Kit​<br/>On/Off Controller</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product30.png" alt=""></span>       
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product47.png" alt=""></span>                                            
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DMS / SmartThings Pro</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product22.png" alt=""></span>    
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product31.png" alt=""></span>    
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>    
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product10.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">RAC comm. Kit(In/Outdoor) /<br/>Thermostat Kit /​ External Contact<br/>Modbus Interface Module</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product12.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product13.png" alt=""></span>  
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product48.png" alt=""></span> 
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product49.png" alt=""></span> 
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->

            <p class="txt-p5 paragraph">
            The CAC air conditioning system, with Digital Inverter Technology and Wide Range of Operating Temperatures, is an ideal solution for freestanding retail buildings. Its Wide Choice of Indoor Units allows for customized solutions for diverse areas. The Digital Pack Multi System ensures scalability and easy installation, making it suitable for formats like Big Box stores and Pop-Up Retail spaces. 
            </p>


            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area free-joint pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail-cac-big-pc.png);"></p>
                  <p class="img-area free-joint mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail-cac-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <p class="txt"><em>1</em> <span>WindFree<sup>™️</sup> 360 cassette​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail-cac-small01-mo.png" alt="">                                           
                      </div>
                    </li>                                                                     
                  </ul>
                </div>                    
              </div>            
            </div>
            <!-- // gray-line-wrap  -->
          </div>
          <!-- // tabpanel(Extended Stay Hotel / Business Hotel​​) -->
          
          <!-- tabpanel(Full service Hotel / Resort​) // -->
          <div role="tabpanel"  >
            <p class="tab-cont-tit"><strong>Non-freestanding Solution</strong></p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">
              <!-- 2025-07-10 space-mo0 추가 -->
              <div class="gray-round-line-box space-mo0">
                <p class="datached-img-area semi pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail_non_freestanding_big_pc.png);"></p>    
                <p class="datached-img-area semi mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail_non_freestanding_big_mo.png);"></p>             
              </div>              
            </div>
            <!-- // gray-line-wrap  -->

             <!-- gray-bg-wrap // -->
            <div class="gray-bg-wrap">
              <p class="cont">
               Non-Freestanding Retail Buildings are multi-tenant retail spaces ​integrated within larger complexes, including Regional Shopping ​Centers, Community Shopping Centers, Neighborhood Shopping ​Centers, and Strip or Convenience Shopping Centers. These buildings​ serve as hubs for retail, dining, and entertainment, featuring shared ​common areas and parking facilities.​ <br/><br/>
               When designing HVAC systems for non-freestanding retail buildings,​ key factors to consider include:
              </p>     

              <ul class="dot-list bold">
                <li>Zoned Systems for Multi-Tenant Layouts</li>
                <li>Flexibility and Scalability</li>
                <li>Noise Control</li>
                <li>BMS Compatibility</li>
              </ul>       
            </div>
            <!-- // gray-bg-wrap  -->

            <p class="vertical-item-tit"><strong>DVM S2</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail-non-dvm-s2-01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail-non-dvm-s2-02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

             <!-- tbl-wrap // -->           
            <div class="tbl-wrap2">
              <table>
                <colgroup>                  
                  <col style="width:464px;" />
                  <col style="width:464px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Retail space​​</th>
                    <th scope="col">Common  space​</th>
                  </tr>                  
                </thead>
                <tbody> 
                  <tr>
                    <th>Cooling / Heating</th>                    
                    <th>Ventilation</th>      
                    <th>Cooling / Heating</th>             
                  </tr>                
                  <tr>
                    <td>                     
                      <span class="info">DVM S2 + Indoor Unit​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>     
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product24.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product25.png" alt=""></span>
                      </p>
                    </td>
                    <td>                      
                      <span class="info">AHU(DX)​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product36.png" alt=""></span>   
                      </p>
                    </td>    
                    <td>                      
                      <span class="info">DVM S2 + AHU(DX)​</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product19.png" alt=""></span>
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product36.png" alt=""></span>   
                      </p>
                    </td>                 
                  </tr>                 
                </tbody>
              </table>
            </div>            
            <!-- // tbl-wrap  -->


            <!-- tbl-wrap // -->
            <div class="tbl-wrap2">
              <table>
                <colgroup>
                  <col style="width:320px;" />
                  <col style="width:360px;" />
                  <col style="width:280px;" />                
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Individual Control System</th>
                    <th scope="col">Centralized Control System</th>
                    <th scope="col">Integrated Management System</th>
                    <th scope="col">Others</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr>
                    <td>                     
                      <span class="info">Wireless Remote Controller​ /<br/>Wired Remote Controller(Simple) /​<br/>Wired Remote Controller(Standard)</span>
                      <p class="img-area">
                        <span class="img-vertical half"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product37.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product38.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product07.png" alt=""></span>              
                      </p>
                    </td>
                    <td>                      
                      <span class="info">Touch Centralized Controller<br/>Modbus Interface</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product21.png" alt=""></span>                                                  
                      </p>
                    </td>
                    <td>                      
                      <span class="info">DMS / SmartThings Pro</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product22.png" alt=""></span>                             
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>     
                      </p>
                    </td>
                    <td>                      
                      <span class="info">PIM, SIM / BACnet Lonworks Gateway /​<Br/>Thermostat Kit /​ External Contact /<br/>Modbus Interface Module /​<br/>Power Peak Monitoring Interface Module</span>
                      <p class="img-area">
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product32.png" alt=""></span>      
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product48.png" alt=""></span>  
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product49.png" alt=""></span> 
                        <span class="img-vertical"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-product39.png" alt=""></span>
                      </p>
                    </td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->            

            <!-- 2025-06-27 문구수정 -->
            <p class="txt-p5 paragraph">
             The DVM S2 air conditioning system, combined with SmartThings pro, offers an efficient and adaptable solution for non-freestanding retail buildings. Its modular design ensures flexible installation and scalability. WindFree™ Technology provides quiet climate control, enhancing the customer experience. Integration with SmartThings pro services optimizes energy use and ensures tenant satisfaction through real-time monitoring.
          </p>

            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2">
              <div class="gray-round-line-box">
                <div class="both-img-area">
                  <p class="img-area dvm-mini pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-dmv-s2-big-pc.png);"></p>
                  <p class="img-area dvm-mini mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-dmv-s2-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li>
                      <!-- 2025-07-17 클래스 추가 // -->
                      <p class="txt"><em>1</em> <em class="pc">3</em> <span>WindFree<sup>™️</sup> 4-way Cassette​​</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-dmv-s2-small01-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <!-- 2025-06-27 span 닫는 코드 수정 -->
                      <p class="txt"><em>2</em> <span>WindFree<sup>™️</sup> 360 cassette</span></p>                      
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-dmv-s2-small02-mo.png" alt="">                                           
                      </div>
                    </li>
                    <!-- 2025-07-17 클래스 추가 // -->
                    <li class="mo">
                      <p class="txt"><em>3</em> <span>WindFree<sup>™️</sup> 4-way cassette​​</span></p>                        
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-dmv-s2-small03-mo.png" alt="">                                           
                      </div>
                    </li>
                    <li>
                      <p class="txt"><em>4</em> <span>Duct</span></p> 
                      <div class="small-img">    
                        <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-dmv-s2-small04-mo.png" alt="">                                           
                      </div>                                               
                    </li>                         
                  </ul>
                </div>                    
              </div>           
            </div>
            <!-- // gray-line-wrap  -->

            <p class="vertical-item-tit"><strong>Machinery & Control room​​</strong></p>

            <!-- col2-img-area // -->
            <div class="col2-img-area">
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-machinery-01.png" alt=""></p>
              <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-machinery-02.png" alt=""></p>
            </div>
            <!-- // col2-img-area  -->

            
            <p class="vertical-item-tit"><strong>SmartThings Pro​​</strong></p>
            <p class="txt-p5 paragraph">Efficient remote management solution for multiple retail buildings​</p>


            <div class="col2_tit-list">
              <strong class="smartThings">smartThings Pro</strong>
              <!-- col2-img-area // -->
              <div class="col2-img-area">
                <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-smartThings-01.png" alt=""></p>
                <p><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-non-freestanding-smartThings-02.png" alt=""></p>
              </div>
              <!-- // col2-img-area  -->

              
              <ul class="icon-box-list">
                <li>
                  <p class="ver-icon locations">View, control and automate devices in buildings scattered in multiple locations​</p>
                </li>
                <li>
                  <p class="ver-icon service">Remote diagnostics and maintenance of devices with push-notification service​​</p>
                </li>
                <li>
                  <p class="ver-icon map">Simply scan floor maps to create interactive 2D/3D indoor map​</p>
                </li> 
                <li>
                  <p class="ver-icon consum">Monitor & analyze energy consumption​​</p>
                </li>               
                <li>
                  <p class="ver-icon visitors">Manage access permission to devices for employees, tenants, managers, and visitors​​</p>
                </li>
                <li>
                  <p class="ver-icon document">Auto-generate monthly/weekly/​daily operation report document​​​</p>
                </li>
              </ul>
            </div>
           
         
          </div>
          <!-- // tabpanel(Full service Hotel / Resort​​​​) -->          
      
        </div>
        <!-- // tab-wrap__contents --> 
      </div>

    </div>
    <!-- //  vertical-wrap  -->

  </div>
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>

</body>

</html>