<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>vertical</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <div id="wrap">

    <!-- vertical-wrap // -->
    <div class="vertical-wrap">

      <!-- vertical-visual-area  // -->
      <div class="vertical-visual-area" >
        <div class="visual-txt"> 
          <strong>Retrofit Solution</strong>
          <!-- 2025-07-01 문구수정 // -->
          <span>Our retrofit solution saves time, cost, and energy with no need for pipe or ceiling work</span>
        </div>
        <p class="pc-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-retrofit-pc-visual.png);"></p>
        <p class="mo-bg-area" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-vertical-retrofit-mo-visual.png);"></p>
      </div>
      <!-- // vertical-visual-area   -->

      <p class="vertical-tit">
        <strong>Samsung ​Retrofit Solution​</strong>
        <span>Save time, cost, and energy with no need for pipe or ceiling work</span>
      </p>

      <!-- gray-line-wrap // -->
      <div class="gray-line-wrap">
        <!-- 2025-07-10 space-mo0 추가 -->       
        <div class="gray-round-line-box space-mo0">
          <p class="datached-img-area pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-solution-pc.png);"></p>    
          <p class="datached-img-area mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-solution-mo.png);"></p>             
        </div>        
      </div>
      <!-- // gray-line-wrap  -->


      <!-- tab-wrap // -->
      <div class="tab-wrap combo">
        <!-- combo-box //-->
        <div class="combo-box">
          <button type="button" class="mo-tab-list__tab" >
            <span class="tab-list__tab-txt">Easy with Reuse</span>
          </button> 

          <div role="tablist" class="tab-list type7" aria-label="탭타이틀"> 
            <button type="button" class="tab-list__tab active" role="tab" aria-selected="true">
              <span class="tab-list__tab-txt">Easy with Reuse</span>
            </button>
             <button type="button" class="tab-list__tab" role="tab">
              <span class="tab-list__tab-txt">Shorter installation time​​</span>
            </button>
            <button type="button" class="tab-list__tab" role="tab">
              <span class="tab-list__tab-txt">Lower installation costs​​</span>
            </button>
            <button type="button" class="tab-list__tab" role="tab">
              <span class="tab-list__tab-txt">Reference Site​</span>
            </button>
          </div>          
        </div>
        <!-- // combo-box -->        
        
        <!--  tab-wrap__contents //--> 
        <div class="tab-wrap__contents">

          <!-- tabpanel(Easy with Reuse) // -->
          <div role="tabpanel" aria-labelledby="" tabindex="0">

            <p class="tab-cont-tit">
              <strong>Easy with Reuse</strong>
              <span>Samsung DVM S Mini decreases construction scale, shortens construction time,<br/>reduces replacement burden, and increases efficiency to complete an economical and comfortable living space​</span>
            </p>                

            <!-- col2-tit // --> 
            <div class="col2-tit">
              <div class="inner">
                <div>
                  <strong>Outdoor Unit</strong>
                  <p class="pc"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-reuse-left-pc.png" alt="" /></p> 
                  <p class="mo"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-reuse-left-mo.png" alt="" /></p>
                </div>
                <div>
                  <strong>Indoor Unit</strong>
                  <p class="pc"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-reuse-right-pc.png" alt="" /></p> 
                  <p class="mo"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-reuse-right-mo.png" alt="" /></p>
                </div>
              </div>             
              <p class="txt-p5">※ Illustrative purposes only. Actual product images may be different.</p>
            </div> 
            <!-- // col2-tit--> 

            <p class="vertical-item-tit"><strong>Renewal construction process​</strong></p>
            
            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap">             
              <div class="gray-round-line-box renewal">
                <!-- top // -->
                <div class="top">
                  <ul class="process-list">
                    <li>
                      <div class="round-box-item">
                        <strong class="box-tit">Construction Drawing Confirmation</strong>
                        <p>
                          <span class="img">
                              <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-renewnal-process-pc-s01.png" alt="" />
                          </span>                       
                        </p>
                      </div>
                    </li>
                    <li>
                      <p class="sub-tit">No Ceiling and piping work​</p>
                      <ul class="process-list-inner">
                        <li>
                          <div class="round-box-item">
                            <strong class="box-tit">Pre-Inspection</strong>
                            <p>
                              <span class="txt">* Normal Operation Check</span>
                              <span class="img">
                                  <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-renewnal-process-pc-s02.png" alt="" />
                              </span>                       
                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="round-box-item">
                            <strong class="box-tit">Covering​</strong>
                            <p>                           
                              <span class="img">
                                  <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-renewnal-process-pc-s03.png" alt="" />
                              </span>                       
                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="round-box-item">
                            <strong class="box-tit">Refrigerant Recovery​​</strong>
                            <p>      
                              <span class="txt">* Operating for more than 30 minutes​</span>                     
                              <span class="img">
                                  <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-renewnal-process-pc-s04.png" alt="" />
                              </span>                       
                            </p>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <!-- // top -->

                <!-- bottom // -->
                <div class="bottom">
                  <ul class="process-list">
                    <li>
                      <div class="round-box-item">
                        <strong class="box-tit">Indoor and outdoor unit removal</strong>
                        <p>
                          <span class="img">
                              <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-renewnal-process-pc-s05.png" alt="" />
                          </span>                       
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="round-box-item">
                        <strong class="box-tit">New Product Installation</strong>
                        <p>
                          <span class="txt">* Product Mounting / Piping Connection​</span>
                          <span class="txt">* Tightness/Vacuum/Electrical Work</span>
                          <span class="img">
                              <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-renewnal-process-pc-s06.png" alt="" />
                          </span>                       
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="round-box-item">
                        <strong class="box-tit">Refrigerant Addition Sealing</strong>
                        <p>
                          <span class="txt">* Additional refrigerant (gas) filling​</span>
                          <span class="img">
                              <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-renewnal-process-pc-s07.png" alt="" />
                          </span>                       
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="round-box-item">
                        <strong class="box-tit">Commissioning</strong>
                        <p>
                          <span class="txt">* Product Operation Status Check​</span>
                          <span class="img">
                              <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-renewnal-process-pc-s08.png" alt="" />
                          </span>                       
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- // bottom -->
              </div>   
              <p class="txt-p5">※ Illustrative purposes only. Actual construction process may be different.​</p>           
            </div>
            <!-- // gray-line-wrap -->         
          </div>
          <!-- // tabpanel(Easy with Reuse) -->
          
          <!-- tabpanel(Shorter installation time​) // -->
          <div role="tabpanel"  >
            <p class="tab-cont-tit">
              <strong>Shorter installation time​</strong>
              <span>Save on installation time with reusable components​​</span>
            </p>

            <p class="vertical-item-tit type2 space-bw">
              <strong>Process shortening</strong>
              <span>※ Illustrative purposes only. Actual product images may be different.</span>
            </p>

            <div class="process-shortening2">
              <div class="general">
                <p class="tit">General process</p>
                <p class="pc"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-shorter-process01-pc.png" alt="" /></p>
                <p class="mo"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-shorter-process01-mo.png" alt="" /></p>
              </div>
              <div class="renewal">
                <p class="tit">Renewal process</p>
                <p class="pc"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-shorter-process02-pc.png" alt="" /></p>
                <p class="mo"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-shorter-process02-mo.png" alt="" /></p>
              </div>              
            </div>
            <p class="txt-p5 mt16">※ Interior ceiling construction occurs separately during pipe replacement.</p>
            <p class="txt-p5">※ Even if a renewal process, due to special circumstances for each individual household There may be cases where some interior material replacement is required.</p>
            <p class="txt-p5">※ This data is based on the case of Korea, and the value may vary depending on the installation environment of each country and the skill level of the installer. </p>


            
            <p class="vertical-item-tit"><strong>Installation time for a DVM S Mini for home as a renewal process : 1 day (8 hours)​</strong></p>
           
            <p class="tal-right explain-txt"><span class="txt-p5">※ Illustrative purposes only. Actual product images may be different.​</span></p>
            <!-- tbl-wrap // -->
            <!-- 2025-07-01 vertical 클래스 추가 // -->
            <div class="tbl-wrap2 vertical center">
              <table>
                <colgroup>
                  <col style="width:150px;" />
                  <col style="width:180px;" />
                  <col style="width:396px;" />
                  <col style="width:380px;" />
                  <col style="width:166px;" />
                  <col style="width:auto;" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Work process</th>
                    <th scope="col">Details of the work</th>
                    <th scope="col">Peculiarities</th>
                    <th scope="col">Time required</th>
                    <th scope="col">Remarks</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <td>Prework</td>
                    <td><span class="bold">Health care</span></td>
                    <td class="tal-left">
                      <ul class="line-list">
                        <li><p class="item">Specialized health care (floor, wall)</p></li>
                      </ul>
                    </td>
                    <td class="tal-left">
                      <ul class="line-list">
                        <li><p class="item">Implementation one day before<br/> construction(customer pre-consultation)</p></li>
                      </ul>
                    </td>
                    <td>3 hours</td>
                    <td>D-1</td>
                  </tr>
                  <tr class="blue-box first">
                    <th colspan="6">8 hours</th>
                  </tr>   
                  <tr class="blue-box second">
                    <td rowspan="6"><span class="blue">Installation</span></td>
                    <td><span class="bold">Existing equipment  inspection</span></td>
                    <td class="tal-left">
                      <ul class="line-list bold">
                        <li><p class="item">Check normal operation</p></li>
                        <li><p class="item">Check whether R22 refrigerant recovery operation is possible</p></li>  
                      </ul>
                    </td>
                    <td></td>
                    <td><span class="bold">0.5 hours​</span></td>
                    <td rowspan="6"><span class="bold">D-Day</span></td>
                  </tr>    
                  <tr class="blue-box">
                    <td><span class="bold">Refrigerant recovery​</span></td>
                    <td class="tal-left">
                      <ul class="line-list bold">
                        <li><p class="item">Recovery of residual refrigerant from piping / indoor unit (pump down)</p></li>                       
                      </ul>
                    </td>
                    <td></td>
                    <td><span class="bold">0.5 hours</span></td>
                  </tr>   
                  <tr class="blue-box">
                    <td><span class="bold">Demolition​</span></td>
                    <td class="tal-left">
                      <ul class="line-list bold">
                        <li><p class="item">Indoor / outdoor unit removal and waste disposal</p></li>                       
                      </ul>
                    </td>
                    <td class="tal-left">
                       <ul class="line-list bold">
                        <li><p class="item">Get the door to the outdoor unit.</p></li>        
                        <li><p class="item">Waste is available after 3 pm</p></li>               
                      </ul>
                    </td>
                    <td><span class="bold">2 hours</span></td>
                  </tr> 
                  <tr class="blue-box">
                    <td><span class="bold">Indoor unit change​</span></td>
                    <td class="tal-left">
                       <ul class="line-list bold">
                        <li><p class="item">Duct piping / chamber removal</p></li>
                        <li><p class="item">1 Way piping rework / drain connection work</p></li>  
                      </ul>
                    </td>
                    <td class="tal-left">
                       <ul class="line-list bold">
                        <li><p class="item">Living room landfill duct product</p>                          
                          <span>&nbsp;&nbsp;&nbsp;→ Change to ceiling cassette</span>
                        </li>     
                      </ul>
                    </td>
                    <td><span class="bold">1 hours</span></td>
                  </tr>
                   <tr class="blue-box">
                    <td><span class="bold">Prework​</span></td>
                    <td class="tal-left">
                      <span class="bold">&nbsp;&nbsp;&nbsp;Ceiling​ </span>
                      <ul class="line-list bold">
                        <li><p class="item">Fixed indoor unit anchor bolt operation</p></li>    
                      </ul>
                    </td>
                    <td></td>
                    <td><span class="bold">1 hours</span></td>
                  </tr>
                  <tr class="blue-box last">
                    <td><span class="bold">Installing new equipment</span></td>
                    <td class="tal-left">
                      <ul class="line-list bold">
                        <li>
                          <p class="item">Drain pump, - Power line / communication line connection<br/>
                          (Distribution panel power supply work)</p>
                        </li>    
                        <li><p class="item">Fix/horizontal check of indoor unit</p></li>
                        <li><p class="item">Install outdoor unit</p></li>
                      </ul>
                    </td>
                    <td></td>
                    <td><span class="bold">3 hours</span></td>
                  </tr> 
                  <tr>
                    <td>Post-inspection</td>
                    <td><span class="bold">Test run</span></td>
                    <td class="tal-left">
                      <ul class="line-list">
                        <li><p class="item">Leakage check Vacuum operation.</p></li>
                        <li><p class="item">Check various sensors / cycles</p></li>
                      </ul>
                    </td>
                    <td class="tal-left">
                      <ul class="line-list">
                        <li><p class="item">Implementation after completion of construction (customer schedule consultation)</p></li>
                      </ul>
                      <span>​※ Accompany quality instructor</span>
                    </td>
                    <td>1 hours</td>
                    <td>After installation</td>
                  </tr>      
                </tbody>
              </table>
            </div>
            <!-- // tbl-wrap  -->
              
            <p class="txt-p5 mt16">※ This data is based on the case of Tower Palace in Seoul, Korea. Floor dimension : 208.3m<sup class="sup">2</sup>. Replace 5 old 1-WAY CST units and 1 ducted unit with 7 new 1-WAY CST units(including 1 ODU).</p>
            <p class="txt-p5">※ Previously, three experts were deployed, but to complete the work within the time limit, at least six people (four experts and two assistants) must be deployed.​</p>
            <p class="txt-p5">※ The value may vary depending on the installation environment of each country and the skill of the installer.</p>
            <p class="txt-p5">※ Installation time for replacing all the interior and pipe also : It takes 5 days, and installation time may be changed depending on the site situation.</p>
          </div>
          <!-- // tabpanel(Shorter installation time​​) -->
          
          <!-- tabpanel(Lower installation costs​​) // -->
          <div role="tabpanel" >
            <p class="tab-cont-tit">
              <strong>Lower installation costs​</strong>
              <span>Reusing existing components reduce material costs<br/>1. Insulation&nbsp;&nbsp;&nbsp;&nbsp;2. Refrigerant pipe &nbsp;&nbsp;&nbsp;&nbsp;3. Y-joint&nbsp;&nbsp;&nbsp;&nbsp;4. Drain pipe &nbsp;&nbsp;&nbsp;&nbsp;5. Cable</span>
            </p>        
        
            <!-- gray-line-wrap // -->
            <div class="gray-line-wrap type2"> 
              <div class="gray-round-line-box">
                <div class="both-img-area reverse">
                  <p class="img-area dvm-s2 pc" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail-lower-install-big-pc.png);"></p>
                  <p class="img-area dvm-s2 mo" style="background-image:url(/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retail-lower-install-big-mo.png);"></p>
                  <ul class="circle-blue-list">
                    <li><p class="txt"><em>1</em> <span>Insulation <span class="blue">Reusable</span></span></p></li>
                    <li><p class="txt"><em>2</em> <span>Ref. Pipe line(R22/R410A)<span class="blue">Reusable</span></span></p></li>
                    <li><p class="txt"><em>3</em> <span>Y-Joint(R410A) <span class="blue">Reusable</span></span></p></li> 
                    <li><p class="txt"><em>4</em> <span>Drain Line <span class="blue">Reusable</span></span></p></li> 
                    <li><p class="txt"><em>5</em> <span>Controller Cable <span class="blue">Reusable</span></span></p></li> 
                    <li><p class="txt"><em>6</em> <span>Cable(ODU~IDU) <span class="blue">Reusable</span></span></p></li> 
                    <li><p class="txt pastel"><em>7</em> <span>Add Dryer Filter (high pressure line)</span></p></li> 
                    <li><p class="txt pastel"><em>8</em> <span>T-Joint Need Replacement</span></p></li>                           
                  </ul>                  
                </div>                    
              </div>
              <p class="txt-p5 mt16">※ Reusability depends on the condition of existing components and individual installation circumstances. A professional installer must assess and confirm suitability on a case-by-case basis.</p>
            </div>
            <!-- // gray-line-wrap  -->
          </div>
          <!-- // tabpanel(Lower installation costs​) -->

          <!-- tabpanel(Reference Site​​​) // -->
          <div role="tabpanel" >
            <p class="tab-cont-tit">
              <strong>Reference Site</strong>
              <span>We propose a retrofit solution that shortens installation time by quickly and easily replacing existing pipes<br/>with the latest products without plumbing work</span>
            </p>

            <div class="reference-img-area">
              <p class="pc"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-refrerence-pc.png" alt="" /></p> 
              <p class="mo"><img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/img-retrofit-refrerence-mo.png" alt="" /></p> 

              <p class="txt-p5">Site :  Tower Palace in Seoul<br/>Replacement : Indoor 4 units, Outdoor 1 unit <br/>Benefit : Saves installation time, cost, and energy with no need for pipe or ceiling work</p>
              <p class="txt-p5">※ Reusability of components and installation time depend on individual circumstances. A professional installer must assess and confirm the site on a case-by-case basis.​</p>
            </div>

         
          </div>
          <!-- // tabpanel(Reference Site​​) -->
        </div>
        <!-- // tab-wrap__contents --> 
      </div>    
    </div>
    <!-- //  vertical-wrap  -->

  </div>
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>
</body>

</html>