<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>template</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <div id="wrap">
    <!-- header -->
    <header class="header-wrap">
      <div class="header-wrap__inner">
        <!-- 2024-11-25 ssUser 추가 -->
        
        <div class="sales-man-area">
          <div class="sales-man-inner">
            <div class="field-box">
              <label class="txt-label ">Choose your Partner</label>
              <div class="combo-box box-type">
                <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="combo-box__menu" aria-expanded="false">
                  <span class="txt-placeholder">James Dean</span>
                </button>
                <div class="combo-box__menu" role="menu" aria-labelledby="combo-box__txt">
                  <ul class="combo-box__menu-list">
                    <li role="menuitem" class="active">James Dean</li>
                    <li role="menuitem">Concentrix 1</li>
                    <li role="menuitem">Concentrix 2</li>
                    <li role="menuitem">Concentrix 3</li>
                    <li role="menuitem">Concentrix 4</li>
                    <li role="menuitem">Concentrix 5</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="header-box">
          <div class="header">
            <div class="logo-box">
              <a href="#" target="_self" aria-label="samsung hvac hub">
                <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/hvachub-logo.svg" alt="samsung hvac hub logo">
              </a>
            </div>
            <nav class="header-gnb">
              <!-- 2024-07-11 모바일용 버튼 추가 -->
              <div class="mo-sign-menu-box mo-display">
                <button type="button" class="btn-txt mo-display">
                  <span class="btn-txt__txt">Sign in</span>
                </button>
                <button type="button" class="btn-txt mo-display">
                  <span class="btn-txt__txt">Sign Up</span>
                </button>
              </div>
              <!-- //모바일용 버튼 추가 -->
              <ul class="gnb-box">
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="product" aria-haspopup="true" aria-expanded="false">Product</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">Product</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <!-- [F] 메뉴에 lock이 걸릴때 .is-lock / aria-disabled="true" 추가 -->
                          <li class="gnb-2depth is-lock">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="All">All</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="RAC">RAC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="FAC">FAC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="WAC">WAC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="PAC">PAC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="CAC">CAC</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="EHS">EHS</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="FJM">FJM</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="DVM">DVM</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Chiller">Chiller</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Ventilation">Ventilation</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Accessory">Accessory</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Controls Systems">Controls Systems</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- 2024-07-11 모바일용 백버튼/nav close -->
                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                    <!-- //모바일용 백버튼/nav close -->
                  </div>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="Project">Quote</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">Orders</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth is-lock">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Project">Project</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Run-rate">Run-rate</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="Orders" aria-haspopup="true" aria-expanded="false">Orders</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">Orders</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth is-lock">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Order list">Order status</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Invoice list">Invoice</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Account Balance">Account Balance</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- 2024-07-11 모바일용 백버튼/nav close -->
                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                    <!-- //모바일용 백버튼/nav close -->
                  </div>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="tools" aria-haspopup="true" aria-expanded="false">Tools</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">Tools</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="DVM Pro2.0">DVM Pro2.0</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Seasonal Efficiency">Seasonal Efficiency</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Life Cycle Cost">Life Cycle Cost</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Error Code Finder">Error Code Finder</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- 2024-07-11 모바일용 백버튼/nav close -->
                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                    <!-- //모바일용 백버튼/nav close -->
                  </div>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="library" aria-haspopup="true" aria-expanded="false">Library</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">library</span>
                      <div class="gnb-2depth-box">
                        <p class="gnb-2depth-box__tit">For marketing</p>
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth is-lock">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Catalog">Catalog</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Tech.Video">Tech.Video</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Life style">Life style</a>
                          </li>
                        </ul>
                      </div>
                      <div class="gnb-2depth-box">
                        <p class="gnb-2depth-box__tit">For pre-sales(Spec-in)</p>
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Technical Data Book">Technical Data Book</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="DWG">DWG</a>
                          </li>
                          <li class="gnb-2depth is-lock">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="BIM">BIM</a>
                          </li>
                        </ul>
                      </div>
                      <div class="gnb-2depth-box">
                        <p class="gnb-2depth-box__tit">For service</p>
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Manual">Manual</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Exploded View">Exploded View</a>
                          </li>
                        </ul>
                      </div>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Others">Others</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- 2024-07-11 모바일용 백버튼/nav close -->
                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                    <!-- //모바일용 백버튼/nav close -->
                  </div>
                </li>
                <li class="gnb-1depth">
                  <a href="#" target="_self" class="gnb-1depth__tit" aria-label="Support" aria-haspopup="true" aria-expanded="false">Support</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">Support</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Announcement">Announcement</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Blog">Blog</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Simulation Request">Simulation RequestRequest</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Case Study">Case Study</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="FAQ">FAQ</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- 2024-07-11 모바일용 백버튼/nav close -->
                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                    <!-- //모바일용 백버튼/nav close -->
                  </div>
                </li>
                <!-- 2024-07-11 모바일에서만 노출되는 my page 메뉴 -->
                <li class="gnb-1depth mo-display">
                  <a href="#" target="_self" class="gnb-1depth__tit " aria-label="My Page" aria-haspopup="true" aria-expanded="false">My Page</a>
                  <div class="gnb-2depth-wrap">
                    <div class="gnb-2depth__inner">
                      <span class="gnb-2depth__1deptit">My Page</span>
                      <div class="gnb-2depth-box">
                        <ul class="gnb-2depth-box__inner">
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Dashboard">Dashboard</a>
                          </li>
                          <li class="gnb-2depth">
                            <span class="gnb-2depth__tit">Account Information</span>
                            <ul class="gnb-3depth-box">
                              <li class="gnb-3depth">
                                <a href="#" target="_self" class="gnb-3depth__tit" aria-label="Profile Management">Profile Management</a>
                              </li>
                              <li class="gnb-3depth">
                                <span class="gnb-3depth__tit">User Management</span>
                                <ul class="gnb-4depth-box">
                                  <li class="gnb-4depth">
                                    <a href="#" target="_self" class="gnb-4depth__tit" aria-label="Role Setting">Role Setting</a>
                                  </li>
                                  <li class="gnb-4depth">
                                    <a href="#" target="_self" class="gnb-4depth__tit" aria-label="Permission Setting">Permission Setting</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="Saved Cart">Saved Cart</a>
                          </li>
                          <li class="gnb-2depth">
                            <span class="gnb-2depth__tit">Proposal Setting</span>
                            <ul class="gnb-3depth-box">
                              <li class="gnb-3depth">
                                <a href="#" target="_self" class="gnb-3depth__tit" aria-label="Template">Template</a>
                              </li>
                              <li class="gnb-3depth">
                                <a href="#" target="_self" class="gnb-3depth__tit" aria-label="Offering">Offering</a>
                              </li>
                              <li class="gnb-3depth">
                                <a href="#" target="_self" class="gnb-3depth__tit" aria-label="Margin">Margin</a>
                              </li>
                            </ul>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="My Inquiry">My Inquiry</a>
                          </li>
                          <li class="gnb-2depth">
                            <a href="#" target="_self" class="gnb-2depth__tit" aria-label="My Favorite">My Favorite</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- 2024-07-11 모바일용 백버튼/nav close -->
                    <div class="mo-2depth-top-btn mo-display">
                      <button type="button" class="btn-icon icon-mo-nav-back">
                        <span class="txt-blind">back</span>
                      </button>
                      <button type="button" class="btn-icon icon-mo-nav-close">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                    <!-- //모바일용 백버튼/nav close -->
                  </div>
                </li>
              </ul>
              <!-- 2024-07-11 모바일용 버튼 추가 -->
              <div class="mo-quick-menu-box mo-display">
                <a role="button" class="btn-txt" href="#" target="">
                  <span class="btn-txt__txt">Buy online</span>
                </a>
                <a role="button" class="btn-txt" href="#" target="">
                  <span class="btn-txt__txt">Training</span>
                  <i class="btn-txt__icon icon-window"></i>
                </a>
              </div>
              <!-- 2025-11-04 모바일용 로그아웃 추가 -->
              <div class="mo-sign-menu-box mo-display">
                <button type="button" class="btn-txt mo-display underline">
                  <span class="btn-txt__txt">Sign Out</span>
                </button>
              </div>

              <div class="mo-nav-close-box mo-display">
                <button type="button" class="btn-icon icon-mo-nav-close">
                  <span class="txt-blind">close</span>
                </button>
              </div>
              <!-- //모바일용 버튼 추가 -->
            </nav>
            <div class="quick-menu-box">
              <a role="button" class="btn-block type3" href="#" target="">
                <span class="btn-block__txt">Buy online</span>
              </a>
              <a role="button" class="btn-block" href="#" target="">
                <span class="btn-block__txt">Training</span>
                <i class="btn-block__icon icon-window"></i>
              </a>
            </div>
            <div class="utility-menu-box">
              <button type="button" class="btn-icon icon-header-search" aria-haspopup="true" aria-expanded="false">
                <span class="txt-blind">search</span>
              </button>
              <!-- 24-05-30 추가 : gnb search -->
              <div class="gnb-search-wrap">
                <div class="gnb-search-wrap__inner">
                  <div class="field-box gnb-search-box">
                    <label class="txt-label txt-blind" for="gnb-search">search</label>
                    <div class="input-search-box">
                      <div class="input-search-box__inner active">
                        <div class="input-box input-search">
                          <!-- [F] 자동완성 테스트 단어 : auto -->
                          <input type="search" class="input-box__input" id="gnb-search" placeholder="Please enter your search keyword.">
                          <button type="button" class="btn-icon icon-search-delete"><span class="txt-blind">삭제</span></button>
                          <button type="button" class="btn-icon icon-search"><span class="txt-blind">검색</span></button>
                        </div>
                        <div class="search-box__auto">

                          <!-- 2025-02-10 search 변경 -->
                          <div class="cm-seach-bar-reault">
                            <div class="recent-list" >
                              <p class="sh-result-name">Recent Searches</p>
                              <!-- <p class="no-result__txt">There are no recent searches.</p> -->

                              <div class="tag-box">
                                <p class="tag-box__tag">
                                  <span class="txt-p6">DVM</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                                <p class="tag-box__tag">
                                  <span class="txt-p6">DVMDVMDVM</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                                <p class="tag-box__tag">
                                  <span class="txt-p6">Windfree</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                                <p class="tag-box__tag">
                                  <span class="txt-p6">DVMDVMDVM</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                                <p class="tag-box__tag">
                                  <span class="txt-p6">Windfree</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                                <p class="tag-box__tag">
                                  <span class="txt-p6">DVMDVMDVM</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                                <p class="tag-box__tag">
                                  <span class="txt-p6">WindfreeWindfreeWindfreeWindfree</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                                <p class="tag-box__tag">
                                  <span class="txt-p6">DVMDVMDVM</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                                <p class="tag-box__tag">
                                  <span class="txt-p6">Windfree</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                                <p class="tag-box__tag">
                                  <span class="txt-p6">Windfree</span>
                                  <button type="button" class="btn-icon icon-close-sm">
                                    <span class="txt-blind">close</span>
                                  </button>
                                </p>
                              </div>
                            </div>
                            <div class="sh-result-area">
                              <!-- left -->
                              <ul class="result-box">
                                <li class="item-el">
                                  <p class="sh-result-name">Product</p>
                                  <ul class="written-list">
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™️ Comfort </a></li>
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™️ Avant </a></li>
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™️ Pure 1.0 </a></li>
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™️ Elite </a></li>
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™️ 4-Way Cassette </a></li>
                                  </ul>
                                </li>
                                <li class="item-el">
                                  <p class="sh-result-name">Library</p>
                                  <ul class="written-list">
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™️ 1-Way Cassette </a> </li>
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™ Wall-Mounted (EEV included) </a></li>
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™ Mini 4-Way Cassette </a> </li>
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™* 3.0 </a> </li>
                                    <li><a href="#"> <em class="txt-point2">Wi</em>ndFree™*3.0e </a> </li>
                                  </ul>
                                </li>
                              </ul>
                              <!-- right -->
                              <div class="result-box">
                                <p class="sh-result-name">Related Product</p>
                                <ul class="related-list">
                                  <li class="list-el">
                                    <a href="#">
                                      <div class="el-img">
                                        <img src="/pub-only/images/search-img-sample.png" alt="product sample">
                                      </div>
                                      <div class="el-txt">
                                        <p class="txt-p5 txt-ellipsis2"><em class="txt-point2">Wi</em>ndFree™️ 4-Way Cassette Type air Conditioner</p>
                                        <p class="txt-p6">AM201AXVAGH</p>
                                      </div>
                                    </a>
                                  </li>
                                  <li class="list-el">
                                    <a href="#">
                                      <div class="el-img">
                                        <img src="/pub-only/images/search-img-sample.png" alt="product sample">
                                      </div>
                                      <div class="el-txt">
                                        <p class="txt-p5 txt-ellipsis2"><em class="txt-point2">Wi</em>ndFree™️ 4-Way Cassette Type air Conditioner</p>
                                        <p class="txt-p6">AM201AXVAGH</p>
                                      </div>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn-icon icon-close gnb-sh-close" aria-label="close">
                      <span class="txt-blind">close</span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- //gnb search -->
              <div class="mycart-box">
                <a role="button" class="btn-icon icon-cart" href="#">
                  <span class="txt-blind">cart</span>
                </a>
                <div class="mycart-box__count"><span>1000</span></div>
              </div>
              <div class="user-info-box">
                <button type="button" class="btn-icon icon-user" aria-haspopup="true" aria-expanded="false" index> <!-- [F] 로그인시 class 추가 .on -->
                  <!-- 2024-07-11 모바일 사용을 위해 a tag추가 -->
                  <a href="#">
                    <span class="txt-blind">user</span>
                  </a>
                </button>
                <div class="user-info__inner">
                  <ul class="user-info__menu">
                    <li> <a href="#" aria-label="Sign in">Sign in</a> </li>
                    <li> <a href="#" aria-label="Dashboard">Dashboard</a> </li>
                    <li> <a href="#" aria-label="Saved Cart">Saved Cart</a> </li>
                    <li class="hidden"> <a href="#" aria-label="My Inquiry">My Inquiry</a> </li>
                    <li> <a href="#" aria-label="My Favorites">My Favorites</a> </li>
                    <!-- 2025-11-04 PC용 로그아웃 추가 -->
                    <li> <a href="#" aria-label="Sign Out" class="underline">Sign Out</a> </li>
                  </ul>
                </div>
              </div>

              <!-- 2024-07-11 모바일 메뉴 버튼 -->
              <button type="button" class="btn-icon icon-hamburger mo-display">
                <span class="txt-blind">menu open</span>
              </button>
              <!-- //모바일 메뉴 버튼 -->
            </div>
          </div>
        </div>
      </div>

      <div class="header-dim"></div>
    </header>
    <!-- //header -->   
    <!-- breadcrumb -->
    <div class="breadcrumb">
      <div class="breadcrumb__inner">
        <ol>
          <li class="txt-arrow"><a href="#" target="">Home</a> </li>
          <li class="txt-arrow"><a href="#" target="">1depth</a> </li>
          <li class="txt-arrow"><a href="#" target="">2depth</a> </li>
          <li class="txt-arrow is-current-page">3depth</li>
        </ol>
      </div>
    </div> 
    <!-- //breadcrumb -->
  </div>
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>
  <script>
    const $gnbShBtn = document.querySelector('.header-wrap .utility-menu-box .icon-header-search')
    const $gnbShCont = document.querySelector(".gnb-search-wrap");
    const $gnbShClose = $gnbShCont.querySelector('.gnb-sh-close')

    $gnbShBtn.addEventListener('click', () => { $gnbShCont.classList.add('active'); })
    $gnbShClose.addEventListener('click', () => { $gnbShCont.classList.remove('active') })
  </script>
</body>

</html>