<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Support Detail</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" type="text/css" href="/apps/components/content/support-detail/clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- component -->
  <section class="support-detail">
    <div class="support-detail-title__wrap">
      <!-- 2025-02-20 class 삭제 : txt-fw-b -->
      <p class="tit txt-h5 ">[Interview] Keep the Temperature Low and Electric Bills Lower: Useful Air
        Conditioner Tips From Samsung Engineers</p>
      <div class="title-etc__wrap">
        <!-- 240705 chip color class 추가
            -> chip color blue(default)
            -> chip color black : span.tag-flag에 black class 추가
          -->
        <div class="flag-date-box">
          <span class="tag-flag">System Error</span>
          <span class="date txt-p5">2023-09-10</span>
        </div>
        <div class="btn-box">
          <button type="button" class="btn-icon icon-share" data-layer-target="support-detail-share-alert">
            <span class="txt-blind">share</span>
          </button>
          <div class="favorite-area">
            <button class="btn-icon icon-favorite"> <!-- 체크시 .on -->
              <span class="txt-blind">favorite</span>
            </button>
            <!-- tooltip(favorite on인 경우) -> 5초 후 사라짐 -->
            <div class="favorite__contents favorite__contents-on">
              <div class="favorite__contents-inner">
                <p class="txt-p7">Add to Favorite List</p>
                <a role="button" class="btn-txt-underline xsm" href="">
                  <span class="btn-txt__txt">Favorite List</span>
                </a>
                <button type="button" class="btn-icon icon-close-xsm">
                  <span class="txt-blind">close</span>
                </button>
              </div>
            </div>
            <!-- tooltip(favorite off인 경우) -> 5초 후 사라짐 -->
            <div class="favorite__contents favorite__contents-off">
              <div class="favorite__contents-inner">
                <p class="txt-p7">Remove from Favorite List</p>
                <button type="button" class="btn-icon icon-close-xsm">
                  <span class="txt-blind">close</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <article class="support-detail-cont__wrap">
      <!-- image 1column -->
      <div class="detail-img-1col">
        <span class="img"><img src="/pub-only/images/support-detail-sample.png" alt="sample image" /></span>
      </div>

      <!-- image 2column -->
      <div class="detail-img-2col">
        <span class="img"><img src="/pub-only/images/support-detail-sample02.png" alt="sample image" /></span>
        <span class="img"><img src="/pub-only/images/support-detail-sample03.png" alt="sample image" /></span>
      </div>

      <!-- text + image (text left) -->
      <div class="detail-text-img">
        <div class="text-box">
          <strong class="tit txt-h4">Outdoor system makes WindFree™ units even more “wind-free,” helping spread its
            comfortable cool to every corner of the space</strong>
          <p class="txt txt-p5">
            Samsung Electronics announced the global launch of its new DVM S2 Variable Refrigerant Flow (VRF) outdoor
            air conditioning unit that works with indoor units to provide exclusive WindFree™ Cooling everywhere without
            the discomfort of direct cold airflow when indoors.
            <br><br>
            “DVM S2’s efficient yet powerful performance exhibits how Samsung’s exclusive WindFree™ Cooling technology
            continues to advance,” said Young June Choi, Head of Air Solution Biz Group of the Digital Appliances
            Business at Samsung Electronics. “This AI-controlled system is Samsung’s most advanced climate control
            solution yet, set to bring WindFree™ comfort to apartment blocks, small to midsize office buildings, and
            commercial buildings everywhere.”
          </p>
        </div>
        <div class="img-box">
          <span class="img"><img src="/pub-only/images/support-detail-sample02.png" alt="sample image" /></span>
        </div>
      </div>

      <!-- text + image (text right) -->
      <div class="detail-text-img text-right">
        <div class="text-box">
          <strong class="tit txt-h4">Outdoor system makes WindFree™ units even more “wind-free,” helping spread its
            comfortable cool to every corner of the space</strong>
          <p class="txt txt-p5">
            Samsung Electronics announced the global launch of its new DVM S2 Variable Refrigerant Flow (VRF) outdoor
            air conditioning unit that works with indoor units to provide exclusive WindFree™ Cooling everywhere without
            the discomfort of direct cold airflow when indoors.
            <br><br>
            “DVM S2’s efficient yet powerful performance exhibits how Samsung’s exclusive WindFree™ Cooling technology
            continues to advance,” said Young June Choi, Head of Air Solution Biz Group of the Digital Appliances
            Business at Samsung Electronics. “This AI-controlled system is Samsung’s most advanced climate control
            solution yet, set to bring WindFree™ comfort to apartment blocks, small to midsize office buildings, and
            commercial buildings everywhere.”
          </p>
        </div>
        <div class="img-box">
          <span class="img"><img src="/pub-only/images/support-detail-sample03.png" alt="sample image" /></span>
        </div>
      </div>

      <!-- video-->
      <div class="detail-video">
        <img src="/pub-only/images/support-detail-sample.png" alt="sample image">
        <button type="button" class="btn-icon icon-play" data-layer-target="support-detail-videopop">
          <span class="txt-blind">play</span>
        </button>
      </div>

      <!-- text (title 1line 말줄임)
          title 말줄임 
          - 1line 말줄임 strong.tit에 txt-ellipsis 클래스 추가
          - 2line 말줄임 strong.tit에 txt-ellipsis2 클래스 추가
        -->
      <div class="detail-text">
        <strong class="tit txt-h4 txt-ellipsis">Samsung and Google Cloud Join Forces to Bring Generative AI Generative
          AISamsung and Google Cloud Join Forces to Bring Generative AI Generative AISamsung and Google Cloud Join
          Forces to Bring Generative AI Generative AI</strong>
        <p class="txt txt-p5">
          Samsung Electronics announced the global launch of its new DVM S2 Variable Refrigerant Flow (VRF) outdoor air
          conditioning unit that works with indoor units to provide exclusive WindFree™ Cooling everywhere without the
          discomfort of direct cold airflow when indoors.
          <br><br>
          “DVM S2’s efficient yet powerful performance exhibits how Samsung’s exclusive WindFree™ Cooling technology
          continues to advance,” said Young June Choi, Head of Air Solution Biz Group of the Digital Appliances Business
          at Samsung Electronics. “This AI-controlled system is Samsung’s most advanced climate control solution yet,
          set to bring WindFree™ comfort to apartment blocks, small to midsize office buildings, and commercial
          buildings everywhere.”
          <br><br>
          DVM S2, Samsung’s sixth-generation Digital Variable Multi air conditioner, enables connection with up to 64
          Samsung indoor air conditioning units for optimal comfort without unpleasant cold drafts and is compatible
          with Samsung’s 1Way, 360 Cassette, 4Way, 4Way 600×600, Duct and Wall-Mounted models.
          <br><br>
          Samsung Electronics announced the global launch of its new DVM S2 Variable Refrigerant Flow (VRF) outdoor air
          conditioning unit that works with indoor units to provide exclusive WindFree™ Cooling everywhere without the
          discomfort of direct cold airflow when indoors.
          <br><br>
          “DVM S2’s efficient yet powerful performance exhibits how Samsung’s exclusive WindFree™ Cooling technology
          continues to advance,” said Young June Choi, Head of Air Solution Biz Group of the Digital Appliances Business
          at Samsung Electronics. “This AI-controlled system is Samsung’s most advanced climate control solution yet,
          set to bring WindFree™ comfort to apartment blocks, small to midsize office buildings, and commercial
          buildings everywhere.”
          <br><br>
          DVM S2, Samsung’s sixth-generation Digital Variable Multi air conditioner, enables connection with up to 64
          Samsung indoor air conditioning units for optimal comfort without unpleasant cold drafts and is compatible
          with Samsung’s 1Way, 360 Cassette, 4Way, 4Way 600×600, Duct and Wall-Mounted models.
        </p>
      </div>

      <!-- text (title 2line 말줄임)-->
      <div class="detail-text">
        <strong class="tit txt-h4 txt-ellipsis2">Samsung and Google Cloud Join Forces to Bring Generative AI Generative
          AISamsung and Google Cloud Join Forces to Bring Generative AI Generative AISamsung and Google Cloud Join
          Forces to Bring Generative AI Generative AI</strong>
        <p class="txt txt-p5">
          Samsung Electronics announced the global launch of its new DVM S2 Variable Refrigerant Flow (VRF) outdoor air
          conditioning unit that works with indoor units to provide exclusive WindFree™ Cooling everywhere without the
          discomfort of direct cold airflow when indoors.
          <br><br>
          “DVM S2’s efficient yet powerful performance exhibits how Samsung’s exclusive WindFree™ Cooling technology
          continues to advance,” said Young June Choi, Head of Air Solution Biz Group of the Digital Appliances Business
          at Samsung Electronics. “This AI-controlled system is Samsung’s most advanced climate control solution yet,
          set to bring WindFree™ comfort to apartment blocks, small to midsize office buildings, and commercial
          buildings everywhere.”
          <br><br>
          DVM S2, Samsung’s sixth-generation Digital Variable Multi air conditioner, enables connection with up to 64
          Samsung indoor air conditioning units for optimal comfort without unpleasant cold drafts and is compatible
          with Samsung’s 1Way, 360 Cassette, 4Way, 4Way 600×600, Duct and Wall-Mounted models.
          <br><br>
          Samsung Electronics announced the global launch of its new DVM S2 Variable Refrigerant Flow (VRF) outdoor air
          conditioning unit that works with indoor units to provide exclusive WindFree™ Cooling everywhere without the
          discomfort of direct cold airflow when indoors.
          <br><br>
          “DVM S2’s efficient yet powerful performance exhibits how Samsung’s exclusive WindFree™ Cooling technology
          continues to advance,” said Young June Choi, Head of Air Solution Biz Group of the Digital Appliances Business
          at Samsung Electronics. “This AI-controlled system is Samsung’s most advanced climate control solution yet,
          set to bring WindFree™ comfort to apartment blocks, small to midsize office buildings, and commercial
          buildings everywhere.”
          <br><br>
          DVM S2, Samsung’s sixth-generation Digital Variable Multi air conditioner, enables connection with up to 64
          Samsung indoor air conditioning units for optimal comfort without unpleasant cold drafts and is compatible
          with Samsung’s 1Way, 360 Cassette, 4Way, 4Way 600×600, Duct and Wall-Mounted models.
        </p>
      </div>

      <!-- text (title 1line 말줄임)-->
      <div class="detail-text">
        <strong class="tit txt-h4 txt-ellipsis">Samsung and Google Cloud Join Forces to Bring Generative AI Generative
          AISamsung and Google Cloud Join Forces to Bring Generative AI Generative AISamsung and Google Cloud Join
          Forces to Bring Generative AI Generative AI</strong>
        <p class="txt txt-p5">
          Samsung Electronics announced the global launch of its new DVM S2 Variable Refrigerant Flow (VRF) outdoor air
          conditioning unit that works with indoor units to provide exclusive WindFree™ Cooling everywhere without the
          discomfort of direct cold airflow when indoors.
          <br><br>
          “DVM S2’s efficient yet powerful performance exhibits how Samsung’s exclusive WindFree™ Cooling technology
          continues to advance,” said Young June Choi, Head of Air Solution Biz Group of the Digital Appliances Business
          at Samsung Electronics. “This AI-controlled system is Samsung’s most advanced climate control solution yet,
          set to bring WindFree™ comfort to apartment blocks, small to midsize office buildings, and commercial
          buildings everywhere.”
          <br><br>
          DVM S2, Samsung’s sixth-generation Digital Variable Multi air conditioner, enables connection with up to 64
          Samsung indoor air conditioning units for optimal comfort without unpleasant cold drafts and is compatible
          with Samsung’s 1Way, 360 Cassette, 4Way, 4Way 600×600, Duct and Wall-Mounted models.
          <br><br>
          Samsung Electronics announced the global launch of its new DVM S2 Variable Refrigerant Flow (VRF) outdoor air
          conditioning unit that works with indoor units to provide exclusive WindFree™ Cooling everywhere without the
          discomfort of direct cold airflow when indoors.
          <br><br>
          “DVM S2’s efficient yet powerful performance exhibits how Samsung’s exclusive WindFree™ Cooling technology
          continues to advance,” said Young June Choi, Head of Air Solution Biz Group of the Digital Appliances Business
          at Samsung Electronics. “This AI-controlled system is Samsung’s most advanced climate control solution yet,
          set to bring WindFree™ comfort to apartment blocks, small to midsize office buildings, and commercial
          buildings everywhere.”
          <br><br>
          DVM S2, Samsung’s sixth-generation Digital Variable Multi air conditioner, enables connection with up to 64
          Samsung indoor air conditioning units for optimal comfort without unpleasant cold drafts and is compatible
          with Samsung’s 1Way, 360 Cassette, 4Way, 4Way 600×600, Duct and Wall-Mounted models.
        </p>
      </div>

      <!-- model code/product name  -->
      <div class="detail-code-name">
        <strong class="tit txt-p4 txt-fw-b">Model Code</strong>
        <ul class="list__wrap">
          <li class="list__el">
            <a href="#none" class="code txt-p5">AE200RNWMEG/EU</a>
            <a href="#none" class="name txt-p5">DVM S2 Outdoor Heat Recovery High EER</a>
          </li>
          <li class="list__el">
            <a href="#none" class="code txt-p5">AE200RNWMEG/EU</a>
            <a href="#none" class="name txt-p5">DVM S2 Outdoor Heat Recovery High EER</a>
          </li>
          <li class="list__el">
            <a href="#none" class="code txt-p5">AE200RNWMEG/EU</a>
            <a href="#none" class="name txt-p5">DVM S2 Outdoor Heat Recovery High EERDVM S2 Outdoor Heat Recovery High
              EERDVM S2 Outdoor Heat Recovery High EERDVM S2 Outdoor Heat Recovery High EERDVM S2 Outdoor Heat Recovery
              High EERDVM S2 Outdoor Heat Recovery High EER</a>
          </li>
          <li class="list__el">
            <a href="#none" class="code txt-p5">AE200RNWMEG/EU</a>
            <a href="#none" class="name txt-p5">DVM S2 Outdoor Heat Recovery High EER</a>
          </li>
          <li class="list__el">
            <a href="#none" class="code txt-p5">AE200RNWMEG/EU</a>
            <a href="#none" class="name txt-p5">DVM S2 Outdoor Heat Recovery High EER</a>
          </li>
          <li class="list__el">
            <a href="#none" class="code txt-p5">AE200RNWMEG/EU</a>
            <a href="#none" class="name txt-p5">DVM S2 Outdoor Heat Recovery High EER</a>
          </li>
          <li class="list__el">
            <a href="#none" class="code txt-p5">AE200RNWMEG/EU</a>
            <a href="#none" class="name txt-p5">DVM S2 Outdoor Heat Recovery High EER</a>
          </li>
        </ul>
      </div>

      <!-- disclaimer -->
      <div class="detail-disclaimer">
        <p class="txt txt-p6">
          The New York Times,<br>
          Smith, J. (2023). "The Impact of Climate Change on Urban Areas." Journal of Environmental Studies, 45(2),
          123-135.<br>
          Johnson, A. (2022). "Renewable Energy Trends." Renewable Energy Journal, 30(4), 567-580.<br>
          ※ This post was written by an AI, and Samsung holds no responsibility. Articles and images produced by Samsung
          AirSoul Blog are free for anyone to use.
        </p>
      </div>

      <!-- Attachment file -->
      <div class="detail-attach-file">
        <!-- 2025-03-04 tit 추가 -->
        <p class="tit txt-p4 txt-fw-b">Attachments </p>
        <ul class="file-list__wrap">
          <li class="flie-list__el txt-p5"><a download="">File name 1 File name 1 File name 1 File name 1 File name 1
              File name 1 File name 1 File name 1.png</a></li>
          <li class="flie-list__el txt-p5"><a download="">File name 2.png</a></li>
          <li class="flie-list__el txt-p5"><a download="">File name 3.png</a></li>
          <li class="flie-list__el txt-p5"><a download="">File name 4.png</a></li>
          <li class="flie-list__el txt-p5"><a download="">File name 5.png</a></li>
        </ul>
      </div>
    </article>

    <!-- prev / next -->
    <div class="support-prev-next__wrap">
      <div class="list">
        <!-- 2025-03-04 버튼(접근성포함) 반영 prev, next 버튼-->
        <div class="btn-box">
          <button type="button" class="btn-txt prev-btn">
            <i class="btn-txt__icon icon-arrow-bottom"></i>
            <span class="btn-txt__txt">Previous</span>
          </button>
        </div>
        <div class="cont__inner">
          <a class="subject txt-p5" href="#none">Day in My Life: Barry the Cat and Samsung Home Appliances</a>
          <span class="date txt-p5">2023-08-29</span>
        </div>
      </div>
      <div class="list">
        <div class="btn-box">
          <button type="button" class="btn-txt next-btn">
            <i class="btn-txt__icon icon-arrow-bottom"></i>
            <span class="btn-txt__txt">Next</span>
          </button>
        </div>
        <div class="cont__inner">
          <a class="subject txt-p5" href="#none">Introducing Galaxy Book4 Series: The Most Intelligent and Powerful Galaxy Book Yet</a>
          <span class="date txt-p5">2023-08-29</span>
        </div>
      </div>
    </div>

    <div class="support-button__wrap">
      <button type="button" class="btn-block md">
        <span class="btn-block__txt">List</span>
      </button>
    </div>

    <!-- video popup -->
    <!-- 2025-02-20 class 삭제 : support-detail-pop -->
    <div class="popup-wrap" id="support-detail-videopop">
      <div class="popup-wrap__inner" role="alertdialog" aria-modal="true">
        <div class="popup__container">
          <!-- 2025-02-20 class 변경 : video__wrap ==> popup-video-box -->
          <div class="popup-video-box">
            <!-- 2025-02-20 width, height 추가 -->
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qySDWFTWeX8?si=ZWlFcn0Wl7MWziNb" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
        <button type="button" class="btn-icon icon-close"> <span class="txt-blind">Close</span> </button>
      </div>
    </div>


    <!-- share alert -->
    <div class="alert-wrap" id="support-detail-share-alert">
      <div class="alert-wrap__inner" role="alertdialog" aria-modal="true">
        <div class="alert__header">
          <p class="txt-p3 txt-fw-b">Share</p>
        </div>
        <div class="aler__container">
          <div class="share-list-box">
            <button type="button" class="btn-txt">
              <i class="btn-txt__icon icon-share-in"></i>
              <span class="btn-txt__txt">Linkedin</span>
            </button>
            <button type="button" class="btn-txt">
              <i class="btn-txt__icon icon-share-email"></i>
              <span class="btn-txt__txt">E-mail</span>
            </button>
            <button type="button" class="btn-txt" data-layer-target="url-copy-alert" onclick="window.hvachubFunc.closePopup('case-share-alert')">
              <i class="btn-txt__icon icon-share-link"></i>
              <span class="btn-txt__txt">Copy the link</span>
            </button>
          </div>
        </div>
        <button type="button" class="btn-icon icon-close"> <span class="txt-blind">Close</span> </button>
      </div>
    </div>

    <!-- url copy alert -->
    <div class="alert-wrap" id="url-copy-alert">
      <div class="alert-wrap__inner" role="alertdialog" aria-modal="true">
        <div class="aler__container">
          <p class="txt-p6">The URL has been copied to the clipboard.</p>
        </div>
        <div class="alert__footer">
          <button type="button" class="btn-block type2 md" onclick="window.hvachubFunc.closePopup('url-copy-alert')">
            <span class="btn-block__txt">Close</span>
          </button>
        </div>
        <button type="button" class="btn-icon icon-close"> <span class="txt-blind">Close</span> </button>
      </div>
    </div>
  </section>


  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="/apps/components/content/support-detail/clientlibs/js/main.js"></script>
</body>

</html>