.address-management .field-row-item { display:flex; gap:24px; margin-top:24px; }
.address-management .field-row-item .field-box.col2 {flex-basis: calc(50% - 12px);}
.address-management .field-row-item .txt-label { line-height:36px; margin-bottom:8px; }

/* company search */
.popup-wrap.company-search .popup-wrap__inner .popup__header { padding:8px 40px 24px; }
.popup-wrap.company-search .popup-wrap__inner .popup__header .txt-h4 { line-height:34px; }
.company-list-search { margin-bottom:16px; padding:24px; background-color: #f7f7f7; border-radius: var(--border-base); } 
.company-list-search .field-box-area { display:flex; align-items: flex-start; flex-wrap: nowrap; gap:16px; width:100%; }
.company-list-search .field-box-area .field-box { width:50%; }
.company-list-search .field-box-area .field-box .txt-label { font-size:14px; line-height:21px; margin-bottom:8px; }
.company-list-search .field-box-area .field-box .combo-box.box-type { width:100%; }
.company-list-search .field-box-area .txt-error { min-height:18px; }
.company-list-search .btn-block.type2 { margin-top:29px; }
.company-search .basic-list__result .list-el .txt-p5, .company-search .basic-list__result .list-el .txt-p7 { font-size:14px !important; }
.company-search .basic-list__result .list-row  { min-height:48px; }
.company-search .basic-list__result .list-el {flex-shrink: 0; }
.company-search .basic-list__result .list-el.el-radio { flex-basis:48px; }
.company-search .basic-list__result .list-el.el-company-name { flex-basis:122px; }
.company-search .basic-list__result .list-el.el-business-loc { flex-basis:136px; }
.company-search .basic-list__result .list-el.el-city,
.company-search .basic-list__result .list-el.el-status { flex-basis:88px; } 
.company-search .basic-list__result .list-el.el-district,
.company-search .basic-list__result .list-el.el-postal-code { flex-basis:98px; } 
.company-search .basic-list__result .list-el.el-address-line { flex:1; }
.company-search .basic-list__result .list-body .list-el.el-company-name, 
.company-search .basic-list__result .list-body .list-el.el-address-line  { text-align: left; }

.company-list-item .list-top { display:flex; justify-content: space-between; align-items: flex-end; padding-bottom:16px; padding-bottom:12px; border-bottom:2px solid #000;}