<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Card Carousel</title>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
   <link rel="stylesheet" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css" />
   <link rel="stylesheet" type="text/css" href="/apps/components/content/card-carousel/clientlibs/css/main.css" />

   <!-- 2025-04-11 요청으로 삽입 //-->
   <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
   <!-- End Google Tag Manager -->

</head>

<body>
   
   <!-- 2025-04-11 요청으로 삽입 //-->
   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) --> 

   <div>
      <!-- component -->
      <section class="card-carousel">
         <div class="swiper card-carousel__swiper">
            <div class="swiper-wrapper">
               <div class="swiper-slide">
                  <article class="card-carousel-box">
                     <!-- 2024-09-24 - dim 삭제 (하기 동일)-->
                     <!-- 임시 이미지 경로 -->
                     <!-- 240618 image pc/mo 분기처리  -->
                     <img src="https://picsum.photos/330/240" alt="card-carousel image" class="pc-display" />
                     <img src="https://picsum.photos/360/424" alt="card-carousel image" class="mo-display" />
                     <div class="card-carousel-box__cont">
                        <!-- 240718 영역 추가 모바일 화면일 경우에 .card-carousel-box__cont 영역에 필요한 링크 걸리는 영역 -->
                        <a href="https://webcode.solutions/en/tools/px-to-vw/" target="" class="cont-link"></a>
                        <!-- 240523 heading 태그 -> p태그 수정 -->
                        <p class="card-carousel-box__category txt-p2 txt-fw-b">
                           <span class="pc-txt">Hotel</span>
                           <span class="mo-txt">Hotel</span>
                        </p>
                        <a role="button" href="#" class="btn-block type2 md" target="">
                           <span class="btn-block__txt">Learn more</span>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="swiper-slide">
                  <article class="card-carousel-box">
                     <!-- 임시 이미지 경로 -->
                     <!-- 240618 image pc/mo 분기처리  -->
                     <img src="https://picsum.photos/330/240" alt="card-carousel image" class="pc-display" />
                     <img src="https://picsum.photos/360/424" alt="card-carousel image" class="mo-display" />
                     <div class="card-carousel-box__cont">
                        <!-- 240718 영역 추가 모바일 화면일 경우에 .card-carousel-box__cont 영역에 필요한 링크 걸리는 영역 -->
                        <a href="#" target="" class="cont-link"></a>
                        <!-- 240523 heading 태그 -> p태그 수정 -->
                        <p class="card-carousel-box__category txt-p2 txt-fw-b">
                           <span class="pc-txt">Office</span>
                           <span class="mo-txt">Office</span>
                        </p>
                        <a role="button" href="#" class="btn-block type2 md" target="">
                           <span class="btn-block__txt">Learn more</span>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="swiper-slide">
                  <article class="card-carousel-box">
                     <!-- 임시 이미지 경로 -->
                     <!-- 240618 image pc/mo 분기처리  -->
                     <img src="https://picsum.photos/330/240" alt="card-carousel image" class="pc-display" />
                     <img src="https://picsum.photos/360/424" alt="card-carousel image" class="mo-display" />
                     <div class="card-carousel-box__cont">
                        <!-- 240718 영역 추가 모바일 화면일 경우에 .card-carousel-box__cont 영역에 필요한 링크 걸리는 영역 -->
                        <a href="#" target="" class="cont-link"></a>
                        <!-- 240523 heading 태그 -> p태그 수정 -->
                        <p class="card-carousel-box__category txt-p2 txt-fw-b">
                           <span class="pc-txt">Retail</span>
                           <span class="mo-txt">Retail</span>
                        </p>
                        <a role="button" href="#" class="btn-block type2 md" target="">
                           <span class="btn-block__txt">Learn more</span>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="swiper-slide">
                  <article class="card-carousel-box">
                     <!-- 임시 이미지 경로 -->
                     <!-- 240618 image pc/mo 분기처리  -->
                     <img src="https://picsum.photos/330/240" alt="card-carousel image" class="pc-display" />
                     <img src="https://picsum.photos/360/424" alt="card-carousel image" class="mo-display" />
                     <div class="card-carousel-box__cont">
                        <!-- 240718 영역 추가 모바일 화면일 경우에 .card-carousel-box__cont 영역에 필요한 링크 걸리는 영역 -->
                        <a href="#" target="" class="cont-link"></a>
                        <!-- 240523 heading 태그 -> p태그 수정 -->
                        <p class="card-carousel-box__category txt-p2 txt-fw-b">
                           <span class="pc-txt">Residential</span>
                           <span class="mo-txt">Residential</span>
                        </p>
                        <a role="button" href="#" class="btn-block type2 md" target="">
                           <span class="btn-block__txt">Learn more</span>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="swiper-slide">
                  <article class="card-carousel-box">
                     <!-- 임시 이미지 경로 -->
                     <!-- 240618 image pc/mo 분기처리  -->
                     <img src="https://picsum.photos/330/240" alt="card-carousel image" class="pc-display" />
                     <img src="https://picsum.photos/360/424" alt="card-carousel image" class="mo-display" />
                     <div class="card-carousel-box__cont">
                        <!-- 240718 영역 추가
                             모바일 화면일 경우에 .card-carousel-box__cont 영역에 필요한 링크 걸리는 영역 -->
                        <a href="#" target="" class="cont-link"></a>
                        <!-- 240523 heading 태그 -> p태그 수정 -->
                        <p class="card-carousel-box__category txt-p2 txt-fw-b">
                           <span class="pc-txt">Hotel</span>
                           <span class="mo-txt">Hotel</span>
                        </p>
                        <a role="button" href="#" class="btn-block type2 md" target="">
                           <span class="btn-block__txt">Learn more</span>
                        </a>
                     </div>
                  </article>
               </div>
            </div>

            <!-- 240718 접근성 관련 swiper 텍스트 추가 -->
            <div class="swiper-button-prev">
               <span class="txt-blind">prev</span>
            </div>
            <div class="swiper-button-next">
               <span class="txt-blind">next</span>
            </div>
         </div>
      </section>
   </div>

   <!-- common.js -->
   <script src="/pub-only/js/main-lib.js"></script>
   <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
   <!-- 컴포넌트 js -->
   <script src="/apps/components/content/card-carousel/clientlibs/js/main.js"></script>
</body>

</html>