<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>address-management-list</title>

  <link rel="stylesheet" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css" />
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css" />

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- component -->
  <section class="address-managemtnt">
    <h2 class="address__title txt-h3">Address Management</h2>
    <div class="tab-wrap">
      <div role="tablist" class="tab-list type5" aria-label="탭타이틀">
        <!--[F] 선택시 .active 추가 -->
        <button type="button" class="tab-list__tab active" role="tab" aria-selected="true">
          <span class="tab-list__tab-txt txt-h6">Shipping</span>
        </button>
        <button type="button" class="tab-list__tab" role="tab">
          <span class="tab-list__tab-txt txt-h6">Customer</span>
        </button>
      </div>     
      <div role="presentation" class="tab-wrap__contents">
        <!-- my start // -->
        <div role="tabpanel" aria-labelledby="" tabindex="0">          
          <section class="my-list-items white-box">
            <!-- [F] PC용 ( 모바일 용을 filter에서 노출) -->
            <div class="list-top flex-end">              
              <button type="button" class="btn-block type2 md">
                <span class="btn-block__txt">New</span>
              </button>
            </div>            

            <div class="lr-box-item-list">
              <!-- no data -->
              <div class="list-nodata" style="display:none;">
                <p class="txt-p5">There is no registered content.</p>
              </div>
              <!-- //no data -->

              <!-- lr-list-data-area // -->
              <div class="lr-list-data-area">
                <ul class="list-data">
                  <li>
                    <div class="lr-line-item">
                      <div class="left">
                        <p class="tit">Ankara Office</p>
                        <p class="txt">Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey​</p>
                      </div>
                      <div class="right">
                        <button type="button" class="btn-icon icon-edit3">
                          <span class="txt-blind">edit</span>
                        </button>                     
                        <button type="button" class="btn-icon icon-trash">
                          <span class="txt-blind">delete</span>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lr-line-item">
                      <div class="left">
                        <p class="tit">Istanbul Office</p>
                        <p class="txt">Askerocağı Cad. Süzer Plaza, No:6, Kat:4, 34367, Elmadağ/Şişli, İstanbul</p>
                      </div>
                      <div class="right">
                        <button type="button" class="btn-icon icon-edit3">
                          <span class="txt-blind">edit</span>
                        </button>                     
                        <button type="button" class="btn-icon icon-trash">
                          <span class="txt-blind">delete</span>
                        </button>                      
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lr-line-item">
                      <div class="left">
                        <p class="tit">Ankara Office(0002015710)</p>
                        <p class="txt">Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey</p>
                      </div>
                      <div class="right">
                        <button type="button" class="btn-icon icon-edit3">
                          <span class="txt-blind">edit</span>
                        </button>                     
                        <button type="button" class="btn-icon icon-trash">
                          <span class="txt-blind">delete</span>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lr-line-item">
                      <div class="left">
                        <p class="tit">Ankara Office(0002015710)</p>
                        <p class="txt">Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey</p>
                      </div>
                      <div class="right">                       
                        <button type="button" class="btn-icon icon-edit3">
                          <span class="txt-blind">edit</span>
                        </button>                     
                        <button type="button" class="btn-icon icon-trash">
                          <span class="txt-blind">delete</span>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lr-line-item">
                      <div class="left">
                        <p class="tit">Ankara Office(0002015710)</p>
                        <p class="txt">Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey</p>
                      </div>
                      <div class="right">                       
                        <button type="button" class="btn-icon icon-edit3">
                          <span class="txt-blind">edit</span>
                        </button>                     
                        <button type="button" class="btn-icon icon-trash">
                          <span class="txt-blind">delete</span>
                        </button>                     
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- // lr-list-data-area  -->

            </div>
          </section>
        </div>
        <!-- my end // -->
        
        <!-- Customer start // -->
        <div class="order-tab" role="tabpanel" aria-labelledby="" hidden>
          <section class="customer-list-items white-box">
            <!-- [F] PC용 ( 모바일 용을 filter에서 노출) -->
            <div class="list-top flex-end">              
              <button type="button" class="btn-block type2 md">
                <span class="btn-block__txt">New</span>
              </button>
            </div>            

            <div class="lr-box-item-list">
              <!-- no data -->
              <div class="list-nodata" style="display:none;">
                <p class="txt-p5">There is no registered content.</p>
              </div>
              <!-- //no data -->

              <!-- lr-list-data-area // -->
              <div class="lr-list-data-area">
                <ul class="list-data">
                  <li>
                    <div class="lr-line-item">
                      <div class="left">
                        <p class="tit">Concentrix(5181752)</p>
                        <p class="txt">Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey</p>
                        <p class="info">
                          <span class="name">Alex *****</span>
                          <span class="email">**aaa@aaa.com</span> 
                          <span class="num">90212368****</span>
                        </p>
                      </div>
                      <div class="right">                        
                        <button type="button" class="btn-icon icon-user2">
                          <span class="txt-blind">user</span>
                        </button>                        
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lr-line-item">
                      <div class="left">
                        <p class="tit">Concentrix(5181752)</p>
                        <p class="txt">Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey</p>                      
                      </div>
                      <div class="right">                        
                        <button type="button" class="btn-icon icon-user2">
                          <span class="txt-blind">user</span>
                        </button>                        
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lr-line-item deactive">
                      <div class="left">
                        <p class="tit">Istanbul Office</p>
                        <p class="txt">Askerocağl Cad. Süzer Plaza, No:6, Kat:4, 34367, Elmadağ/Şişli, İstanbul</p>
                        <p class="info">
                          <span class="name">Alex *****</span>
                          <span class="email">**aaa@aaa.com</span> 
                          <span class="num">90212368****</span>
                        </p>
                      </div>
                      <div class="right">
                        <button type="button" class="btn-icon icon-trash">
                          <span class="txt-blind">delete</span>
                        </button>  
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lr-line-item deactive">
                      <div class="left">
                        <p class="tit">Istanbul Office</p>
                        <p class="txt">Askerocağl Cad. Süzer Plaza, No:6, Kat:4, 34367, Elmadağ/Şişli, İstanbul</p>
                        <p class="info">
                          <span class="name">Alex *****</span>
                          <span class="email">**aaa@aaa.com</span> 
                          <span class="num">90212368****</span>
                        </p>
                      </div>
                      <div class="right">
                        <button type="button" class="btn-icon icon-trash">
                          <span class="txt-blind">delete</span>
                        </button>  
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lr-line-item deactive">
                      <div class="left">
                        <p class="tit">Istanbul Office</p>
                        <p class="txt">Askerocağl Cad. Süzer Plaza, No:6, Kat:4, 34367, Elmadağ/Şişli, İstanbul</p>
                        <p class="info">
                          <span class="name">Alex *****</span>
                          <span class="email">**aaa@aaa.com</span> 
                          <span class="num">90212368****</span>
                        </p>
                      </div>
                      <div class="right">
                        <button type="button" class="btn-icon icon-trash">
                          <span class="txt-blind">delete</span>
                        </button>  
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lr-line-item deactive">
                      <div class="left">
                        <p class="tit">Istanbul Office</p>
                        <p class="txt">Askerocağl Cad. Süzer Plaza, No:6, Kat:4, 34367, Elmadağ/Şişli, İstanbul</p>
                        <p class="info">
                          <span class="name">Alex *****</span>
                          <span class="email">**aaa@aaa.com</span> 
                          <span class="num">90212368****</span>
                        </p>
                      </div>
                      <div class="right">
                        <button type="button" class="btn-icon icon-trash">
                          <span class="txt-blind">delete</span>
                        </button>  
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- // lr-list-data-area  -->
            </div>
          </section>
        </div>
        <!-- // Customer end  -->
      </div>
    </div>
  </section>
  <!-- //component -->
  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="/apps/components/content/dashboard/clientlibs/js/main.js"></script>
</body>

</html>