<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Case Study List</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css">
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- component -->
  <section class="case-study-list">
    <!-- 2025-02-20 div 삭제 : case-study-cont__wrap -->
    <!-- select box -->
    <div class="field-box vertial">
      <label class="txt-label txt-blind">vertial</label>
      <div class="combo-box">
        <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="combo-box__menu" aria-expanded="false">All</button>
        <div class="combo-box__menu" role="menu" aria-labelledby="combo-box__txt">
          <ul class="combo-box__menu-list">
            <li role="menuitem">All</li>
            <li role="menuitem">Residential</li>
            <li role="menuitem">Office</li>
            <li role="menuitem">Hotel</li>
            <li role="menuitem">Small shops</li>
            <li role="menuitem">Shopping malls</li>
            <li role="menuitem">Education</li>
            <li role="menuitem">Healthcare</li>
            <li role="menuitem">Public / Government</li>
            <li role="menuitem">Industrial</li>
            <li role="menuitem">Others</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- case study list -->
    <!-- 2025-02-20 class 변경 case-list-result__wrap  ==> case-result -->
    <div class="case-result">
      <p class="txt-fw-b txt-p6"><span class="txt-point1">16</span> Results</p>
      <!-- 2025-02-20 class 변경 case-study-list__wrap  ==> case-list -->
      <div class="case-list">
        <ul class="list-data">
          <!-- list1 -->
          <!-- 2025-02-20 class 변경 case-list__el  ==> list-el -->
          <li class="list-el">
            <!-- 2025-02-20 class 변경 case-list__img  ==> el-img -->
            <div class="el-img">
              <img src="/pub-only/images/case-study-sample.png" alt="sample image" />
            </div>
            <!-- 2025-02-20 div 삭제 case-list__txt-box -->
            <span class="tag-flag">Public / Government​</span>
            <!-- 2025-02-20 태그 변경 strong ==> p / class 변경 txt-ellipsis2  ==> txt-ellipsis3, title ==> el-title  -->
            <p class="el-title txt-h7 txt-ellipsis3">Sheremetyevo International Airport Sheremetyevo International Airport​</p>
            <div class="date-btn-box">
              <span class="date">2024-02-14</span>
              <div class="btn-box">
                <button type="button" class="btn-icon icon-share" data-layer-target="case-share-alert">
                  <span class="txt-blind">share</span>
                </button>
                <div class="favorite-area">
                  <button class="btn-icon icon-favorite"> <!-- 체크시 .on -->
                    <span class="txt-blind">favorite</span>
                  </button>
                  <!-- tooltip(favorite on인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-on">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Add to Favorite List</p>
                      <a role="button" class="btn-txt-underline xsm" href="">
                        <span class="btn-txt__txt">Favorite List</span>
                      </a>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                  <!-- tooltip(favorite off인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-off">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Remove from Favorite List</p>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 2025-02-20 class 변경 btn-box case-list__btn  ==> el-btn -->
            <div class="el-btn">
              <button type="button" class="btn-block md">
                <span class="btn-block__txt">Learn more</span>
              </button>
              <a role="button" class="btn-block type2 md">
                <span class="btn-block__txt">Download</span>
                <i class="btn-block__icon icon-download-wh"></i>
              </a>
            </div>
          </li>
          <!-- list2 -->
          <li class="list-el">
            <div class="el-img">
              <img src="/pub-only/images/case-study-sample.png" alt="sample image" />
            </div>
            <span class="tag-flag">Office​</span>
            <p class="el-title txt-h7 txt-ellipsis3">Etihad Stadium, UK​</p>
            <div class="date-btn-box">
              <span class="date">2024-02-14</span><!-- date -->
              <div class="btn-box">
                <button type="button" class="btn-icon icon-share" data-layer-target="case-share-alert">
                  <span class="txt-blind">share</span>
                </button>
                <div class="favorite-area">
                  <button class="btn-icon icon-favorite"> <!-- 체크시 .on -->
                    <span class="txt-blind">favorite</span>
                  </button>
                  <!-- tooltip(favorite on인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-on">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Add to Favorite List</p>
                      <a role="button" class="btn-txt-underline xsm" href="">
                        <span class="btn-txt__txt">Favorite List</span>
                      </a>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                  <!-- tooltip(favorite off인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-off">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Remove from Favorite List</p>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="el-btn">
              <button type="button" class="btn-block md">
                <span class="btn-block__txt">Learn more</span>
              </button>
              <a role="button" class="btn-block type2 md">
                <span class="btn-block__txt">Download</span>
                <i class="btn-block__icon icon-download-wh"></i>
              </a>
            </div>
          </li>
          <!-- list3 -->
          <li class="list-el">
            <div class="el-img">
              <img src="/pub-only/images/case-study-sample.png" alt="sample image" />
            </div>
            <span class="tag-flag">Residential​</span>
            <p class="el-title txt-h7 txt-ellipsis3">Sheremetyevo International<br> Airport​</p>
            <div class="date-btn-box">
              <span class="date">2024-02-14</span>
              <div class="btn-box">
                <button type="button" class="btn-icon icon-share" data-layer-target="case-share-alert">
                  <span class="txt-blind">share</span>
                </button>
                <div class="favorite-area">
                  <button class="btn-icon icon-favorite"> <!-- 체크시 .on -->
                    <span class="txt-blind">favorite</span>
                  </button>
                  <!-- tooltip(favorite on인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-on">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Add to Favorite List</p>
                      <a role="button" class="btn-txt-underline xsm" href="">
                        <span class="btn-txt__txt">Favorite List</span>
                      </a>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                  <!-- tooltip(favorite off인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-off">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Remove from Favorite List</p>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="el-btn">
              <button type="button" class="btn-block md">
                <span class="btn-block__txt">Learn more</span>
              </button>
              <a role="button" class="btn-block type2 md">
                <span class="btn-block__txt">Download</span>
                <i class="btn-block__icon icon-download-wh"></i>
              </a>
            </div>
          </li>
          <!-- list4 -->
          <li class="list-el">
            <div class="el-img">
              <img src="/pub-only/images/case-study-sample.png" alt="sample image" />
            </div>
            <span class="tag-flag">Hotel​</span>
            <p class="el-title txt-h7 txt-ellipsis3">Sheremetyevo International Airport​</p>
            <div class="date-btn-box">
              <span class="date">2024-02-14</span>
              <div class="btn-box">
                <button type="button" class="btn-icon icon-share" data-layer-target="case-share-alert">
                  <span class="txt-blind">share</span>
                </button>
                <div class="favorite-area">
                  <button class="btn-icon icon-favorite"> <!-- 체크시 .on -->
                    <span class="txt-blind">favorite</span>
                  </button>
                  <!-- tooltip(favorite on인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-on">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Add to Favorite List</p>
                      <a role="button" class="btn-txt-underline xsm" href="">
                        <span class="btn-txt__txt">Favorite List</span>
                      </a>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                  <!-- tooltip(favorite off인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-off">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Remove from Favorite List</p>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="el-btn">
              <button type="button" class="btn-block md">
                <span class="btn-block__txt">Learn more</span>
              </button>
              <a role="button" class="btn-block type2 md">
                <span class="btn-block__txt">Download</span>
                <i class="btn-block__icon icon-download-wh"></i>
              </a>
            </div>
          </li>
          <!-- list5 -->
          <li class="list-el">
            <div class="el-img">
              <img src="/pub-only/images/case-study-sample.png" alt="sample image" />
            </div>
            <span class="tag-flag">Small shops</span>
            <p class="el-title txt-h7 txt-ellipsis3">Terminal 2 At The Incheon International Airport​</p>
            <div class="date-btn-box">
              <span class="date">2024-02-14</span>
              <div class="btn-box">
                <button type="button" class="btn-icon icon-share" data-layer-target="case-share-alert">
                  <span class="txt-blind">share</span>
                </button>
                <div class="favorite-area">
                  <button class="btn-icon icon-favorite"> <!-- 체크시 .on -->
                    <span class="txt-blind">favorite</span>
                  </button>
                  <!-- tooltip(favorite on인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-on">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Add to Favorite List</p>
                      <a role="button" class="btn-txt-underline xsm" href="">
                        <span class="btn-txt__txt">Favorite List</span>
                      </a>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                  <!-- tooltip(favorite off인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-off">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Remove from Favorite List</p>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="el-btn">
              <button type="button" class="btn-block md">
                <span class="btn-block__txt">Learn more</span>
              </button>
              <a role="button" class="btn-block type2 md">
                <span class="btn-block__txt">Download</span>
                <i class="btn-block__icon icon-download-wh"></i>
              </a>
            </div>
          </li>
          <!-- list6 -->
          <li class="list-el">
            <div class="el-img">
              <img src="/pub-only/images/case-study-sample.png" alt="sample image" />
            </div>
            <span class="tag-flag">Others</span>
            <p class="el-title txt-h7 txt-ellipsis3">Sheremetyevo International<br> Airport​</p>
            <div class="date-btn-box">
              <span class="date">2024-02-14</span>
              <div class="btn-box">
                <button type="button" class="btn-icon icon-share" data-layer-target="case-share-alert">
                  <span class="txt-blind">share</span>
                </button>
                <div class="favorite-area">
                  <button class="btn-icon icon-favorite"> <!-- 체크시 .on -->
                    <span class="txt-blind">favorite</span>
                  </button>
                  <!-- tooltip(favorite on인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-on">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Add to Favorite List</p>
                      <a role="button" class="btn-txt-underline xsm" href="">
                        <span class="btn-txt__txt">Favorite List</span>
                      </a>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                  <!-- tooltip(favorite off인 경우) -> 5초 후 사라짐 -->
                  <div class="favorite__contents favorite__contents-off">
                    <div class="favorite__contents-inner">
                      <p class="txt-p7">Remove from Favorite List</p>
                      <button type="button" class="btn-icon icon-close-xsm">
                        <span class="txt-blind">close</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="el-btn">
              <button type="button" class="btn-block md">
                <span class="btn-block__txt">Learn more</span>
              </button>
              <a role="button" class="btn-block type2 md">
                <span class="btn-block__txt">Download</span>
                <i class="btn-block__icon icon-download-wh"></i>
              </a>
            </div>
          </li>
        </ul>
        <div class="list-nodata">
          <!-- 2025-02-20 class 변경 txt-p6 ==> txt-p5-->
          <p class="txt-p5">There is no registered content.</p>
        </div>
      </div>
      <!-- view more -->
      <!-- 2025-02-20 class 변경 case-study-list-more ==> tal-center-->
      <div class="tal-center">
        <button type="button" class="btn-block md">
          <span class="btn-block__txt">View more</span>
          <i class="btn-block__icon icon-arrow-bottom"></i>
        </button>
      </div>
    </div>


    <!-- share alert -->
    <div class="alert-wrap" id="case-share-alert">
      <div class="alert-wrap__inner" role="alertdialog" aria-modal="true">
        <div class="alert__header">
          <p class="txt-p3 txt-fw-b">Share</p>
        </div>
        <div class="aler__container">
          <div class="share-list-box">
            <button type="button" class="btn-txt">
              <i class="btn-txt__icon icon-share-in"></i>
              <span class="btn-txt__txt">Linkedin</span>
            </button>
            <button type="button" class="btn-txt">
              <i class="btn-txt__icon icon-share-email"></i>
              <span class="btn-txt__txt">E-mail</span>
            </button>
            <button type="button" class="btn-txt" data-layer-target="url-copy-alert" onclick="window.hvachubFunc.closePopup('case-share-alert')">
              <i class="btn-txt__icon icon-share-link"></i>
              <span class="btn-txt__txt">Copy the link</span>
            </button>
          </div>
        </div>
        <button type="button" class="btn-icon icon-close"> <span class="txt-blind">Close</span> </button>
      </div>
    </div>
    <!-- url copy alert -->
    <div class="alert-wrap" id="url-copy-alert">
      <div class="alert-wrap__inner" role="alertdialog" aria-modal="true">
        <div class="aler__container">
          <p class="txt-p6">The URL has been copied to the clipboard.</p>
        </div>
        <div class="alert__footer">
          <button type="button" class="btn-block type2 md" onclick="window.hvachubFunc.closePopup('url-copy-alert')">
            <span class="btn-block__txt">Close</span>
          </button>
        </div>
        <button type="button" class="btn-icon icon-close"> <span class="txt-blind">Close</span> </button>
      </div>
    </div>
  </section>

  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
</body>

</html>