<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>Privacy Policy</title>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 


	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			<span style="white-space: pre;"></span>
		</span>
	</div>
	<div>
		<b>Chính Sách Quyền Riêng Tư của Samsung HVAC Hub</b>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<b>Hiệu lực: Ngày 28/05/2025.</b>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Công ty Samsung Electronics Co., Ltd. (được gọi là “Samsung Electronics”, “Samsung” hoặc “chúng tôi” trong Chính Sách Quyền Riêng Tư này), có trụ sở chính tại số 129, Samsung-ro, Yeongtong-gu, Suwon-si, Gyeonggi-do 16677, Hàn Quốc, hiểu rõ tầm quan trọng của quyền riêng tư đối với khách hàng, nhân viên và đối tác của họ. Chúng tôi luôn nỗ lực minh bạch trong việc thu thập, sử dụng, tiết lộ, chuyển giao và lưu trữ thông tin của bạn.  
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Chính Sách Quyền Riêng Tư này cung cấp tổng quan về cách chúng tôi xử lý thông tin cá nhân được thu thập thông qua nền tảng HVAC Hub của Samsung (gọi là “Dịch Vụ Doanh Nghiệp”). 
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>Dịch vụ HVAC của Samsung bao gồm Trang web HVAC Hub, phần mềm DVM Pro 2.0, và Ứng dụng Samsung Air Solution.</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Các dịch vụ này được cung cấp cho các thành viên đã đăng ký và được phê duyệt thông qua dịch vụ Tài khoản Tích hợp B2B (Tài khoản B2B Samsung). Để biết thêm thông tin chi tiết về cách xử lý thông tin cá nhân liên quan đến Tài khoản Tích hợp B2B, vui lòng tham khảo đường dẫn sau: (<a href="https://bizaccount.samsung.com/consent/ebiz">Link</a>) 
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Quý khách cũng có thể tìm hiểu thêm bằng cách đọc Chính Sách Quyền Riêng Tư tại trang web DVM Pro 2.0 (http://dvmpro.mkt.samsung.com), chương trình DVM Pro 2.0 (dành cho Bộ phận Bán hàng/Nhà thiết kế/Quản lý), và Ứng dụng Samsung Air Solution. Trong trường hợp có sự khác biệt giữa nội dung của văn bản chấp thuận này và Chính Sách Quyền Riêng Tư, thì văn bản chấp thuận này sẽ được ưu tiên áp dụng.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Chính Sách Quyền Riêng Tư này có thể được cập nhật định kỳ để phản ánh các thay đổi trong hoạt động xử lý thông tin cá nhân liên quan đến Dịch Vụ Doanh Nghiệp hoặc thay đổi trong pháp luật hiện hành. Chúng tôi sẽ ghi rõ thời điểm cập nhật gần nhất tại phần đầu của Chính Sách Quyền Riêng Tư này. Trong trường hợp có cập nhật, chúng tôi sẽ thông báo trước về các thay đổi quan trọng bằng cách đăng thông báo trên Dịch Vụ Doanh Nghiệp hoặc gửi email đến quý khách, tùy từng trường hợp cụ thể.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Chúng tôi thu thập những thông tin nào về bạn?</b>	
	</div>
	<div>
		<span>
			Chúng tôi có thể thu thập nhiều loại thông tin cá nhân khác nhau, bao gồm dữ liệu cá nhân cơ bản và dữ liệu cá nhân nhạy cảm theo định nghĩa của pháp luật Việt Nam (sau đây gọi là “<b>Pháp luật hiện hành</b>”), liên quan đến Dịch Vụ Doanh Nghiệp.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>Ví dụ:</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Chúng tôi có thể thu thập dữ liệu liên quan đến việc bạn sử dụng Dịch Vụ Doanh Nghiệp, bao gồm thời gian và thời lượng sử dụng; thông tin được lưu trữ trong cookie mà chúng tôi đã thiết lập trên thiết bị của bạn; và thông tin về cài đặt thiết bị của bạn.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>Thông tin cụ thể như sau:</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span><b>HVAC Hub</b> : Loại tài khoản, Thành phố, Dữ liệu đăng nhập, Tệp đã tải xuống, Lịch sử tìm kiếm, Từ khóa tìm kiếm. </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	<b>Dữ liệu sử dụng phần mềm DVM Pro 2.0</b>: Dữ liệu đăng nhập, Phiên bản phần mềm, Phiên bản cơ sở dữ liệu, Thông tin thiết kế dự án, Loại tài khoản, Thông tin thành phố.</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	<b>Dữ liệu sử dụng Ứng dụng Samsung Air Solution</b>: Lịch sử tra cứu dữ liệu kỹ thuật, lịch sử tìm kiếm model, lịch sử sử dụng các mục trong ứng dụng, thông tin khu vực truy cập (Area). </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	<b>Thông tin thiết bị di động</b>: Mã định danh thiết bị (Token ID).</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b>Thông tin máy tính (chỉ áp dụng cho người dùng Chương trình Manager)</b>: Địa chỉ IP, Mã ổ cứng (HDD ID). </span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>			
	<div>
		<span>
			Chúng tôi có thể thu thập thông tin liên quan đến các sản phẩm và dịch vụ mà bạn hoặc người sử dụng lao động của bạn đã mua hoặc đã nhận, cũng như dữ liệu thanh toán và các thông tin khác được cung cấp liên quan đến giao dịch.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Chúng tôi cũng có thể nhận được thông tin cá nhân về bạn từ người sử dụng lao động của bạn, nhà cung cấp dịch vụ, hoặc từ các nguồn công khai và nguồn thương mại hợp pháp (theo quy định của pháp luật), và chúng tôi có thể kết hợp các thông tin này với những thông tin khác mà chúng tôi nhận được từ bạn hoặc về bạn.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			<b>Chúng tôi sử dụng thông tin của bạn như thế nào? </b>		
		</span>	
	</div>
	<div>
		<span>Chúng tôi có thể sử dụng các thông tin thu thập được cho các mục đích sau: </span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b>Cung cấp sản phẩm và dịch vụ</b> mà bạn (hoặc người sử dụng lao động của bạn) yêu cầu và để đăng ký hoặc xác thực bạn hoặc thiết bị của bạn;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> to respond to your questions or requests for information; </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b>Phản hồi các câu hỏi hoặc yêu cầu cung cấp thông tin </b>từ bạn; </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> subject to your consent where required by Applicable Law, to inform you about new products and services; </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b>Cung cấp sản phẩm và dịch vụ tốt hơn, được cá nhân hóa hơn</b>, có tính đến lịch sử mua hàng, lịch sử sử dụng dịch vụ và các thông tin liên quan khác của công ty bạn;</span>
	</div>
	<div>		
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b>Thông báo cho bạn về sản phẩm và dịch vụ mới</b> (nếu có sự đồng ý của bạn trong các trường hợp pháp luật hiện hành yêu cầu); </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b>Đánh giá và phân tích thị trường, khách hàng, sản phẩm và dịch vụ của chúng tôi</b> (bao gồm việc thu thập ý kiến của bạn về sản phẩm và dịch vụ, và tiến hành khảo sát khách hàng); </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b>Hiểu cách các công ty sử dụng Dịch Vụ Doanh Nghiệp </b> nhằm cải tiến dịch vụ hiện có và phát triển sản phẩm, dịch vụ mới;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b> Bảo vệ quyền lợi, tài sản hoặc sự an toàn của Samsung hoặc bất kỳ công ty liên kết, đối tác kinh doanh, nhân viên hoặc khách hàng nào của chúng tôi</b>, ví dụ trong các thủ tục tố tụng, điều tra nội bộ hoặc điều tra của cơ quan có thẩm quyền; và</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b>Các mục đích khác với sự đồng ý của bạn</b>, hoặc theo thông báo tại thời điểm thu thập thông tin.</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Thông qua Dịch Vụ Doanh Nghiệp, chúng tôi có thể thu thập thông tin cá nhân liên quan đến hoạt động trực tuyến của bạn trên các trang web và thiết bị được kết nối theo thời gian và trên các trang web, thiết bị, ứng dụng, cũng như các tính năng và dịch vụ trực tuyến của bên thứ ba.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Chúng tôi có thể sử dụng dịch vụ phân tích của bên thứ ba trên Dịch Vụ Doanh Nghiệp, chẳng hạn như Google Analytics. Các nhà cung cấp dịch vụ điều hành các công cụ phân tích này hỗ trợ chúng tôi trong việc phân tích cách bạn sử dụng Dịch Vụ Doanh Nghiệp và cải thiện các dịch vụ này.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Thông tin chúng tôi thu thập được có thể được tiết lộ cho hoặc được thu thập trực tiếp bởi các nhà cung cấp nói trên và các bên thứ ba có liên quan khác, nhằm mục đích, ví dụ: đánh giá việc sử dụng Dịch Vụ Doanh Nghiệp, hỗ trợ vận hành dịch vụ và chẩn đoán sự cố kỹ thuật.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>Để tìm hiểu thêm về Google Analytics, vui lòng truy cập:</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<a href="http://www.google.com/analytics/learn/privacy.html">http://www.google.com/analytics/learn/privacy.html</a></span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<a href="https://www.google.com/policies/privacy/partners/">https://www.google.com/policies/privacy/partners/</a></span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Chúng tôi chia sẻ thông tin cá nhân của bạn với những ai?</b>	
	</div>	
	<div>
		<span>
			Chúng tôi sẽ tiết lộ thông tin của bạn trong nội bộ tổ chức và với các đơn vị dưới đây, nhưng chỉ nhằm phục vụ các mục đích đã nêu ở trên:
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> Các công ty liên kết của Samsung;</span>
	</div>	
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	Các công ty cung cấp dịch vụ cho chúng tôi hoặc thay mặt chúng tôi, chẳng hạn như các công ty hỗ trợ quy trình thanh toán;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span><b>Các bên khác:</b></span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>(i)
			<span style="white-space: pre;"></span> để tuân thủ pháp luật hoặc đáp ứng yêu cầu pháp lý bắt buộc (ví dụ: lệnh khám xét hoặc các quyết định của tòa án);</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>(ii)
			<span style="white-space: pre;"></span> để xác minh hoặc thực thi việc tuân thủ các chính sách điều chỉnh Dịch Vụ Doanh Nghiệp của chúng tôi;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>(iii)
			<span style="white-space: pre;"></span>	để bảo vệ quyền lợi, tài sản hoặc sự an toàn của Samsung, hoặc bất kỳ công ty liên kết, đối tác kinh doanh hoặc khách hàng nào của chúng tôi;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>(iv)
			<span style="white-space: pre;"></span>	trong khuôn khổ sáp nhập, chuyển nhượng hoặc trong trường hợp phá sản;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>(v)
			<span style="white-space: pre;"></span>	với các bên thứ ba khác khi bạn đồng ý hoặc yêu cầu việc chia sẻ đó.</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Những hậu quả và thiệt hại không mong muốn có thể xảy ra đối với dữ liệu cá nhân của bạn</b>	
	</div>	
	<div>
		<span>Những hậu quả và thiệt hại không mong muốn có thể xảy ra đối với dữ liệu cá nhân của bạn bao gồm:</span>	
	</div>	
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	<b>Đánh cắp dữ liệu cá nhân</b>: Khi dữ liệu cá nhân bị đánh cắp, tội phạm có thể sử dụng dữ liệu đó để thực hiện hành vi gian lận hoặc các hoạt động bất hợp pháp.</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	<b>Mất dữ liệu</b>: Nếu dữ liệu cá nhân bị mất do sự cố hệ thống, chủ thể dữ liệu có thể mất thông tin quan trọng và gặp khó khăn trong việc khôi phục dữ liệu.</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> <b>Rò rỉ dữ liệu</b> : Nếu dữ liệu cá nhân bị rò rỉ, chủ thể dữ liệu có thể mất quyền truy cập vào dữ liệu của mình, gây khó khăn trong việc hoàn thành các công việc quan trọng hoặc phát sinh các rủi ro khác.</span>
	</div>	
	<div>
		<span>
			<br>
		</span>
	</div>	
	<div>
		<span>
			Do đó, chúng tôi coi việc bảo vệ dữ liệu cá nhân của bạn là rất quan trọng nhằm phòng tránh các hậu quả và thiệt hại không mong muốn có thể xảy ra.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Chúng tôi làm gì để bảo mật thông tin của bạn?</b>	
	</div>	
	<div>
		<span>
			Chúng tôi đã áp dụng các biện pháp vật lý và kỹ thuật hợp lý để bảo vệ thông tin mà chúng tôi thu thập liên quan đến Dịch Vụ Doanh Nghiệp. Tuy nhiên, xin lưu ý rằng mặc dù chúng tôi thực hiện các bước hợp lý để bảo vệ thông tin của bạn, không có trang web, phương thức truyền dữ liệu qua Internet, hệ thống máy tính hoặc kết n`ối không dây nào có thể được bảo đảm an toàn tuyệt đối.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Chúng tôi chuyển thông tin của bạn đến đâu?</b>	
	</div>	
	<div>
		<span>
			Việc bạn sử dụng hoặc tham gia Dịch Vụ Doanh Nghiệp có thể dẫn đến việc chuyển giao, lưu trữ và xử lý thông tin của bạn ra ngoài quốc gia cư trú, phù hợp với Chính Sách Quyền Riêng Tư này và Pháp luật hiện hành.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Xin lưu ý rằng các quy định về bảo vệ dữ liệu và pháp luật khác tại quốc gia nơi dữ liệu của bạn được chuyển đến có thể không toàn diện bằng quy định tại quốc gia của bạn. Chúng tôi sẽ áp dụng các biện pháp phù hợp, tuân thủ Pháp luật hiện hành, nhằm đảm bảo thông tin cá nhân của bạn được bảo vệ một cách thích đáng.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Quyền và nghĩa vụ của bạn</b>	
	</div>	
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Theo pháp luật hiện hành và một số quy định tại các quốc gia khác, bạn có thể có quyền yêu cầu thông tin chi tiết về dữ liệu cá nhân mà chúng tôi thu thập, yêu cầu xóa thông tin đã thu thập về bạn, và yêu cầu chỉnh sửa các thông tin không chính xác.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Chúng tôi có thể từ chối xử lý các yêu cầu nếu yêu cầu đó lặp lại một cách vô lý, đòi hỏi nỗ lực kỹ thuật vượt mức cần thiết, gây ảnh hưởng đến quyền riêng tư của người khác, không khả thi về mặt thực tế hoặc không bắt buộc theo quy định của pháp luật hiện hành.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Nếu bạn yêu cầu xóa dữ liệu cá nhân, bạn xác nhận rằng bạn có thể sẽ không còn quyền truy cập hoặc sử dụng Dịch vụ Doanh nghiệp, và rằng một phần dữ liệu cá nhân còn sót lại có thể tiếp tục được lưu trữ trong hệ thống hồ sơ và lưu trữ của Samsung trong một thời gian nhất định, tuy nhiên Samsung sẽ không sử dụng những thông tin đó cho mục đích thương mại.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Bạn hiểu và đồng ý rằng, bất chấp yêu cầu xóa thông tin, Samsung vẫn có quyền giữ lại toàn bộ hoặc một phần dữ liệu cá nhân của bạn nếu Samsung đã tạm ngưng, hạn chế hoặc chấm dứt quyền truy cập của bạn vào trang web do bạn vi phạm Điều khoản sử dụng của Samsung, hoặc khi cần thiết để bảo vệ quyền lợi, tài sản hoặc sự an toàn của Samsung, hoặc bất kỳ công ty liên kết, đối tác kinh doanh, nhân viên hoặc khách hàng nào của chúng tôi.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Bên cạnh đó, bạn có nghĩa vụ cung cấp dữ liệu cá nhân một cách chính xác, đầy đủ và tuân thủ các nghĩa vụ khác của chủ thể dữ liệu theo pháp luật hiện hành. Bạn xác nhận và đồng ý rằng, việc cung cấp dữ liệu cá nhân không chính xác có thể dẫn đến việc bạn bị từ chối quyền truy cập dịch vụ hoặc tài khoản của bạn bị chặn trên các nền tảng của chúng tôi.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Để cập nhật tùy chọn của bạn, hạn chế các nội dung liên lạc từ chúng tôi hoặc gửi yêu cầu liên quan, vui lòng liên hệ với chúng tôi theo thông tin tại phần Liên hệ dưới đây.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Dịch vụ Doanh nghiệp có thể cung cấp cho bạn một số tùy chọn liên quan đến việc thu thập, xóa và chia sẻ một số loại thông tin cũng như nội dung liên quan đến sản phẩm, dịch vụ và chương trình khuyến mãi. Bạn có thể truy cập phần cài đặt để tìm hiểu các tùy chọn có sẵn khi sử dụng Dịch vụ Doanh nghiệp.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>


	<div>
		<b>Dữ liệu cá nhân của trẻ em được xử lý như thế nào?</b>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Theo pháp luật hiện hành, trẻ em là những người dưới 16 tuổi. Về nguyên tắc, chúng tôi không thu thập thông tin cá nhân của người dùng dưới 16 tuổi. Do đó, bạn xác nhận rằng bạn đã đủ 16 tuổi và đồng ý cung cấp dữ liệu cá nhân của mình cho Samsung theo các nội dung nêu trong Chính sách quyền riêng tư này.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Trường hợp người dùng từ đủ 7 tuổi trở lên nhưng chưa đủ 16 tuổi, việc xử lý dữ liệu cá nhân của người dùng sẽ cần có sự đồng ý của chính người dùng và của cha mẹ hoặc người giám hộ hợp pháp của người dùng theo quy định của pháp luật hiện hành.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Trường hợp người dùng chưa đủ 7 tuổi, việc xử lý dữ liệu cá nhân của người dùng sẽ chỉ được thực hiện khi có sự đồng ý của cha mẹ hoặc người giám hộ hợp pháp theo quy định của pháp luật hiện hành.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Khi nào chúng tôi bắt đầu và kết thúc việc xử lý dữ liệu cá nhân của bạn?</b>
	</div>
	<div>
		<span>
			Chúng tôi sẽ bắt đầu xử lý dữ liệu cá nhân của bạn kể từ thời điểm bạn đồng ý cung cấp hoặc cho phép chúng tôi thu thập dữ liệu cá nhân của bạn theo Chính sách quyền riêng tư này. Khi mục đích xử lý dữ liệu cá nhân của bạn được nêu trong Chính sách quyền riêng tư này đã đạt được, không còn cần thiết nữa hoặc theo yêu cầu của pháp luật hiện hành, chúng tôi sẽ chấm dứt việc xử lý dữ liệu cá nhân của bạn thông qua việc xóa hoặc vô hiệu hóa dữ liệu nhằm ngăn chặn truy cập.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Liên kết và sản phẩm của bên thứ ba trên Dịch vụ của chúng tôi</b>
	</div>
	<div>
		<span>
			Dịch vụ Doanh nghiệp của chúng tôi có thể chứa liên kết đến các trang web và dịch vụ của bên thứ ba nằm ngoài phạm vi kiểm soát của chúng tôi. Chúng tôi không chịu trách nhiệm đối với vấn đề bảo mật hoặc quyền riêng tư đối với bất kỳ thông tin nào được thu thập bởi các trang web hoặc dịch vụ đó. Bạn nên thận trọng và xem xét các tuyên bố về quyền riêng tư áp dụng cho các trang web và dịch vụ của bên thứ ba mà bạn sử dụng. 
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Cookies và các công nghệ tương tự</b>
	</div>
	<div>
		<span>
			Chúng tôi, cũng như một số bên thứ ba cung cấp nội dung, quảng cáo hoặc các chức năng khác trên Dịch vụ Doanh nghiệp của chúng tôi, có thể sử dụng cookies và các công nghệ tương tự tại một số khu vực nhất định trên Dịch vụ Doanh nghiệp
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Cookies</b>
	</div>
	<div>
		<span>
			Cookies là các tệp nhỏ lưu trữ thông tin trên thiết bị của bạn. Chúng cho phép bên đặt cookie trên thiết bị của bạn nhận diện bạn khi bạn truy cập vào các trang web, dịch vụ, thiết bị và/hoặc phiên duyệt web khác nhau. Cookies có nhiều mục đích sử dụng hữu ích.
		</span>
	</div>
	<div>
		<span>
			Ví dụ:
		</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	
			Cookies có thể ghi nhớ thông tin đăng nhập của bạn, giúp bạn không cần phải nhập lại mỗi khi truy cập vào một dịch vụ. 
		</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	
			Cookies giúp chúng tôi và các bên thứ ba hiểu phần nào của Dịch vụ Doanh nghiệp được người dùng quan tâm nhiều nhất, bằng cách cho phép chúng tôi theo dõi những trang và tính năng nào được truy cập và thời gian người dùng lưu lại trên các trang đó. Thông qua việc phân tích các thông tin này, chúng tôi có thể điều chỉnh Dịch vụ Doanh nghiệp để mang đến trải nghiệm phù hợp và hiệu quả hơn.
		</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	
			Cookies giúp chúng tôi và các bên thứ ba nhận biết những quảng cáo nào bạn đã xem, để bạn không phải nhìn thấy cùng một quảng cáo mỗi lần truy cập vào Dịch vụ MSS. 
		</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	
			Cookies giúp chúng tôi và các bên thứ ba cung cấp nội dung và quảng cáo phù hợp hơn với bạn thông qua việc thu thập thông tin về cách bạn sử dụng Dịch vụ Doanh nghiệp cũng như các trang web và ứng dụng khác.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			Khi bạn sử dụng trình duyệt web để truy cập Dịch vụ Doanh nghiệp, bạn có thể cấu hình trình duyệt để chấp nhận tất cả cookie, từ chối tất cả cookie hoặc thông báo cho bạn khi có cookie được gửi đến. Mỗi trình duyệt có cách thiết lập khác nhau, vì vậy bạn vui lòng kiểm tra mục “Trợ giúp” của trình duyệt để biết cách thay đổi tùy chọn cookie. Hệ điều hành trên thiết bị của bạn cũng có thể có các công cụ kiểm soát cookie bổ sung.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			Tuy nhiên, xin lưu ý rằng một số Dịch vụ Doanh nghiệp có thể được thiết kế để hoạt động với cookie, và việc vô hiệu hóa cookie có thể ảnh hưởng đến khả năng sử dụng toàn bộ hoặc một phần của các Dịch vụ Doanh nghiệp đó.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			Bằng việc truy cập và sử dụng Dịch vụ Doanh nghiệp của chúng tôi, bạn đồng ý cho phép lưu trữ cookie và các thông tin khác trên thiết bị của bạn. Bạn cũng đồng ý cho phép chúng tôi và các bên thứ ba nêu trên truy cập các cookie, công nghệ lưu trữ cục bộ, beacon và các thông tin liên quan. 
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Liên hệ</b>
	</div>
	<div>
		<span>
			Nếu bạn có bất kỳ câu hỏi nào liên quan đến Chính sách này, vui lòng liên hệ với chúng tôi theo địa chỉ email: hvachub@samsung.com
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Bạn cũng có thể liên hệ với chúng tôi để cập nhật tùy chọn cá nhân, thực hiện các quyền của bạn, gửi yêu cầu hoặc đặt câu hỏi liên quan đến dữ liệu cá nhân theo địa chỉ sau:
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Samsung Electronics Co., Ltd.</b>
	</div>
	<div>
		<span>
			129, Samsung-ro, Yeongtong-gu,<br />
			Suwon-si, Gyeonggi-do 16677, Hàn Quốc
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<br>

  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>
</body>

</html>