<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>Privacy Policy</title>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 


	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			<span style="white-space: pre;"></span>
		</span>
	</div>
	<div>
		<b>Samsung HVAC Hub Privacy Policy</b>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<b>Effective: May 28, 2025.</b>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>Samsung Electronics Co., Ltd. (referred to as “<b>Samsung Electronics</b>”, “<b>Samsung</b>”, or “<b>we</b>” in this Privacy Policy), headquartered in 129, Samsung-ro, Yeongtong-gu, Suwon-si, Gyeonggi-do 16677, Republic of Korea, knows how important privacy is to our customers and their employees and partners, and we strive to be clear about how we collect, use, disclose, transfer and store your information. This Privacy Policy provides an overview of our information practices with respect to personal information collected through Samsung HVAC Hub Service (the "<b>Business Services</b>").   
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>The Samsung HVAC Service includes the HVAC Hub Website, DVM Pro 2.0, and Samsung Air Solution App. </span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>These services are provided to registered and approved members through a B2B Integrated Account (Samsung B2B Account) service. For More detailed information on the processing of personal information for B2B Integrated Accounts, please refer to the following link (<a href="https://bizaccount.samsung.com/consent/ebiz">Link</a>) </span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>Also to learn more, read our Privacy Policy on DVM Pro 2.0 website (http://dvmpro.mkt.samsung.com), DVM Pro 2.0 Program (Sales/Designer/Manager), Samsung Air Solution App. In the event of any discrepancy between this Consent and the Privacy Policy, this consent shall prevail.</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>This Privacy Policy may be updated periodically to reflect changes in our personal information practices with respect to the Business Services or changes in the Applicable Law. We will indicate at the top of this Privacy Policy when it was most recently updated. If we update the Privacy Policy, we will let you know in advance about changes we consider to be material by placing a notice on the Business Services or by emailing you, where appropriate.</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<b>What information do we collect about you?</b>	
	</div>
	<div>
		<span>We may collect various types of personal information, including your basic personal data and sensitive personal data as defined by the law of Vietnam (hereinafter referred to as the "<b>Applicable Law</b>”), in connection with the Business Services</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>For example:</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>We may collect data about your use of the Business Services, including the time and duration of your use; information stored in cookies that we have set on your device; and information about your device settings.</span>	
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> HVAC Hub: Account Type, City, Log Data, File Download, Search History, Search Terms. </span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span>	DVM Pro 2.0 Program usage data: Log Data, Program Version, DB Version, Project design information, Account Type, City Information</span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> Samsung Air Solution App. Usage data: Technical data search history, model search history, app menu usage history, access area information (Area) </span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> Mobile device information: Token ID</span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> PC Information (Only for Manager Program User): IP Address, HDD ID </span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>			
	<div>
		<span>
			We may collect information about the products and services you or your employer have bought or received and payment data and other information provided in connection with a transaction;
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			We also may receive personal information about you from your employer or service provider or from publicly and commercially available sources (as permitted by law), which we may combine with other information we receive from or about you.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			<b>How do we use your information? </b>		
		</span>	
	</div>
	<div>
		<span>We may use information we collect for the following purposes: </span>	
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> to provide products and services that you (or your employer) requested and to register or authenticate you or your device; </span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> to respond to your questions or requests for information; </span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> to offer better and more customized products and services that take into account your company’s purchasing history and service record and other relevant information; </span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> subject to your consent where required by Applicable Law, to inform you about new products and services; </span>
	</div>

	<div>
		<span>•
			<span style="white-space: pre;"></span> for assessment and analysis of our market, customers, products, and services (including asking you for your opinions on our products and services and carrying out customer surveys); </span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> to understand the way companies use the Business Services so that we can improve them and develop new products and services; </span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> to provide maintenance services and to maintain a sufficient level of security on the Business Services; </span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> to protect the rights, property, or safety of Samsung, or any of our respective affiliates, business partners, employees or customers, for example, in legal proceedings, internal investigations and investigations by competent authorities; and</span>
	</div>
	<div>
		<span>•
			<span style="white-space: pre;"></span> otherwise with your consent or as described to at the time your information is collected.</span>
	</div>
	<div>
		<span>
			Through the Business Services, we may collect personal information about your online activities on websites and connected devices over time and across third-party websites, devices, apps and other online features and services. We may use third-party analytics services on the Business Services, such as those of Google Analytics. The service providers that administer these analytics services help us to analyze your use of the Business Services and improve the Business Services. The information we obtain may be disclosed to or collected directly by these providers and other relevant third parties who use the information, for example, to evaluate use of the Business Services, help administer the Business Services and diagnose technical issues. To learn more about Google Analytics, please visit 
		</span>	
	</div>
	<div>
		<span>
			<a href="http://www.google.com/analytics/learn/privacy.html">http://www.google.com/analytics/learn/privacy.html</a> and
		</span>	
	</div>
	<div>
		<span>
			<a href="https://www.google.com/policies/privacy/partners/">https://www.google.com/policies/privacy/partners/</a> 
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Who do we share your personal information with?</b>	
	</div>	
	<div>
		<span>
			We will disclose your information internally within our business and the following entities, but only for the above purposes.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> Samsung affiliates;</span>
	</div>	
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	companies that provide services for or on behalf of us, such as companies that help us with the billing process;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	other parties: (i) to comply with the law or respond to compulsory legal process (such as a search warrant or other court order); (ii) to verify or enforce compliance with the policies governing our Business Services; (iii) to protect the rights, property, or safety of Samsung, or any of our respective affiliates, business partners, or customers; (iv) as part of a merger or transfer, or in the event of a bankruptcy;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	with other third parties when you consent to or request such sharing. </span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>What are the consequences and unwanted damages that may occur to your personal data?</b>	
	</div>	
	<div>
		<span>The consequences and unwanted damages that may occur to your personal data can include:</span>	
	</div>	
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	Unlawful personal information disclosure: When personal data is disclosed unlawfully, the data subject may be at risk of loss of property and other damages.</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	Personal data theft: When personal data is stolen, criminals can use the stolen data for fraud or illegal activities.</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> Data loss: If personal data is lost due to a system failure, the data subject may lose important personal data and have difficulty recovering the data.</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	Data leakage: If personal data is leaked, the data subject may not be able to access their data, leading to difficulties in completing important tasks or other risks.</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>	
	<div>
		<span>
			Therefore, we consider protecting your personal data to be very important in order to avoid unwanted consequences and damages that may occur.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>What do we do to keep your information secure?</b>	
	</div>	
	<div>
		<span>We have put in place reasonable physical and technical measures to safeguard the information we collect in connection with the Business Services. However, please note that although we take reasonable steps to protect your information, no website, Internet transmission, computer system or wireless connection is completely secure.  </span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Where do we transfer your information?</b>	
	</div>	
	<div>
		<span>
			Your use or participation in the Business Services may involve transfer, storage and processing of your information outside of your country of residence, consistent with this Privacy Policy and Applicable Law. Please note that the data protection and other laws of countries to which your information may be transferred might not be as comprehensive as those in your country.  We will take appropriate measures, in compliance with Applicable Law, to ensure that your personal information remains protected.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>What are your rights and obligations?</b>	
	</div>	
	<div>
		<span>
			Under the Applicable Law and other laws of some jurisdictions, you may have the right to request details about the information we collect about you, delete information collected about you, and to correct inaccuracies in that information. We may decline to process requests that are unreasonably repetitive, require disproportionate technical effort, jeopardize the privacy of others, are extremely impractical, or for which access is not otherwise required by Applicable Law. 
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			If you request deletion of personal information, you acknowledge that you may not be able to access or use the Business Services and that residual personal information may continue to reside in Samsung's records and archives for some time, but Samsung will not use that information for commercial purposes. You understand that, despite your request for deletion, Samsung reserves the right to keep your personal information, or a relevant part of it, if Samsung has suspended, limited, or terminated your access to the website for violating the Samsung Terms of Use, when necessary to protect the rights, property, or safety of Samsung, or any of our respective affiliates, business partners, employees or customers.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			In addition, you have an obligation to provide your personal data accurately, completely and comply with other data subject’s obligations under the Applicable Law. You acknowledge and agree that providing inaccurate personal data may result in your access to the service being denied or your account being blocked on our platforms.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			To update your preferences, limit the communications you receive from us, or submit a request, please contact us as specified in the <b>Contact</b> section below. 
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			The Business Services may offer choices related to the collection, deletion and sharing of certain information and communications about products, services and promotions. You can access the settings to learn about choices that may be available to you when you use the Business Service. 
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>How is children’s personal data processed?</b>
	</div>
	<div>
		<span>
			Under the Applicable Law, children are individuals under 16 years old. On principle, we do not collect the personal information of a user who is under 16. Therefore, you confirm that you are at least 16 years old and agree to provide your personal data to Samsung according to the contents mentioned in this Privacy Policy. If user is 7 years old or older but under 16 years old, the processing of user’s personal data will require user’s own consent and the consent of user’s legal guardian or parent in accordance with the provisions of the Applicable Law. If the user is under 7years old, the processing of user’s personal data will require the consent of user’s legal guardian or parent as provided by the Applicable Law.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>When will we start and end processing your personal data?</b>
	</div>
	<div>
		<span>
			We will begin processing your personal data from the moment you agree to provide or allow us to collect your personal data in accordance with this Privacy Policy. When the purpose of processing your personal data described in this Privacy Policy has been fulfilled, or is no longer necessary, or as required by applicable law, we will end processing your personal data by deleting or disabling your personal data to prevent access.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Third-Party Links and Products on Our Services</b>
	</div>
	<div>
		<span>
			Our Business Services may link to third-party websites and services that are outside our control. We are not responsible for the security or privacy of any information collected by websites or other services. You should exercise caution, and review the privacy statements applicable to the third-party websites and services you use. 
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Cookies and Similar Technologies</b>
	</div>
	<div>
		<span>
			We, as well as certain third parties that provide content, advertising, or other functionality on our Business Services, may use cookies and other technologies in certain areas of our Business Services. 
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Cookies</b>
	</div>
	<div>
		<span>
			Cookies are small files that store information on your device. They enable the entity that put the cookie on your device to recognize you across different websites, services, devices, and/or browsing sessions. Cookies serve many useful purposes. 
		</span>
	</div>
	<div>
		<span>
			For example: 
		</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	
			Cookies can remember your sign-in credentials so you don’t have to enter those credentials each time you log on to a service.<br />
			Cookies help us and third parties understand which parts of our Business Services are the most popular because they help us to see which pages and features visitors are accessing and how much time they are spending on the pages.  By studying this kind of information, we are better able to adapt the Business Services and provide you with a better experience. 
			</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	
			Cookies help us and third parties understand which ads you have seen so that you don’t receive the same ad each time you access the MSS Service.  
		</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	
			Cookies help us and third parties provide you with relevant content and advertising by collecting information about your use of our Business Services and other websites and apps.   
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			When you use a web browser to access the Business Services, you can configure your browser to accept all cookies, reject all cookies, or notify you when a cookie is sent. Each browser is different, so check the “Help” menu of your browser to learn how to change your cookie preferences. The operating system of your device may contain additional controls for cookies. 
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			Please note, however, that some Business Services may be designed to work using cookies and that disabling cookies may affect your ability to use those Business Services, or certain parts of them.  
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			By accessing and using our Business Services, you consent to the storage of cookies and other information on your devices.  You also consent to the access of such cookies, local storage technologies, beacons and information by us and by the third parties mentioned above. 
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Contact</b>
	</div>
	<div>
		<span>
			If you have any questions regarding this policy, please contact us at: hvachub@samsung.com<br />
			You can contact us to update your preferences, exercise your rights, submit a request, or ask us questions regarding your personal data at: 
		</span>
	</div>
	<div>
		<span>
			Samsung Electronics Co., Ltd.<br />
			129, Samsung-ro, Yeongtong-gu,<br />
			Suwon-si, Gyeonggi-do 16677, Republic of Korea

		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<br>

  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>
</body>

</html>