<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>Privacy Policy</title>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 


	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			<span style="white-space: pre;"></span>
		</span>
	</div>
	<div>
		<b>Samsung HVAC Hub Privacy Policy</b>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<b>Effective: May 28, 2025 </b>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Samsung Electronics Co., Ltd. (“<b>Samsung</b>,”) knows how important privacy is to its customers and their employees and partners, and we strive to be clear about how we collect, use, disclose, transfer and store your information. This Privacy Policy provides an overview of our information practices with respect to personal information collected through <b>Samsung HVAC Hub Service</b> (the "<b>Business Services</b>").      
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			The Samsung HVAC Hub Service includes the HVAC Hub Website, DVM Pro 2.0, and Samsung Air Solution App.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			These services are provided to registered and approved members through a B2B Integrated Account (Samsung B2B Account) service. For More detailed information on the processing of personal information for B2B Integrated Accounts, please refer to the following link. <br />
			(<a href="https://bizaccount.samsung.com/consent/ebiz">Link</a>) 
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			Also to learn more, read our Privacy Policy on DVM Pro 2.0 website (http://dvmpro.mkt.samsung.com), DVM Pro 2.0 Program (Sales/Designer/Manager), Samsung Air Solution App. In the event of any discrepancy between this Consent and the Privacy Policy, this consent shall prevail.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			This Privacy Policy may be updated periodically to reflect changes in our personal information practices with respect to the Business Services or changes in applicable law. We will indicate at the top of this Privacy Policy when it was most recently updated. If we update the Privacy Policy, we will let you know in advance about changes we consider to be material by placing a notice on the Business Services or by emailing you, where appropriate.
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<b>What information do we collect about you?</b>	
	</div>
	<div>
		<span>
			We may collect various types of personal information in connection with the Business Services.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>For example:</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>	
	<div>		
		<span>•
			<span style="white-space: pre;"></span>	We may collect data about your use of the Business Services, including the time and duration of your use; information stored in cookies that we have set on your device; and information about your device settings; </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
		<span>•
			<span style="white-space: pre;"></span>	HVAC Hub: Account Type, City, Log Data, File Download, Search History, Search Terms.</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
		<span>•
			<span style="white-space: pre;"></span>	DVM Pro 2.0 Program usage data: Log Data, Program Version, DB Version, Project design information, Account Type, City Information</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
		<span>•
			<span style="white-space: pre;"></span>	Samsung Air Solution App. Usage data: Technical data search history, model search history, app menu usage history, access area information (Area)</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
		<span>•
			<span style="white-space: pre;"></span>	Mobile device information: Token ID</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
		<span>•
			<span style="white-space: pre;"></span>	PC Information (Only for Manager Program User): IP Address, HDD ID</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	We may collect information about the products and services you or your employer have bought or received and payment data and other information provided in connection with a transaction; </span>
	</div>	
	<div>
		<span>•
			<span style="white-space: pre;"></span> We also may receive personal information about you from your employer or service provider or from publicly and commercially available sources (as permitted by law), which we may combine with other information we receive from or about you. </span>
	</div>	
	<div>
		<span>•
			<span style="white-space: pre;"></span> We may collect automatically generated data such as your cookies, details of the usage of the Business Services, including the visit records for analytic purposes. </span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>	

	<div>
		<b>How do we use your information?</b>
	</div>
	<div>
		<span>
			We may use information we collect for the following purposes :
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>	
	
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> to provide products and services that you (or your employer) requested and to register or authenticate you or your device;
		</span>
	</div>		
	<div>
		<span>•
			<span style="white-space: pre;"></span> to respond to your questions or requests for information;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> to offer better and more customized products and services that take into account your company’s purchasing history and service record and other relevant information; </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> subject to your consent where required by applicable law, to inform you about new products and services;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> subject to your separate consent where required by applicable law, to inform you about new products and services; </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> for assessment and analysis of our market, customers, products, and services (including asking you for your opinions on our products and services and carrying out customer surveys);</span>
	</div>	
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	to understand the way companies use the Business Services so that we can improve them and develop new products and services;  </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> to provide maintenance services and to maintain a sufficient level of security on the Business Services;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	to protect the rights, property, or safety of Samsung, or any of our respective affiliates, business partners, employees or customers, for example, in legal proceedings, internal investigations and investigations by competent authorities;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> otherwise with your consent or as described to at the time your information is collected.</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			Through the Business Services, we may collect personal information about your online activities on websites and connected devices over time and across third-party websites, devices, apps and other online features and services.  We may use third-party analytics services on the Business Services, such as those of Google Analytics. The service providers that administer these analytics services help us to analyze your use of the Business Services and improve the Business Services. The information we obtain may be disclosed to or collected directly by these providers and other relevant third parties who use the information, for example, to evaluate use of the Business Services, help administer the Business Services and diagnose technical issues. To learn more about Google Analytics, please visit 
		</span>	
	</div>
	<div>
		<span>
			<a href="http://www.google.com/analytics/learn/privacy.html">http://www.google.com/analytics/learn/privacy.html</a> and
		</span>	
	</div>
	<div>
		<span>
			<a href="https://www.google.com/policies/privacy/partners/">https://www.google.com/policies/privacy/partners/</a>.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>To whom do we disclose your information?</b>
	</div>
	<div>
		<span>
			We will disclose your information internally within our business and the following entities, but only for the above purposes.
		</span>	
	</div>	
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> Samsung affiliates;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> companies that provide services for or on behalf of us, such as companies that help us with the billing process;</span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span> other parties: </span>
	</div>

	<div>		
		<span>(i)
			<span style="white-space: pre;"></span> to comply with the law or respond to compulsory legal process (such as a search warrant or other court order);
		</span>
	</div>
	<div>		
		<span>(ii)
			<span style="white-space: pre;"></span> to verify or enforce compliance with the policies governing our Business Services;
		</span>
	</div>
	<div>		
		<span>(iii)
			<span style="white-space: pre;"></span> to protect the rights, property, or safety of Samsung, or any of our respective affiliates, business partners, or customers;
		</span>
	</div>
	<div>		
		<span>(iv)
			<span style="white-space: pre;"></span> as part of a merger or transfer, or in the event of a bankruptcy;  
		</span>
	</div>	
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>What do we do to keep your information secure?</b>	
	</div>	
	<div>
		<span>
			We have put in place reasonable physical and technical measures designed to safeguard the information we collect in connection with the Business Services. However, please note that although we take reasonable steps to protect your information, no website, Internet transmission, computer system or wireless connection is completely secure. 
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Where do we transfer your information?</b>	
	</div>	
	<div>
		<span>
			Your use or participation in the Business Services may involve transfer, storage and processing of your information outside of your country of residence, consistent with this policy.  Please note that the data protection and other laws of countries to which your information may be transferred might not   as comprehensive as those in your country.  We will take appropriate measures, in compliance with applicable law, which are designed to ensure that your personal information remains protected.   
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>What are your rights?</b>	
	</div>	
	<div>
		<span>
			Under the laws of some jurisdictions, you may have certain rights with respect to your personal information, including the right to request details about the information we collect about you, delete information collected about you, and to correct inaccuracies in that information. In compliance with applicable law, we may decline to process requests that are unreasonably repetitive, require disproportionate technical effort, jeopardize the privacy of others, are extremely impractical, or for which access is not otherwise required by local law.  
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			If you request deletion of personal information, you may not be able to access or use the Business Services, and residual personal information may continue to reside in Samsung's records and archives for some time, but Samsung will not use that information for commercial purposes. Where permitted under applicable law, Samsung reserves the right to keep your personal information, or a relevant part of it, if Samsung has suspended, limited, or terminated your access to the Business Services for violating the Samsung Terms of Use, when necessary to protect the rights, property, or safety of Samsung, or any of our respective affiliates, business partners, employees or customers.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			In addition, you have an obligation to provide your personal data accurately, completely and comply with other data subject’s obligations under the Applicable Law. You acknowledge and agree that providing inaccurate personal data may result in your access to the service being denied or your account being blocked on our platforms.
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			To update your preferences, limit the communications you receive from us, or submit a request, please contact us as specified in the <b>Contact</b> section below.  
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			The Business Services may offer choices related to the collection, deletion and sharing of certain information and communications about products, services and promotions. You can access the settings to learn about choices that may be available to you when you use the Business Service.  
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Third-Party Links and Products on Our Services</b>	
	</div>	
	<div>
		<span>
			Our Business Services may link to third-party websites and services that are outside our control. We are not responsible for the security or privacy of any information collected by websites or other services. You should exercise caution, and review the privacy statements applicable to the third-party websites and services you use. 
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Cookies and Similar Technologies  </b>	
	</div>	
	<div>
		<span>
			We, as well as certain third parties that provide content, advertising, or other functionality on our Business Services, may use cookies, beacons, and other technologies in certain areas of our Business Services. 
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>


	<div>
		<b>Cookies</b>	
	</div>	
	<div>
		<span>
			Cookies are small files that store information on your device. They enable the entity that put the cookie on your device to recognize you across different websites, services, devices, and/or browsing sessions. Cookies serve many useful purposes. For example: 
		</span>	
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	Cookies help us and third parties understand which parts of our Business Services are the most popular because they help us to see which pages and features visitors are accessing and how much time they are spending on the pages.  By studying this kind of information, we are better able to adapt the Business Services and provide you with a better experience. </span>
	</div>	
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	Cookies help us and third parties understand which ads you have seen so that you don’t receive the same ad each time you access the Business Service. </span>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>•
			<span style="white-space: pre;"></span>	Cookies help us and third parties provide you with relevant content and advertising by collecting information about your use of our Business Services and other websites and apps.   
		</span>
	</div>	
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			When you use a web browser to access the Business Services, you can configure your browser to accept all cookies, reject all cookies, or notify you when a cookie is sent. Each browser is different, so check the “Help” menu of your browser to learn how to change your cookie preferences. The operating system of your device may contain additional controls for cookies. 
		</span>	
	</div>	
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<span>
			Please note, however, that some Business Services may be designed to work using cookies and that disabling cookies may affect your ability to use those Business Services, or certain parts of them. The Business Services are not designed to respond to “Do Not Track” signals received from browsers.  
		</span>	
	</div>	
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Notice to California Residents</b>	
	</div>	
	<div>
		<span>
			If you are a California resident, for more information about your privacy rights, please see the California Consumer Privacy Statement section of the Samsung Privacy Policy for the U.S., available at: <a href="https://www.samsung.com/us/account/privacy-policy/california">https://www.samsung.com/us/account/privacy-policy/california</a>. To submit a privacy rights request in connection with the Business Services subject to this Privacy Policy, please visit <a href="https://ghrp.portal.sec.samsung.net/kms/comty.do?comtyId=7146340&menuId=8547254&page=list&type=LIST"> GHRP Portal for Employee</a></b>
		</span>			
	</div>
	<div>
		<span>* if you need to respond to employee rights-related matters, please click the GHRP link on the internal network.</span>
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>

	<div>
		<b>Contact</b>	
	</div>	
	<div>
		<span>
			If you have any questions regarding this policy, please contact us at: hvachub@samsung.com 
		</span>	
	</div>
	<div>
		<span>
			<br>
		</span>
	</div>	
	<div>
		<span>
			<br>
		</span>
	</div>
	<br>

  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>
</body>

</html>