<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>이용약관조정</title>

	<style>
		.tnp { margin:0; font-size:9pt; color:#666666; word-break:break-all;
			font-family:dotum, Verdana, Arial, Helvetica, sans-serif;
		
				scrollbar-face-color:#ffffff;
				scrollbar-shadow-color:#ffffff;
					scrollbar-highlight-color:#ffffff;
					scrollbar-3dlight-color:#cecece;
					scrollbar-darkshadow-color:#cecece;
					scrollbar-track-color:#f2f2f2;
					scrollbar-arrow-color:#000000;
			}
		.cursorhand { cursor:hand;}
		
		/************ LINK **************/
		a:link, a:visited, a:active { color:#666666; }
		a:hover { color:#0D6BAC; }
		
		/************ FONT **************/
		.title_l {font-size: 11pt; color: #000000; font-weight: bold; padding-left: 10px; line-height: 18px}
		.title_m {font-size: 10pt; color: #004EFF; font-weight: bold; padding-top: 8px; padding-left: 55px; line-height: 16px;}
		.title_s {font-size: 10pt; color: #000000; font-weight: bold;  padding-top: 8px; padding-left: 30px; line-height: 10px}
		.title_t {font-size: 10pt; padding-top: 0px; padding-left: 55px; line-height: 15px;}
		.title_tt {font-size: 10pt; padding-top: 8px; padding-left: 70px; line-height: 15px;}
		.img {padding-top: 10px; padding-bottom: 20px; padding-left: 70px; }
		.main_title { background-color:#109fe9; font-size:20px ; border-top:1px solid #D1D0CE; border-bottom:#D1D0CE 1 solid;border-left:#D1D0CE 0 solid;border-right:#D1D0CE 1 solid; color:#ffffff; font-family:"굴림,돋움,Seoul,arial,helvetica"; font-weight:bold; height:30px; text-align:center; vertical-align:middle; }
		.title_t1 {font-size:9pt; word-break:break-all; font-family:dotum, Verdana, Arial, Helvetica, sans-serif;}
	</style>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <div class="tnp">
	<p style="LINE-HEIGHT: 1.8; MARGIN-TOP: 0px; MARGIN-BOTTOM: 21px" align="center">
		<font style="FONT-FAMILY: 맑은 고딕; FONT-SIZE: 20pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline">이용약관</font>
	</p>
	<a name="Top_Contents" id="Top_Contents"></a>

	<div class="title_m">
		<ul>
			<li>
				제 1 장 총칙
				<ul>
					<li>
						<a href="#provision1">제1조 목적</a>
					</li>
					<li>
						<a href="#provision2">제2조 약관의 효력과 변경</a>
					</li>
				</ul>
			</li>
			<li>
				제 2 장 회원 가입과 사이트 이용
				<ul>
					<li>
						<a href="#provision3">제1조 이용계약의 성립</a>
					</li>
					<li>
						<a href="#provision4">제2조 사이트 이용</a>
					</li>
				</ul>
			</li>
			<li>
				제 3 장 책 임
				<ul>
					<li>
						<a href="#provision5">제1조 회사의 의무</a>
					</li>
					<li>
						<a href="#provision6">제2조 이용자의 의무</a>
					</li>
				</ul>
			</li>
			<li>
				제 4 장 계약 해지 및 서비스 이용제한
				<ul>
					<li>
						<a href="#provision7">제1조 계약 해지 및 이용제한</a>
					</li>
					<li>
						<a href="#provision8">제2조 이용 제한의 해제 절차</a>
					</li>
					<li>
						<a href="#provision9">제3조 이용자의 게시물</a>
					</li>
				</ul>
			</li>
			<li>
				제 5 장 계약변경 등
				<ul>
					<li>
						<a href="#provision10">제1조 계약사항의 변경</a>
					</li>
				</ul>
			</li>
			<li>
				제 6 장 정보의 제공
				<ul>
					<li>
						<a href="#provision11">제1조 정보의 제공</a>
					</li>
					<li>
						<a href="#provision12">제2조 저작권, 초상권, 지적소유권 등</a>
					</li>
					<li>
						<a href="#provision13">제3조 약관의 변동</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<hr>

	<p class="title_l">제 1 장 총칙</p>
	<a name="provision1" id="provision1"></a>
	<p class="title_s"> 제 1 조 목적</p>
	<p class="title_t">
		TN포탈 사이트 이용약관(이하 "본 약관"이라 칭함)은 삼성전자 주식회사
		<br>
		(소관 : 정보통신총괄 무선사업부, 이하 "회사"라 칭함)에서 운영하는 TN포탈
		<br>
		사이트의 이용조건 및 절차에 관한 사항과 기타 필요한 사항을 규정함을 목적으
		<br>
		로 합니다.
	</p>
	<a name="provision2" id="provision2"></a>
	<p class="title_s"> 제 2 조 약관의 효력과 변경</p>
	<p class="title_t">
		본 약관은 TN포탈 사이트를 이용하고자 하는 법인 또는 개인(이하 "이용자"
		<br>
		라 칭함)에게 TN포탈 사이트(이하 "사이트"라 칭함)를 통하여 공시함으로써
		<br>
		효력이 발생합니다.
	</p>
	<p class="title_t">
		회사는 사정 변경의 경우와 영업상 중요 사유가 있을 때 약관을 변경할 수 있
		<br>
		으며, 변경된 약관은 전항과 같은 방법으로 효력을 발생합니다.
		<br>
		제6장 제3조 약관 외 준칙이 약관에 명시되지 않은 사항 중 관계법령에 규정
		<br>
		되어 있을 경우에는 그 규정에 따릅니다.
	</p>
	<div style="text-align:right">
		<a href="#Top_Contents">
			<img
				src="https://tnp.secbuy.com/images/bu_ic_top.gif"
				width="26"
				height="8"
				alt="위로"
				border="0"
			>
		</a>
	</div>	
	<hr>

	<p class="title_l">제 2 장 회원 가입과 사이트 이용</p>
	<a name="provision3" id="provision3"></a>
	<p class="title_s"> 제 1 조 이용 계약의 성립</p>
	<p class="title_t">
		(1) 이용 계약은 이용자의 약관 내용에 대한 동의와 이용을 위한 항목
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;입력 후 이용 신청에 대한 회사의 이용 승낙으로 성립됩니다.
		<br>
		(2) 회원에 가입하여 사이트를 이용하고자 하는 희망자는 회사에서
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;요청하는 정보를 제공해야 합니다.
		<br>
		(3) 회사는 다음 각 호에 해당하는 이용계약신청에 대하여는 이를
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;응낙하지 아니합니다.
		<br>
		&nbsp;&nbsp;&nbsp; ① 다른 기업이나 사람의 명의를 사용하여 신청하였을 때
		<br>
		&nbsp;&nbsp;&nbsp; ② 이용 계약 신청서의 내용을 허위로 기재하였거나 허위서류를
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 첨부하여 신청하였을 때
		<br>
		&nbsp;&nbsp;&nbsp; ③ 사회의 안녕 질서 혹은 미풍양속을 저해할 목적으로 신청하였을 때
	</p>
	<a name="provision4" id="provision4"></a>
	<p class="title_s"> 제 2 조  사이트 이용</p>
	<p class="title_t">
		(1) 사이트 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는 한
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 연중무휴, 1일 24시간을 원칙으로 합니다.
	</p>
	<p class="title_t">
		(2) 제1항의 예외 사항은 정기점검 등의 필요로 인하여 당사가 정한 날
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;또는 시간으로 하며, 회사는 불가피한 사유가 없는한 사이트를
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;통하여 미리 공지합니다.
	</p>
	<p class="title_t">
		(3) 회사는 이용자 아이디에 의하여 권한설정 등 제반 이용자 관리업무를
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;수행하므로, 이용자가 이용자 아이디를 변경하고자 하는 경우 변경할
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;명백한 사유가 없는 한 그 변경을 제한합니다.
	</p>
	<div style="text-align:right">
		<a href="#Top_Contents">
			<img
				src="https://tnp.secbuy.com/images/bu_ic_top.gif"
				width="26"
				height="8"
				alt="위로"
				border="0"
			>
		</a>
	</div>
	<hr>

	<p class="title_l">제 3 장 책 임</p>
	<a name="provision5" id="provision5"></a>
	<p class="title_s">제 1 조 (회사의 의무)</p>
	<p class="title_t">
		(1) 회사는 특별한 사정이 없는 한 이용자가 사이트 이용을 신청한 날에서
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 늦지 않게 사이트를 이용할 수 있도록 합니다.
	</p>
	<p class="title_t">
		(2) 회사는 본 약관에서 정한 바에 따라 계속적, 안정적으로 서비스를
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 제공할 의무가 있습니다.
	</p>
	<p class="title_t">
		(3) 회사는 이용자의 정보를 사전 승낙없이 타인에게 누설, 공개 또는
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 배포할 수 없으며, 서비스 관련 업무이외의 상업적 목적으로 사용할
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 수 없습니다. 다만, 다음 각 호에 해당하는 경우에는 그러하지
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 아니합니다.
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 가. 관계법령에 의하여 수사상의 목적으로 관계기관으로부터
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 요구받은 경우
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 나. 정보통신윤리위원회의 요청이 있는 경우
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 다. 기타 관계법령에 의한 경우
	</p>
	<p class="title_t">
		(4) 회사는 이용자로부터 제기되는 의견이나 불만이 정당하다고 인정할
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 경우에는 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 경우에는 이용자에게 그 사유와 처리일정을 통보하여야 합니다.
	</p>
	<p class="title_t">
		(5) 회사는 사이트 내에서 이루어지는 어떠한 거래행위에 대해서도
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 책임이 없습니다.
	</p>
	<a name="provision6" id="provision6"></a>
	<p class="title_s"> 제 2 조 이용자의 의무</p>
	<p class="title_t">
		(1) 아이디와 비밀번호에 관한 모든 관리의 책임은 이용자에게 있습니다.
	</p>
	<p class="title_t">
		(2) 자신의 아이디가 부정하게 사용된 경우, 이용자는 즉시 회사에 그
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;사실을 통보해야 합니다.
	</p>
	<p class="title_t">
		(3) 이용자는 사이트를 이용하면서 알게 되는 회사의 영업상 경영상의
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 정보(이하 "비밀정보"라고 칭함)를 회사의 사전동의 없이는 제3자에게
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 누설하거나 공표 할 수 없습니다.
	</p>
	<div style="text-align:right">
		<a href="#Top_Contents">
			<img
				src="https://tnp.secbuy.com/images/bu_ic_top.gif"
				width="26"
				height="8"
				alt="위로"
				border="0"
			>
		</a>
	</div>
	<hr>
	<p class="title_l">제 4 장 계약 해지 및 서비스 이용제한</p>
	<a name="provision7" id="provision7"></a>
	<p class="title_s"> 제 1 조 계약 해지 및 이용제한</p>
	<p class="title_t">
		(1) 이용 계약을 해지 하고자 하는 이용자는 회사에 e-mail을 통하여
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 해지신청을 하면, 회사는 특별한 사유가 없는 한 즉시 이용계약을
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 해지합니다.
	</p>
	<p class="title_t">
		(2) 회사는 이용자가 다음 사항에 해당하는 행위를 하였을 경우, 사전
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 통지 없이 이용계약을 해지하거나 또는 기간을 정하여 이용을
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp; 제한할 수 있습니다.
		<br>
		&nbsp;&nbsp;&nbsp; 가. 공공 질서 및 미풍 양속에 반하는 경우
		<br>
		&nbsp;&nbsp;&nbsp; 나. 범죄적 행위에 관련되는 경우
		<br>
		&nbsp;&nbsp;&nbsp; 다. 국익 또는 사회적 공익을 저해할 목적으로 사이트 이용을
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 계획 또는 실행 할 경우
		<br>
		&nbsp;&nbsp;&nbsp; 라. 타인의 아이디 및 비밀 번호를 도용한 경우
		<br>
		&nbsp;&nbsp;&nbsp; 마. 타인의 명예를 손상시키거나 불이익을 주는 경우
		<br>
		&nbsp;&nbsp;&nbsp; 바. 유언비어를 배포하여 회원간 또는 회사와 이용자간에 혼란을
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 조장하는 경우
		<br>
		&nbsp;&nbsp;&nbsp; 사. 서비스에 해를 가하는 등 서비스의 건전한 이용을 저해하는 경우
		<br>
		&nbsp;&nbsp;&nbsp; 아. 기타 관련법령이나 회사가 정한 이용조건에 위배되는 경우
	</p>
	<a name="provision8" id="provision8"></a>
	<p class="title_s"> 제 2 조 이용 제한의 해제 절차</p>
	<p class="title_t">
		(1) 회사는 제1조의 규정에 의하여 이용제한을 하고자 하는 경우에는
		<br>
		&nbsp;&nbsp;&nbsp; 그 사유,일시 및 기간을 정하여 서면 또는 전화 등의 방법에
		<br>
		&nbsp;&nbsp;&nbsp; 의하여 해당 이용자 또는 대리인에게 통지합니다.
		<br>
		&nbsp;&nbsp;&nbsp; 다만, 회사가 긴급하게 이용을 정지할 필요가 있다고 인정하는
		<br>&nbsp;&nbsp;&nbsp; 경우는 그러하지 아니합니다.
	</p>
	<p class="title_t">
		(2) 제1항의 규정에 의하여 이용정지의 통지를 받은 이용자 또는
		<br>
		&nbsp;&nbsp;&nbsp; 그 대리인은 그 이용정지의 통지에 대하여 이의가 있을 때에는
		<br>&nbsp;&nbsp;&nbsp; 이의신청을 할 수 있습니다.
	</p>
	<p class="title_t">
		(3) 회사는 제2항의 규정에 의한 이의신청에 대하여 그 확인을
		<br>
		&nbsp;&nbsp;&nbsp; 위한 기간까지 이용정지를 일시 연기할 수 있으며, 그 결과를
		<br>&nbsp;&nbsp;&nbsp; 이용자 또는 그 대리인에게 통지합니다.
	</p>
	<p class="title_t">
		(4) 회사는 이용정지 기간 중에 그 이용정지 사유가 해소된 것이
		<br>&nbsp;&nbsp;&nbsp; 확인된 경우에는 즉시 해제합니다.
	</p>
	<div style="text-align:right">
		<a href="#Top_Contents">
			<img
				src="https://tnp.secbuy.com/images/bu_ic_top.gif"
				width="26"
				height="8"
				alt="위로"
				border="0"
			>
		</a>
	</div>
	<a name="provision9" id="provision9"></a>
	<p class="title_s"> 제 3 조 이용자의 게시물</p>
	<p class="title_t">
		(1) 회사는 이용자가 게시하거나 등록하는 사이트 내의 내용물이
		<br>
		&nbsp;&nbsp;&nbsp; 다음 각 사항에 해당 된다고 판단되는 경우에 사전 통지
		<br>
		&nbsp;&nbsp;&nbsp; 없이 삭제할 수 있습니다.
		<br>
		&nbsp;&nbsp;&nbsp; 가.&nbsp; 다른 이용자 또는 제 3자를 비방하거나 중상모략으로
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 명예를 손상시키는 내용인 경우
		<br>
		&nbsp;&nbsp;&nbsp; 나. 공공질서 및 미풍 양속에 위반되는 내용인 경우
		<br>
		&nbsp;&nbsp;&nbsp; 다. 범죄적 행위에 결부된다고 인정되는 내용일 경우
		<br>
		&nbsp;&nbsp;&nbsp; 라. 제 3자의 저작권 등, 기타 권리를 침해하는 내용인 경우
		<br>
		&nbsp;&nbsp;&nbsp; 마. 기타 관계 법령이나 회사에서 정한 규정에 위배되는 경우
	</p>
	<hr>

	<p class="title_l">제 5 장 계약변경 등</p>
	<a name="provision10" id="provision10"></a>
	<p class="title_s"> 제 1 조 계약사항의 변경</p>
	<p class="title_t">
		(1) 이용자는 회사명칭 또는 주소 전화번호 등 이용계약 내용이 변경될
		<br>
		&nbsp;&nbsp;&nbsp; 경우에는 전화나 사이트를 통하여 이용계약을 변경하여야 합니다.
	</p>
	<div style="text-align:right">
		<a href="#Top_Contents">
			<img
				src="https://tnp.secbuy.com/images/bu_ic_top.gif"
				width="26"
				height="8"
				alt="위로"
				border="0"
			>
		</a>
	</div>
	<hr>

	<p class="title_l">제 6 장 정보의 제공</p>
	<a name="provision11" id="provision11"></a>
	<p class="title_s"> 제 1 조 정보의 제공</p>
	<p class="title_t">
		(1) 회사 및 이용자는 사이트 이용 중 필요가 있다고 인정되는 다양한
		<br>
		&nbsp;&nbsp;&nbsp; 정보에 대해서 상호 정보를 제공하고 공유합니다.
	</p>
	<p class="title_t">
		(2) 당사는 필요 시 이용자에게 설문, 시연, 정보요청 등을 의뢰할 수
		<br>
		&nbsp;&nbsp;&nbsp; 있으며 이용자는 최대한 이에 협조합니다.
	</p>
	<p class="title_t">
		(3) 이용자가 제공하는 정보는 회사만 열람이 가능하며, 다른 이용자에게
		<br>
		&nbsp;&nbsp;&nbsp; 열람이 되도록 하기 위하여는 사전에 정보를 제공하는 이용자의
		<br>
		&nbsp;&nbsp;&nbsp; 동의를 얻어야 합니다.
	</p>
	<p class="title_t">
		(4) 본 웹사이트에 게시된 e-mail 주소가 전자우편 수집 프로그램이나
		<br>
		&nbsp;&nbsp;&nbsp; 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며,
		<br>
		&nbsp;&nbsp;&nbsp; 이를 위반 시 관련법에 의해 형사 처벌됩니다.
	</p>
	<a name="provision12" id="provision12"></a>
	<p class="title_s"> 제 2 조 저작권, 초상권, 지적소유권 등</p>
	<p class="title_t">
		본 사이트를 통하여 회사 또는 이용자가 게시하거니 제출하는 아이디어,
		<br>
		제안서, 사진 등 자료에 대한 저작권, 의장권, 초상권 등 지적재산권은
		<br>
		게시하거나 제출한 당사자에게 있으며, 회사와 이용자는 상호협의에 따라
		<br>
		상대방에게 무상 또는 유상의 사용권을 허여할 수 있습니다.
	</p>
	<a name="provision13" id="provision13"></a>
	<p class="title_s"> 제 3 조 약관의 변동</p>
	<p class="title_t">
		약관에 변동이 있는 경우 회사는 반드시 사이트를 통해서 최소 1주일
		<br>이상 이용자에게 공지합니다.
	</p>
	<p class="title_t">
		본 약관은 2004년 12월 29일부터 시행합니다.
		<br>
		<br>############# 공통약관 #############

		<br>
		1. 회원님의 개인정보를 안전하게 보호하기 위하여 90일 마다 비밀번호를 변경하셔야 합니다.
		<br>
		2. 90일 동안 로그인하지 않을 경우 해당 계정은 유휴계정으로 처리되며 관리자의 승인을 거쳐야만 정상적으로 사용할 수 있습니다.
	</p>
	<div style="text-align:right">
		<a href="#Top_Contents">
			<img
				src="https://tnp.secbuy.com/images/bu_ic_top.gif"
				width="26"
				height="8"
				alt="위로"
				border="0"
			>
		</a>
	</div>
	<hr>
	<br>
  </div>

  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
  <script src="clientlibs/js/main.js"></script>
</body>

</html>