<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <title>singup partner</title>

  <link rel="stylesheet" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css" />
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css" />

  <!-- header -->
  <link rel="stylesheet" type="text/css" href="/apps/components/content/template-with-logo/clientlibs/css/main.css" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body> 
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- template-width-logo component --> 
  <header class="logo-with-header">
    <div class="header-inner">
      <div class="logo-box">
        <a href="#" target="_self" aria-label="samsung hvac hub">
          <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/hvachub-logo.svg" alt="samsung hvac hub logo" />
        </a>
      </div>
    </div>
  </header>
  <!-- //template-width-logo component -->


  <!-- company-information-container start // -->
  <div id="partner-information-container">
    <div class="partner-information-inner">

      <div class="tit-area noline">
        <h1 class="txt-h4">Welcome to Samsung Business Partner Registration</h1>        
      </div> 
      
      <!-- field-box-wrap start (company information) // -->
      <section class="field-box-wrap">

        <h2 class="txt-h7 field-title">Company Information</h2>

        <!-- form__wrap start //-->
        <div class="form__wrap"> 

          <div class="field-row-item">
            
            <div class="field-box col2">
              <label class="txt-label txt-req" for="company-name">Company Name</label>
              <div class="input-box">
                <input type="text" class="input-box__input" id="company-name" placeholder="Type a Company Name" value=""  maxlength="1000" required>
              </div>
            </div>

            <div class="field-box col2"> 
              <label class="txt-label txt-req" for="business-type">Business Type</label>
              <div class="combo-box">
                <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="business-type-menu" aria-expanded="false" aria-required="true" id="business-type">
                  <span class="txt-placeholder">Select a Business Type</span>
                </button>
                <div class="combo-box__menu" role="menu" aria-labelledby="business-type" id="business-type-menu">
                  <ul class="combo-box__menu-list">
                    <li role="menuitem" class="active">All</li>                  
                  </ul>
                </div>
              </div>
            </div>

          </div>   

          <div class="field-row-item">
            <div class="field-box col2">
              <label class="txt-label txt-req" for="business-location">Business Location</label>
              <div class="combo-box">
                <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="business-location-menu" aria-expanded="false" aria-required="true" id="business-location">
                  <span class="txt-placeholder">Select your business Location</span>
                </button>
                <div class="combo-box__menu" role="menu" aria-labelledby="business-location" id="business-location-menu">
                  <ul class="combo-box__menu-list">
                    <li role="menuitem"  class="selected">USA</li>                    
                  </ul>
                </div>
              </div>
            </div>
          </div>    
          
          <div class="field-row-item">    
            <div class="field-box col2">
              <label class="txt-label" for="business-state">State</label>
              <div class="input-box">
                <input type="text" class="input-box__input" id="business-state" placeholder="Type a State" value=""  maxlength="1000">
              </div>
            </div>

            <div class="field-box col2">
              <label class="txt-label" for="business-city">City</label>
              <div class="input-box">
                <input type="text" class="input-box__input" id="business-city" placeholder="Type a City" value=""  maxlength="1000">
              </div>
            </div>
          </div>  
        </div>
        <!-- // form__wrap end -->
      </section>
      <!-- // field-box-wrap end -->

      <!-- field-box-wrap start (user information) // -->
      <section class="field-box-wrap">

        <h2 class="txt-h7 field-title">User Information</h2>

        <!-- form__wrap start //-->
        <div class="form__wrap"> 

          <div class="field-row-item">

            <div class="field-box col2">
              <label class="txt-label txt-req" for="user-id">Login ID</label>
              <div class="input-box">
                <input type="text" class="input-box__input" id="user-id" placeholder="Input your Business Email" value=""  maxlength="1000" required>
              </div>
            </div>

            <div class="field-box col2"> 
              <label class="txt-label" for="user-preferred-language">Preferred Language</label>
              <div class="combo-box">
                <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="user-preferred-language-menu" aria-expanded="false" id="user-preferred-language">
                  <span class="txt-placeholder">Select a Preferred Language</span>
                </button>
                <div class="combo-box__menu" role="menu" aria-labelledby="user-preferred-language" id="user-preferred-language-menu">
                  <ul class="combo-box__menu-list">
                    <li role="menuitem" class="active">All</li>                  
                  </ul>
                </div>
              </div>
            </div>

          </div>   

          <div class="field-row-item">

            <div class="field-box col2">
              <label class="txt-label" for="user-first-name">First Name</label>
              <div class="input-box">
                <input type="text" class="input-box__input" id="user-first-name" placeholder="Type your First Name" value=""  maxlength="1000">
              </div>
            </div>

            <div class="field-box col2">
              <label class="txt-label" for="user-last-name">Last Name</label>
              <div class="input-box">
                <input type="text" class="input-box__input" id="user-last-name" placeholder="Type your Last Name" value=""  maxlength="1000">
              </div>
            </div>

          </div>

          <div class="field-row-item">

            <div class="field-box col2">
              <label class="txt-label" for="phone-code">Phone</label>
              <div class="multi-field">
                <div class="combo-box phone-code">
                  <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="phone-code-menu" aria-expanded="false" id="phone-code">
                    <span class="txt-placeholder">Select</span>
                  </button>
                  <div class="combo-box__menu" role="menu" aria-labelledby="phone-code" id="phone-code-menu">
                    <ul class="combo-box__menu-list">
                      <li role="menuitem" class="active">-- Select --</li>                  
                      <li role="menuitem">Afghanistan (+93)</li>
                      <li role="menuitem">Albania (+355)</li>
                      <li role="menuitem">Algeria (+213)</li>
                      <li role="menuitem">American Samoa (+1684)</li>
                      <li role="menuitem">Andorra (+376)</li>
                      <li role="menuitem">Angola (+244)</li>
                      <li role="menuitem">Anguilla (+1264)</li>
                      <li role="menuitem">Antarctica (+672)</li>
                    </ul>
                  </div>
                </div>
                <div class="input-box phone-number">
                  <input type="text" class="input-box__input" id="phone-number" placeholder="Type your Phone Number" value=""  maxlength="1000">
                </div>
              </div>
            </div>

          </div>    
          
          <div class="field-row-item">

            <div class="field-box col2"> 
              <label class="txt-label" for="user-department">Department</label>
              <div class="combo-box">
                <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="user-department-menu" aria-expanded="false" id="user-department">
                  <span class="txt-placeholder">Select a Department</span>
                </button>
                <div class="combo-box__menu" role="menu" aria-labelledby="user-department" id="user-department-menu">
                  <ul class="combo-box__menu-list">
                    <li role="menuitem" class="active">-- Select --</li>
                    <li role="menuitem">Controlling</li>
                    <li role="menuitem">Design</li>
                    <li role="menuitem">Equipment</li>
                    <li role="menuitem">Finance</li>
                    <li role="menuitem">Marketing</li>
                    <li role="menuitem">Others</li>
                    <li role="menuitem">Procurement</li>
                    <li role="menuitem">Production</li>
                    <li role="menuitem">Project</li>
                    <li role="menuitem">Sales</li> 
                    <li role="menuitem">Service</li>
                    <li role="menuitem">Logistics</li>
                    <li role="menuitem">Research & Development</li>
                    <li role="menuitem">Quality Control</li>
                    <li role="menuitem">Master Data</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="field-box col2">
              <label class="txt-label" for="user-job-title">Job Title</label>
              <div class="input-box">
                <input type="text" class="input-box__input" id="user-job-title" placeholder="Type a Company Name" value=""  maxlength="1000">
              </div>
            </div>

          </div> 

        </div>
        <!-- // form__wrap end -->
      </section>
      <!-- // field-box-wrap end -->
      

      <div class="btn-box page-bottom-btn" >
        <button type="button" class="btn-block md type3">
          <span class="btn-block__txt">Back</span>
        </button>

        <button type="button" class="btn-block md type3" disabled>
          <span class="btn-block__txt">Next</span>
        </button>
      </div>

    </div>       
  </div>
  <!-- // company-information-container end  -->

  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script> 
  <script src="clientlibs/js/main.js"></script>
</body>

</html>