<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <title>singuup</title>

  <link rel="stylesheet" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css" />
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css" />

  <!-- header -->
  <link rel="stylesheet" type="text/css" href="/apps/components/content/template-with-logo/clientlibs/css/main.css" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body> 
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- template-width-logo component -->
  <header class="logo-with-header">
    <div class="header-inner">
      <div class="logo-box">
        <a href="#" target="_self" aria-label="samsung hvac hub">
          <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/hvachub-logo.svg" alt="samsung hvac hub logo" />
        </a>
      </div>
    </div>
  </header>
  <!-- //template-width-logo component -->


  <!-- company-information-container start // -->
  <div id="company-information-container">
    <div class="compay-information-inner">

      <div class="tit-area noline">
        <h1 class="txt-h3">Welcome to Samsung Business Partner Registration</h1>        
      </div> 

      <!-- step-box start //-->
      <div class="step-box">
        <ul class="status-num-box">
          <li class="status-el status1 active">
            <div class="inner">
              <span class="number-box">
                <span class="number">1</span>
              </span>
              <span class="txt txt-p5">
                <em class="pc-txt">Your information</em>            
              </span>
            </div>          
          </li>
          <li class="status-el status2">
            <div class="inner">
              <span class="number-box">
                <span class="number">2</span>
              </span>
              <span class="txt txt-p5">
                <em class="pc-txt">Terms & Privacy</em>            
              </span>
            </div>          
          </li>
          <li class="status-el status3">
            <div class="inner">
              <span class="number-box">
                <span class="number">3</span>
              </span>
              <span class="txt txt-p5">
                <em class="pc-txt">Registration complete</em>            
              </span>
            </div>          
          </li>          
        </ul>
      </div>
      <!-- // step-box end -->
      
      <!-- field-box-wrap start // -->
      <div class="field-box-wrap">

        <div class="field-head">
          <p class="tit active">Company Information</p>
          <p class="tit">User Information</p>
        </div>

        <!-- form__wrap start //-->
        <div class="form__wrap">

          <div class="field-row-item">
            <div class="field-box col2">
              <label class="txt-label txt-req" for="company-name">Company Name</label>
              <div class="input-box">
                <input type="text" class="input-box__input" id="company-name" placeholder="" value="Samsung"  maxlength="1000" disabled>
              </div>
            </div>

            <div class="field-box col2">
              <label class="txt-label txt-req">Business Type​ </label>
              <div class="combo-box">
                <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="combo-box__menu" aria-expanded="false">
                  <span class="txt-placeholder">Select a Business Type</span>
                </button>
                <div class="combo-box__menu" role="menu" aria-labelledby="combo-box__txt">
                  <ul class="combo-box__menu-list">
                    <li role="menuitem" class="active">All</li>                  
                  </ul>
                </div>
              </div>
            </div>
          </div>   

          <div class="field-row-item">    
            <div class="field-box col2">
              <label class="txt-label txt-req">Business Location</label>
              <div class="combo-box">
                <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="combo-box__menu" aria-expanded="false" aria-required="fasle" disabled>
                 USA
                </button>
                <div class="combo-box__menu" role="menu" aria-labelledby="combo-box__txt">
                  <ul class="combo-box__menu-list">
                    <li role="menuitem"  class="selected">USA</li>                    
                  </ul>
                </div>
              </div>
            </div>
          </div>    
          
          <div class="field-row-item">    
            <div class="field-box col2">
              <label class="txt-label">State</label>
              <div class="combo-box">
                <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="combo-box__menu" aria-expanded="false" aria-required="fasle">
                  <span class="txt-placeholder">Select a City.</span>
                </button>
                <div class="combo-box__menu" role="menu" aria-labelledby="combo-box__txt">
                  <ul class="combo-box__menu-list">
                    <li role="menuitem"  class="selected">New york</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="field-box col2">
              <label class="txt-label">City</label>
              <div class="combo-box">
                <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="combo-box__menu" aria-expanded="false" aria-required="fasle">
                  <span class="txt-placeholder">Select a State.</span>
                </button>
                <div class="combo-box__menu" role="menu" aria-labelledby="combo-box__txt">
                  <ul class="combo-box__menu-list">
                    <li role="menuitem" class="selected">New york</li>                    
                  </ul>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <!-- // form__wrap end -->
      </div>
      <!-- // field-box-wrap end -->
      

      <div class="btn-box page-bottom-btn" >
        <button type="button" class="btn-block md type3">
          <span class="btn-block__txt">Back</span>
        </button>

        <button type="button" class="btn-block md type3" disabled>
          <span class="btn-block__txt">Next</span>
        </button>
      </div>

    </div>       
  </div>
  <!-- // company-information-container end  -->

  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script> 
  <script src="clientlibs/js/main.js"></script>
</body>

</html>