<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <title>singuup</title>

  <link rel="stylesheet" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css" />
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css" />

  <!-- header -->
  <link rel="stylesheet" type="text/css" href="/apps/components/content/template-with-logo/clientlibs/css/main.css" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body> 
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- template-width-logo component -->
  <header class="logo-with-header">
    <div class="header-inner">
      <div class="logo-box">
        <a href="#" target="_self" aria-label="samsung hvac hub">
          <img src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/resources/images/hvachub-logo.svg" alt="samsung hvac hub logo" />
        </a>
      </div>
    </div>
  </header>
  <!-- //template-width-logo component -->

  <!-- singup-container start //-->
  <div id="singup-container">
    <section class="singup-gray-wrap">

      <div class="tit-area noline">
        <h1 class="txt-h3">Welcome to Samsung Business Partner Registration</h1>
      </div>   

      <div class="partner-registion-list">
        <div class="form__wrap">
          <!-- Business Location(Country) //-->
          <div class="field-box">
            <label class="txt-label txt-req">Business Location(Country)​</label>
            <div class="combo-box">
              <button type="button" class="combo-box__txt" aria-haspopup="true" aria-controls="combo-box__menu" aria-expanded="false" aria-required="true">
                <span class="txt-placeholder">Select your business location</span>
              </button>
              <div class="combo-box__menu" role="menu" aria-labelledby="combo-box__txt">
                <ul class="combo-box__menu-list">
                  <li role="menuitem">Select your business location</li> 
                </ul>
              </div>
            </div>
            <p class="txt-error">Select your business location​.</p>
          </div>         
          
          <!-- Business Email(Login ID) //-->
          <div class="field-box">
            <label class="txt-label txt-req" for="business-email">Business Email(Login ID)</label>
            <div class="input-box">
              <input type="text" class="input-box__input" id="business-email" placeholder="Input your business email" maxlength="1000" required>
              <p class="txt-error">Login ID must be email format.</p>
            </div>
          </div>

          <!-- field-box__inner //-->
          <div class="field-box__inner">
            <div class="checkbox-group">
              <label class="btn-checkbox large txt-req">
                <input type="checkbox" class="btn-checkbox__input" name="agree type" value="">
                <span class="btn-checkbox__icon"></span>
                <span class="btn-checkbox__txt">I agree to provide my email information </span>
              </label>      
            </div>
            <p class="txt-error">Consent to provide email information is required.</p>
          </div>          `
        </div>
      </div>   

      <div class="btn-box page-bottom-btn right">       
        <button type="button" class="btn-block md type3">
          <span class="btn-block__txt">Next</span>
        </button>
      </div>

    </section>
  </div>
  <!-- // singup-container end -->

  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script> 
  <script src="clientlibs/js/main.js"></script>
</body>

</html>