<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>Pending Order Items</title>
  <link rel="stylesheet" type="text/css" href="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/css/main.css"> <!-- 공통 css -->
  <link rel="stylesheet" type="text/css" href="clientlibs/css/main.css"><!-- 컴포넌트 css -->

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K73ZNKWB');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- 2025-04-11 요청으로 삽입 //-->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73ZNKWB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

  <!-- component --> 
  <section class="pending-order">

    <!-- pending-order-list -->
    <div class="pending-order-list">

      <div class="pending-order-list-result">
        <div class="pending-order-list-inner">

          <div class="list-top">
            <p class="txt-p6 txt-fw-b"><span class="txt-point1">5</span> Results</p>
          </div>

          <!-- [F] no result -->
          <div class="list-nodata">
            <!-- 2025-01-06 class 삭제 no-result-txt  -->
            <p class="txt-p5">No matching results found.</p>
          </div>

          <!-- [F] result -->
          <div class="list-data-area">
            <ul class="list-data">

              <li class="list-data-item">
                <div class="list-item__left">
                  <p class="pending-order-name txt-h8 txt-ellipsis">PF2024083000000000</p>
                  <div class="pending-order-date">
                    <p class="txt-line-slash txt-p6"><strong>Created</strong> 2024-07-11</p>
                    <p class="txt-line-slash txt-p6"><strong>Order Type</strong> Multi Project</p>
                    <p class="txt-line-slash txt-p6"><strong>Product Type</strong> DVM</p>
                  </div>
                  <div class="pending-order-address">
                    <p class="txt-p6"><strong>Address</strong> Shipping Address Ship to name (0002015712)</p>
                  </div>
                </div>
                <div class="list-item__right">
                  <div class="status-amount-box">
                    <p class="txt-p6">Total Amount</p>
                    <p class="txt-p3 txt-fw-b">$ 99,999,999.99</p>
                  </div>
                  <!-- 2025-01-20 PC용 스케줄 버튼 class 추가 : pc-display-->
                  <div class="btn-box">
                    <button type="button" class="btn-block md type3">
                      <span class="btn-block__txt">Place Order</span>
                    </button>
                    <button type="button" class="btn-block md type2">
                      <span class="btn-block__txt">Cancel</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-data-item">
                <div class="list-item__left">
                  <p class="pending-order-name txt-h8 txt-ellipsis">PF2024083000000000</p>
                  <div class="pending-order-date">
                    <p class="txt-line-slash txt-p6"><strong>Created</strong> 2024-07-11</p>
                    <p class="txt-line-slash txt-p6"><strong>Order Type</strong> Project</p>
                    <p class="txt-line-slash txt-p6"><strong>Product Type</strong> Non DVM</p>
                  </div>
                  <div class="pending-order-address">
                    <p class="txt-p6"><strong>Address</strong> Shipping Address Ship to name (0002015712)</p>
                  </div>
                </div>
                <div class="list-item__right">
                  <div class="status-amount-box">
                    <p class="txt-p6">Total Amount</p>
                    <p class="txt-p3 txt-fw-b">$ 99,999,999.99</p>
                  </div>
                  <!-- 2025-01-20 PC용 스케줄 버튼 class 추가 : pc-display-->
                  <div class="btn-box">
                    <button type="button" class="btn-block md type3">
                      <span class="btn-block__txt">Place Order</span>
                    </button>
                    <button type="button" class="btn-block md type2">
                      <span class="btn-block__txt">Cancel</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-data-item">
                <div class="list-item__left">
                  <p class="pending-order-name txt-h8 txt-ellipsis">PF2024083000000000</p>
                  <div class="pending-order-date">
                    <p class="txt-line-slash txt-p6"><strong>Created</strong> 2024-07-11</p>
                    <p class="txt-line-slash txt-p6"><strong>Order Type</strong> Run-rate</p>
                  </div>
                </div>

                <div class="list-item__right">
                  <div class="status-amount-box">
                    <p class="txt-p6">Total Amount</p>
                    <p class="txt-p3 txt-fw-b">99.999.999,99 TL</p>
                  </div>
                  <!-- 2025-01-20 PC용 스케줄 버튼 class 추가 : pc-display-->
                  <div class="btn-box">
                    <button type="button" class="btn-block md type3">
                      <span class="btn-block__txt">Place Order</span>
                    </button>
                    <button type="button" class="btn-block md type2">
                      <span class="btn-block__txt">Cancel</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-data-item">
                <div class="list-item__left">
                  <p class="pending-order-name txt-h8 txt-ellipsis">PF2024083000000000</p>
                  <div class="pending-order-date">
                    <p class="txt-line-slash txt-p6"><strong>Created</strong> 2024-07-11</p>
                    <p class="txt-line-slash txt-p6"><strong>Order Type</strong> Buy Online</p>
                  </div>
                </div>
                <div class="list-item__right">
                  <div class="status-amount-box">
                    <p class="txt-p6">Total Amount</p>
                    <p class="txt-p3 txt-fw-b">99.999.999,99 TL</p>
                  </div>
                  <!-- 2025-01-20 PC용 스케줄 버튼 class 추가 : pc-display-->
                  <div class="btn-box">
                    <button type="button" class="btn-block md type3">
                      <span class="btn-block__txt">Place Order</span>
                    </button>
                    <button type="button" class="btn-block md type2">
                      <span class="btn-block__txt">Cancel</span>
                    </button>
                  </div>
                </div>
              </li>

              <li class="list-data-item">
                <div class="list-item__left">
                  <p class="pending-order-name txt-h8 txt-ellipsis">PF2024083000000000</p>
                  <div class="pending-order-date">
                    <p class="txt-line-slash txt-p6"><strong>Created</strong> 2024-07-11</p>
                    <p class="txt-line-slash txt-p6"><strong>Order Type</strong> Multi Project</p>
                    <p class="txt-line-slash txt-p6"><strong>Product Type</strong> DVM</p>
                  </div>
                  <div class="pending-order-address">
                    <p class="txt-p6"><strong>Address</strong> Shipping Address Ship to name (0002015712)</p>
                  </div>
                </div>
                <div class="list-item__right">
                  <div class="status-amount-box">
                    <p class="txt-p6">Total Amount</p>
                    <p class="txt-p3 txt-fw-b">$ 99,999,999.99</p>
                  </div>
                  <!-- 2025-01-20 PC용 스케줄 버튼 class 추가 : pc-display-->
                  <div class="btn-box">
                    <button type="button" class="btn-block md type2">
                      <span class="btn-block__txt">Cancel</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-data-item">
                <div class="list-item__left">
                  <p class="pending-order-name txt-h8 txt-ellipsis">PF2024083000000000</p>
                  <div class="pending-order-date">
                    <p class="txt-line-slash txt-p6"><strong>Created</strong> 2024-07-11</p>
                    <p class="txt-line-slash txt-p6"><strong>Order Type</strong> Project</p>
                    <p class="txt-line-slash txt-p6"><strong>Product Type</strong> Non DVM</p>
                  </div>
                  <div class="pending-order-address">
                    <p class="txt-p6"><strong>Address</strong> Shipping Address Ship to name (0002015712)</p>
                  </div>
                </div>
                <div class="list-item__right">
                  <div class="status-amount-box">
                    <p class="txt-p6">Total Amount</p>
                    <p class="txt-p3 txt-fw-b">99,999,999.99 TL</p>
                  </div>
                  <!-- 2025-01-20 PC용 스케줄 버튼 class 추가 : pc-display-->
                  <div class="btn-box">
                    <button type="button" class="btn-block md type2">
                      <span class="btn-block__txt">Cancel</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-data-item">
                <div class="list-item__left">
                  <p class="pending-order-name txt-h8 txt-ellipsis">PF2024083000000000</p>
                  <div class="pending-order-date">
                    <p class="txt-line-slash txt-p6"><strong>Created</strong> 2024-07-11</p>
                    <p class="txt-line-slash txt-p6"><strong>Order Type</strong> Run-rate</p>
                  </div>
                </div>

                <div class="list-item__right">
                  <div class="status-amount-box">
                    <p class="txt-p6">Total Amount</p>
                    <p class="txt-p3 txt-fw-b">99.999.999,99 TL</p>
                  </div>
                  <!-- 2025-01-20 PC용 스케줄 버튼 class 추가 : pc-display-->
                  <div class="btn-box">
                    <button type="button" class="btn-block md type2">
                      <span class="btn-block__txt">Cancel</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-data-item">
                <div class="list-item__left">
                  <p class="pending-order-name txt-h8 txt-ellipsis">PF2024083000000000</p>
                  <div class="pending-order-date">
                    <p class="txt-line-slash txt-p6"><strong>Created</strong> 2024-07-11</p>
                    <p class="txt-line-slash txt-p6"><strong>Order Type</strong> Buy Online</p>
                  </div>
                </div>
                <div class="list-item__right">
                  <div class="status-amount-box">
                    <p class="txt-p6">Total Amount</p>
                    <p class="txt-p3 txt-fw-b">$ 99.999.999,99</p>
                  </div>
                  <!-- 2025-01-20 PC용 스케줄 버튼 class 추가 : pc-display-->
                  <div class="btn-box">
                    <button type="button" class="btn-block md type2">
                      <span class="btn-block__txt">Cancel</span>
                    </button>
                  </div>
                </div>
              </li>

            </ul>
            <!-- [F]infinite scroll -->
            <div class="icon-loading-box">
              <span class="icon-loading"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- //quote list -->

  </section>
  <!-- component -->

  <!-- common.js -->
  <script src="/pub-only/js/main-lib.js"></script>
  <script src="/etc.clientlibs/hvachub/global/clientlibs/clientlib-base/js/main.js"></script>
</body>

</html>